2p---tom-de-voz-btou7ljQ2hDuD8Pg.json
{"createdAt":"2025-08-25T19:37:42.608Z","updatedAt":"2025-08-27T02:56:47.000Z","id":"btou7ljQ2hDuD8Pg","name":"2P - TOM DE VOZ","active":false,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE","mode":"list","cachedResultName":"Respostas Briefing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"status","lookupValue":"DNA criado"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-240,48],"id":"6b1800cc-5e5d-4857-9833-ef9278a4e4b7","name":"Ler 1 linha da planilha","credentials":{"googleSheetsOAuth2Api":{"id":"ekUi8cQCgpitM03R","name":"Google Sheets Orca Mídias"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE","mode":"list","cachedResultName":"Respostas Briefing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","status":"em progresso TOM DE VOZ"},"matchingColumns":["row_number"],"schema":[{"id":"ID_da_Resposta","displayName":"ID_da_Resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Carimbo_de_Data_Hora","displayName":"Carimbo_de_Data_Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data_da_Resposta","displayName":"Data_da_Resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome_do_Expert","displayName":"Nome_do_Expert","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Produtos_e_Servicos","displayName":"Produtos_e_Servicos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ticket_Medio","displayName":"Ticket_Medio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Diferencial_Competitivo","displayName":"Diferencial_Competitivo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Produtos_de_Autoridade","displayName":"Produtos_de_Autoridade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Objetivos_do_Negocio","displayName":"Objetivos_do_Negocio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Desafios_no_Digital","displayName":"Desafios_no_Digital","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Perfis_de_Clientes","displayName":"Perfis_de_Clientes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Possui_Identidade_Visual","displayName":"Possui_Identidade_Visual","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"URL_do_Site","displayName":"URL_do_Site","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Links_Redes_Sociais","displayName":"Links_Redes_Sociais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Reconhecimento_Desejado","displayName":"Reconhecimento_Desejado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Reconhecimento_Evitado","displayName":"Reconhecimento_Evitado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Referencias_Instagram","displayName":"Referencias_Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Referencias_Youtube","displayName":"Referencias_Youtube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Referencias_Gerais","displayName":"Referencias_Gerais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Temas_de_Conteudo","displayName":"Temas_de_Conteudo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Fontes_Confiaveis","displayName":"Fontes_Confiaveis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Palavras_Chave","displayName":"Palavras_Chave","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Pensa_em_Infoprodutos","displayName":"Pensa_em_Infoprodutos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ideia_de_Infoproduto","displayName":"Ideia_de_Infoproduto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Concorrentes_Diretos","displayName":"Concorrentes_Diretos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Empresas_Inspiracao","displayName":"Empresas_Inspiracao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Informacoes_Finais","displayName":"Informacoes_Finais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-48,48],"id":"3fc7d135-cd5f-4ac2-9227-2240e4f063b6","name":"atualizar status","credentials":{"googleSheetsOAuth2Api":{"id":"ekUi8cQCgpitM03R","name":"Google Sheets Orca Mídias"}}},{"parameters":{"promptType":"define","text":"=DNA da empresa: {{ $('Ler 1 linha da planilha').item.json['DNA da empresa'] }}\nDNA de conteúdo: {{ $('Ler 1 linha da planilha').item.json['DNA de conteúdo'] }}\nDNA do especialista: {{ $('Ler 1 linha da planilha').item.json['DNA do especialista'] }}\nRetorne o resultado em um json","hasOutputParser":true,"options":{"systemMessage":"=Persona\n\nVocê é um Analista de Tom de Voz Estratégico, especialista em identificar e ajustar o estilo de comunicação verbal de um cliente. Sua análise é baseada em amostras reais de conteúdo e nos elementos de DNA de marca e conteúdo.\n\nObjetivo\n\nDiagnosticar o Tom de Voz atual do cliente e propor um Tom de Voz ajustado que reflita fielmente:\n\nO DNA do Especialista (quem comunica),\n\nO DNA da Empresa (institucional),\n\nO DNA do Conteúdo (posicionamento desejado).\n\nAs mudanças devem ser sutis e estratégicas, sem descaracterizar a essência da marca.\n\nRegras Inflexíveis\n\nNunca iniciar a análise com menos de 5 amostras reais de comunicação (posts, e-mails, roteiros, artigos, transcrições etc.).\n\nSe forem fornecidas menos de 5, interrompa e retorne “Pendência: forneça no mínimo 5 amostras de comunicação.”\n\nO Template de Tom de Voz é obrigatório e deve ser sempre preenchido por completo.\n\nExemplos no template devem ter pelo menos 2 linhas cada.\n\nSempre apresentar dois momentos:\n\nVersão Diagnóstico (como é hoje, com base nas amostras).\n\nVersão Ajustada (como deve ser, alinhada ao DNA).\n\nJustificar todas as mudanças de forma técnica, explicando a lógica do ajuste.\n\nLinguagem da análise: formal, técnica e objetiva.\n\nProcesso (Entrada Única)\n\nVocê receberá os dados em blocos:\n\n[AMOSTRAS] – mínimo de 5 amostras textuais.\n\n[DNA_ESPECIALISTA] – 11 itens obrigatórios.\n\n[DNA_EMPRESA] – 10 itens obrigatórios.\n\n[DNA_CONTEUDO] – 5 itens obrigatórios.\n\nEtapas:\n\nEtapa 1 (Diagnóstico): analisar as amostras e preencher o Template – Versão Diagnóstico. Explicar padrões linguísticos, emocionais e estilísticos observados.\n\nEtapa 2 (Ajuste): cruzar o diagnóstico com os DNAs. Preencher o Template – Versão Ajustada com justificativas das mudanças.\n\nFormato de Resposta\n0) Checagem de Integridade\n\nAmostras recebidas: [ok/faltando]\n\nDNA do Especialista: [ok/faltando]\n\nDNA da Empresa: [ok/faltando]\n\nDNA do Conteúdo: [ok/faltando]\n\nSe faltar algo essencial, parar aqui e retornar Pendências.\n\n1) Diagnóstico do Tom de Voz (com base nas amostras)\n\nResumo analítico: padrões linguísticos, emocionais, estilísticos.\n\nPontos fortes do tom atual.\n\nRiscos ou desalinhamentos potenciais.\n\nTemplate – Versão Diagnóstico (yaml):\n\nTOM DE VOZ (DIAGNÓSTICO)\n\n(✔️) ACOLHEDOR ou ( ) CRÍTICO\nExemplo: \"...\"\n\n( ) ENGRAÇADO ou (✔️) SÉRIO\nExemplo: \"...\"\n\n( ) SARCÁSTICO ou (✔️) SOLENE\nExemplo: \"...\"\n\nVOCABULÁRIO E ESTRUTURA:\n➣ Termos autorais: ...\n➣ Termos técnicos necessários: ...\n➣ Termos que se repetem: ...\n➣ Termos proibidos: ...\n➣ Metáforas e analogias: ...\n➣ Elementos da narrativa: ...\n\nEMOÇÃO PREDOMINANTE:\n(   ) Indignação (✔️) Confiança ...\n\nOBSERVAÇÕES SOBRE O TOM DE VOZ:\n- ...\n- ...\n\n2) Ajuste com Base no DNA\n\nAlinhamento necessário entre o Tom de Voz atual e o DNA (Especialista + Empresa + Conteúdo).\n\nMudanças propostas e justificativa de cada ajuste.\n\nTemplate – Versão Ajustada (yaml):\n\nTOM DE VOZ (AJUSTADO)\n\n(✔️) ACOLHEDOR ou ( ) CRÍTICO\nExemplo ajustado: \"...\"\n\n( ) ENGRAÇADO ou (✔️) SÉRIO\nExemplo ajustado: \"...\"\n\n( ) SARCÁSTICO ou (✔️) SOLENE\nExemplo ajustado: \"...\"\n\nVOCABULÁRIO E ESTRUTURA:\n➣ Termos autorais recomendados: ...\n➣ Termos técnicos necessários: ...\n➣ Termos a evitar: ...\n➣ Metáforas e analogias sugeridas: ...\n➣ Elementos narrativos reforçados: ...\n\nEMOÇÃO PREDOMINANTE:\n(   ) Inspiração (✔️) Confiança ...\n\nOBSERVAÇÕES SOBRE O TOM DE VOZ AJUSTADO:\n- ...\n- ...\n\n3) Racional das Mudanças\n\nPor que cada ajuste foi feito.\n\nComo ele conecta o Tom de Voz → DNA do Especialista + DNA da Empresa + DNA do Conteúdo → Objetivo Estratégico.\n\n👉 Assim, basta colar as amostras (mínimo 5) + os 3 blocos de DNA de uma vez, e o assistente entregará:\n\nDiagnóstico completo do Tom de Voz atual.\n\nTemplate ajustado ao DNA.\n\nJustificativa técnica das mudanças."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[160,48],"id":"cf0c710d-947e-495f-ba45-88bbd61f46ab","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{"responseFormat":"json_object"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[112,288],"id":"2b7b632b-bf91-4cce-81a4-b3be8010c74e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"eKt62GQzsAdBW3FR","name":"OpenAi Orca Mídias"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE","mode":"list","cachedResultName":"Respostas Briefing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Ler 1 linha da planilha').item.json.row_number }}","Tom de voz":"={{ $json.output['Tom de voz'] }}","status":"Tom de voz criado"},"matchingColumns":["row_number"],"schema":[{"id":"ID_da_Resposta","displayName":"ID_da_Resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Carimbo_de_Data_Hora","displayName":"Carimbo_de_Data_Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data_da_Resposta","displayName":"Data_da_Resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome_do_Expert","displayName":"Nome_do_Expert","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Produtos_e_Servicos","displayName":"Produtos_e_Servicos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ticket_Medio","displayName":"Ticket_Medio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Diferencial_Competitivo","displayName":"Diferencial_Competitivo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Produtos_de_Autoridade","displayName":"Produtos_de_Autoridade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Objetivos_do_Negocio","displayName":"Objetivos_do_Negocio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Desafios_no_Digital","displayName":"Desafios_no_Digital","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Perfis_de_Clientes","displayName":"Perfis_de_Clientes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Possui_Identidade_Visual","displayName":"Possui_Identidade_Visual","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"URL_do_Site","displayName":"URL_do_Site","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Links_Redes_Sociais","displayName":"Links_Redes_Sociais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Reconhecimento_Desejado","displayName":"Reconhecimento_Desejado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Reconhecimento_Evitado","displayName":"Reconhecimento_Evitado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Referencias_Instagram","displayName":"Referencias_Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Referencias_Youtube","displayName":"Referencias_Youtube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Referencias_Gerais","displayName":"Referencias_Gerais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Temas_de_Conteudo","displayName":"Temas_de_Conteudo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Fontes_Confiaveis","displayName":"Fontes_Confiaveis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Palavras_Chave","displayName":"Palavras_Chave","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Pensa_em_Infoprodutos","displayName":"Pensa_em_Infoprodutos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ideia_de_Infoproduto","displayName":"Ideia_de_Infoproduto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Concorrentes_Diretos","displayName":"Concorrentes_Diretos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Empresas_Inspiracao","displayName":"Empresas_Inspiracao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Informacoes_Finais","displayName":"Informacoes_Finais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"objetivo","displayName":"objetivo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DNA da empresa","displayName":"DNA da empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DNA de conteúdo","displayName":"DNA de conteúdo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DNA do especialista","displayName":"DNA do especialista","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Tom de voz","displayName":"Tom de voz","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[496,48],"id":"abfb6953-a475-4207-9c48-8a771577cf2b","name":"atualizar status1","credentials":{"googleSheetsOAuth2Api":{"id":"ekUi8cQCgpitM03R","name":"Google Sheets Orca Mídias"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-448,48],"id":"141b5da2-f620-4ad1-9af0-1ff8b66691cd","name":"Schedule Trigger"},{"parameters":{"jsonSchemaExample":"{\n\t\"Tom de voz\": \"O Especialista...\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[336,256],"id":"eeda0aa4-5f4b-4ff4-85f0-58ad0cad8d10","name":"Structured Output Parser"}],"connections":{"Ler 1 linha da planilha":{"main":[[{"node":"atualizar status","type":"main","index":0}]]},"atualizar status":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0},{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"atualizar status1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Ler 1 linha da planilha","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a61a08c0-c651-44f6-a364-d4abdabe97be","triggerCount":0,"shared":[{"createdAt":"2025-08-25T19:37:42.615Z","updatedAt":"2025-08-25T19:37:42.615Z","role":"workflow:owner","workflowId":"btou7ljQ2hDuD8Pg","projectId":"TZpK0B2uX65EVlPC"}],"tags":[]}