3p---critérios-da-concorrência-XTn0V7POhCKSkQGP.json
{"createdAt":"2025-08-27T02:23:53.361Z","updatedAt":"2025-08-27T02:56:50.000Z","id":"XTn0V7POhCKSkQGP","name":"3P - Critérios da concorrência","active":false,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE","mode":"list","cachedResultName":"Respostas Briefing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"status","lookupValue":"Termos do projeto criado"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-240,48],"id":"30f3456b-fd6b-484f-a59e-ebbabda1071b","name":"Ler 1 linha da planilha","credentials":{"googleSheetsOAuth2Api":{"id":"ekUi8cQCgpitM03R","name":"Google Sheets Orca Mídias"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE","mode":"list","cachedResultName":"Respostas Briefing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","status":"em progresso Critérios da concorrencia"},"matchingColumns":["row_number"],"schema":[{"id":"ID_da_Resposta","displayName":"ID_da_Resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Carimbo_de_Data_Hora","displayName":"Carimbo_de_Data_Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data_da_Resposta","displayName":"Data_da_Resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome_do_Expert","displayName":"Nome_do_Expert","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Produtos_e_Servicos","displayName":"Produtos_e_Servicos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ticket_Medio","displayName":"Ticket_Medio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Diferencial_Competitivo","displayName":"Diferencial_Competitivo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Produtos_de_Autoridade","displayName":"Produtos_de_Autoridade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Objetivos_do_Negocio","displayName":"Objetivos_do_Negocio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Desafios_no_Digital","displayName":"Desafios_no_Digital","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Perfis_de_Clientes","displayName":"Perfis_de_Clientes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Possui_Identidade_Visual","displayName":"Possui_Identidade_Visual","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"URL_do_Site","displayName":"URL_do_Site","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Links_Redes_Sociais","displayName":"Links_Redes_Sociais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Reconhecimento_Desejado","displayName":"Reconhecimento_Desejado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Reconhecimento_Evitado","displayName":"Reconhecimento_Evitado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Referencias_Instagram","displayName":"Referencias_Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Referencias_Youtube","displayName":"Referencias_Youtube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Referencias_Gerais","displayName":"Referencias_Gerais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Temas_de_Conteudo","displayName":"Temas_de_Conteudo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Fontes_Confiaveis","displayName":"Fontes_Confiaveis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Palavras_Chave","displayName":"Palavras_Chave","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Pensa_em_Infoprodutos","displayName":"Pensa_em_Infoprodutos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ideia_de_Infoproduto","displayName":"Ideia_de_Infoproduto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Concorrentes_Diretos","displayName":"Concorrentes_Diretos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Empresas_Inspiracao","displayName":"Empresas_Inspiracao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Informacoes_Finais","displayName":"Informacoes_Finais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-48,48],"id":"40a6be9c-51e8-4c59-8759-481e6fb33fc3","name":"atualizar status","credentials":{"googleSheetsOAuth2Api":{"id":"ekUi8cQCgpitM03R","name":"Google Sheets Orca Mídias"}}},{"parameters":{"promptType":"define","text":"=Objetivos do projeto: {{ $('Ler 1 linha da planilha').item.json.objetivo }}\nDNA da empresa: {{ $('Ler 1 linha da planilha').item.json['DNA da empresa'] }}\nDNA de conteúdo: {{ $('Ler 1 linha da planilha').item.json['DNA de conteúdo'] }}\nDNA do especialista: {{ $('Ler 1 linha da planilha').item.json['DNA do especialista'] }}\nTermos do projeto: {{ $('Ler 1 linha da planilha').item.json['Termos do projeto'] }}\nModo escolhido: Gerador\nRetorne o resultado em um json","hasOutputParser":true,"options":{"systemMessage":"=Persona\n\nVocê é um Consultor Estratégico de Inteligência Competitiva, especializado em criar critérios objetivos e rigorosos para classificar concorrentes em três categorias:\n\nConcorrentes Diretos\n\nConcorrentes Indiretos\n\nConcorrentes por Atenção\n\nSua atuação deve:\n\nSeguir frameworks estratégicos (STP, Porter, Círculo Dourado etc.).\n\nAdotar raciocínio analítico, investigativo e lógico.\n\nFundamentar todas as conclusões em evidências dos documentos fornecidos.\n\nNão inventar dados nem assumir premissas não apresentadas.\n\nProduzir critérios claros o suficiente para que qualquer pessoa ou automação consiga classificar concorrentes de forma precisa.\n\nLinguagem técnica, profissional e formal, sem emojis ou informalidade.\n\nRegras Essenciais\n\nNunca inicie sem receber todos os documentos:\n\nObjetivos do Projeto\n\nDNA da Empresa\n\nDNA do Especialista\n\nDNA do Conteúdo\n\nTermos do Projeto\n→ Se faltar algo, retornar Pendências de Coleta.\n\nProibido identificar concorrentes reais — apenas gerar critérios estruturados.\n\nCritérios devem ser objetivos, verificáveis, aplicáveis e fundamentados em frameworks estratégicos.\n\nA saída deve conter justificativa estratégica para cada categoria.\n\nO processo é automático e direto: leitura dos documentos → síntese geral → geração de critérios finais.\n\nA entrega deve ser organizada em blocos limpos e subtitulados.\n\nProcesso (Entrada Única)\n\nVocê receberá os dados em blocos:\n\n[OBJETIVOS_PROJETO]\n\n[DNA_EMPRESA]\n\n[DNA_ESPECIALISTA]\n\n[DNA_CONTEUDO]\n\n[TERMOS_PROJETO]\n\nEtapas Automáticas\n\nChecagem de Integridade\n\nValidar se todos os blocos foram recebidos.\n\nSe faltar algo, parar e retornar Pendências de Coleta.\n\nSíntese Geral dos Documentos\n\nResumir missão, objetivos estratégicos, diferenciais, público-alvo, território temático e posicionamento.\n\nIdentificar elementos centrais que servirão de filtro para os critérios.\n\nDefinição de Critérios Competitivos\n\nCriar lista de critérios objetivos e verificáveis para cada tipo de concorrente.\n\nRelacionar critérios a frameworks (STP, Porter, Círculo Dourado etc.).\n\nJustificar cada conjunto de critérios com base nos documentos e frameworks.\n\nEstrutura de Saída Esperada\n0) Checagem\n\nObjetivos do Projeto: [ok/faltando]\n\nDNA da Empresa: [ok/faltando]\n\nDNA do Especialista: [ok/faltando]\n\nDNA do Conteúdo: [ok/faltando]\n\nTermos do Projeto: [ok/faltando]\n\n1) Síntese dos Documentos\n\nMissão e visão: …\n\nObjetivos estratégicos: …\n\nDiferenciais competitivos: …\n\nPúblico-alvo: …\n\nTerritório temático: …\n\nVocabulário/posicionamento dominante: …\n\n2) Critérios de Classificação\nConcorrentes Diretos\n\nDescrição sintética: [explicação breve do que caracteriza um concorrente direto neste projeto]\n\nCritérios objetivos:\n\n…\n\n…\n\n…\n\nJustificativa estratégica: como os critérios refletem documentos e frameworks.\n\nConcorrentes Indiretos\n\nDescrição sintética: …\n\nCritérios objetivos:\n\n…\n\n…\n\n…\n\nJustificativa estratégica: …\n\nConcorrentes por Atenção\n\nDescrição sintética: …\n\nCritérios objetivos:\n\n…\n\n…\n\n…\n\nJustificativa estratégica: …\n\nCritérios de Qualidade\n\nObjetividade: critérios aplicáveis sem interpretação subjetiva.\n\nFundamentação: cada critério vinculado a documentos e frameworks.\n\nClareza: frases diretas, técnicas, sem ambiguidade.\n\nEstrutura: blocos limpos, subtitulados, prontos para uso em análises comparativas.\n\n👉 Agora basta inserir os blocos [OBJETIVOS_PROJETO], [DNA_EMPRESA], [DNA_ESPECIALISTA], [DNA_CONTEUDO], [TERMOS_PROJETO], e o prompt já entregará a síntese + critérios finais, sem perguntas intermediárias."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[160,48],"id":"505ee0d7-4e1e-45ec-9f9d-d0d58cd96aa4","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{"responseFormat":"json_object"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[112,288],"id":"d24b292c-3b3d-4c7c-b032-b1d6ddfc7cfe","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"eKt62GQzsAdBW3FR","name":"OpenAi Orca Mídias"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE","mode":"list","cachedResultName":"Respostas Briefing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Ler 1 linha da planilha').item.json.row_number }}","status":"Critério da concorrência criado","Critérios da concorrência":"={{ $json.output['Critérios da concorrência'] }}"},"matchingColumns":["row_number"],"schema":[{"id":"ID_da_Resposta","displayName":"ID_da_Resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Carimbo_de_Data_Hora","displayName":"Carimbo_de_Data_Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data_da_Resposta","displayName":"Data_da_Resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome_do_Expert","displayName":"Nome_do_Expert","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Produtos_e_Servicos","displayName":"Produtos_e_Servicos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ticket_Medio","displayName":"Ticket_Medio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Diferencial_Competitivo","displayName":"Diferencial_Competitivo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Produtos_de_Autoridade","displayName":"Produtos_de_Autoridade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Objetivos_do_Negocio","displayName":"Objetivos_do_Negocio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Desafios_no_Digital","displayName":"Desafios_no_Digital","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Perfis_de_Clientes","displayName":"Perfis_de_Clientes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Possui_Identidade_Visual","displayName":"Possui_Identidade_Visual","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"URL_do_Site","displayName":"URL_do_Site","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Links_Redes_Sociais","displayName":"Links_Redes_Sociais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Reconhecimento_Desejado","displayName":"Reconhecimento_Desejado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Reconhecimento_Evitado","displayName":"Reconhecimento_Evitado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Referencias_Instagram","displayName":"Referencias_Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Referencias_Youtube","displayName":"Referencias_Youtube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Referencias_Gerais","displayName":"Referencias_Gerais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Temas_de_Conteudo","displayName":"Temas_de_Conteudo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Fontes_Confiaveis","displayName":"Fontes_Confiaveis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Palavras_Chave","displayName":"Palavras_Chave","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Pensa_em_Infoprodutos","displayName":"Pensa_em_Infoprodutos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ideia_de_Infoproduto","displayName":"Ideia_de_Infoproduto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Concorrentes_Diretos","displayName":"Concorrentes_Diretos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Empresas_Inspiracao","displayName":"Empresas_Inspiracao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Informacoes_Finais","displayName":"Informacoes_Finais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"objetivo","displayName":"objetivo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DNA da empresa","displayName":"DNA da empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DNA de conteúdo","displayName":"DNA de conteúdo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DNA do especialista","displayName":"DNA do especialista","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Tom de voz","displayName":"Tom de voz","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Termos do projeto","displayName":"Termos do projeto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Critérios da concorrência","displayName":"Critérios da concorrência","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[496,48],"id":"6b8c7a84-1bdb-4c84-97df-28a5b376cc26","name":"atualizar status1","credentials":{"googleSheetsOAuth2Api":{"id":"ekUi8cQCgpitM03R","name":"Google Sheets Orca Mídias"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-448,48],"id":"3a1fcbdf-6aed-4a85-b555-74ddd51babb1","name":"Schedule Trigger"},{"parameters":{"jsonSchemaExample":"{\n\t\"Critérios da concorrência\": \"O Especialista...\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[336,256],"id":"6540de23-738b-403c-8bf1-d0fd62c60187","name":"Structured Output Parser"}],"connections":{"Ler 1 linha da planilha":{"main":[[{"node":"atualizar status","type":"main","index":0}]]},"atualizar status":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0},{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"atualizar status1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Ler 1 linha da planilha","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ca332f79-aee6-42c4-b5a8-9e7c00fdb3d8","triggerCount":0,"shared":[{"createdAt":"2025-08-27T02:23:53.367Z","updatedAt":"2025-08-27T02:23:53.367Z","role":"workflow:owner","workflowId":"XTn0V7POhCKSkQGP","projectId":"TZpK0B2uX65EVlPC"}],"tags":[]}