3p---formular-listagem-de-concorrentes-WJ4RvdaLaXifC5S3.json
{"createdAt":"2025-08-27T03:26:51.601Z","updatedAt":"2025-08-28T14:55:49.000Z","id":"WJ4RvdaLaXifC5S3","name":"3P - formular listagem de concorrentes","active":false,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE","mode":"list","cachedResultName":"Respostas Briefing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"status","lookupValue":"Critério da concorrência criado"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-240,48],"id":"0c124c22-f509-4e84-a210-6fabc7371133","name":"Ler 1 linha da planilha","credentials":{"googleSheetsOAuth2Api":{"id":"ekUi8cQCgpitM03R","name":"Google Sheets Orca Mídias"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE","mode":"list","cachedResultName":"Respostas Briefing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","status":"em progresso Formular listagem concorrente"},"matchingColumns":["row_number"],"schema":[{"id":"ID_da_Resposta","displayName":"ID_da_Resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Carimbo_de_Data_Hora","displayName":"Carimbo_de_Data_Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data_da_Resposta","displayName":"Data_da_Resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome_do_Expert","displayName":"Nome_do_Expert","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Produtos_e_Servicos","displayName":"Produtos_e_Servicos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ticket_Medio","displayName":"Ticket_Medio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Diferencial_Competitivo","displayName":"Diferencial_Competitivo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Produtos_de_Autoridade","displayName":"Produtos_de_Autoridade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Objetivos_do_Negocio","displayName":"Objetivos_do_Negocio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Desafios_no_Digital","displayName":"Desafios_no_Digital","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Perfis_de_Clientes","displayName":"Perfis_de_Clientes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Possui_Identidade_Visual","displayName":"Possui_Identidade_Visual","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"URL_do_Site","displayName":"URL_do_Site","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Links_Redes_Sociais","displayName":"Links_Redes_Sociais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Reconhecimento_Desejado","displayName":"Reconhecimento_Desejado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Reconhecimento_Evitado","displayName":"Reconhecimento_Evitado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Referencias_Instagram","displayName":"Referencias_Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Referencias_Youtube","displayName":"Referencias_Youtube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Referencias_Gerais","displayName":"Referencias_Gerais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Temas_de_Conteudo","displayName":"Temas_de_Conteudo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Fontes_Confiaveis","displayName":"Fontes_Confiaveis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Palavras_Chave","displayName":"Palavras_Chave","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Pensa_em_Infoprodutos","displayName":"Pensa_em_Infoprodutos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ideia_de_Infoproduto","displayName":"Ideia_de_Infoproduto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Concorrentes_Diretos","displayName":"Concorrentes_Diretos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Empresas_Inspiracao","displayName":"Empresas_Inspiracao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Informacoes_Finais","displayName":"Informacoes_Finais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-48,48],"id":"b3543a3a-2f24-4d09-8675-95bde78fa749","name":"atualizar status","credentials":{"googleSheetsOAuth2Api":{"id":"ekUi8cQCgpitM03R","name":"Google Sheets Orca Mídias"}}},{"parameters":{"promptType":"define","text":"=Concorrentes diretos: {{ $('Ler 1 linha da planilha').item.json.Referencias_Instagram }}","options":{"systemMessage":"=Atue como um especialista em análise de mercado e inteligência competitiva digital. Você trabalha há mais de 15 anos ajudando empresas a mapear seus concorrentes diretos e indiretos com base em dados públicos e comportamento digital. Seu foco é identificar players estratégicos em nichos específicos e mapear sua presença digital.\n\nObjetivo\n\nReceber as informações de um cliente e, com base nesses dados, gerar uma lista de concorrentes relevantes no mercado onde ele atua. Antes de listar qualquer concorrente:\n\nValide os nomes de empresas fornecidos pelo cliente (ortografia e existência).\n\nConfirme a existência e o funcionamento de cada canal digital (site, Instagram, Facebook, TikTok, LinkedIn, outros). Apenas inclua links reais e ativos. Caso o canal não exista, não esteja acessível (ex.: erro 404/410/5xx) ou não seja oficial, preencha com “N/A”.\n\nSaída esperada por concorrente\n\nNome do concorrente\n\nWebsite oficial\n\nLink do Instagram\n\nLink do Facebook\n\nLink do TikTok\n\nLink do LinkedIn (se aplicável)\n\nOutros canais digitais relevantes (YouTube, Pinterest, etc.)\n\nRegras e Prioridades\n\nConsidere os concorrentes diretos informados pelo cliente (após validar a existência do nome).\n\nPriorize concorrentes que atuem na mesma região geográfica e no mesmo nicho.\n\nDê preferência a empresas com presença digital ativa (páginas oficiais e atualizadas).\n\nSe houver poucos concorrentes locais, complemente com concorrentes nacionais com forte presença online.\n\nNunca inclua páginas de fãs, diretórios/guia de empresas, perfis pessoais não oficiais ou links encurtados obscuros como fonte primária.\n\nUse URLs completas com protocolo (https://...) e, quando houver redirecionamentos, utilize a URL final canônica.\n\nRemova parâmetros de rastreamento supérfluos (utm, fbclid etc.) ao registrar o link final.\n\nPasso a passo (obrigatório)\n\nLer a entrada do cliente (nome, segmento, localização, público).\n\nValidar nomes informados:\n\nPesquise evidências consistentes (site oficial, perfil verificado, Google Business/Profile, menções em portais confiáveis).\n\nSe houver homônimos, selecione aquele que bate com segmento e região.\n\nSe não houver confirmação razoável, sinalize internamente e não inclua como concorrente.\n\nIdentificar de 3 a 7 concorrentes relevantes alinhados ao segmento/região.\n\nVerificar canais digitais de cada concorrente:\n\nTeste o acesso às páginas (aceite 200 OK e redirecionamentos 301/302; rejeite 4xx/5xx e “soft-404”).\n\nConfirme se o canal é oficial (coerência de nome/marca, site na bio, selo verificado quando aplicável).\n\nSe não encontrar com segurança, registre “N/A”.\n\nMontar a tabela com os campos especificados, usando links clicáveis (<a href=\"...\">).\n\nNão faça questões prévias, passe diretamente para a resposta final que conseguir.\n\nRetorne a saída em HTML, contendo uma única tabela com <thead> e <tbody>.\n\n\n\nExemplo de saída (HTML)\n<table>\n  <thead>\n    <tr>\n      <th>Nome do Concorrente</th>\n      <th>Website</th>\n      <th>Instagram</th>\n      <th>Facebook</th>\n      <th>TikTok</th>\n      <th>LinkedIn</th>\n      <th>Outros Canais</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>Móveis Planejados XYZ</td>\n      <td><a href=\"https://www.xyzmoveis.com.br\" target=\"_blank\" rel=\"noopener\">https://www.xyzmoveis.com.br</a></td>\n      <td><a href=\"https://www.instagram.com/xyzmoveis\" target=\"_blank\" rel=\"noopener\">@xyzmoveis</a></td>\n      <td><a href=\"https://www.facebook.com/xyzmoveis\" target=\"_blank\" rel=\"noopener\">facebook.com/xyzmoveis</a></td>\n      <td><a href=\"https://www.tiktok.com/@xyz\" target=\"_blank\" rel=\"noopener\">tiktok.com/@xyz</a></td>\n      <td><a href=\"https://www.linkedin.com/company/xyz\" target=\"_blank\" rel=\"noopener\">linkedin.com/company/xyz</a></td>\n      <td><a href=\"https://www.youtube.com/@xyzmoveis\" target=\"_blank\" rel=\"noopener\">YouTube</a></td>\n    </tr>\n    <tr>\n      <td>Planejados Campinas Ltda</td>\n      <td><a href=\"https://www.planejadoscampinas.com\" target=\"_blank\" rel=\"noopener\">https://www.planejadoscampinas.com</a></td>\n      <td><a href=\"https://www.instagram.com/planejadoscampinas\" target=\"_blank\" rel=\"noopener\">@planejadoscampinas</a></td>\n      <td><a href=\"https://www.facebook.com/planejadoscampinas\" target=\"_blank\" rel=\"noopener\">facebook.com/planejadoscampinas</a></td>\n      <td>N/A</td>\n      <td><a href=\"https://www.linkedin.com/company/planejadoscampinas\" target=\"_blank\" rel=\"noopener\">linkedin.com/company/planejadoscampinas</a></td>\n      <td><a href=\"https://www.pinterest.com/planejadoscampinas\" target=\"_blank\" rel=\"noopener\">Pinterest</a></td>\n    </tr>\n  </tbody>\n</table>"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[192,128],"id":"4e80c627-1d97-46ae-867a-36ca930856f3","name":"AI Agent"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE","mode":"list","cachedResultName":"Respostas Briefing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Ler 1 linha da planilha').item.json.row_number }}","status":"concorrentes conhecidos criado","Concorrentes conhecidos":"={{ $json.output }}"},"matchingColumns":["row_number"],"schema":[{"id":"ID_da_Resposta","displayName":"ID_da_Resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Carimbo_de_Data_Hora","displayName":"Carimbo_de_Data_Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data_da_Resposta","displayName":"Data_da_Resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome_do_Expert","displayName":"Nome_do_Expert","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Produtos_e_Servicos","displayName":"Produtos_e_Servicos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ticket_Medio","displayName":"Ticket_Medio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Diferencial_Competitivo","displayName":"Diferencial_Competitivo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Produtos_de_Autoridade","displayName":"Produtos_de_Autoridade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Objetivos_do_Negocio","displayName":"Objetivos_do_Negocio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Desafios_no_Digital","displayName":"Desafios_no_Digital","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Perfis_de_Clientes","displayName":"Perfis_de_Clientes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Possui_Identidade_Visual","displayName":"Possui_Identidade_Visual","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"URL_do_Site","displayName":"URL_do_Site","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Links_Redes_Sociais","displayName":"Links_Redes_Sociais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Reconhecimento_Desejado","displayName":"Reconhecimento_Desejado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Reconhecimento_Evitado","displayName":"Reconhecimento_Evitado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Referencias_Instagram","displayName":"Referencias_Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Referencias_Youtube","displayName":"Referencias_Youtube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Referencias_Gerais","displayName":"Referencias_Gerais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Temas_de_Conteudo","displayName":"Temas_de_Conteudo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Fontes_Confiaveis","displayName":"Fontes_Confiaveis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Palavras_Chave","displayName":"Palavras_Chave","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Pensa_em_Infoprodutos","displayName":"Pensa_em_Infoprodutos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ideia_de_Infoproduto","displayName":"Ideia_de_Infoproduto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Concorrentes_Diretos","displayName":"Concorrentes_Diretos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Empresas_Inspiracao","displayName":"Empresas_Inspiracao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Informacoes_Finais","displayName":"Informacoes_Finais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"objetivo","displayName":"objetivo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DNA da empresa","displayName":"DNA da empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DNA de conteúdo","displayName":"DNA de conteúdo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DNA do especialista","displayName":"DNA do especialista","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Tom de voz","displayName":"Tom de voz","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Termos do projeto","displayName":"Termos do projeto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Critérios da concorrência","displayName":"Critérios da concorrência","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Concorrentes conhecidos","displayName":"Concorrentes conhecidos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[496,48],"id":"c1cbfeb0-a096-4c1e-869c-d5ca14009425","name":"atualizar status1","credentials":{"googleSheetsOAuth2Api":{"id":"ekUi8cQCgpitM03R","name":"Google Sheets Orca Mídias"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-448,48],"id":"9f01f566-33e6-4708-abb4-3a40902b56f3","name":"Schedule Trigger"},{"parameters":{"modelName":"models/gemini-2.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-64,272],"id":"ab49ee9a-c6e3-433c-9f30-d0558e9abd0e","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"4fiF9u9M1PIFWjX2","name":"Google Gemini Api Orca Mídias"}}},{"parameters":{"model":"deepseek-reasoner","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-208,304],"id":"f9304339-591d-4178-ac7d-6826159ae81b","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"WjwRk6R8JzfnBrjY","name":"DeepSeek Orca Mídias"}}},{"parameters":{"model":{"__rl":true,"value":"o4-mini-deep-research-2025-06-26","mode":"list","cachedResultName":"o4-mini-deep-research-2025-06-26"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[160,240],"id":"8af9e89a-f9fd-4b0e-9550-334f46d99f7b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"eKt62GQzsAdBW3FR","name":"OpenAi Orca Mídias"}}},{"parameters":{"modelId":{"__rl":true,"value":"o4-mini-deep-research-2025-06-26","mode":"list","cachedResultName":"O4-MINI-DEEP-RESEARCH-2025-06-26"},"messages":{"values":[{"content":"=Objetivos do projeto: {{ $('Ler 1 linha da planilha').item.json.objetivo }}\nDNA da empresa: {{ $('Ler 1 linha da planilha').item.json['DNA da empresa'] }}\nTermos do projeto: {{ $('Ler 1 linha da planilha').item.json['Termos do projeto'] }}\nConcorrentes diretos: {{ $('Ler 1 linha da planilha').item.json.Referencias_Instagram }}"},{"content":"Atue como um especialista em análise de mercado e inteligência competitiva digital. Você trabalha há mais de 15 anos ajudando empresas a mapear seus concorrentes diretos e indiretos com base em dados públicos e comportamento digital. Seu foco é identificar players estratégicos em nichos específicos e mapear sua presença digital.\n\nObjetivo\n\nReceber as informações de um cliente e, com base nesses dados, gerar uma lista de concorrentes relevantes no mercado onde ele atua. Antes de listar qualquer concorrente:\n\nValide os nomes de empresas fornecidos pelo cliente (ortografia e existência).\n\nConfirme a existência e o funcionamento de cada canal digital (site, Instagram, Facebook, TikTok, LinkedIn, outros). Apenas inclua links reais e ativos. Caso o canal não exista, não esteja acessível (ex.: erro 404/410/5xx) ou não seja oficial, preencha com “N/A”.\n\nSaída esperada por concorrente\n\nNome do concorrente\n\nWebsite oficial\n\nLink do Instagram\n\nLink do Facebook\n\nLink do TikTok\n\nLink do LinkedIn (se aplicável)\n\nOutros canais digitais relevantes (YouTube, Pinterest, etc.)\n\nRegras e Prioridades\n\nConsidere os concorrentes diretos informados pelo cliente (após validar a existência do nome).\n\nPriorize concorrentes que atuem na mesma região geográfica e no mesmo nicho.\n\nDê preferência a empresas com presença digital ativa (páginas oficiais e atualizadas).\n\nSe houver poucos concorrentes locais, complemente com concorrentes nacionais com forte presença online.\n\nNunca inclua páginas de fãs, diretórios/guia de empresas, perfis pessoais não oficiais ou links encurtados obscuros como fonte primária.\n\nUse URLs completas com protocolo (https://...) e, quando houver redirecionamentos, utilize a URL final canônica.\n\nRemova parâmetros de rastreamento supérfluos (utm, fbclid etc.) ao registrar o link final.\n\nPasso a passo (obrigatório)\n\nLer a entrada do cliente (nome, segmento, localização, público).\n\nValidar nomes informados:\n\nPesquise evidências consistentes (site oficial, perfil verificado, Google Business/Profile, menções em portais confiáveis).\n\nSe houver homônimos, selecione aquele que bate com segmento e região.\n\nSe não houver confirmação razoável, sinalize internamente e não inclua como concorrente.\n\nIdentificar de 3 a 7 concorrentes relevantes alinhados ao segmento/região.\n\nVerificar canais digitais de cada concorrente:\n\nTeste o acesso às páginas (aceite 200 OK e redirecionamentos 301/302; rejeite 4xx/5xx e “soft-404”).\n\nConfirme se o canal é oficial (coerência de nome/marca, site na bio, selo verificado quando aplicável).\n\nSe não encontrar com segurança, registre “N/A”.\n\nMontar a tabela com os campos especificados, usando links clicáveis (<a href=\"...\">).\n\nNão faça questões prévias, passe diretamente para a resposta final que conseguir.\n\nRetorne a saída em HTML, contendo uma única tabela com <thead> e <tbody>.\n\n\n\nExemplo de saída (HTML)\n<table>\n  <thead>\n    <tr>\n      <th>Nome do Concorrente</th>\n      <th>Website</th>\n      <th>Instagram</th>\n      <th>Facebook</th>\n      <th>TikTok</th>\n      <th>LinkedIn</th>\n      <th>Outros Canais</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>Móveis Planejados XYZ</td>\n      <td><a href=\"https://www.xyzmoveis.com.br\" target=\"_blank\" rel=\"noopener\">https://www.xyzmoveis.com.br</a></td>\n      <td><a href=\"https://www.instagram.com/xyzmoveis\" target=\"_blank\" rel=\"noopener\">@xyzmoveis</a></td>\n      <td><a href=\"https://www.facebook.com/xyzmoveis\" target=\"_blank\" rel=\"noopener\">facebook.com/xyzmoveis</a></td>\n      <td><a href=\"https://www.tiktok.com/@xyz\" target=\"_blank\" rel=\"noopener\">tiktok.com/@xyz</a></td>\n      <td><a href=\"https://www.linkedin.com/company/xyz\" target=\"_blank\" rel=\"noopener\">linkedin.com/company/xyz</a></td>\n      <td><a href=\"https://www.youtube.com/@xyzmoveis\" target=\"_blank\" rel=\"noopener\">YouTube</a></td>\n    </tr>\n    <tr>\n      <td>Planejados Campinas Ltda</td>\n      <td><a href=\"https://www.planejadoscampinas.com\" target=\"_blank\" rel=\"noopener\">https://www.planejadoscampinas.com</a></td>\n      <td><a href=\"https://www.instagram.com/planejadoscampinas\" target=\"_blank\" rel=\"noopener\">@planejadoscampinas</a></td>\n      <td><a href=\"https://www.facebook.com/planejadoscampinas\" target=\"_blank\" rel=\"noopener\">facebook.com/planejadoscampinas</a></td>\n      <td>N/A</td>\n      <td><a href=\"https://www.linkedin.com/company/planejadoscampinas\" target=\"_blank\" rel=\"noopener\">linkedin.com/company/planejadoscampinas</a></td>\n      <td><a href=\"https://www.pinterest.com/planejadoscampinas\" target=\"_blank\" rel=\"noopener\">Pinterest</a></td>\n    </tr>\n  </tbody>\n</table>","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-144,512],"id":"7f12d13a-8245-494c-9751-d757318904d0","name":"Message a model","credentials":{"openAiApi":{"id":"eKt62GQzsAdBW3FR","name":"OpenAi Orca Mídias"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[352,240],"id":"d618a5db-e783-4f15-98b6-4ab01ef0c421","name":"SerpAPI","credentials":{"serpApi":{"id":"CEMZ8Igf1QWlOW9Y","name":"SerpAPI account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/responses","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"o4-mini-deep-research-2025-06-26\",\n  \"input\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        { \"type\": \"input_text\", \"text\": \"Tema/pedido da sua pesquisa aqui\" }\n      ]\n    }\n  ],\n  \"reasoning\": { \"summary\": \"auto\" },\n  \"tools\": [\n    { \"type\": \"web_search_preview\" }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,-48],"id":"15138397-b348-47f8-ae1c-81db91d875b9","name":"HTTP Request","credentials":{"httpBearerAuth":{"id":"8VvOjNnTwUt7tR1e","name":"Bearer Auth account"}}}],"connections":{"Ler 1 linha da planilha":{"main":[[{"node":"atualizar status","type":"main","index":0}]]},"atualizar status":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"AI Agent":{"main":[[]]},"Schedule Trigger":{"main":[[{"node":"Ler 1 linha da planilha","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[]]},"DeepSeek Chat Model":{"ai_languageModel":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Message a model":{"main":[[]]},"SerpAPI":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"HTTP Request":{"main":[[{"node":"atualizar status1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"136a6d57-613f-475c-b5e9-2735c2831d0e","triggerCount":0,"shared":[{"createdAt":"2025-08-27T03:26:51.611Z","updatedAt":"2025-08-27T03:26:51.611Z","role":"workflow:owner","workflowId":"WJ4RvdaLaXifC5S3","projectId":"TZpK0B2uX65EVlPC"}],"tags":[]}