6---agentes-mcp---adavio-tittoni-V6WY5SuOCLuj7RlI.json
{"createdAt":"2025-07-04T01:00:23.858Z","updatedAt":"2025-07-04T10:59:41.000Z","id":"V6WY5SuOCLuj7RlI","name":"6 - Agentes MCP - ADAVIO TITTONI","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}\n{{ $json.mensagem_audio }}","options":{"systemMessage":"=📅 **Data e hora atual:** {{ $now }} \n\nGere os outputs com no maximo 380 caracters\n\n---\n\n## 👋 Você é Paola  \nRecepcionista da clínica odontológica e estética **Sorriso Melhor**.  \nFale como uma pessoa humana, acolhedora, simpática e com conhecimento dos serviços da clínica.  \n**Nunca diga que é uma IA ou assistente virtual.**  \n\n---\n\n## 💬 Comunicação com o cliente\n- “A gente só consegue passar um valor exato após avaliação presencial. Cada caso é único 🙂”\n- “Se quiser, posso ver um horário pra você vir conversar com nossos dentistas, tudo com calma e personalizado 😊”\n- “Fica tranquilo(a), aqui a gente cuida com carinho de cada detalhe. A avaliação é sem compromisso.”\n- “Olha só esse resultado de botox aqui da clínica 😍  \n  https://i.postimg.cc/qRmXsrNQ/Whats-App-Image-2025-05-15-at-08-24-07.jpg\n\n---\n\n## 📍 Endereço da Clínica\nR. Ferroviário Manoel Gonçalves Filho, 77-1 – Jatiúca, Maceió – AL  \n👉 https://maps.app.goo.gl/mx2gQz4d2LtdtAiW9\n\n---\n\n## 📆 Regras de agendamento\n- Atendimentos **de segunda a sexta**, **entre 9h e 17h (GMT-3)**.\n- Cada consulta dura 1 hora.\n- **Nunca ofereça horários fora dessa faixa.**\n- Antes de agendar, **verifique disponibilidade com `search_availability`**.\n- Se `disponivel: true`, execute:\n  1. `CreateEvent`\n  2. `register_on_sheets`\n- Se `disponivel: false`, **não agende**.\n\n---\n\n## ⚠️ Respostas obrigatórias em casos especiais\n\n**Se o horário estiver ocupado:**\n> “Esse horário já está reservado. Posso verificar outro horário disponível entre 9h e 17h pra você? 😊”\n\n**Se pedirem fora do horário permitido:**\n> “Os horários disponíveis são entre 9h e 17h, de segunda a sexta. Consigo ver um espacinho nesse intervalo pra você! 😊”\n\n---\n\n## 🔄 Fluxo correto de agendamento\n\n1. Receba: nome, e-mail, telefone e procedimento.\n2. Pergunte a data e o horário desejado.\n3. Interprete corretamente a intenção do cliente:\n\n**Se ele disser apenas o dia da semana (ex: “sexta” ou “terça”), calcule a próxima ocorrência desse dia a partir de 2025-05-15 00:06:44.**  \nConverta para o formato padrão:\n```json\n{\n  \"data\": \"AAAA-MM-DD\",\n  \"horario\": \"HH:MM\"\n}\n```\n\n4. Use `search_availability` para verificar.\n5. Se disponível:\n   - Execute `CreateEvent`\n   - Depois `register_on_sheets`\n6. Se **não** estiver disponível, **ofereça outra opção dentro do intervalo permitido**.\n\n---\n\n## ❌ Cancelamento de agendamento\n\nPeça:\n- Nome completo\n- E-mail usado\n- Data da consulta\n\nDepois:\n1. Busque eventos pela data\n2. Filtre por nome + e-mail\n3. Capture o `eventId`\n4. Execute `cancel_event`\n\n---\n\n## 🧠 TOOLS disponíveis\n\n### 🔍 `search_availability`\nVerifica se o horário está livre  \n**Parâmetros:**\n```json\n{\n  \"data\": \"AAAA-MM-DD\",\n  \"horario\": \"HH:MM\"\n}\n```\n**Resposta esperada:**\n```json\n{ \"disponivel\": true }\n```\n\n---\n\n### 📅 `CreateEvent`\nCria agendamento no Google Calendar  \n**Parâmetros:**\n```json\n{\n  \"nome\": \"string\",\n  \"email\": \"string\",\n  \"data\": \"AAAA-MM-DD\",\n  \"horario\": \"HH:MM\",\n  \"procedimentos\": [\"string\"]\n}\n```\n\n---\n\n### 📊 `register_on_sheets`\nRegistra no Google Sheets  \n**Parâmetros:**\n```json\n{\n  \"nome\": \"string\",\n  \"email\": \"string\",\n  \"telefone\": \"string\",\n  \"data\": \"AAAA-MM-DD\",\n  \"horario\": \"HH:MM\",\n  \"procedimentos\": [\"string\"]\n}\n```\n\n---\n\n### ❌ `cancel_event`\n**Pré-requisitos:**\n- Buscar eventos pela data\n- Filtrar pelo nome e e-mail\n- Capturar `eventId`\n\nDepois, chame `cancel_event` com esse ID.\n\nOutput de no maximo 300 caracters\n","maxIterations":10}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-1660,1260],"id":"0eaa9464-b6e0-4496-a484-bb5c90ff5243","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=chat4.{{ $('Webhook').item.json.body.data.key.remoteJid }}","tableName":"workflow","contextWindowLength":150},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1640,1480],"id":"1c268f64-d30b-4b70-9c13-bc011ae462cf","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"sVJmjRzCLFfd2Aul","name":"Postgresnew easypanel"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[0,0],"id":"4d8cf8ea-e797-4a1b-97fd-67afd424f225","name":"AI Agent1","disabled":true},{"parameters":{"calendar":{"__rl":true,"mode":"list","value":""},"additionalFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-340,220],"id":"4afb8038-5fe9-441d-b0da-04903e12cbdb","name":"Google Calendar4","disabled":true},{"parameters":{"calendar":{"__rl":true,"mode":"list","value":""},"additionalFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-220,220],"id":"7e31cc68-366a-49a8-808f-71c0b71311db","name":"Google Calendar5","disabled":true},{"parameters":{"calendar":{"__rl":true,"mode":"list","value":""},"additionalFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-100,220],"id":"60d7bef8-7896-494a-b914-9ea4e1bac0c4","name":"Google Calendar6","disabled":true},{"parameters":{"calendar":{"__rl":true,"mode":"list","value":""},"additionalFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[20,220],"id":"602a85c4-d87a-4bb5-ae5d-7868751e29cb","name":"Google Calendar7","disabled":true},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[140,220],"id":"1e88c1a3-9504-4c16-98fa-23e85eb30b6c","name":"Google Sheets4","disabled":true},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[500,220],"id":"48a91054-c1cc-401a-a96c-5b80c241b9a9","name":"Google Sheets5","disabled":true},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[260,220],"id":"4518dc49-00ba-45ed-abf4-b562abf1c614","name":"Google Sheets6","disabled":true},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[380,220],"id":"4d46c789-afe1-4b02-a25f-536359c97bef","name":"Google Sheets7","disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1QljvPICFA8YZdK3cO1OaR21aaZOJj4CVeXCQqFnucRM","mode":"list","cachedResultName":"mcp_server","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QljvPICFA8YZdK3cO1OaR21aaZOJj4CVeXCQqFnucRM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QljvPICFA8YZdK3cO1OaR21aaZOJj4CVeXCQqFnucRM/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"telefone","lookupValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', `telefone do cliente`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-2480,700],"id":"f4adfc4c-ad5c-4bc0-bca2-841aee544b72","name":"pega uma linha","credentials":{"googleSheetsOAuth2Api":{"id":"ekUi8cQCgpitM03R","name":"Google Sheets Orca Mídias"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.data.messageType }}","rightValue":"=conversation","operator":{"type":"string","operation":"equals"},"id":"f6bdce4d-5869-4ccd-b94d-8c93d393f3ae"}],"combinator":"and"},"renameOutput":true,"outputKey":"mensagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a6a59105-b0a9-4f7c-96bf-56b8f1196353","leftValue":"={{ $json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2980,1260],"id":"ebd03142-89dd-4ce3-9bbe-289f1977276e","name":"Switch"},{"parameters":{"descriptionType":"manual","toolDescription":"USE ESSA BASE DE CONHECIMENTO APRA COLETAR AS FOTOS DOS CASOS QUE O CLIENTE PEDIR, enviar apenas a url do procedimento escolhido pelo cliente, nao envair o procedimento apenas a url","operation":"get","documentURL":"1FJRmIndY1VtkF9YGIrReXYjz_6bjQXiKf1KOUPV83HY"},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[-1300,1440],"id":"e9f58f8d-367f-49cc-8045-6aa8a060047e","name":"FOTOS","credentials":{"googleDocsOAuth2Api":{"id":"Uiz7VXbheNW6ZQSG","name":"Google Docs account"}}},{"parameters":{"content":"## AGENTE E FERRAMENTAS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":460,"width":780},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1940,1160],"id":"bb3fbda0-e2ea-4f64-a171-fd8a9dd63119","name":"Sticky Note"},{"parameters":{"content":"","height":660,"width":1680},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3020,320],"id":"13bf8767-ebfe-4f75-8d72-8ab95259c010","name":"Sticky Note1"},{"parameters":{"content":"## MCP SERVER FERRAMENTAS","height":440,"width":1300,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2780,420],"id":"67dd4915-dd08-46d7-b059-3339d308a143","name":"Sticky Note2"},{"parameters":{"assignments":{"assignments":[{"id":"856c3a0c-fe14-4d77-90ca-4f5794d65fb1","name":"base64","value":"={{ $json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2760,1340],"id":"2900f30f-616b-41a0-b583-ce7d06f1d92b","name":"Edit Fields1"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"audio/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-2540,1340],"id":"7b3d3c8e-0c9b-4c90-be60-603333dafb9a","name":"Convert to File"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2320,1340],"id":"c554b78d-a163-4fa1-82e3-f5a6fff90cd8","name":"OpenAI","credentials":{"openAiApi":{"id":"eKt62GQzsAdBW3FR","name":"OpenAi Orca Mídias"}}},{"parameters":{"httpMethod":"POST","path":"226e4ab3-b517-4854-8c8c-16d85b4b101a","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3200,1260],"id":"9b27a2a5-f1f3-4744-93fd-dc8190e939f6","name":"Webhook","webhookId":"ea566344-02fe-4fb5-be48-600f2d3c2855"},{"parameters":{"assignments":{"assignments":[{"id":"43fdeecc-8457-4f6f-96bc-c58c7a90cf30","name":"mensagem_audio","value":"={{ $json.text }}","type":"string"},{"id":"39d5f0bd-2dea-4176-be3a-6252ccb2b140","name":"mensagem","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2080,1260],"id":"326effa4-28b0-43eb-bc1a-dc2dfef47c40","name":"Edit Fields2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"=conversation","operator":{"type":"string","operation":"equals"},"id":"f6bdce4d-5869-4ccd-b94d-8c93d393f3ae"}],"combinator":"and"},"renameOutput":true,"outputKey":"mensagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a6a59105-b0a9-4f7c-96bf-56b8f1196353","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1080,1260],"id":"1e1cd1d0-8a1e-4d8b-b7e8-cb9f2cf65bba","name":"Switch2"},{"parameters":{"method":"POST","url":"={{ $('Switch').item.json.body.server_url }}/message/sendWhatsAppAudio/{{ $('Switch').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Switch').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\",\"\") }}"},{"name":"audio","value":"={{ $json.data }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[100,1620],"id":"43b130be-3324-4373-9060-3859ff12e510","name":"envia_audio_evolution"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-120,1600],"id":"a922ff6d-3b5a-47c7-86b1-d25b2dbfedb0","name":"Extract from File"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3e0cfadc-9c76-4cb0-8133-7f59b0bea663","leftValue":"={{ $json.output.match(/https:\\/\\/.*\\.(jpeg|jpg|png|webp)/g) !== null }}","rightValue":"={{ $json.output.match(/https:\\/\\/.*\\.(jpeg|jpg|png|webp)/g) !== null }}","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[20,1120],"id":"d7ecaf54-0388-4ac6-9877-7ce716860ce1","name":"If"},{"parameters":{"method":"POST","url":"={{ $('Webhook').item.json.body.server_url }}/message/sendMedia/{{ $('Webhook').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"number\": \"{{ $('Switch').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\",\"\") }}\",\n  \"mediatype\": \"image\",\n  \"media\": \"{{ $json.imagem }}\"\n}","options":{}},"id":"686ee9b0-834c-4e99-9c78-f503890328a3","name":"SEND IMAGE","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[520,1280],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"fieldToSplitOut":"output","options":{}},"id":"a8eb5c67-ff72-47fd-9f45-c515597dfbbd","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-420,1080]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-200,1080],"id":"5e74550c-07f0-4421-a2d0-45cc156f72a9","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,880],"id":"22db7de9-213f-4c7c-826d-05eaa5bebfa5","name":"No Operation, do nothing"},{"parameters":{"method":"POST","url":"={{ $('Webhook').item.json.headers['x-forwarded-proto'] }}://{{ $('Webhook').item.json.headers.host }}/message/sendText/{{ $('Switch').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Switch').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\",\"\") }}"},{"name":"text","value":"={{ $json.output }}"},{"name":"delay","value":"={{ $json.output.length * 13 }}"},{"name":"presence","value":"composing"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,1080],"id":"6ade640f-d702-43b3-ab98-571129c210de","name":"envia_texto"},{"parameters":{"assignments":{"assignments":[{"id":"39040a95-bd85-497e-b531-014af083fed8","name":"output","value":"={{ $json.output.replaceAll(\"**\",\"*\").split(\"\\n\\n\") }}","type":"array"}]},"options":{}},"id":"4003ed49-3f79-4d7b-95f0-a6a25213e684","name":"TEXT","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,1080]},{"parameters":{"assignments":{"assignments":[{"id":"bd366a29-fbf0-463a-8e17-466c488b61aa","name":"imagem","value":"={{ $json.output.match(/https?:\\/\\/[^\\s\\]\\)]+?\\.(jpeg|jpg|png|webp)/i)[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,1280],"id":"1fa1fb2e-28b7-4520-8b3e-1f0ca3b3433b","name":"Edit Fields"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"https://maps.app.goo.gl/mx2gQz4d2LtdtAiW9","operator":{"type":"string","operation":"contains"},"id":"66050f48-0d75-44cd-9f36-c4e4dc4885cf"}],"combinator":"and"},"renameOutput":true,"outputKey":"É ENDEREÇO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cdf9bd61-864f-4b82-aae5-2156d4e58771","leftValue":"={{ $json.output.match(/https:\\/\\/.*\\.(jpeg|jpg|png|webp)/g) !== null }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"CONTEM IMAGEM"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4e97b3ff-116b-47c0-a37d-c8411e0f0039","leftValue":"={{ !(/\\b\\d{1,2}(:\\d{2}|h\\d{0,2})\\b/.test($json.output)) && !($json.output.match(/https:\\/\\/[^\\s]+?\\.(jpe?g|png|webp)/g)) }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"8030f7b5-a545-421a-a8e9-21138d6d2406","leftValue":"={{ /\\b\\d{1,2}(:\\d{2}|h(\\d{2})?)\\b/.test($json.output) }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"hora"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-820,1320],"id":"7e43f9fe-382e-4878-a576-d2eea0f8a53a","name":"Switch1","alwaysOutputData":false},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"adabtechal@gmail.com","mode":"list","cachedResultName":"adabtechal@gmail.com"},"limit":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}","timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}","options":{}},"id":"38677b02-1815-4b73-bd4b-dfe0c92e15d6","name":"SearchEvent1","type":"n8n-nodes-base.googleCalendarTool","position":[-2200,700],"typeVersion":1.3,"credentials":{"googleCalendarOAuth2Api":{"id":"gNCsfshPqZA2lRhe","name":"orcamidias calendar"}}},{"parameters":{"calendar":{"__rl":true,"value":"adabtechal@gmail.com","mode":"list","cachedResultName":"adabtechal@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{"attendees":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', `email do cliente`, 'string') }}"],"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `The event description`, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `The event title - nome do cliente`, 'string') }}"}},"id":"4349cbe6-899e-45ab-830b-2d638be1a839","name":"CreateEvent1","type":"n8n-nodes-base.googleCalendarTool","position":[-2060,700],"typeVersion":1.3,"credentials":{"googleCalendarOAuth2Api":{"id":"gNCsfshPqZA2lRhe","name":"orcamidias calendar"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"adabtechal@gmail.com","mode":"list","cachedResultName":"adabtechal@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","updateFields":{"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `The event description`, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `The event title`, 'string') }}"}},"id":"4ca57ce1-ca1d-44e3-84d0-a944a8047e26","name":"UpdateEvent1","type":"n8n-nodes-base.googleCalendarTool","position":[-1900,700],"typeVersion":1.3,"credentials":{"googleCalendarOAuth2Api":{"id":"gNCsfshPqZA2lRhe","name":"orcamidias calendar"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"adabtechal@gmail.com","mode":"list","cachedResultName":"adabtechal@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"id":"0aecacb0-8d2b-484d-aa5f-dbac58f56166","name":"DeleteEvent1","type":"n8n-nodes-base.googleCalendarTool","position":[-1780,700],"typeVersion":1.3,"credentials":{"googleCalendarOAuth2Api":{"id":"gNCsfshPqZA2lRhe","name":"orcamidias calendar"}}},{"parameters":{"path":"529d37b5-40a2-4ae6-8444-57568b80c431"},"id":"b6c7ab78-51ec-444e-9d2b-826489104f02","name":"Google Calendar MCP1","type":"@n8n/n8n-nodes-langchain.mcpTrigger","position":[-2260,440],"webhookId":"529d37b5-40a2-4ae6-8444-57568b80c431","typeVersion":1},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1QljvPICFA8YZdK3cO1OaR21aaZOJj4CVeXCQqFnucRM","mode":"list","cachedResultName":"mcp_server","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QljvPICFA8YZdK3cO1OaR21aaZOJj4CVeXCQqFnucRM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QljvPICFA8YZdK3cO1OaR21aaZOJj4CVeXCQqFnucRM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"telefone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefone__using_to_match_', `telefone do cliente`, 'string') }}","nome":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome', `nome do cliente`, 'string') }}","email":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', `email do cliente`, 'string') }}","data do cadastro":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data_do_cadastro', `data de hoje`, 'string') }}","procedimento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('procedimento', `qual procedimento escolhido pelo cliente`, 'string') }}","data do agendamento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data_do_agendamento', `data dop agendamento escolhido pelo cliente`, 'string') }}"},"matchingColumns":["telefone"],"schema":[{"id":"data do cadastro","displayName":"data do cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefone","displayName":"telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"procedimento","displayName":"procedimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"data do agendamento","displayName":"data do agendamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-2340,700],"id":"01944ec5-6c73-41f1-b4aa-0d824fc37ca9","name":"criaouatualizalinha23","credentials":{"googleSheetsOAuth2Api":{"id":"ekUi8cQCgpitM03R","name":"Google Sheets Orca Mídias"}}},{"parameters":{"sseEndpoint":"https://n8n.adabtech.com.br/mcp/529d37b5-40a2-4ae6-8444-57568b80c431/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[-1480,1460],"id":"b0e0cd44-4be1-4e7b-b8f4-15b7e5c681aa","name":"mcp server ferramentas"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{"temperature":0,"topP":0}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1780,1460],"id":"5d9d2a35-769b-4ed8-a34b-a2253858182d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"eKt62GQzsAdBW3FR","name":"OpenAi Orca Mídias"}}},{"parameters":{"method":"POST","url":"https://api.fish.audio/v1/tts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer (sua api Key)"},{"name":"model","value":"speech-1.6"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.output }}"},{"name":"reference_id","value":"5ead3a4fedda4d1f8419ca8b2452f6d5"},{"name":"prossody","value":"={\n\"speed\" : 2.0,\n\"volume\": 1.9\n}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-540,1500],"id":"9c80c906-17fd-4f44-9b3c-c0c1ef54e833","name":"Gera audio Fish audio"},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1QljvPICFA8YZdK3cO1OaR21aaZOJj4CVeXCQqFnucRM","mode":"list","cachedResultName":"mcp_server","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QljvPICFA8YZdK3cO1OaR21aaZOJj4CVeXCQqFnucRM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QljvPICFA8YZdK3cO1OaR21aaZOJj4CVeXCQqFnucRM/edit#gid=0"},"startIndex":"={{ $fromAI('Start_Row_Number', ``, 'number') }}","numberToDelete":"={{ $fromAI('Number_of_Rows_to_Delete', ``, 'number') }}"},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-2640,700],"id":"ef094f3f-05b3-46a4-8d3e-417790e5054a","name":"Delete rows or columns from sheet in Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"ekUi8cQCgpitM03R","name":"Google Sheets Orca Mídias"}}}],"connections":{"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Google Calendar4":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Google Calendar5":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Google Calendar6":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Google Calendar7":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Google Sheets4":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Google Sheets6":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Google Sheets7":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Google Sheets5":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"pega uma linha":{"ai_tool":[[{"node":"Google Calendar MCP1","type":"ai_tool","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"FOTOS":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Edit Fields1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"TEXT","type":"main","index":0}],[{"node":"Switch1","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"envia_audio_evolution","type":"main","index":0}]]},"If":{"main":[[{"node":"envia_texto","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"SEND IMAGE":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"envia_texto":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"TEXT":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"SEND IMAGE","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"TEXT","type":"main","index":0}],[{"node":"TEXT","type":"main","index":0}],[{"node":"Gera audio Fish audio","type":"main","index":0}],[{"node":"TEXT","type":"main","index":0}]]},"SearchEvent1":{"ai_tool":[[{"node":"Google Calendar MCP1","type":"ai_tool","index":0}]]},"CreateEvent1":{"ai_tool":[[{"node":"Google Calendar MCP1","type":"ai_tool","index":0}]]},"UpdateEvent1":{"ai_tool":[[{"node":"Google Calendar MCP1","type":"ai_tool","index":0}]]},"DeleteEvent1":{"ai_tool":[[{"node":"Google Calendar MCP1","type":"ai_tool","index":0}]]},"criaouatualizalinha23":{"ai_tool":[[{"node":"Google Calendar MCP1","type":"ai_tool","index":0}]]},"mcp server ferramentas":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Gera audio Fish audio":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Delete rows or columns from sheet in Google Sheets":{"ai_tool":[[{"node":"Google Calendar MCP1","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"481bc1f2-ba28-43d6-8921-8dc4140d69c5","triggerCount":2,"shared":[{"createdAt":"2025-07-04T01:00:23.863Z","updatedAt":"2025-07-04T01:00:23.863Z","role":"workflow:owner","workflowId":"V6WY5SuOCLuj7RlI","projectId":"TZpK0B2uX65EVlPC"}],"tags":[{"createdAt":"2025-07-02T04:49:45.162Z","updatedAt":"2025-07-02T04:49:45.162Z","id":"rL7QoEmW9Q2mTSZH","name":"academia lendaria"}]}