8---mvp-com-ia---landing-page-sdr-ALQSL4jrBKTSmWJ2.json
{"createdAt":"2025-09-08T14:33:39.764Z","updatedAt":"2025-09-08T20:56:34.000Z","id":"ALQSL4jrBKTSmWJ2","name":"8 - MVP com IA - Landing Page SDR","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-336,1008],"id":"c4dcfbc2-10a6-4d2d-94c5-e11cbcbb872d","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"8c741f94-8636-4eee-8acf-d1b2193b7055","name":"nicho","value":"escritorio de advocacia","type":"string"},{"id":"3273a282-829c-4835-bbb1-1f96a8a97624","name":"estado","value":"alagoas","type":"string"},{"id":"b515330b-407c-48c9-a2c1-5d0370e0e9af","name":"cidade","value":"maceio","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-176,1008],"id":"5b94c83f-a0f7-486a-b7bc-c5188cb3bd54","name":"Edit Fields","disabled":true},{"parameters":{"url":"=https://serpapi.com/search.json?q={{ $json.nicho }}&location={{ $json.cidade }},Brazil&num=10&hl=pt&gl=br&api_key=a7d5b2a5ce6fb48205210ee0b8365281348a4f823bce8efd37a73a4d8900e293 ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[48,1008],"id":"02d404c7-283c-4ec4-b2fa-fbabf7504568","name":"HTTP Request","disabled":true},{"parameters":{"fieldToSplitOut":"local_results.places","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[272,1008],"id":"4d48d328-be43-4632-aa70-98769e5ef0c9","name":"Split Out","disabled":true},{"parameters":{"jsCode":"const items = $input.all();\nlet cardsHtml = '';\n\nfor (const item of items) {\n  const data = item.json;\n\n  const title = data.title || 'Nome não informado';\n  const rating = data.rating || 'N/A';\n  const reviews = data.reviews || 0;\n  const address = data.address || 'Endereço não informado';\n  const phone = data.phone || 'Telefone indisponível';\n  const hours = data.hours || 'Horário não disponível';\n  const website = data.links?.website;\n  const maps = data.links?.directions;\n\n  cardsHtml += `\n    <div class=\"card\">\n      <h2>${title}</h2>\n      <p class=\"rating\">⭐ <strong>${rating}</strong> (${reviews} avaliação${reviews === 1 ? '' : 'es'})</p>\n      <p><span class=\"icon\">📍</span> ${address}</p>\n      <p><span class=\"icon\">📞</span> ${phone}</p>\n      <p><span class=\"icon\">⏰</span> ${hours}</p>\n      ${website ? `<p><span class=\"icon\">🌐</span> <a href=\"${website}\" target=\"_blank\">${website}</a></p>` : ''}\n      ${maps ? `<p><span class=\"icon\">🗺️</span> <a href=\"${maps}\" target=\"_blank\">Ver no mapa</a></p>` : ''}\n    </div>\n  `;\n}\n\nconst finalHtml = `\n<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Relatório de Concorrentes</title>\n  <style>\n    body {\n      font-family: 'Segoe UI', sans-serif;\n      background: linear-gradient(to right, #e3f2fd, #fce4ec);\n      padding: 40px;\n      margin: 0;\n    }\n\n    h1 {\n      text-align: center;\n      color: #1e88e5;\n      margin-bottom: 30px;\n      font-size: 2.2em;\n    }\n\n    .card {\n      background: white;\n      border-radius: 16px;\n      padding: 24px;\n      margin: 0 auto 30px auto;\n      max-width: 700px;\n      box-shadow: 0 6px 12px rgba(0,0,0,0.1);\n      transition: transform 0.2s ease;\n    }\n\n    .card:hover {\n      transform: scale(1.02);\n    }\n\n    .card h2 {\n      margin-top: 0;\n      font-size: 1.5em;\n      color: #37474f;\n    }\n\n    .rating {\n      font-size: 1.1em;\n      margin-bottom: 10px;\n      color: #fbc02d;\n    }\n\n    p {\n      margin: 6px 0;\n      font-size: 0.96em;\n      color: #455a64;\n    }\n\n    .icon {\n      margin-right: 6px;\n      color: #1e88e5;\n    }\n\n    a {\n      color: #039be5;\n      text-decoration: none;\n    }\n\n    a:hover {\n      text-decoration: underline;\n    }\n\n    button {\n      display: block;\n      margin: 0 auto 40px auto;\n      padding: 12px 24px;\n      background-color: #1e88e5;\n      color: white;\n      font-size: 1em;\n      border: none;\n      border-radius: 8px;\n      cursor: pointer;\n      box-shadow: 0 4px 10px rgba(0,0,0,0.1);\n    }\n\n    button:hover {\n      background-color: #1565c0;\n    }\n  </style>\n</head>\n<body>\n  <h1>Relatório de Clínicas Veterinárias em Maceió</h1>\n\n  <button onclick=\"exportPDF()\">📄 Exportar como PDF</button>\n\n  ${cardsHtml}\n\n  <script src=\"https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js\"></script>\n  <script>\n    function exportPDF() {\n      const element = document.body;\n      const opt = {\n        margin:       0.5,\n        filename:     'relatorio-clinicas.pdf',\n        image:        { type: 'jpeg', quality: 0.98 },\n        html2canvas:  { scale: 2 },\n        jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' }\n      };\n      html2pdf().from(element).set(opt).save();\n    }\n  </script>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    html: finalHtml\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,1008],"id":"27f05c1a-5594-4eab-acaa-7b42e42e23d0","name":"Code","disabled":true},{"parameters":{"path":"bbe19d53-bc14-478f-8f0c-415ec404a1c1","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[144,672],"id":"3a2583b9-3c1b-4795-ae30-862564126570","name":"Webhook","webhookId":"bbe19d53-bc14-478f-8f0c-415ec404a1c1","disabled":true},{"parameters":{"html":"{{ $json.propertyName }}"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[592,672],"id":"0606ede8-6443-478b-816b-db863ad4f2fe","name":"HTML","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"985b3855-89db-46e0-95d8-4bc07dae9edd","name":"teste","value":"={{ $json.html }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[704,1008],"id":"ec0cfe9d-ed05-4452-ad1f-e516cd5cb9d2","name":"Edit Fields1","disabled":true},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[800,672],"id":"16c27525-3bc8-4d76-aa98-977ca03d7370","name":"Respond to Webhook","disabled":true},{"parameters":{"operation":"set","key":"html","value":"={{ $json.teste }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[928,1008],"id":"5a317bcb-a1d6-49ff-b33a-1f4fd5999aae","name":"Redis","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1152,1008],"id":"d95a2049-88a2-4257-b8aa-6ae3163faf05","name":"No Operation, do nothing","disabled":true},{"parameters":{"operation":"get","key":"html","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[368,672],"id":"afc532df-163e-49ec-a238-346ca4a3b16c","name":"Redis1","disabled":true},{"parameters":{"url":"=https://serpapi.com/search.json?engine=google_maps&q={{ $json.nicho}} &ll=@-9.5757791,-35.780905,14z&api_key=a7d5b2a5ce6fb48205210ee0b8365281348a4f823bce8efd37a73a4d8900e293\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[64,1328],"id":"1004db30-9297-40ce-b7b0-35cbf2eee1e9","name":"HTTP Request1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"8c741f94-8636-4eee-8acf-d1b2193b7055","name":"nicho","value":"={{ $json.body.nicho }}","type":"string"},{"id":"3273a282-829c-4835-bbb1-1f96a8a97624","name":"estado","value":"alagoas","type":"string"},{"id":"b515330b-407c-48c9-a2c1-5d0370e0e9af","name":"cidade","value":"={{ $json.body.cidade }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,1328],"id":"9de0379a-5aa9-4d1f-9c55-c294e43f4cda","name":"Edit Fields2","disabled":true},{"parameters":{"fieldToSplitOut":"local_results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[288,1328],"id":"51eb3cc8-b2c0-40ef-b835-a5c88e922dba","name":"Split Out1","disabled":true},{"parameters":{"jsCode":"const items = $input.all();\nlet cardsHtml = '';\n\nfor (const item of items) {\n  const data = item.json;\n\n  const title = data.title || 'Nome não informado';\n  const rating = data.rating || 'N/A';\n  const reviews = data.reviews || 0;\n  const address = data.address || 'Endereço não informado';\n  const phone = data.phone || 'Telefone indisponível';\n  const hours = data.hours || 'Horário não disponível';\n  const website = data.links?.website;\n  const maps = data.links?.directions;\n\n  cardsHtml += `\n    <div class=\"card\">\n      <h2>${title}</h2>\n      <p class=\"rating\">⭐ <strong>${rating}</strong> (${reviews} avaliação${reviews === 1 ? '' : 'es'})</p>\n      <p><span class=\"icon\">📍</span> ${address}</p>\n      <p><span class=\"icon\">📞</span> ${phone}</p>\n      <p><span class=\"icon\">⏰</span> ${hours}</p>\n      ${website ? `<p><span class=\"icon\">🌐</span> <a href=\"${website}\" target=\"_blank\">${website}</a></p>` : ''}\n      ${maps ? `<p><span class=\"icon\">🗺️</span> <a href=\"${maps}\" target=\"_blank\">Ver no mapa</a></p>` : ''}\n    </div>\n  `;\n}\n\nconst finalHtml = `\n<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Relatório de Concorrentes</title>\n  <style>\n    body {\n      font-family: 'Segoe UI', sans-serif;\n      background: linear-gradient(to right, #e3f2fd, #fce4ec);\n      padding: 40px;\n      margin: 0;\n    }\n\n    h1 {\n      text-align: center;\n      color: #1e88e5;\n      margin-bottom: 30px;\n      font-size: 2.2em;\n    }\n\n    .card {\n      background: white;\n      border-radius: 16px;\n      padding: 24px;\n      margin: 0 auto 30px auto;\n      max-width: 700px;\n      box-shadow: 0 6px 12px rgba(0,0,0,0.1);\n      transition: transform 0.2s ease;\n    }\n\n    .card:hover {\n      transform: scale(1.02);\n    }\n\n    .card h2 {\n      margin-top: 0;\n      font-size: 1.5em;\n      color: #37474f;\n    }\n\n    .rating {\n      font-size: 1.1em;\n      margin-bottom: 10px;\n      color: #fbc02d;\n    }\n\n    p {\n      margin: 6px 0;\n      font-size: 0.96em;\n      color: #455a64;\n    }\n\n    .icon {\n      margin-right: 6px;\n      color: #1e88e5;\n    }\n\n    a {\n      color: #039be5;\n      text-decoration: none;\n    }\n\n    a:hover {\n      text-decoration: underline;\n    }\n\n    button {\n      display: block;\n      margin: 0 auto 40px auto;\n      padding: 12px 24px;\n      background-color: #1e88e5;\n      color: white;\n      font-size: 1em;\n      border: none;\n      border-radius: 8px;\n      cursor: pointer;\n      box-shadow: 0 4px 10px rgba(0,0,0,0.1);\n    }\n\n    button:hover {\n      background-color: #1565c0;\n    }\n  </style>\n</head>\n<body>\n  <h1>Relatório de Clínicas Veterinárias em Maceió</h1>\n\n  <button onclick=\"exportPDF()\">📄 Exportar como PDF</button>\n\n  ${cardsHtml}\n\n  <script src=\"https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js\"></script>\n  <script>\n    function exportPDF() {\n      const element = document.body;\n      const opt = {\n        margin:       0.5,\n        filename:     'relatorio-clinicas.pdf',\n        image:        { type: 'jpeg', quality: 0.98 },\n        html2canvas:  { scale: 2 },\n        jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' }\n      };\n      html2pdf().from(element).set(opt).save();\n    }\n  </script>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    html: finalHtml\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,1328],"id":"f1bfe87c-5753-4468-bdc1-14259e01ed6c","name":"Code1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"985b3855-89db-46e0-95d8-4bc07dae9edd","name":"teste","value":"={{ $json.html }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,1328],"id":"d3a74575-6901-46c0-8f0c-c3fee7df2dde","name":"Edit Fields3","disabled":true},{"parameters":{"operation":"set","key":"html","value":"={{ $json.teste }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[944,1328],"id":"303a24e0-6c83-4ee1-9278-8c2a2fb68d7c","name":"Redis2","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1168,1328],"id":"fc55baa7-bc36-49cd-a531-9774b897e835","name":"No Operation, do nothing1","disabled":true},{"parameters":{"content":"## verifica por regiao\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":300,"width":1880},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-384,1232],"id":"f9525ee2-c4bb-4197-bddf-08164b8ff8c6","name":"Sticky Note","disabled":true},{"parameters":{"content":"## HTML PARA VISUALIZAR\n\n","height":320,"width":1580},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-256,544],"id":"1c18f08b-ab54-42b2-b1f8-9c7c2a8a5bfb","name":"Sticky Note1"},{"parameters":{"content":"## BUSCA COMPLETA\n\n","height":320,"width":1700},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,880],"id":"f4b23ca2-996d-408a-a885-6f1e9a87ff76","name":"Sticky Note2","disabled":true},{"parameters":{"httpMethod":"POST","path":"73646e8b-e764-4514-b525-e7ce567ae3c7","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-336,1328],"id":"96e6a588-a95c-4f93-96ca-1893d7e7631c","name":"Webhook resposta formulario","webhookId":"73646e8b-e764-4514-b525-e7ce567ae3c7","disabled":true},{"parameters":{"path":"lp","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"63f9cfd0-cd6f-418a-9cdc-889529ffbea9","name":"Webhook1","webhookId":"1dbcac3b-8144-4ad3-858e-0eb4863c01cd"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n<meta charset=\"UTF-8\"/>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>\n<title>SDR de IA • Orca Mídias</title>\n<meta name=\"description\" content=\"SDR de IA que responde em segundos, qualifica leads, move cards no CRM e agenda reuniões no automático. Integra com n8n + WhatsApp Evolution + seu CRM.\">\n<link rel=\"preload\" as=\"image\" href=\"https://orcamidias.com/wp-content/uploads/2021/05/logooficial_Prancheta-1-copia-3.png\">\n<style>\n  :root{\n    --bg:#0b1220;--card:#10192b;--muted:#7c8aa5;--text:#e6eefb;--brand:#29e3c2;--brand-2:#4aa9ff;\n    --stroke:#1e2b44;--ok:#28e0ae;--warn:#ffd166;--danger:#ff6b6b;--wa-in:#1f2b40;--wa-out:#0ea57a;\n  }\n  *{box-sizing:border-box}\n  html,body{margin:0;padding:0}\n  body{\n    font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;\n    background:\n      radial-gradient(1200px 600px at 10% -10%, rgba(41,227,194,.15), transparent 60%),\n      radial-gradient(1000px 600px at 90% 0%, rgba(74,169,255,.14), transparent 55%),\n      linear-gradient(180deg,#0b1220 0%, #0c1426 100%);\n    color:var(--text); line-height:1.5;\n  }\n  .wrap{max-width:1120px;margin:0 auto;padding:24px}\n  /* NAV */\n  .nav{position:sticky;top:0;z-index:50;backdrop-filter:saturate(140%) blur(10px);background:rgba(11,18,32,.6);border-bottom:1px solid var(--stroke)}\n  .nav-inner{display:flex;align-items:center;justify-content:space-between;gap:16px;padding:12px 0}\n  .brand{display:flex;align-items:center;gap:12px}\n  .brand img{height:36px;width:auto;display:block;filter:drop-shadow(0 2px 12px rgba(41,227,194,.25))}\n  .brand h1{margin:0;font-size:16px;font-weight:700;letter-spacing:.3px}\n  .nav-cta a{\n    display:inline-flex;align-items:center;gap:10px;\n    background:linear-gradient(135deg,var(--brand),#22d3ee);\n    color:#051019;text-decoration:none;font-weight:800;padding:10px 16px;border-radius:12px;\n    box-shadow:0 8px 22px rgba(41,227,194,.25), inset 0 -2px 0 rgba(0,0,0,.15);\n  }\n  /* GRID / CARDS */\n  .grid{display:grid;gap:24px}\n  @media(min-width:960px){.grid-2{grid-template-columns:1.25fr 1fr}}\n  .card{\n    background:linear-gradient(180deg, rgba(255,255,255,.02), rgba(255,255,255,.00));\n    border:1px solid var(--stroke);\n    border-radius:18px;padding:24px;box-shadow:0 18px 40px rgba(0,0,0,.25);\n  }\n  .badge{\n    display:inline-block;padding:6px 10px;border:1px solid #244060;border-radius:999px;\n    color:#a9c1ff;background:rgba(74,169,255,.08);font-size:12px;font-weight:700;letter-spacing:.3px;\n  }\n  h2.title{margin:12px 0 6px;font-size:40px;line-height:1.1}\n  h2.title span{color:var(--brand)}\n  p.lead{margin:6px 0 18px;color:#c9d7f2;font-size:18px}\n  .kpis{display:grid;grid-template-columns:repeat(4,1fr);gap:12px;margin-top:14px}\n  @media(max-width:760px){.kpis{grid-template-columns:repeat(2,1fr)}}\n  .kpi{padding:14px;border:1px solid var(--stroke);border-radius:14px;background:#0d1628}\n  .kpi b{font-size:20px;color:var(--brand)}\n  .list{display:grid;gap:12px;margin-top:8px;padding:0}\n  .list li{list-style:none;display:flex;gap:10px;align-items:flex-start}\n  .list .dot{height:22px;width:22px;border-radius:8px;display:grid;place-items:center;\n    background:linear-gradient(135deg, rgba(41,227,194,.2), rgba(74,169,255,.18));\n    border:1px solid var(--stroke); color:#9feadf; font-size:13px}\n  .mini{font-size:12px;color:var(--muted);text-align:left}\n  .center{text-align:center}\n  .muted{color:var(--muted)}\n  .strong{color:#d7e6ff}\n  /* PHONE MOCK (WhatsApp) */\n  .phone{position:relative; border:1px solid #1a2a44; border-radius:28px; padding:14px;\n    background:linear-gradient(180deg,#0c1426,#0a1220); box-shadow:0 18px 40px rgba(0,0,0,.35);}\n  .screen{\n    height:520px; background:#0c1626 url('data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"140\" height=\"140\" viewBox=\"0 0 140 140\"><path fill=\"%23121f35\" d=\"M0 128h12v12H0zM64 64h12v12H64zM128 0h12v12h-12z\"/></svg>') repeat;\n    border-radius:18px; overflow:hidden; display:flex; flex-direction:column; border:1px solid #183053;\n  }\n  .statusbar{height:36px; display:flex; align-items:center; justify-content:center; gap:8px; color:#cfe7ff; font-size:12px; background:#0d1a2e; border-bottom:1px solid #183053}\n  .chat{flex:1; padding:14px; overflow:auto}\n  .msg{max-width:78%; padding:10px 12px; border-radius:14px; margin:6px 0; font-size:14px; line-height:1.35; box-shadow:0 2px 0 rgba(0,0,0,.15)}\n  .in{background:var(--wa-in); color:#d5e8ff; border:1px solid #1f365e}\n  .out{background:linear-gradient(135deg,#0ea57a,#0a8f6a); color:#05130f; margin-left:auto}\n  .time{display:block; font-size:10px; opacity:.7; margin-top:6px}\n  .typing{display:inline-block;width:36px;height:18px;border-radius:10px;background:#1a2a44;padding:4px;vertical-align:middle}\n  .typing span{display:inline-block;width:6px;height:6px;background:#88b6ff;border-radius:50%;margin:0 2px;animation:b 1.2s infinite ease-in-out}\n  .typing span:nth-child(2){animation-delay:.15s}.typing span:nth-child(3){animation-delay:.3s}\n  @keyframes b{0%,80%,100%{opacity:.3;transform:translateY(0)}40%{opacity:1;transform:translateY(-3px)}}\n  .quick{display:flex;gap:8px;flex-wrap:wrap;margin-top:8px}\n  .pill{border:1px solid #285e6e;color:#a9f6e6;padding:6px 10px;border-radius:999px;font-size:12px;cursor:pointer;background:rgba(41,227,194,.06)}\n  /* FORM + BUTTONS */\n  form{display:grid;gap:12px;margin-top:12px}\n  input{\n    padding:12px 14px;font-size:16px;border-radius:12px;border:1px solid #213154;background:#0c1a2c;color:var(--text);\n    outline:none;transition:border .2s;\n  }\n  input:focus{border-color:#3556a9}\n  .btn{display:inline-flex;align-items:center;justify-content:center;gap:10px;width:100%;\n    padding:14px 16px;border-radius:14px;border:1px solid #0d2338;cursor:pointer;\n    background:linear-gradient(135deg,var(--brand),var(--brand-2));\n    color:#06121a;font-weight:900;text-decoration:none;box-shadow:0 14px 30px rgba(41,227,194,.25);\n  }\n  .btn-ghost{background:#0e1a2e;color:#cde7ff;border:1px solid var(--stroke)}\n  .btn.highlight{\n    font-size:20px; padding:18px 20px;\n    background:linear-gradient(135deg,#29e3c2,#4aa9ff,#29e3c2); background-size:200% 200%;\n    animation:gradientShift 6s ease infinite, pulse 2s infinite;\n    color:#06121a; text-transform:uppercase; letter-spacing:.5px;\n    box-shadow:0 0 25px rgba(41,227,194,.6),0 0 12px rgba(74,169,255,.6);\n  }\n  @keyframes gradientShift {0%{background-position:0% 50%}50%{background-position:100% 50%}100%{background-position:0% 50%}}\n  @keyframes pulse {0%{transform:scale(1)}50%{transform:scale(1.03)}100%{transform:scale(1)}}\n  /* STICKY CTA (mobile) */\n  .cta-bar{position:fixed;bottom:0;left:0;right:0;z-index:60;display:none;background:rgba(12,20,38,.95);border-top:1px solid var(--stroke);backdrop-filter:saturate(140%) blur(8px)}\n  .cta-bar .inner{max-width:1120px;margin:0 auto;padding:12px 16px}\n  .cta-bar .btn{padding:14px 16px;font-size:16px}\n  @media(max-width:860px){.cta-bar{display:block}}\n  /* FOOTER */\n  footer{padding:32px 0;color:#7f92b6;text-align:center;border-top:1px solid var(--stroke);margin-top:24px}\n</style>\n</head>\n<body>\n  <!-- NAV -->\n  <div class=\"nav\">\n    <div class=\"wrap nav-inner\">\n      <div class=\"brand\">\n        <img src=\"https://orcamidias.com/wp-content/uploads/2021/05/logooficial_Prancheta-1-copia-3.png\" alt=\"Orca Mídias Logo\" height=\"36\" loading=\"eager\">\n        <h1>SDR de IA • Orca Mídias</h1>\n      </div>\n      <div class=\"nav-cta\">\n        <a href=\"#quero\" aria-label=\"Falar agora no WhatsApp\">⚡ Falar agora</a>\n      </div>\n    </div>\n  </div>\n\n  <!-- HERO -->\n  <div class=\"wrap\" style=\"padding-top:48px\">\n    <div class=\"grid grid-2\">\n      <!-- Copy -->\n      <div class=\"card\" aria-labelledby=\"hero-title\">\n        <span class=\"badge\">MAIS REUNIÕES. MENOS ATRITO.</span>\n        <h2 id=\"hero-title\" class=\"title\">Responda em <span>47s</span>. Qualifique. Agende. <br/>No automático.</h2>\n        <p class=\"lead\">Seu SDR de Inteligência Artificial atende 24/7, move cards no CRM e aciona o closer. Você foca em fechar — o bot faz o resto.</p>\n\n        <div class=\"kpis\" role=\"list\" aria-label=\"Indicadores de performance\">\n          <div class=\"kpi\"><div class=\"muted\">1ª RESPOSTA</div><b>47s</b></div>\n          <div class=\"kpi\"><div class=\"muted\">APROVEITAMENTO</div><b>+68%</b></div>\n          <div class=\"kpi\"><div class=\"muted\">REUNIÕES</div><b>3–5x</b></div>\n          <div class=\"kpi\"><div class=\"muted\">NO-SHOW</div><b>-32%</b></div>\n        </div>\n\n        <ul class=\"list\" style=\"margin-top:12px\">\n          <li><span class=\"dot\" aria-hidden=\"true\">💬</span><div><b>Aborda & qualifica</b> no WhatsApp com roteiros inteligentes.</div></li>\n          <li><span class=\"dot\" aria-hidden=\"true\">🗂</span><div><b>Move o card</b> automaticamente no Pipedrive/RD/HubSpot.</div></li>\n          <li><span class=\"dot\" aria-hidden=\"true\">📞</span><div><b>Aciona o closer</b> com contexto completo e agenda.</div></li>\n          <li><span class=\"dot\" aria-hidden=\"true\">💳</span><div><b>Recupera pagamento</b> (boleto/PIX) com follow-up humanizado.</div></li>\n        </ul>\n\n        <div class=\"grid\" style=\"grid-template-columns:1fr 1fr; gap:12px; margin-top:16px\">\n          <a class=\"btn\" href=\"#quero\">🤖 Quero meu SDR de IA</a>\n          <a class=\"btn btn-ghost\" href=\"#como-funciona\">▶️ Ver como funciona</a>\n        </div>\n        <p class=\"mini\" style=\"margin-top:10px\">Garantia 30 dias • Integra com n8n + WhatsApp Evolution + seu CRM</p>\n      </div>\n\n      <!-- Phone mock -->\n      <div class=\"phone\" aria-label=\"Simulação de conversa no WhatsApp\">\n        <div class=\"screen\" id=\"wa-screen\">\n          <div class=\"statusbar\">SDR • Orca Mídias • online</div>\n          <div class=\"chat\" id=\"chat\" aria-live=\"polite\"></div>\n          <div style=\"padding:10px;border-top:1px solid #183053;background:#0d1a2e;display:flex;gap:8px\">\n            <div class=\"pill\" data-reply=\"Quero agendar\">Quero agendar</div>\n            <div class=\"pill\" data-reply=\"Valores e planos\">Valores e planos</div>\n            <div class=\"pill\" data-reply=\"Falar com humano\">Falar com humano</div>\n          </div>\n        </div>\n      </div>\n    </div>\n\n    <!-- PROVAS -->\n    <section id=\"provas\" class=\"grid\" style=\"grid-template-columns:repeat(auto-fit,minmax(240px,1fr)); margin-top:28px\">\n      <div class=\"card center\">\n        <div class=\"badge\">CASO REAL</div>\n        <h3>+4,6x agendas</h3>\n        <p class=\"muted\">Resposta &lt; 2 minutos = lead quente não esfria.</p>\n      </div>\n      <div class=\"card center\">\n        <div class=\"badge\">EFICIÊNCIA</div>\n        <h3>−37h/mês</h3>\n        <p class=\"muted\">Menos digitar, mais fechar. Seu time agradece.</p>\n      </div>\n      <div class=\"card center\">\n        <div class=\"badge\">QUALIDADE</div>\n        <h3>Scripts por nicho</h3>\n        <p class=\"muted\">Clínicas, academias, estética, educação e serviços.</p>\n      </div>\n    </section>\n\n    <!-- COMO FUNCIONA -->\n    <section id=\"como-funciona\" class=\"grid grid-2\">\n      <div class=\"card\">\n        <h3>Por que isso funciona?</h3>\n        <ul class=\"list\">\n          <li><span class=\"dot\" aria-hidden=\"true\">⚡</span><div><b>Velocidade vende.</b> Primeira resposta decide quem fecha.</div></li>\n          <li><span class=\"dot\" aria-hidden=\"true\">🧠</span><div><b>Roteiros com 10 ganchos.</b> Teste A/B constante (70/20/10).</div></li>\n          <li><span class=\"dot\" aria-hidden=\"true\">📈</span><div><b>Dados decidem.</b> Ajuste semanal guiado por métricas.</div></li>\n          <li><span class=\"dot\" aria-hidden=\"true\">🧩</span><div><b>Plug & play.</b> Integra com o que você já usa.</div></li>\n        </ul>\n      </div>\n      <div class=\"card\">\n        <h3>Investimento</h3>\n        <div class=\"card\" style=\"background:#0b1629;border-color:#1a355f;margin:0 0 12px 0\">\n          <div class=\"price\"><b>R$ 5.997</b><span class=\"muted\">setup obrigatório (único)</span></div>\n          <p class=\"muted\">Configuração, persona, integrações, roteiros e testes.</p>\n        </div>\n        <div class=\"card\" style=\"background:linear-gradient(135deg,rgba(41,227,194,.08),rgba(74,169,255,.08));border-color:#246b7a;margin:0 0 12px 0\">\n          <div class=\"price\"><b>R$ 1.997/mês</b><span class=\"tag\">PLANO MÍNIMO</span></div>\n          <p class=\"muted\">Otimizações, monitoramento, A/B de ganchos e melhorias contínuas.</p>\n        </div>\n        <p class=\"strong\">Se 1 venda não pagar o mês, a culpa é nossa.</p>\n      </div>\n    </section>\n\n    <!-- FORM -->\n    <section id=\"quero\" aria-labelledby=\"form-title\">\n      <div class=\"card\">\n        <h3 id=\"form-title\" class=\"center\">Ative seu SDR de IA agora</h3>\n        <p class=\"mini center\">Resposta média: 47s • Sem contrato anual • Cancelamento simples</p>\n        <form id=\"leadForm\" action=\"https://n8n-n8n.uw3mer.easypanel.host/webhook/agenteSDR\" method=\"POST\">\n          <input type=\"text\" name=\"nome\" placeholder=\"Seu nome\" autocomplete=\"name\" required/>\n          <input type=\"tel\" name=\"whatsapp\" placeholder=\"Seu WhatsApp\" inputmode=\"tel\" autocomplete=\"tel\" required/>\n          <!-- Captura automática -->\n          <input type=\"hidden\" name=\"page_url\" id=\"page_url\">\n          <input type=\"hidden\" name=\"utm_source\" id=\"utm_source\">\n          <input type=\"hidden\" name=\"utm_medium\" id=\"utm_medium\">\n          <input type=\"hidden\" name=\"utm_campaign\" id=\"utm_campaign\">\n          <input type=\"hidden\" name=\"utm_term\" id=\"utm_term\">\n          <input type=\"hidden\" name=\"utm_content\" id=\"utm_content\">\n          <button type=\"submit\" class=\"btn highlight\" aria-label=\"Enviar dados para ativar o SDR de IA\">🚀 Quero vender no automático</button>\n        </form>\n        <p class=\"mini center\">⚡ Resposta média: 47s • Garantia de 30 dias</p>\n      </div>\n    </section>\n  </div>\n\n  <!-- MOBILE STICKY CTA -->\n  <div class=\"cta-bar\" role=\"region\" aria-label=\"Ação rápida\">\n    <div class=\"inner\">\n      <a class=\"btn\" href=\"#quero\">🚀 Ativar SDR de IA agora</a>\n    </div>\n  </div>\n\n  <footer>\n    <div class=\"wrap\">\n      <img src=\"https://orcamidias.com/wp-content/uploads/2021/05/logooficial_Prancheta-1-copia-3.png\" alt=\"Orca Mídias\" height=\"28\" style=\"opacity:.9;vertical-align:middle\">\n      <div style=\"height:8px\"></div>\n      © 2025 Orca Mídias — Todos os direitos reservados\n    </div>\n  </footer>\n\n<script>\n/* Mock do WhatsApp do SDR em ação */\n(function(){\n  const chat = document.getElementById('chat');\n\n  const msgs = [\n    {type:'in',  text:'Oi! Sou o SDR IA da Orca Mídias 👋', delay:600},\n    {type:'in',  text:'Consigo te responder agora e já deixar sua reunião agendada.', delay:1400},\n    {type:'out', text:'Legal! Como funciona?', delay:800},\n    {type:'in',  text:'Simples: eu faço a triagem, movo seu card no CRM e aciono um closer quando fizer sentido.', delay:1200},\n    {type:'in',  text:'Quer ver na prática? Posso te mandar os horários disponíveis de hoje.', delay:1000},\n  ];\n\n  function bubble({type,text}) {\n    const b = document.createElement('div');\n    b.className = 'msg ' + type;\n    b.innerHTML = text + '<span class=\"time\">'+new Date().toLocaleTimeString([], {hour:\"2-digit\", minute:\"2-digit\"})+'</span>';\n    chat.appendChild(b);\n    chat.scrollTop = chat.scrollHeight;\n  }\n\n  function typing(show=true){\n    let t = document.getElementById('typing');\n    if(show && !t){\n      const wrap = document.createElement('div');\n      wrap.id='typing';\n      wrap.className='msg in';\n      wrap.innerHTML = '<div class=\"typing\"><span></span><span></span><span></span></div>';\n      chat.appendChild(wrap); chat.scrollTop = chat.scrollHeight;\n    }\n    if(!show && t){ t.remove(); }\n  }\n\n  // Sequência automática\n  let i=0;\n  function next(){\n    if(i>=msgs.length) return;\n    const m = msgs[i++];\n    typing(true);\n    setTimeout(()=>{ typing(false); bubble(m); next(); }, m.delay);\n  }\n  next();\n\n  // Quick replies\n  document.querySelectorAll('.pill').forEach(p=>{\n    p.addEventListener('click', ()=>{\n      bubble({type:'out', text:p.dataset.reply});\n      typing(true);\n      setTimeout(()=>{\n        typing(false);\n        if(p.dataset.reply.includes('agendar')){\n          bubble({type:'in', text:'Perfeito! Esses horários estão livres: 14:30 • 16:00 • 19:15. Qual prefere?'});\n        } else if(p.dataset.reply.includes('Valores')){\n          bubble({type:'in', text:'Setup único R$ 5.997 + manutenção a partir de R$ 1.997/mês. Uma venda paga o mês. Quer ativar agora?'});\n        } else {\n          bubble({type:'in', text:'Sem problema. Já subi seu card pro closer humano e ele te chama ainda hoje ✅'});\n        }\n      }, 900);\n    });\n  });\n\n  // Captura UTMs + URL\n  const params = new URLSearchParams(window.location.search);\n  const setIf = (id, key) => {\n    const el = document.getElementById(id);\n    if(!el) return;\n    const val = params.get(key) || '';\n    el.value = val;\n  };\n  (function capture(){\n    const urlEl = document.getElementById('page_url');\n    if(urlEl) urlEl.value = window.location.href;\n    setIf('utm_source','utm_source');\n    setIf('utm_medium','utm_medium');\n    setIf('utm_campaign','utm_campaign');\n    setIf('utm_term','utm_term');\n    setIf('utm_content','utm_content');\n  })();\n\n  // UX do formulário: desabilita botão ao enviar\n  const form = document.getElementById('leadForm');\n  if(form){\n    form.addEventListener('submit', function(){\n      const btn = form.querySelector('button[type=\"submit\"]');\n      if(btn){\n        btn.setAttribute('disabled','disabled');\n        btn.textContent = 'Enviando...';\n      }\n    });\n  }\n\n  // Acessibilidade: rolar suave para CTAs\n  document.querySelectorAll('a[href^=\"#\"]').forEach(a=>{\n    a.addEventListener('click', (e)=>{\n      const id = a.getAttribute('href').slice(1);\n      const el = document.getElementById(id);\n      if(el){ e.preventDefault(); el.scrollIntoView({behavior:'smooth', block:'start'}); }\n    });\n  });\n})();\n</script>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[320,0],"id":"a9f62734-88e9-402c-b0d7-248a3f95c4f9","name":"HTML1"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[608,0],"id":"b4f622ed-07e8-4d14-aaaf-624f3729974a","name":"Respond to Webhook1"},{"parameters":{"assignments":{"assignments":[{"id":"da808665-5925-43a9-919e-e9a2a6178ec6","name":"ID_Resposta","value":"={{ $execution.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,224],"id":"7991a075-2f07-4c86-bce6-6b8669319ee0","name":"Set Criar ID"},{"parameters":{"httpMethod":"POST","path":"resposta","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-176,256],"id":"54e78f5e-01d7-4f2c-b9af-3a59adf61ace","name":"webhook resposta briefing","webhookId":"d276b2a7-6774-4290-80ae-7dad47a97d7f","disabled":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE","mode":"list","cachedResultName":"Respostas Briefing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID_da_Resposta":"={{ $json.ID_Resposta }}","Data_da_Resposta":"={{ $('webhook resposta briefing').item.json.body.dataHoje }}","Nome_do_Expert":"={{ $('webhook resposta briefing').item.json.body.nomeExpert }}","Produtos_e_Servicos":"={{ $('webhook resposta briefing').item.json.body.produtosServicos }}","Ticket_Medio":"={{ $('webhook resposta briefing').item.json.body.ticketMedio }}","Diferencial_Competitivo":"={{ $('webhook resposta briefing').item.json.body.diferencialCompetitivo }}","Produtos_de_Autoridade":"={{ $('webhook resposta briefing').item.json.body.produtosAutoridade }}","Objetivos_do_Negocio":"={{ $('webhook resposta briefing').item.json.body.objetivosNegocio }}","Desafios_no_Digital":"={{ $('webhook resposta briefing').item.json.body.desafiosDigital }}","Perfis_de_Clientes":"={{ $('webhook resposta briefing').item.json.body.perfisClientes }}","Possui_Identidade_Visual":"={{ $('webhook resposta briefing').item.json.body.possuiIdentidadeVisual }}","URL_do_Site":"={{ $('webhook resposta briefing').item.json.body.siteUrl }}","Links_Redes_Sociais":"={{ $('webhook resposta briefing').item.json.body.redesSociais }}","Reconhecimento_Desejado":"={{ $('webhook resposta briefing').item.json.body.reconhecimentoPositivo }}","Reconhecimento_Evitado":"={{ $('webhook resposta briefing').item.json.body.reconhecimentoNegativo }}","Referencias_Instagram":"={{ $('webhook resposta briefing').item.json.body.referenciasInstagram }}","Referencias_Youtube":"={{ $('webhook resposta briefing').item.json.body.referenciasYoutube }}","Referencias_Gerais":"={{ $('webhook resposta briefing').item.json.body.referenciasGerais }}","Temas_de_Conteudo":"={{ $('webhook resposta briefing').item.json.body.temasConteudo }}","Fontes_Confiaveis":"={{ $('webhook resposta briefing').item.json.body.fontesConfiaveis }}","Palavras_Chave":"={{ $('webhook resposta briefing').item.json.body.palavrasChave }}","Pensa_em_Infoprodutos":"={{ $('webhook resposta briefing').item.json.body.pensaEmInfoprodutos }}","Ideia_de_Infoproduto":"={{ $('webhook resposta briefing').item.json.body.ideiaInfoproduto }}","Concorrentes_Diretos":"={{ $('webhook resposta briefing').item.json.body.concorrentesDiretos }}","Empresas_Inspiracao":"={{ $('webhook resposta briefing').item.json.body.empresasInspiracao }}","Informacoes_Finais":"={{ $('webhook resposta briefing').item.json.body.informacoesFinais }}","Carimbo_de_Data_Hora":"={{ $now.toISO() }}"},"matchingColumns":["ID_da_Resposta"],"schema":[{"id":"ID_da_Resposta","displayName":"ID_da_Resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Carimbo_de_Data_Hora","displayName":"Carimbo_de_Data_Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data_da_Resposta","displayName":"Data_da_Resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome_do_Expert","displayName":"Nome_do_Expert","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Produtos_e_Servicos","displayName":"Produtos_e_Servicos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ticket_Medio","displayName":"Ticket_Medio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Diferencial_Competitivo","displayName":"Diferencial_Competitivo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Produtos_de_Autoridade","displayName":"Produtos_de_Autoridade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Objetivos_do_Negocio","displayName":"Objetivos_do_Negocio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Desafios_no_Digital","displayName":"Desafios_no_Digital","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Perfis_de_Clientes","displayName":"Perfis_de_Clientes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Possui_Identidade_Visual","displayName":"Possui_Identidade_Visual","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL_do_Site","displayName":"URL_do_Site","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Links_Redes_Sociais","displayName":"Links_Redes_Sociais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reconhecimento_Desejado","displayName":"Reconhecimento_Desejado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reconhecimento_Evitado","displayName":"Reconhecimento_Evitado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Referencias_Instagram","displayName":"Referencias_Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Referencias_Youtube","displayName":"Referencias_Youtube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Referencias_Gerais","displayName":"Referencias_Gerais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Temas_de_Conteudo","displayName":"Temas_de_Conteudo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fontes_Confiaveis","displayName":"Fontes_Confiaveis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Palavras_Chave","displayName":"Palavras_Chave","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Pensa_em_Infoprodutos","displayName":"Pensa_em_Infoprodutos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ideia_de_Infoproduto","displayName":"Ideia_de_Infoproduto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Concorrentes_Diretos","displayName":"Concorrentes_Diretos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Empresas_Inspiracao","displayName":"Empresas_Inspiracao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Informacoes_Finais","displayName":"Informacoes_Finais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[544,224],"id":"fa6f494e-b640-4858-8e2d-3cdb48944297","name":"update Respostas Briefing","credentials":{"googleSheetsOAuth2Api":{"id":"ekUi8cQCgpitM03R","name":"Google Sheets Orca Mídias"}}},{"parameters":{"fieldToSplitOut":"Nome_do_Expert","include":"selectedOtherFields","fieldsToInclude":"ID_da_Resposta, Data_da_Resposta, Nome_do_Expert","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[768,224],"id":"625fc270-7bf6-41b1-afb5-b4cd38fe8d72","name":"Split Out2","disabled":true}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Code","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Redis":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"HTML1","type":"main","index":0}]]},"HTML1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Webhook resposta formulario":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"webhook resposta briefing":{"main":[[]]},"Set Criar ID":{"main":[[{"node":"update Respostas Briefing","type":"main","index":0}]]},"update Respostas Briefing":{"main":[[{"node":"Split Out2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.adabtech.com.br","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, deflate, br, zstd","accept-language":"pt,en-US;q=0.9,en;q=0.8,pt-BR;q=0.7","cookie":"_ga=GA1.1.419946771.1718141795; rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2Bhqt%2BAyt%2FkkmddWhyFSW%2BiMAjQishTbCk%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2BxB4EvR75CKthVRDzwz1QNStDlrM47QsU%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjdlZjk5YTE1LTNmMGUtNGE1My05YTUyLTI1M2MwZTBiNjk1YSIsImhhc2giOiJWT0Fub0xHa2J4IiwiYnJvd3NlcklkIjoiaHZ0QW1SZ2J2cy9lSXRIckJaY2Y1eWtOKy9oeUxMMi95bkdtSC9SSHZwcz0iLCJpYXQiOjE3NTAwNzk4MTAsImV4cCI6MTc1MDY4NDYxMH0.xhXghZi-D4xZ4Z5ymfWGgRnRffuo4GzAKNWyBqZDM-w; _ga_MFB4YSV2D4=GS2.1.s1750248543$o31$g0$t1750248560$j43$l0$h0; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX19PVVu3UEW64jkL%2Bqr%2FFIjpdKgKQkAg62PtdvAJLpjiTU3Pb8ASG2aA8HI98IJ2ochwcmyWci9qgg%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19I06oYz27trpgWJVvdekZwaCbUFb92g5h6U3v48hBHyyqnCfhD8%2BpKZztko3br0tYv4%2FNs1DWJeHkyw%2FssBGwrVueGr1V5MJ2qNhTasPF1yoUf7FXcII2gf6PbDXk8bUxmIfELMuA4d7XVB7XOxwFVp87DOZXMkp0%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2Ba5E%2FXkXdQwHt4MMN5uKrkPt76IJWvbiSUidmdn14zjI1BI8Vq6wdLN8dCCeZIyAtuiNAzECVKIl03abKLWvlpIh%2B1KG%2FuI4dAY4Um33ud6rXone4W8854MQUYBKs3g2M%2BQL901r7T2A%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%223728f878330b99ae7ecf078d1ff75229794c048aabc3ee228198fa5196bb5eae%237ef99a15-3f0e-4a53-9a52-253c0e0b695a%22%2C%22%24sesid%22%3A%5B1750272733009%2C%2201978431-8f71-7ef7-b4ce-213368ef5dbd%22%2C1750269529968%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n.adabtech.com.br%2Fsignout%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2FSeSZppF0F9JBRJbI7kbgPrAcQxWu6JD2DX3Q%2BxcAaZIJzPrlWGWAtnY44B6lL%2FIfzJgXGa%2BpDbsTruv16IcxV657LTtNxy5ALtJsjWhfpKUgFB1%2FdPXHyznrA5tvtWNjwJWzhjc6pbg%3D%3D","priority":"u=0, i","sec-ch-ua":"\"Google Chrome\";v=\"137\", \"Chromium\";v=\"137\", \"Not/A)Brand\";v=\"24\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"none","sec-fetch-user":"?1","upgrade-insecure-requests":"1","x-forwarded-for":"138.0.199.173","x-forwarded-host":"n8n.adabtech.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"45ce1b233065","x-real-ip":"138.0.199.173"},"params":{},"query":{},"body":{},"webhookUrl":"https://n8n.adabtech.com.br/webhook/18b9ef2e-60e4-4bfb-b2cf-23efd6a8afc0","executionMode":"production"}}],"Webhook resposta formulario":[{"json":{"headers":{"host":"n8n.adabtech.com.br","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36","content-length":"38","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"pt,en-US;q=0.9,en;q=0.8,pt-BR;q=0.7","content-type":"application/json","cookie":"_ga=GA1.1.419946771.1718141795; rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2Bhqt%2BAyt%2FkkmddWhyFSW%2BiMAjQishTbCk%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2BxB4EvR75CKthVRDzwz1QNStDlrM47QsU%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjdlZjk5YTE1LTNmMGUtNGE1My05YTUyLTI1M2MwZTBiNjk1YSIsImhhc2giOiJWT0Fub0xHa2J4IiwiYnJvd3NlcklkIjoiaHZ0QW1SZ2J2cy9lSXRIckJaY2Y1eWtOKy9oeUxMMi95bkdtSC9SSHZwcz0iLCJpYXQiOjE3NTAwNzk4MTAsImV4cCI6MTc1MDY4NDYxMH0.xhXghZi-D4xZ4Z5ymfWGgRnRffuo4GzAKNWyBqZDM-w; _ga_MFB4YSV2D4=GS2.1.s1750248543$o31$g0$t1750248560$j43$l0$h0; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX19SzzIcy2wWb%2B9PqiNAkp1jouP404cJ9rawL7QC0DH4MeoAaLxRVQHecZBuqJReZZySccp1I1CPzQ%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19clYKa0s%2BYav77soDgyc03zuzpCyiC0nly1JRH29RYgXFSb1JdMfUI6Dk%2B5oi0gHUKCR1mHh4JPmkek%2Bfupb0QePHArsf1lSomrVVUBI3Y8MAuGJ6TgCncfyTL7SkHcT7wd4fFJGEas%2FlR53Hq1AEkrNFthRDs6ak%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2BlayKKUxiiNYTmHDbdAUuWd7V5okfrniQg4azCJpJHLw%2Bd4dWFd5ngM0Gq6Qsop186i5D4s4cFmwUU%2Fm500fBmNarwZfLX8w0vuBw5aAkjMATPAv5TA8Cy8BKI9cf%2FdQ5Xz%2FxVS2BZ9A%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%223728f878330b99ae7ecf078d1ff75229794c048aabc3ee228198fa5196bb5eae%237ef99a15-3f0e-4a53-9a52-253c0e0b695a%22%2C%22%24sesid%22%3A%5B1750289341207%2C%220197855d-e8d8-7a42-a10e-5e266391d436%22%2C1750289213655%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n.adabtech.com.br%2Fsignout%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX18v%2B7WlUWKSt50H2m1cxWiDuK5HPlzOsPCW2tP%2F3XxGh3EUwtGD8dckmBHVYgiqc6FVi5fnGd8OOqGX62raoz4qhEGXCOeDBOBHwppK1lmfvemM0Yt7%2FH9bucgk5lZur8QjW%2BCp3t6aeQ%3D%3D","origin":"https://n8n.adabtech.com.br","priority":"u=1, i","referer":"https://n8n.adabtech.com.br/webhook/d3e62c58-adb3-41ee-9e9c-9388c0c3f8a0","sec-ch-ua":"\"Google Chrome\";v=\"137\", \"Chromium\";v=\"137\", \"Not/A)Brand\";v=\"24\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"same-origin","x-forwarded-for":"138.0.199.173","x-forwarded-host":"n8n.adabtech.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"45ce1b233065","x-real-ip":"138.0.199.173"},"params":{},"query":{},"body":{"nicho":"futebol","cidade":"Maceió"},"webhookUrl":"https://n8n.adabtech.com.br/webhook/e76cde4e-6f60-45bc-9759-fe2b641360fe","executionMode":"production"}}]},"versionId":"f047337d-70ad-4a1b-aa34-538b40c25713","triggerCount":1,"shared":[{"createdAt":"2025-09-08T14:33:39.771Z","updatedAt":"2025-09-08T14:33:39.771Z","role":"workflow:owner","workflowId":"ALQSL4jrBKTSmWJ2","projectId":"TZpK0B2uX65EVlPC"}],"tags":[{"createdAt":"2025-07-05T23:21:37.588Z","updatedAt":"2025-07-05T23:21:37.588Z","id":"P8UlFcWL9CDM11wf","name":"Adavio Tittoni"},{"createdAt":"2025-07-02T04:49:45.162Z","updatedAt":"2025-07-02T04:49:45.162Z","id":"rL7QoEmW9Q2mTSZH","name":"academia lendaria"}]}