8---mvp-com-ia---briefing-estratégico-0PsoDBl2Vzc9VOG8.json
{"createdAt":"2025-07-05T23:21:11.801Z","updatedAt":"2025-09-08T14:28:48.000Z","id":"0PsoDBl2Vzc9VOG8","name":"8 - MVP com IA - Briefing Estratégico","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-336,1008],"id":"25094dd5-b8eb-41dc-b971-f079a89fc2b1","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"8c741f94-8636-4eee-8acf-d1b2193b7055","name":"nicho","value":"escritorio de advocacia","type":"string"},{"id":"3273a282-829c-4835-bbb1-1f96a8a97624","name":"estado","value":"alagoas","type":"string"},{"id":"b515330b-407c-48c9-a2c1-5d0370e0e9af","name":"cidade","value":"maceio","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-176,1008],"id":"373de939-6564-4e5e-a469-c9398c02f47f","name":"Edit Fields","disabled":true},{"parameters":{"url":"=https://serpapi.com/search.json?q={{ $json.nicho }}&location={{ $json.cidade }},Brazil&num=10&hl=pt&gl=br&api_key=a7d5b2a5ce6fb48205210ee0b8365281348a4f823bce8efd37a73a4d8900e293 ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[48,1008],"id":"5d8ce8f4-9a7f-4b33-8595-144a500024cd","name":"HTTP Request","disabled":true},{"parameters":{"fieldToSplitOut":"local_results.places","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[272,1008],"id":"ac366062-e6a9-49e8-a9c4-a86798ae1849","name":"Split Out","disabled":true},{"parameters":{"jsCode":"const items = $input.all();\nlet cardsHtml = '';\n\nfor (const item of items) {\n  const data = item.json;\n\n  const title = data.title || 'Nome não informado';\n  const rating = data.rating || 'N/A';\n  const reviews = data.reviews || 0;\n  const address = data.address || 'Endereço não informado';\n  const phone = data.phone || 'Telefone indisponível';\n  const hours = data.hours || 'Horário não disponível';\n  const website = data.links?.website;\n  const maps = data.links?.directions;\n\n  cardsHtml += `\n    <div class=\"card\">\n      <h2>${title}</h2>\n      <p class=\"rating\">⭐ <strong>${rating}</strong> (${reviews} avaliação${reviews === 1 ? '' : 'es'})</p>\n      <p><span class=\"icon\">📍</span> ${address}</p>\n      <p><span class=\"icon\">📞</span> ${phone}</p>\n      <p><span class=\"icon\">⏰</span> ${hours}</p>\n      ${website ? `<p><span class=\"icon\">🌐</span> <a href=\"${website}\" target=\"_blank\">${website}</a></p>` : ''}\n      ${maps ? `<p><span class=\"icon\">🗺️</span> <a href=\"${maps}\" target=\"_blank\">Ver no mapa</a></p>` : ''}\n    </div>\n  `;\n}\n\nconst finalHtml = `\n<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Relatório de Concorrentes</title>\n  <style>\n    body {\n      font-family: 'Segoe UI', sans-serif;\n      background: linear-gradient(to right, #e3f2fd, #fce4ec);\n      padding: 40px;\n      margin: 0;\n    }\n\n    h1 {\n      text-align: center;\n      color: #1e88e5;\n      margin-bottom: 30px;\n      font-size: 2.2em;\n    }\n\n    .card {\n      background: white;\n      border-radius: 16px;\n      padding: 24px;\n      margin: 0 auto 30px auto;\n      max-width: 700px;\n      box-shadow: 0 6px 12px rgba(0,0,0,0.1);\n      transition: transform 0.2s ease;\n    }\n\n    .card:hover {\n      transform: scale(1.02);\n    }\n\n    .card h2 {\n      margin-top: 0;\n      font-size: 1.5em;\n      color: #37474f;\n    }\n\n    .rating {\n      font-size: 1.1em;\n      margin-bottom: 10px;\n      color: #fbc02d;\n    }\n\n    p {\n      margin: 6px 0;\n      font-size: 0.96em;\n      color: #455a64;\n    }\n\n    .icon {\n      margin-right: 6px;\n      color: #1e88e5;\n    }\n\n    a {\n      color: #039be5;\n      text-decoration: none;\n    }\n\n    a:hover {\n      text-decoration: underline;\n    }\n\n    button {\n      display: block;\n      margin: 0 auto 40px auto;\n      padding: 12px 24px;\n      background-color: #1e88e5;\n      color: white;\n      font-size: 1em;\n      border: none;\n      border-radius: 8px;\n      cursor: pointer;\n      box-shadow: 0 4px 10px rgba(0,0,0,0.1);\n    }\n\n    button:hover {\n      background-color: #1565c0;\n    }\n  </style>\n</head>\n<body>\n  <h1>Relatório de Clínicas Veterinárias em Maceió</h1>\n\n  <button onclick=\"exportPDF()\">📄 Exportar como PDF</button>\n\n  ${cardsHtml}\n\n  <script src=\"https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js\"></script>\n  <script>\n    function exportPDF() {\n      const element = document.body;\n      const opt = {\n        margin:       0.5,\n        filename:     'relatorio-clinicas.pdf',\n        image:        { type: 'jpeg', quality: 0.98 },\n        html2canvas:  { scale: 2 },\n        jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' }\n      };\n      html2pdf().from(element).set(opt).save();\n    }\n  </script>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    html: finalHtml\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,1008],"id":"cc8703b5-6397-4b0f-b51c-6455cc8f0fa2","name":"Code","disabled":true},{"parameters":{"path":"18b9ef2e-60e4-4bfb-b2cf-23efd6a8afc0","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[144,672],"id":"67402ab9-c53b-415d-89c4-cc8fe7335488","name":"Webhook","webhookId":"18b9ef2e-60e4-4bfb-b2cf-23efd6a8afc0","disabled":true},{"parameters":{"html":"{{ $json.propertyName }}"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[592,672],"id":"9f58b5e6-01f9-453d-a87e-6ab58296ef7a","name":"HTML","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"985b3855-89db-46e0-95d8-4bc07dae9edd","name":"teste","value":"={{ $json.html }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[704,1008],"id":"41847fb3-98e2-4ce2-8a54-de5569ff4968","name":"Edit Fields1","disabled":true},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[800,672],"id":"5fe1a332-c81f-4065-9f7d-b5b630932113","name":"Respond to Webhook","disabled":true},{"parameters":{"operation":"set","key":"html","value":"={{ $json.teste }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[928,1008],"id":"5f572582-57c5-410e-bff1-521d1e923c32","name":"Redis","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1152,1008],"id":"4adc0bbd-c57d-4d0b-a02e-d0ce2d2ad04d","name":"No Operation, do nothing","disabled":true},{"parameters":{"operation":"get","key":"html","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[368,672],"id":"43cb45ec-4ab7-4b6f-bdb2-99dbb0761123","name":"Redis1","disabled":true},{"parameters":{"url":"=https://serpapi.com/search.json?engine=google_maps&q={{ $json.nicho}} &ll=@-9.5757791,-35.780905,14z&api_key=a7d5b2a5ce6fb48205210ee0b8365281348a4f823bce8efd37a73a4d8900e293\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[64,1328],"id":"16b604fc-3c76-4d05-8f3a-3937237cabd7","name":"HTTP Request1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"8c741f94-8636-4eee-8acf-d1b2193b7055","name":"nicho","value":"={{ $json.body.nicho }}","type":"string"},{"id":"3273a282-829c-4835-bbb1-1f96a8a97624","name":"estado","value":"alagoas","type":"string"},{"id":"b515330b-407c-48c9-a2c1-5d0370e0e9af","name":"cidade","value":"={{ $json.body.cidade }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,1328],"id":"112267e0-5d6d-4fac-9a04-27b070cac306","name":"Edit Fields2","disabled":true},{"parameters":{"fieldToSplitOut":"local_results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[288,1328],"id":"89408937-dd3b-47f1-a20e-fb9913cdbc63","name":"Split Out1","disabled":true},{"parameters":{"jsCode":"const items = $input.all();\nlet cardsHtml = '';\n\nfor (const item of items) {\n  const data = item.json;\n\n  const title = data.title || 'Nome não informado';\n  const rating = data.rating || 'N/A';\n  const reviews = data.reviews || 0;\n  const address = data.address || 'Endereço não informado';\n  const phone = data.phone || 'Telefone indisponível';\n  const hours = data.hours || 'Horário não disponível';\n  const website = data.links?.website;\n  const maps = data.links?.directions;\n\n  cardsHtml += `\n    <div class=\"card\">\n      <h2>${title}</h2>\n      <p class=\"rating\">⭐ <strong>${rating}</strong> (${reviews} avaliação${reviews === 1 ? '' : 'es'})</p>\n      <p><span class=\"icon\">📍</span> ${address}</p>\n      <p><span class=\"icon\">📞</span> ${phone}</p>\n      <p><span class=\"icon\">⏰</span> ${hours}</p>\n      ${website ? `<p><span class=\"icon\">🌐</span> <a href=\"${website}\" target=\"_blank\">${website}</a></p>` : ''}\n      ${maps ? `<p><span class=\"icon\">🗺️</span> <a href=\"${maps}\" target=\"_blank\">Ver no mapa</a></p>` : ''}\n    </div>\n  `;\n}\n\nconst finalHtml = `\n<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Relatório de Concorrentes</title>\n  <style>\n    body {\n      font-family: 'Segoe UI', sans-serif;\n      background: linear-gradient(to right, #e3f2fd, #fce4ec);\n      padding: 40px;\n      margin: 0;\n    }\n\n    h1 {\n      text-align: center;\n      color: #1e88e5;\n      margin-bottom: 30px;\n      font-size: 2.2em;\n    }\n\n    .card {\n      background: white;\n      border-radius: 16px;\n      padding: 24px;\n      margin: 0 auto 30px auto;\n      max-width: 700px;\n      box-shadow: 0 6px 12px rgba(0,0,0,0.1);\n      transition: transform 0.2s ease;\n    }\n\n    .card:hover {\n      transform: scale(1.02);\n    }\n\n    .card h2 {\n      margin-top: 0;\n      font-size: 1.5em;\n      color: #37474f;\n    }\n\n    .rating {\n      font-size: 1.1em;\n      margin-bottom: 10px;\n      color: #fbc02d;\n    }\n\n    p {\n      margin: 6px 0;\n      font-size: 0.96em;\n      color: #455a64;\n    }\n\n    .icon {\n      margin-right: 6px;\n      color: #1e88e5;\n    }\n\n    a {\n      color: #039be5;\n      text-decoration: none;\n    }\n\n    a:hover {\n      text-decoration: underline;\n    }\n\n    button {\n      display: block;\n      margin: 0 auto 40px auto;\n      padding: 12px 24px;\n      background-color: #1e88e5;\n      color: white;\n      font-size: 1em;\n      border: none;\n      border-radius: 8px;\n      cursor: pointer;\n      box-shadow: 0 4px 10px rgba(0,0,0,0.1);\n    }\n\n    button:hover {\n      background-color: #1565c0;\n    }\n  </style>\n</head>\n<body>\n  <h1>Relatório de Clínicas Veterinárias em Maceió</h1>\n\n  <button onclick=\"exportPDF()\">📄 Exportar como PDF</button>\n\n  ${cardsHtml}\n\n  <script src=\"https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js\"></script>\n  <script>\n    function exportPDF() {\n      const element = document.body;\n      const opt = {\n        margin:       0.5,\n        filename:     'relatorio-clinicas.pdf',\n        image:        { type: 'jpeg', quality: 0.98 },\n        html2canvas:  { scale: 2 },\n        jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' }\n      };\n      html2pdf().from(element).set(opt).save();\n    }\n  </script>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    html: finalHtml\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,1328],"id":"fc58c338-4301-4121-b3c9-3dd4f52cf5c8","name":"Code1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"985b3855-89db-46e0-95d8-4bc07dae9edd","name":"teste","value":"={{ $json.html }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,1328],"id":"692eb8cb-c353-417d-a8b0-93caa59f505c","name":"Edit Fields3","disabled":true},{"parameters":{"operation":"set","key":"html","value":"={{ $json.teste }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[944,1328],"id":"4a80a75d-f81e-49a6-b72e-bb651cd90459","name":"Redis2","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1168,1328],"id":"189809be-9423-4764-b4c7-d166850cf5dd","name":"No Operation, do nothing1","disabled":true},{"parameters":{"content":"## verifica por regiao\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":300,"width":1880},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-384,1232],"id":"16d40678-deef-4040-8230-b7a416f209b0","name":"Sticky Note","disabled":true},{"parameters":{"content":"## HTML PARA VISUALIZAR\n\n","height":320,"width":1580},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-256,544],"id":"e06e6fc8-fd3c-436b-8d71-52ea755bd051","name":"Sticky Note1"},{"parameters":{"content":"## BUSCA COMPLETA\n\n","height":320,"width":1700},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,880],"id":"d4586f47-eb74-40c7-a08f-616b7a6d315c","name":"Sticky Note2","disabled":true},{"parameters":{"httpMethod":"POST","path":"e76cde4e-6f60-45bc-9759-fe2b641360fe","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-336,1328],"id":"aa08e43c-0c18-4822-9588-7625b5c379dd","name":"Webhook resposta formulario","webhookId":"e76cde4e-6f60-45bc-9759-fe2b641360fe","disabled":true},{"parameters":{"path":"briefing-estrategico","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"e2d0591a-2f16-4957-a9e0-7c6b2722f321","name":"Webhook1","webhookId":"d3e62c58-adb3-41ee-9e9c-9388c0c3f8a0"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Briefing Estratégico Completo - Orca Mídias</title>\n    <style>\n        /* CSS completo e funcional (sem alterações necessárias) */\n        * { margin: 0; padding: 0; box-sizing: border-box; }\n        body { font-family: 'Inter', 'Segoe UI', Arial, sans-serif; background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); min-height: 100vh; padding: 20px; color: #333; }\n        .container { max-width: 900px; margin: 0 auto; background: white; border-radius: 24px; box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15); overflow: hidden; animation: slideUp 0.6s ease-out; }\n        @keyframes slideUp { from { opacity: 0; transform: translateY(30px); } to { opacity: 1; transform: translateY(0); } }\n        .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 40px; text-align: center; position: relative; overflow: hidden; }\n        .logo { max-width: 180px; height: auto; margin-bottom: 20px; filter: brightness(0) invert(1); position: relative; z-index: 2; }\n        .header h1 { font-size: 2.8rem; margin-bottom: 10px; font-weight: 700; position: relative; z-index: 2; }\n        .header p { font-size: 1.3rem; opacity: 0.95; position: relative; z-index: 2; }\n        .progress-container { margin-top: 30px; position: relative; z-index: 2; }\n        .progress-bar { background: rgba(255, 255, 255, 0.2); height: 12px; border-radius: 6px; overflow: hidden; position: relative; }\n        .progress-fill { background: linear-gradient(90deg, #4facfe 0%, #00f2fe 100%); height: 100%; border-radius: 6px; transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1); width: 0%; position: relative; }\n        .step-counter { margin-top: 15px; font-size: 1.1rem; font-weight: 600; }\n        .step-indicator { display: flex; gap: 8px; margin-top: 10px; justify-content: center; }\n        .step-dot { width: 10px; height: 10px; border-radius: 50%; background: rgba(255, 255, 255, 0.3); transition: all 0.3s ease; }\n        .step-dot.active { background: white; transform: scale(1.2); }\n        .step-dot.completed { background: #4facfe; transform: scale(1.1); }\n        .form-container { padding: 40px; }\n        .step { display: none; animation: fadeIn 0.5s ease-in-out; }\n        @keyframes fadeIn { from { opacity: 0; transform: translateY(10px); } to { opacity: 1; transform: translateY(0); } }\n        .step.active { display: block; }\n        .step-title { text-align: center; margin-bottom: 40px; padding: 30px; background: linear-gradient(135deg, #f8f9fa 0%, #e9ecef 100%); border-radius: 20px; border-left: 6px solid #667eea; }\n        .step-title h2 { color: #2c3e50; font-size: 2rem; margin-bottom: 10px; font-weight: 700; }\n        .step-title p { color: #6c757d; font-size: 1.1rem; font-weight: 500; }\n        .section { margin-bottom: 40px; }\n        .form-group { margin-bottom: 30px; position: relative; }\n        label { display: block; margin-bottom: 12px; color: #2c3e50; font-weight: 600; font-size: 1.1rem; line-height: 1.4; }\n        .required { color: #e74c3c; }\n        input, textarea, select { width: 100%; padding: 16px; border: 2px solid #e0e6ed; border-radius: 12px; font-size: 16px; transition: all 0.3s ease; background: white; font-family: inherit; }\n        input:focus, textarea:focus, select:focus { outline: none; border-color: #667eea; box-shadow: 0 0 0 4px rgba(102, 126, 234, 0.1); }\n        input.invalid, textarea.invalid, select.invalid { border-color: #dc3545 !important; background-color: #fff5f5; }\n        textarea { resize: vertical; min-height: 140px; }\n        .navigation { display: flex; justify-content: space-between; align-items: center; padding-top: 20px; border-top: 1px solid #e0e6ed; margin-top: 20px; }\n        .btn { padding: 18px 35px; border: none; border-radius: 12px; font-size: 16px; font-weight: 600; cursor: pointer; transition: all 0.3s ease; text-transform: uppercase; }\n        .btn-primary { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; }\n        .btn-secondary { background: linear-gradient(135deg, #6c757d 0%, #5a6268 100%); color: white; }\n        .btn:disabled { opacity: 0.6; cursor: not-allowed; }\n        .submit-btn { display: none; width: 100%; background: linear-gradient(135deg, #28a745 0%, #20c997 100%); color: white; }\n        .success-message { text-align: center; padding: 40px; background-color: #e8f5e9; border-left: 6px solid #4CAF50; border-radius: 8px;}\n        .success-message h2 { color: #2e7d32; }\n        .radio-group { display: flex; gap: 20px; margin-bottom: 15px; }\n        .radio-group label { font-weight: normal; }\n        .conditional-field { display: none; margin-top: 15px; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <img src=\"https://orcamidias.com/wp-content/uploads/2021/05/logooficial_Prancheta-1-copia-3.png\" alt=\"Logo Orca Mídias\" class=\"logo\" />\n            <h1>Briefing Estratégico</h1>\n            <p>A base para construirmos uma estratégia de marketing sob medida para o seu negócio.</p>\n            <div class=\"progress-container\">\n                <div class=\"progress-bar\"><div class=\"progress-fill\" id=\"progressBar\"></div></div>\n                <div class=\"step-counter\" id=\"stepCounter\">Etapa 1 de 6</div>\n                <div class=\"step-indicator\" id=\"stepIndicator\">\n                    <div class=\"step-dot\"></div><div class=\"step-dot\"></div><div class=\"step-dot\"></div>\n                    <div class=\"step-dot\"></div><div class=\"step-dot\"></div><div class=\"step-dot\"></div>\n                </div>\n            </div>\n        </div>\n\n        <div class=\"form-container\" id=\"formContainer\">\n            <form id=\"briefingForm\" novalidate>\n                <div class=\"step active\" id=\"step1\">\n                    <div class=\"step-title\"><h2>1. Informações Iniciais</h2><p>Vamos começar com os dados básicos do seu projeto.</p></div>\n                    <div class=\"form-group\"><label for=\"dataHoje\">Data de hoje <span class=\"required\">*</span></label><input type=\"date\" id=\"dataHoje\" name=\"dataHoje\" required></div>\n                    <div class=\"form-group\"><label for=\"nomeExpert\">Nome do Expert ou Projeto? <span class=\"required\">*</span></label><input type=\"text\" id=\"nomeExpert\" name=\"nomeExpert\" required></div>\n                </div>\n\n                <div class=\"step\" id=\"step2\">\n                    <div class=\"step-title\"><h2>2. Mercado e Produto</h2><p>Detalhes sobre suas ofertas e seu posicionamento.</p></div>\n                    <div class=\"form-group\"><label for=\"produtosServicos\">Liste os produtos/serviços que você deseja trabalhar <span class=\"required\">*</span></label><textarea id=\"produtosServicos\" name=\"produtosServicos\" required></textarea></div>\n                    <div class=\"form-group\"><label for=\"ticketMedio\">Qual o ticket médio (valor por venda) dos seus produtos/serviços? <span class=\"required\">*</span></label><input type=\"number\" id=\"ticketMedio\" name=\"ticketMedio\" placeholder=\"Ex: 497\" required></div>\n                    <div class=\"form-group\"><label for=\"diferencialCompetitivo\">O que você considera seu principal diferencial em relação aos concorrentes? <span class=\"required\">*</span></label><textarea id=\"diferencialCompetitivo\" name=\"diferencialCompetitivo\" required></textarea></div>\n                    <div class=\"form-group\"><label for=\"produtosAutoridade\">Quais dos seus produtos/serviços podem gerar maior autoridade para sua marca? <span class=\"required\">*</span></label><textarea id=\"produtosAutoridade\" name=\"produtosAutoridade\" required></textarea></div>\n                </div>\n                \n                <div class=\"step\" id=\"step3\">\n                    <div class=\"step-title\"><h2>3. Objetivos e Público-Alvo</h2><p>Suas metas, desafios e para quem você vende.</p></div>\n                    <div class=\"form-group\"><label for=\"objetivosNegocio\">Quais os objetivos do seu negócio a curto, médio e longo prazo? <span class=\"required\">*</span></label><textarea id=\"objetivosNegocio\" name=\"objetivosNegocio\" placeholder=\"CURTO (3-6 meses):&#10;MÉDIO (6-12 meses):&#10;LONGO (1-2 anos):\" required></textarea></div>\n                    <div class=\"form-group\"><label for=\"desafiosDigital\">Quais seus principais desafios no digital hoje? <span class=\"required\">*</span></label><textarea id=\"desafiosDigital\" name=\"desafiosDigital\" required></textarea></div>\n                    <div class=\"form-group\"><label for=\"perfisClientes\">Descreva no mínimo 5 perfis de pessoas que compram (ou que você deseja que comprem) seu produto (personas). <span class=\"required\">*</span></label><textarea id=\"perfisClientes\" name=\"perfisClientes\" placeholder=\"Ex: 1. Joana, 35 anos, empreendedora, busca produtividade...&#10;2. Carlos, 22 anos, estudante, quer uma nova habilidade...\" required></textarea></div>\n                </div>\n\n                <div class=\"step\" id=\"step4\">\n                    <div class=\"step-title\"><h2>4. Identidade e Presença Digital</h2><p>Sua marca e onde ela está presente online.</p></div>\n                    <div class=\"form-group\">\n                        <label>Você já possui uma identidade visual definida (logo, cores, fontes)? <span class=\"required\">*</span></label>\n                        <div class=\"radio-group\">\n                            <label><input type=\"radio\" name=\"possuiIdentidadeVisual\" value=\"Sim\" required> Sim</label>\n                            <label><input type=\"radio\" name=\"possuiIdentidadeVisual\" value=\"Não\"> Não</label>\n                        </div>\n                    </div>\n                    <div class=\"form-group\"><label for=\"siteUrl\">Sua empresa já possui site? Se sim, qual a URL?</label><input type=\"url\" id=\"siteUrl\" name=\"siteUrl\" placeholder=\"https://www.seusite.com.br\"></div>\n                    <div class=\"form-group\"><label for=\"redesSociais\">Copie e cole aqui os links das suas redes sociais (Instagram, Youtube, etc.)</label><textarea id=\"redesSociais\" name=\"redesSociais\"></textarea></div>\n                </div>\n\n                <div class=\"step\" id=\"step5\">\n                    <div class=\"step-title\"><h2>5. Estratégia de Conteúdo</h2><p>A voz da sua marca e suas fontes de inspiração.</p></div>\n                    <div class=\"form-group\"><label for=\"reconhecimentoPositivo\">Como sua empresa gostaria de ser reconhecida nas redes sociais? <span class=\"required\">*</span></label><textarea id=\"reconhecimentoPositivo\" name=\"reconhecimentoPositivo\" placeholder=\"Ex: Como a maior autoridade em..., a mais inovadora, a mais divertida...\" required></textarea></div>\n                    <div class=\"form-group\"><label for=\"reconhecimentoNegativo\">Como sua empresa NÃO gostaria de ser reconhecida? <span class=\"required\">*</span></label><textarea id=\"reconhecimentoNegativo\" name=\"reconhecimentoNegativo\" placeholder=\"Ex: Apenas mais um, amadora, distante do público...\" required></textarea></div>\n                    <div class=\"form-group\"><label for=\"referenciasInstagram\">Cite perfis de referência do seu nicho no Instagram:</label><textarea id=\"referenciasInstagram\" name=\"referenciasInstagram\" placeholder=\"Ex: @perfil1, @perfil2...\"></textarea></div>\n                    <div class=\"form-group\"><label for=\"referenciasYoutube\">Cite perfis de referência do seu nicho no Youtube:</label><textarea id=\"referenciasYoutube\" name=\"referenciasYoutube\" placeholder=\"Ex: Canal Exemplo 1, Canal Exemplo 2...\"></textarea></div>\n                    <div class=\"form-group\"><label for=\"referenciasGerais\">Cite profissionais (de qualquer nicho) que você admira no digital e comente sobre cada um.</label><textarea id=\"referenciasGerais\" name=\"referenciasGerais\"></textarea></div>\n                    <div class=\"form-group\"><label for=\"temasConteudo\">Liste temas e assuntos que você acha importante trabalhar em suas redes sociais <span class=\"required\">*</span></label><textarea id=\"temasConteudo\" name=\"temasConteudo\" required></textarea></div>\n                    <div class=\"form-group\"><label for=\"fontesConfiaveis\">Liste fontes de conteúdo confiável para o seu negócio (sites, livros, artigos...)</label><textarea id=\"fontesConfiaveis\" name=\"fontesConfiaveis\"></textarea></div>\n                    <div class=\"form-group\"><label for=\"palavrasChave\">Liste 10 palavras-chave relevantes para o seu negócio (em ordem de prioridade) <span class=\"required\">*</span></label><textarea id=\"palavrasChave\" name=\"palavrasChave\" required></textarea></div>\n                </div>\n\n                <div class=\"step\" id=\"step6\">\n                    <div class=\"step-title\"><h2>6. Concorrência e Visão Final</h2><p>Análise competitiva e os detalhes finais do projeto.</p></div>\n                    <div class=\"form-group\">\n                        <label>Você pensa no desenvolvimento de infoprodutos? <span class=\"required\">*</span></label>\n                        <div class=\"radio-group\">\n                            <label><input type=\"radio\" name=\"pensaEmInfoprodutos\" value=\"Sim\" required> Sim</label>\n                            <label><input type=\"radio\" name=\"pensaEmInfoprodutos\" value=\"Não\"> Não</label>\n                        </div>\n                        <div class=\"conditional-field\" id=\"detalhesInfoproduto\">\n                            <label for=\"ideiaInfoproduto\">Se sim, já tem alguma ideia estruturada? Comente.</label>\n                            <textarea id=\"ideiaInfoproduto\" name=\"ideiaInfoproduto\"></textarea>\n                        </div>\n                    </div>\n                    <div class=\"form-group\"><label for=\"concorrentesDiretos\">Cite nomes de empresas que você considera concorrentes diretos:</label><textarea id=\"concorrentesDiretos\" name=\"concorrentesDiretos\"></textarea></div>\n                    <div class=\"form-group\"><label for=\"empresasInspiracao\">Cite empresas que são uma inspiração para a sua (inclusive nas redes sociais):</label><textarea id=\"empresasInspiracao\" name=\"empresasInspiracao\"></textarea></div>\n                    <div class=\"form-group\"><label for=\"informacoesFinais\">Para finalizar, descreva informações importantes sobre o seu projeto que não foram questionadas anteriormente.</label><textarea id=\"informacoesFinais\" name=\"informacoesFinais\"></textarea></div>\n                </div>\n\n                <div class=\"navigation\">\n                    <button type=\"button\" class=\"btn btn-secondary\" id=\"prevBtn\">Anterior</button>\n                    <button type=\"button\" class=\"btn btn-primary\" id=\"nextBtn\">Próximo</button>\n                    <button type=\"submit\" class=\"submit-btn btn\" id=\"submitBtn\">Enviar Briefing</button>\n                </div>\n            </form>\n        </div>\n    </div>\n\n    <script>\n        document.addEventListener('DOMContentLoaded', () => {\n            const form = document.getElementById('briefingForm');\n            const submitBtn = document.getElementById('submitBtn');\n            const formContainer = document.getElementById('formContainer');\n            const steps = document.querySelectorAll('.step');\n            const nextBtn = document.getElementById('nextBtn');\n            const prevBtn = document.getElementById('prevBtn');\n            const progressBar = document.getElementById('progressBar');\n            const stepCounter = document.getElementById('stepCounter');\n            const stepDots = document.querySelectorAll('.step-indicator .step-dot');\n            let currentStep = 0;\n            const totalSteps = steps.length;\n\n            const validateStep = (stepIndex) => { \n                let isValid = true;\n                const fields = steps[stepIndex].querySelectorAll('[required]');\n                fields.forEach(field => {\n                    field.classList.remove('invalid');\n                    // Validação especial para radio buttons\n                    if (field.type === 'radio') {\n                        const radioGroup = document.getElementsByName(field.name);\n                        if (![...radioGroup].some(r => r.checked)) {\n                             isValid = false;\n                             // Visualmente pode ser mais complexo destacar, mas a lógica funciona\n                        }\n                    } else if (!field.value.trim()) {\n                        isValid = false;\n                        field.classList.add('invalid');\n                    }\n                });\n                return isValid;\n            };\n            \n            const updateUI = () => { \n                steps.forEach((step, index) => step.classList.toggle('active', index === currentStep));\n                const progress = totalSteps > 1 ? (currentStep / (totalSteps - 1)) * 100 : 0;\n                if(progressBar) progressBar.style.width = `${progress}%`;\n                if(stepCounter) stepCounter.textContent = `Etapa ${currentStep + 1} de ${totalSteps}`;\n\n                stepDots.forEach((dot, index) => {\n                    dot.classList.remove('active', 'completed');\n                    if (index < currentStep) dot.classList.add('completed');\n                    else if (index === currentStep) dot.classList.add('active');\n                });\n\n                prevBtn.disabled = currentStep === 0;\n                nextBtn.style.display = currentStep === totalSteps - 1 ? 'none' : 'block';\n                submitBtn.style.display = currentStep === totalSteps - 1 ? 'block' : 'none';\n            };\n\n            nextBtn.addEventListener('click', () => { \n                if (validateStep(currentStep)) {\n                    if (currentStep < totalSteps - 1) {\n                        currentStep++;\n                        window.scrollTo(0,0); // Rola para o topo ao avançar\n                        updateUI();\n                    }\n                } else {\n                    alert('Por favor, preencha todos os campos obrigatórios (*).');\n                }\n            });\n            \n            prevBtn.addEventListener('click', () => {\n                if (currentStep > 0) {\n                    currentStep--;\n                    window.scrollTo(0,0); // Rola para o topo ao voltar\n                    updateUI();\n                }\n            });\n\n            form.addEventListener('submit', async (e) => {\n                e.preventDefault(); \n\n                if (!validateStep(currentStep)) {\n                    alert('Verifique os campos obrigatórios (*).');\n                    return;\n                }\n\n                submitBtn.disabled = true;\n                submitBtn.textContent = 'Enviando...';\n\n                const webhookUrl = 'https://n8n-n8n.uw3mer.easypanel.host/webhook-test/resposta-briefing';\n                const data = Object.fromEntries(new FormData(form).entries());\n\n                try {\n                    const response = await fetch(webhookUrl, {\n                        method: 'POST',\n                        headers: { 'Content-Type': 'application/json' },\n                        body: JSON.stringify(data),\n                    });\n\n                    if (!response.ok) {\n                        throw new Error(`Erro na resposta do servidor: ${response.statusText}`);\n                    }\n\n                    formContainer.innerHTML = `\n                        <div class=\"success-message\">\n                            <h2>✅ Briefing enviado com sucesso!</h2>\n                            <p>Obrigado por preencher. Nossa equipe entrará em contato em breve.</p>\n                        </div>\n                    `;\n\n                } catch (error) {\n                    console.error('Erro ao enviar o formulário:', error);\n                    alert('Houve um erro ao enviar seu briefing. Por favor, verifique sua conexão e tente novamente.');\n                    submitBtn.disabled = false;\n                    submitBtn.textContent = 'Enviar Briefing';\n                }\n            });\n            \n            // --- LÓGICA PARA CAMPOS CONDICIONAIS (SIM/NÃO) ---\n            const infoprodutosRadios = document.querySelectorAll('input[name=\"pensaEmInfoprodutos\"]');\n            const detalhesInfoproduto = document.getElementById('detalhesInfoproduto');\n\n            infoprodutosRadios.forEach(radio => {\n                radio.addEventListener('change', (event) => {\n                    if (event.target.value === 'Sim') {\n                        detalhesInfoproduto.style.display = 'block';\n                    } else {\n                        detalhesInfoproduto.style.display = 'none';\n                    }\n                });\n            });\n\n            // Inicialização\n            document.getElementById('dataHoje').valueAsDate = new Date();\n            updateUI();\n        });\n    </script>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[320,0],"id":"70f1b0a7-7356-405e-b245-062397a6fa6f","name":"HTML1"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[608,0],"id":"7d5caf61-7c01-4405-bffb-1c34a5ed241d","name":"Respond to Webhook1"},{"parameters":{"assignments":{"assignments":[{"id":"da808665-5925-43a9-919e-e9a2a6178ec6","name":"ID_Resposta","value":"={{ $execution.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,224],"id":"c12d9377-e93f-469c-bf2a-bdbfa752307b","name":"Set Criar ID"},{"parameters":{"httpMethod":"POST","path":"resposta-briefing","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[48,224],"id":"179acb22-c587-486e-898f-8e6c58288e44","name":"webhook resposta briefing","webhookId":"8bae0c90-c8c9-4fa9-b307-53a2642c6ff6"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE","mode":"list","cachedResultName":"Respostas Briefing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dmtEtKeXCYmQPMcf7m1yW6-kx6STV85OfDMWFBFw7hE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID_da_Resposta":"={{ $json.ID_Resposta }}","Data_da_Resposta":"={{ $('webhook resposta briefing').item.json.body.dataHoje }}","Nome_do_Expert":"={{ $('webhook resposta briefing').item.json.body.nomeExpert }}","Produtos_e_Servicos":"={{ $('webhook resposta briefing').item.json.body.produtosServicos }}","Ticket_Medio":"={{ $('webhook resposta briefing').item.json.body.ticketMedio }}","Diferencial_Competitivo":"={{ $('webhook resposta briefing').item.json.body.diferencialCompetitivo }}","Produtos_de_Autoridade":"={{ $('webhook resposta briefing').item.json.body.produtosAutoridade }}","Objetivos_do_Negocio":"={{ $('webhook resposta briefing').item.json.body.objetivosNegocio }}","Desafios_no_Digital":"={{ $('webhook resposta briefing').item.json.body.desafiosDigital }}","Perfis_de_Clientes":"={{ $('webhook resposta briefing').item.json.body.perfisClientes }}","Possui_Identidade_Visual":"={{ $('webhook resposta briefing').item.json.body.possuiIdentidadeVisual }}","URL_do_Site":"={{ $('webhook resposta briefing').item.json.body.siteUrl }}","Links_Redes_Sociais":"={{ $('webhook resposta briefing').item.json.body.redesSociais }}","Reconhecimento_Desejado":"={{ $('webhook resposta briefing').item.json.body.reconhecimentoPositivo }}","Reconhecimento_Evitado":"={{ $('webhook resposta briefing').item.json.body.reconhecimentoNegativo }}","Referencias_Instagram":"={{ $('webhook resposta briefing').item.json.body.referenciasInstagram }}","Referencias_Youtube":"={{ $('webhook resposta briefing').item.json.body.referenciasYoutube }}","Referencias_Gerais":"={{ $('webhook resposta briefing').item.json.body.referenciasGerais }}","Temas_de_Conteudo":"={{ $('webhook resposta briefing').item.json.body.temasConteudo }}","Fontes_Confiaveis":"={{ $('webhook resposta briefing').item.json.body.fontesConfiaveis }}","Palavras_Chave":"={{ $('webhook resposta briefing').item.json.body.palavrasChave }}","Pensa_em_Infoprodutos":"={{ $('webhook resposta briefing').item.json.body.pensaEmInfoprodutos }}","Ideia_de_Infoproduto":"={{ $('webhook resposta briefing').item.json.body.ideiaInfoproduto }}","Concorrentes_Diretos":"={{ $('webhook resposta briefing').item.json.body.concorrentesDiretos }}","Empresas_Inspiracao":"={{ $('webhook resposta briefing').item.json.body.empresasInspiracao }}","Informacoes_Finais":"={{ $('webhook resposta briefing').item.json.body.informacoesFinais }}","Carimbo_de_Data_Hora":"={{ $now.toISO() }}"},"matchingColumns":["ID_da_Resposta"],"schema":[{"id":"ID_da_Resposta","displayName":"ID_da_Resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Carimbo_de_Data_Hora","displayName":"Carimbo_de_Data_Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data_da_Resposta","displayName":"Data_da_Resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome_do_Expert","displayName":"Nome_do_Expert","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Produtos_e_Servicos","displayName":"Produtos_e_Servicos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ticket_Medio","displayName":"Ticket_Medio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Diferencial_Competitivo","displayName":"Diferencial_Competitivo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Produtos_de_Autoridade","displayName":"Produtos_de_Autoridade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Objetivos_do_Negocio","displayName":"Objetivos_do_Negocio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Desafios_no_Digital","displayName":"Desafios_no_Digital","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Perfis_de_Clientes","displayName":"Perfis_de_Clientes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Possui_Identidade_Visual","displayName":"Possui_Identidade_Visual","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL_do_Site","displayName":"URL_do_Site","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Links_Redes_Sociais","displayName":"Links_Redes_Sociais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reconhecimento_Desejado","displayName":"Reconhecimento_Desejado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reconhecimento_Evitado","displayName":"Reconhecimento_Evitado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Referencias_Instagram","displayName":"Referencias_Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Referencias_Youtube","displayName":"Referencias_Youtube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Referencias_Gerais","displayName":"Referencias_Gerais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Temas_de_Conteudo","displayName":"Temas_de_Conteudo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fontes_Confiaveis","displayName":"Fontes_Confiaveis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Palavras_Chave","displayName":"Palavras_Chave","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Pensa_em_Infoprodutos","displayName":"Pensa_em_Infoprodutos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ideia_de_Infoproduto","displayName":"Ideia_de_Infoproduto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Concorrentes_Diretos","displayName":"Concorrentes_Diretos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Empresas_Inspiracao","displayName":"Empresas_Inspiracao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Informacoes_Finais","displayName":"Informacoes_Finais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[544,224],"id":"e5756610-f53d-47b0-86bc-a471cb12e145","name":"update Respostas Briefing","credentials":{"googleSheetsOAuth2Api":{"id":"ekUi8cQCgpitM03R","name":"Google Sheets Orca Mídias"}}},{"parameters":{"fieldToSplitOut":"Nome_do_Expert","include":"selectedOtherFields","fieldsToInclude":"ID_da_Resposta, Data_da_Resposta, Nome_do_Expert","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[768,224],"id":"4ae71f2f-d2bf-4d1e-95d9-1db05731b43d","name":"Split Out2","disabled":true}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Code","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Redis1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Redis":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"HTML1","type":"main","index":0}]]},"HTML1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Webhook resposta formulario":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"webhook resposta briefing":{"main":[[{"node":"Set Criar ID","type":"main","index":0}]]},"Set Criar ID":{"main":[[{"node":"update Respostas Briefing","type":"main","index":0}]]},"update Respostas Briefing":{"main":[[{"node":"Split Out2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.adabtech.com.br","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, deflate, br, zstd","accept-language":"pt,en-US;q=0.9,en;q=0.8,pt-BR;q=0.7","cookie":"_ga=GA1.1.419946771.1718141795; rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2Bhqt%2BAyt%2FkkmddWhyFSW%2BiMAjQishTbCk%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2BxB4EvR75CKthVRDzwz1QNStDlrM47QsU%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjdlZjk5YTE1LTNmMGUtNGE1My05YTUyLTI1M2MwZTBiNjk1YSIsImhhc2giOiJWT0Fub0xHa2J4IiwiYnJvd3NlcklkIjoiaHZ0QW1SZ2J2cy9lSXRIckJaY2Y1eWtOKy9oeUxMMi95bkdtSC9SSHZwcz0iLCJpYXQiOjE3NTAwNzk4MTAsImV4cCI6MTc1MDY4NDYxMH0.xhXghZi-D4xZ4Z5ymfWGgRnRffuo4GzAKNWyBqZDM-w; _ga_MFB4YSV2D4=GS2.1.s1750248543$o31$g0$t1750248560$j43$l0$h0; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX19PVVu3UEW64jkL%2Bqr%2FFIjpdKgKQkAg62PtdvAJLpjiTU3Pb8ASG2aA8HI98IJ2ochwcmyWci9qgg%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19I06oYz27trpgWJVvdekZwaCbUFb92g5h6U3v48hBHyyqnCfhD8%2BpKZztko3br0tYv4%2FNs1DWJeHkyw%2FssBGwrVueGr1V5MJ2qNhTasPF1yoUf7FXcII2gf6PbDXk8bUxmIfELMuA4d7XVB7XOxwFVp87DOZXMkp0%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2Ba5E%2FXkXdQwHt4MMN5uKrkPt76IJWvbiSUidmdn14zjI1BI8Vq6wdLN8dCCeZIyAtuiNAzECVKIl03abKLWvlpIh%2B1KG%2FuI4dAY4Um33ud6rXone4W8854MQUYBKs3g2M%2BQL901r7T2A%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%223728f878330b99ae7ecf078d1ff75229794c048aabc3ee228198fa5196bb5eae%237ef99a15-3f0e-4a53-9a52-253c0e0b695a%22%2C%22%24sesid%22%3A%5B1750272733009%2C%2201978431-8f71-7ef7-b4ce-213368ef5dbd%22%2C1750269529968%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n.adabtech.com.br%2Fsignout%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2FSeSZppF0F9JBRJbI7kbgPrAcQxWu6JD2DX3Q%2BxcAaZIJzPrlWGWAtnY44B6lL%2FIfzJgXGa%2BpDbsTruv16IcxV657LTtNxy5ALtJsjWhfpKUgFB1%2FdPXHyznrA5tvtWNjwJWzhjc6pbg%3D%3D","priority":"u=0, i","sec-ch-ua":"\"Google Chrome\";v=\"137\", \"Chromium\";v=\"137\", \"Not/A)Brand\";v=\"24\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"none","sec-fetch-user":"?1","upgrade-insecure-requests":"1","x-forwarded-for":"138.0.199.173","x-forwarded-host":"n8n.adabtech.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"45ce1b233065","x-real-ip":"138.0.199.173"},"params":{},"query":{},"body":{},"webhookUrl":"https://n8n.adabtech.com.br/webhook/18b9ef2e-60e4-4bfb-b2cf-23efd6a8afc0","executionMode":"production"}}],"Webhook resposta formulario":[{"json":{"headers":{"host":"n8n.adabtech.com.br","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36","content-length":"38","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"pt,en-US;q=0.9,en;q=0.8,pt-BR;q=0.7","content-type":"application/json","cookie":"_ga=GA1.1.419946771.1718141795; rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2Bhqt%2BAyt%2FkkmddWhyFSW%2BiMAjQishTbCk%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2BxB4EvR75CKthVRDzwz1QNStDlrM47QsU%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjdlZjk5YTE1LTNmMGUtNGE1My05YTUyLTI1M2MwZTBiNjk1YSIsImhhc2giOiJWT0Fub0xHa2J4IiwiYnJvd3NlcklkIjoiaHZ0QW1SZ2J2cy9lSXRIckJaY2Y1eWtOKy9oeUxMMi95bkdtSC9SSHZwcz0iLCJpYXQiOjE3NTAwNzk4MTAsImV4cCI6MTc1MDY4NDYxMH0.xhXghZi-D4xZ4Z5ymfWGgRnRffuo4GzAKNWyBqZDM-w; _ga_MFB4YSV2D4=GS2.1.s1750248543$o31$g0$t1750248560$j43$l0$h0; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX19SzzIcy2wWb%2B9PqiNAkp1jouP404cJ9rawL7QC0DH4MeoAaLxRVQHecZBuqJReZZySccp1I1CPzQ%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19clYKa0s%2BYav77soDgyc03zuzpCyiC0nly1JRH29RYgXFSb1JdMfUI6Dk%2B5oi0gHUKCR1mHh4JPmkek%2Bfupb0QePHArsf1lSomrVVUBI3Y8MAuGJ6TgCncfyTL7SkHcT7wd4fFJGEas%2FlR53Hq1AEkrNFthRDs6ak%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2BlayKKUxiiNYTmHDbdAUuWd7V5okfrniQg4azCJpJHLw%2Bd4dWFd5ngM0Gq6Qsop186i5D4s4cFmwUU%2Fm500fBmNarwZfLX8w0vuBw5aAkjMATPAv5TA8Cy8BKI9cf%2FdQ5Xz%2FxVS2BZ9A%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%223728f878330b99ae7ecf078d1ff75229794c048aabc3ee228198fa5196bb5eae%237ef99a15-3f0e-4a53-9a52-253c0e0b695a%22%2C%22%24sesid%22%3A%5B1750289341207%2C%220197855d-e8d8-7a42-a10e-5e266391d436%22%2C1750289213655%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n.adabtech.com.br%2Fsignout%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX18v%2B7WlUWKSt50H2m1cxWiDuK5HPlzOsPCW2tP%2F3XxGh3EUwtGD8dckmBHVYgiqc6FVi5fnGd8OOqGX62raoz4qhEGXCOeDBOBHwppK1lmfvemM0Yt7%2FH9bucgk5lZur8QjW%2BCp3t6aeQ%3D%3D","origin":"https://n8n.adabtech.com.br","priority":"u=1, i","referer":"https://n8n.adabtech.com.br/webhook/d3e62c58-adb3-41ee-9e9c-9388c0c3f8a0","sec-ch-ua":"\"Google Chrome\";v=\"137\", \"Chromium\";v=\"137\", \"Not/A)Brand\";v=\"24\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"same-origin","x-forwarded-for":"138.0.199.173","x-forwarded-host":"n8n.adabtech.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"45ce1b233065","x-real-ip":"138.0.199.173"},"params":{},"query":{},"body":{"nicho":"futebol","cidade":"Maceió"},"webhookUrl":"https://n8n.adabtech.com.br/webhook/e76cde4e-6f60-45bc-9759-fe2b641360fe","executionMode":"production"}}],"webhook resposta briefing":[{"json":{"headers":{"host":"n8n-n8n.uw3mer.easypanel.host","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36","content-length":"831","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7","content-type":"application/json","cookie":"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2FQ9u%2FC0LmQMkVxjPrrQ3Um3ENS7Gl942c%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19B%2FtdoMlc4UZZVstR%2BcWzoonfi3k%2BmHJ0%3D; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6Ijg4MGEwNTM4LWQ5ODAtNDcwZS05YzNjLWYwMmY0YmE4MTgzMyIsImhhc2giOiJvV3dFbEYweGFhIiwiYnJvd3NlcklkIjoid0QwSlZScXZhUTNCVlJkcmVZblg0Vi9nVm1VVlFOYk1td0F2MGVyQ3VnOD0iLCJpYXQiOjE3NTI0NTM0NTQsImV4cCI6MTc1MzA1ODI1NH0.095siMihKv-_mFEf67e0aeGLKG2GAkD1WtGnNziR8GA; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX19P5%2FRKt419Vn0p2lMvB%2FniGYi6sKEYxEgAvpKin5TWHI9FO4fSxYbFr3LhHJNJYB0eKYb2n%2BBTFw%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19Z4VlukLAenJFOOqB%2ByzEzfT6UkRlaEuOEMZPvQUQep4yJh0et%2F4ghEKuGbDPtPBcCOy%2FzBBCyXVeNMbQhtEP898gbg%2BqF57JdBhGhPzHGG3hN8pbeLN5HCeOGia1LX18w0Vdro7pcUpqcsXMOHDURVOH64zOnO5E%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX19FUHC7WpP6ReqlAYXOzC29IJccfcGdfG101u299KpwIiPH%2F9poqP8Y2c%2FPFHd%2Ft2%2Fkyk9hsoQ73%2FPPLTkeEMakjGyl7u8%2BUCvD%2BVW7m%2FIRQZN%2FwCCOOrZHHQKcMe2sRghd8tIN0%2BrEvg%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%227e84aca5b0efaa0e68259e9b257008067eb72ec197d1452827c753f93b4e660d%23880a0538-d980-470e-9c3c-f02f4ba81833%22%2C%22%24sesid%22%3A%5B1752874650133%2C%2201981f71-651d-71e7-91ed-9e403a11c52a%22%2C1752874181915%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n-n8n.uw3mer.easypanel.host%2Fsignin%3Fredirect%3D%25252Fhome%25252Fworkflows%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2BlhxKAUnQGOc6pBpw4lEKXh0TDKP1W3y5gLyVKHHHU6h6Y5C%2FLqdrXQCwmU8fCAke0d9AePWvJ9wrp1oA20OkE9GLfU30SFvv%2FEpFfDthoestyUuvKC0eB1Zvf401wy%2FnEmrxYG3Vgeg%3D%3D","origin":"https://n8n-n8n.uw3mer.easypanel.host","priority":"u=1, i","referer":"https://n8n-n8n.uw3mer.easypanel.host/webhook-test/briefing-estrategico","sec-ch-ua":"\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Google Chrome\";v=\"138\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"macOS\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"same-origin","x-forwarded-for":"45.165.148.240","x-forwarded-host":"n8n-n8n.uw3mer.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"dbb2459d681b","x-real-ip":"45.165.148.240"},"params":{},"query":{},"body":{"dataHoje":"2025-07-18","nomeExpert":"teste split out","produtosServicos":"produtos","ticketMedio":"499","diferencialCompetitivo":"diferencial","produtosAutoridade":"autoridade","objetivosNegocio":"curto,medio e longo prazo","desafiosDigital":"principais desafios","perfisClientes":"5 perfis que compram de vc","possuiIdentidadeVisual":"Não","siteUrl":"site.com.br","redesSociais":"redes sociais","reconhecimentoPositivo":"commaior autoridade","reconhecimentoNegativo":"amadora","referenciasInstagram":"@referencia1","referenciasYoutube":"canal exemplo 2","referenciasGerais":"qualquer nicho","temasConteudo":"temas","fontesConfiaveis":"google","palavrasChave":"palavras chave","pensaEmInfoprodutos":"Não","ideiaInfoproduto":"","concorrentesDiretos":"concorrentes","empresasInspiracao":"inspiracao","informacoesFinais":"extras"},"webhookUrl":"https://n8n-n8n.uw3mer.easypanel.host/webhook-test/resposta-briefing","executionMode":"test"}}]},"versionId":"5fab1538-2578-4707-b5a2-e1fba8eef842","triggerCount":2,"shared":[{"createdAt":"2025-07-05T23:21:11.804Z","updatedAt":"2025-07-05T23:21:11.804Z","role":"workflow:owner","workflowId":"0PsoDBl2Vzc9VOG8","projectId":"TZpK0B2uX65EVlPC"}],"tags":[{"createdAt":"2025-07-05T23:21:37.588Z","updatedAt":"2025-07-05T23:21:37.588Z","id":"P8UlFcWL9CDM11wf","name":"Adavio Tittoni"},{"createdAt":"2025-07-02T04:49:45.162Z","updatedAt":"2025-07-02T04:49:45.162Z","id":"rL7QoEmW9Q2mTSZH","name":"academia lendaria"}]}