agente-closer-JMbSUJTCBFmg7db9.json
{"createdAt":"2025-07-01T02:03:07.966Z","updatedAt":"2025-09-09T04:12:42.000Z","id":"JMbSUJTCBFmg7db9","name":"agente CLOSER","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"nome"},{"name":"email"},{"name":"pontos"},{"name":"temperatura"},{"name":"telefone"},{"name":"resumo"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-656,128],"id":"032afad5-3ca8-490e-901c-7248f99602c0","name":"When Executed by Another Workflow"},{"parameters":{"operation":"get","tableId":"lendarios_sdr","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json.telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-448,128],"id":"26a93b7d-64ba-4f3f-9506-ec7c48dc18bb","name":"Get a row","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"kbIGDrX4TIuXuHhX","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0d48b6a-2136-41a4-b603-0562e14a2226","leftValue":"={{$json}}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,128],"id":"3252b12f-b935-46cb-8885-8646a7a41cb8","name":"If"},{"parameters":{"tableId":"lendarios_sdr","fieldsUi":{"fieldValues":[{"fieldId":"telefone","fieldValue":"={{ $('When Executed by Another Workflow').item.json.telefone }}"},{"fieldId":"nome","fieldValue":"={{ $('When Executed by Another Workflow').item.json.nome }}"},{"fieldId":"email","fieldValue":"={{ $('When Executed by Another Workflow').item.json.email }}"},{"fieldId":"pontos","fieldValue":"={{ $('When Executed by Another Workflow').item.json.pontos }}"},{"fieldId":"temperatura","fieldValue":"={{ $('When Executed by Another Workflow').item.json.temperatura }}"},{"fieldId":"resumo","fieldValue":"={{ $('When Executed by Another Workflow').item.json.resumo }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[0,0],"id":"3383277e-13b7-4134-a4bb-08c55756a42d","name":"Create a row","credentials":{"supabaseApi":{"id":"kbIGDrX4TIuXuHhX","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"lendarios_sdr","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $json.telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $('When Executed by Another Workflow').item.json.nome }}"},{"fieldId":"email","fieldValue":"={{ $('When Executed by Another Workflow').item.json.email }}"},{"fieldId":"pontos","fieldValue":"={{ $('When Executed by Another Workflow').item.json.pontos }}"},{"fieldId":"temperatura","fieldValue":"={{ $('When Executed by Another Workflow').item.json.temperatura }}"},{"fieldId":"resumo","fieldValue":"={{ $('When Executed by Another Workflow').item.json.resumo }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[0,224],"id":"5d03aa07-7289-4770-b405-9c173ec82a8d","name":"Update a row","credentials":{"supabaseApi":{"id":"kbIGDrX4TIuXuHhX","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"7940d2e8-efdd-4fc6-aa94-375da881edd3","name":"response","value":"lead cadastrado com sucesso","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[288,-48],"id":"023261d3-fa39-4f5a-a010-5852b1c92fa5","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"7940d2e8-efdd-4fc6-aa94-375da881edd3","name":"response","value":"lead atualizado com sucesso","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,224],"id":"e6fc9b0a-4692-407a-a596-51e3c47a3cd3","name":"Edit Fields1"},{"parameters":{"resource":"lead","firstName":"={{ $('When Executed by Another Workflow').item.json.nome }}","lastName":"null","additionalFields":{"description":"={{ $('When Executed by Another Workflow').item.json.resumo }}","emailAddress":"={{ $('When Executed by Another Workflow').item.json.email }}","phoneNumber":"=+{{ $('When Executed by Another Workflow').item.json.telefone }}"}},"type":"@traien/n8n-nodes-espocrm.espoCrm","typeVersion":1,"position":[288,80],"id":"9ee388b3-8307-423a-a3f5-6cc9e53d1395","name":"Create a record","credentials":{"espoCRMApi":{"id":"PjxiTfdURFvw8M2m","name":"ESPOCRM Orca"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get a row","type":"main","index":0}]]},"Get a row":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Create a row","type":"main","index":0}],[{"node":"Update a row","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Create a record","type":"main","index":0}]]},"Update a row":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9172ed6a-156a-43b5-8f6f-7e8bcb479827","triggerCount":0,"shared":[{"createdAt":"2025-07-01T02:03:07.969Z","updatedAt":"2025-07-01T02:03:07.969Z","role":"workflow:owner","workflowId":"JMbSUJTCBFmg7db9","projectId":"TZpK0B2uX65EVlPC"}],"tags":[{"createdAt":"2025-07-02T04:49:45.162Z","updatedAt":"2025-07-02T04:49:45.162Z","id":"rL7QoEmW9Q2mTSZH","name":"academia lendaria"}]}