agent-aLzCIBcozWLV51N7.json
{"createdAt":"2025-09-04T19:25:42.379Z","updatedAt":"2025-09-05T04:12:58.000Z","id":"aLzCIBcozWLV51N7","name":"Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-512,528],"id":"412d0933-b0e6-4b72-b006-cce97d7ed87f","name":"WhatsApp Trigger","webhookId":"d3978cae-2aca-4553-8ac7-ab89068deabc","credentials":{"whatsAppTriggerApi":{"id":"05jEqjjfIQk3LM2w","name":"WhatsApp orcamidias"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=You are a helpful assistant called Sam.\n\nYou are currently talking to  {{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}\n\nThe current date and time is {{ $now.toString() }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[272,624],"id":"a929578d-04ac-4273-96bf-c06bfe282f22","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[192,832],"id":"d45c1174-98cf-4f8a-a7ac-e8c5408d3bf3","name":"Simple Memory"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b7b64446-f1ea-4622-990c-22f3999a8269","leftValue":"={{ $json.messages[0].audio }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"202af928-a324-411a-bf15-68a349e7bf9e","leftValue":"={{ $json.messages[0].image }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.messages[0].text.body }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"08fd0c80-307e-4f45-b1de-35192ee4ec5e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-224,512],"id":"5d77befe-6544-4e54-9c94-5d4877368452","name":"Check Input Type"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').item.json.messages[0].image.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[128,352],"id":"713b4230-3a55-4822-9b4c-9367b86cf0dd","name":"Get Image URL","webhookId":"280bd5de-32d7-4d8f-93d2-e91e3b0bc161","credentials":{"whatsAppApi":{"id":"J4PF2NRHupIr3g6Z","name":"WhatsApp orcamidias"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[288,352],"id":"5a58ad95-ac20-49ea-9af8-8cf8fae236a0","name":"Download Image","credentials":{"httpHeaderAuth":{"id":"iCGAI0do7rpO4W4n","name":"Whatsapp tutorial"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"=Describe the image in detail.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[448,352],"id":"b4c75cd8-e9bb-48e3-8cc9-faeb88ceaf74","name":"Analyze Image","credentials":{"openAiApi":{"id":"eKt62GQzsAdBW3FR","name":"OpenAi Orca Mídias"}}},{"parameters":{"assignments":{"assignments":[{"id":"67552183-de2e-494a-878e-c2948e8cb6bb","name":"text","value":"=# The user provided the following image and text.\n\n## IMAGE CONTENT:\n{{ $json.content }}\n\n## USER MESSAGE:\n{{ $('WhatsApp Trigger').item.json.messages[0].image.caption || \"Describe the image\" }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,352],"id":"307511aa-8e9f-454b-a556-48e950a132dd","name":"Image + Text Prompt"},{"parameters":{"assignments":{"assignments":[{"id":"c05a7fbf-309a-407e-9fee-7e0b03f4a5c8","name":"text","value":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,624],"id":"7ee4864c-5907-4c4f-88d3-1f82f0142f91","name":"Text Only Prompt"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').item.json.messages[0].audio.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[128,80],"id":"f02e4fb3-ac56-480d-b145-309de296ad96","name":"Get Audio URL","webhookId":"87caa300-7204-47b5-959a-94f4a8fbf8cf","credentials":{"whatsAppApi":{"id":"J4PF2NRHupIr3g6Z","name":"WhatsApp orcamidias"}}},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[288,80],"id":"a79ef828-ec85-4d21-ba7d-8f28dd266b0c","name":"Download Audio","credentials":{"httpHeaderAuth":{"id":"iCGAI0do7rpO4W4n","name":"Whatsapp tutorial"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[448,80],"id":"c24fe46a-e73b-47d8-9913-c3e07b759062","name":"Transcribe Audio","credentials":{"openAiApi":{"id":"eKt62GQzsAdBW3FR","name":"OpenAi Orca Mídias"}}},{"parameters":{"assignments":{"assignments":[{"id":"219577d5-b028-48fc-90be-980f4171ab68","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,80],"id":"5e886d43-1bf8-4729-8cd9-c68ad3cd0bd3","name":"Audio Prompt"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d1d759-f585-4791-a743-b9d72951e77c","leftValue":"={{ $('WhatsApp Trigger').item.json.messages[0].audio }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[608,624],"id":"06b9596f-c6d2-4da4-8b47-67cda9c6be19","name":"If"},{"parameters":{"resource":"audio","input":"={{ $('AI Agent').item.json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[944,608],"id":"bda7139e-8c2e-4c1a-b6b4-2b4493a7b1cb","name":"Generate Audio","credentials":{"openAiApi":{"id":"eKt62GQzsAdBW3FR","name":"OpenAi Orca Mídias"}}},{"parameters":{"operation":"send","phoneNumberId":"689142574292630","recipientPhoneNumber":"={{ $('Check Input Type').item.json.contacts[0].wa_id }}","messageType":"audio","mediaPath":"useMedian8n","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1312,608],"id":"2f803ac6-fd52-4e13-a072-017f05cc4219","name":"Respond with Audio","webhookId":"d18b2c98-84e4-43cf-a532-0c47d5161684","credentials":{"whatsAppApi":{"id":"J4PF2NRHupIr3g6Z","name":"WhatsApp orcamidias"}}},{"parameters":{"operation":"send","phoneNumberId":"689142574292630","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[944,800],"id":"c81a2613-b4e8-42c6-bd2d-2a63d0ad9c5a","name":"Respond with Text","webhookId":"23834751-5066-48ba-8e19-549680df2b27","credentials":{"whatsAppApi":{"id":"J4PF2NRHupIr3g6Z","name":"WhatsApp orcamidias"}}},{"parameters":{"jsCode":"// Loop over input items and change the MIME type of binary data\nfor (const item of $input.all()) {\n  // Check if the item has binary data\n  if (item.binary) {\n    // Find the binary property name (assuming there's at least one)\n    const binaryPropertyNames = Object.keys(item.binary);\n    \n    for (const propName of binaryPropertyNames) {\n      // If the MIME type is 'audio/mp3', change it to 'audio/mpeg'\n      if (item.binary[propName].mimeType === 'audio/mp3') {\n        item.binary[propName].mimeType = 'audio/mpeg';\n      }\n    }\n  }\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,608],"id":"ca5e9c92-f0d7-445f-8a1e-160849490009","name":"Fix Mime Type"},{"parameters":{"content":"## Audio","height":240,"width":800},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"7352582c-f559-4d4c-aa0d-c40ed2f71616","name":"Sticky Note"},{"parameters":{"content":"## Image & Text","height":280,"width":800,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,272],"id":"bc6116fd-78ac-4bea-a9da-f229b3111ff7","name":"Sticky Note1"},{"parameters":{"content":"## Tools","height":400,"width":820},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-16,1040],"id":"d7178290-38c1-45c2-be11-7c97d74fb25f","name":"Sticky Note2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[32,1152],"id":"961485b7-3e81-4698-8faa-14b9f7a80581","name":"Web Search","credentials":{"serpApi":{"id":"CEMZ8Igf1QWlOW9Y","name":"SerpAPI account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[48,832],"id":"2b0ec238-605e-43e7-a917-335a360566b3","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"eKt62GQzsAdBW3FR","name":"OpenAi Orca Mídias"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[128,1152],"id":"e5f75f94-7d66-4d77-aeda-9b727d95a45c","name":"Calculator"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[208,1312],"id":"250e6c23-717b-488f-a5e8-c45ee3f3eb92","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"eKt62GQzsAdBW3FR","name":"OpenAi Orca Mídias"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"contacts","toolDescription":"Returns contact information like email addresses.","pineconeIndex":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n"},"options":{"pineconeNamespace":"contacts"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.1,"position":[240,1152],"id":"6d87971d-9e16-4976-aacf-91516dc55a3b","name":"Knowledge Base","credentials":{"pineconeApi":{"id":"meX2nDvtR2N4nvCq","name":"PineconeApi orcamidias"}}},{"parameters":{"promptType":"define","text":"={{ $json.messages[0].text.body }}","options":{"systemMessage":"=You are a helpful assistant called Maria\nRespond in a natural and friendly tone\n\nYou are currently talking to {{ $json.contacts[0].profile.name }}\n\nThe currently date and time is {{ $now.toISO() }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-832,96],"id":"d9080c55-e481-4c5b-9e2b-81f6fd98a406","name":"AI Agent1","disabled":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-848,272],"id":"0c8acc2b-299d-4418-a197-c53ec9e87c25","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"eKt62GQzsAdBW3FR","name":"OpenAi Orca Mídias"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.contacts[0].wa_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-720,288],"id":"69c6202e-1c55-4d84-ad66-b6ecbd5822d7","name":"Simple Memory1"},{"parameters":{"operation":"send","phoneNumberId":"689142574292630","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1184,832],"id":"e92029ff-9270-44e5-b25e-fb74dd22fd9b","name":"Send message","webhookId":"2a6f59c4-d813-4055-ad76-710d7cdf0340","credentials":{"whatsAppApi":{"id":"J4PF2NRHupIr3g6Z","name":"WhatsApp orcamidias"}},"disabled":true},{"parameters":{"endpointUrl":"https://n8n-n8n.uw3mer.easypanel.host/mcp/5a6cc9b9-370a-4d25-91bb-dae2147d8a06","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.1,"position":[560,1152],"id":"56494afb-f2fd-462d-ab48-f4b9b195c81c","name":"MCP Client"}],"connections":{"WhatsApp Trigger":{"main":[[{"node":"Check Input Type","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Check Input Type":{"main":[[{"node":"Get Audio URL","type":"main","index":0}],[{"node":"Get Image URL","type":"main","index":0}],[{"node":"Text Only Prompt","type":"main","index":0}]]},"Get Image URL":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Analyze Image","type":"main","index":0}]]},"Analyze Image":{"main":[[{"node":"Image + Text Prompt","type":"main","index":0}]]},"Text Only Prompt":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Image + Text Prompt":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Get Audio URL":{"main":[[{"node":"Download Audio","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"Transcribe Audio","type":"main","index":0}]]},"Transcribe Audio":{"main":[[{"node":"Audio Prompt","type":"main","index":0}]]},"Audio Prompt":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"If":{"main":[[{"node":"Generate Audio","type":"main","index":0}],[{"node":"Respond with Text","type":"main","index":0}]]},"Generate Audio":{"main":[[{"node":"Fix Mime Type","type":"main","index":0}]]},"Fix Mime Type":{"main":[[{"node":"Respond with Audio","type":"main","index":0}]]},"Web Search":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Knowledge Base","type":"ai_embedding","index":0}]]},"Knowledge Base":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"AI Agent1":{"main":[[]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fe33a056-7e29-402d-8e99-5941ba288d2d","triggerCount":0,"shared":[{"createdAt":"2025-09-04T19:25:42.385Z","updatedAt":"2025-09-04T19:25:42.385Z","role":"workflow:owner","workflowId":"aLzCIBcozWLV51N7","projectId":"TZpK0B2uX65EVlPC"}],"tags":[]}