andré-fqsntZ58ovpIZsw3.json
{"createdAt":"2025-07-16T19:54:06.242Z","updatedAt":"2025-08-28T10:23:33.000Z","id":"fqsntZ58ovpIZsw3","name":"andré","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"andre","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-160,-40],"id":"3f0c9a81-b7ad-4469-9a37-1c6720620fa2","name":"Webhook1","webhookId":"3d80e2fb-a959-45ee-bebd-905eea045568"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Estratégia de Mídia Paga - André Di Castro</title>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        body {\n            font-family: 'Arial', sans-serif;\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            min-height: 100vh;\n            padding: 20px;\n        }\n\n        .container {\n            max-width: 1200px;\n            margin: 0 auto;\n        }\n\n        .header {\n            text-align: center;\n            color: white;\n            margin-bottom: 30px;\n        }\n\n        .header h1 {\n            font-size: 2.5em;\n            margin-bottom: 10px;\n            text-shadow: 2px 2px 4px rgba(0,0,0,0.3);\n        }\n\n        .header p {\n            font-size: 1.2em;\n            opacity: 0.9;\n        }\n\n        .scenarios {\n            display: grid;\n            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));\n            gap: 30px;\n            margin-bottom: 40px;\n        }\n\n        .scenario {\n            background: white;\n            border-radius: 20px;\n            padding: 30px;\n            box-shadow: 0 10px 30px rgba(0,0,0,0.2);\n            position: relative;\n            overflow: hidden;\n        }\n\n        .scenario::before {\n            content: '';\n            position: absolute;\n            top: 0;\n            left: 0;\n            right: 0;\n            height: 5px;\n            background: linear-gradient(90deg, #ff6b6b, #ffd93d, #6bcf7f);\n        }\n\n        .scenario.basic::before {\n            background: linear-gradient(90deg, #ff9a9e, #fecfef);\n        }\n\n        .scenario.medium::before {\n            background: linear-gradient(90deg, #a8edea, #fed6e3);\n        }\n\n        .scenario.ideal::before {\n            background: linear-gradient(90deg, #ffecd2, #fcb69f);\n        }\n\n        .scenario-title {\n            font-size: 1.8em;\n            color: #333;\n            margin-bottom: 15px;\n            display: flex;\n            align-items: center;\n            gap: 10px;\n        }\n\n        .budget {\n            background: #f8f9fa;\n            padding: 15px;\n            border-radius: 15px;\n            margin: 20px 0;\n            text-align: center;\n            border: 3px solid #e9ecef;\n        }\n\n        .budget-amount {\n            font-size: 2.5em;\n            font-weight: bold;\n            color: #2d3436;\n            margin-bottom: 5px;\n        }\n\n        .budget-daily {\n            font-size: 1.2em;\n            color: #636e72;\n            margin-bottom: 10px;\n        }\n\n        .budget-note {\n            font-size: 0.9em;\n            color: #74b9ff;\n            font-style: italic;\n        }\n\n        .campaigns {\n            margin: 20px 0;\n        }\n\n        .campaign {\n            background: #f8f9fa;\n            padding: 15px;\n            border-radius: 10px;\n            margin: 10px 0;\n            border-left: 4px solid #74b9ff;\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n        }\n\n        .campaign-info {\n            flex: 1;\n        }\n\n        .campaign-name {\n            font-weight: bold;\n            color: #2d3436;\n            font-size: 1.1em;\n        }\n\n        .campaign-desc {\n            color: #636e72;\n            font-size: 0.9em;\n            margin-top: 5px;\n        }\n\n        .campaign-budget {\n            background: #74b9ff;\n            color: white;\n            padding: 8px 15px;\n            border-radius: 20px;\n            font-weight: bold;\n            font-size: 1.1em;\n        }\n\n        .results {\n            background: #e8f5e8;\n            padding: 20px;\n            border-radius: 15px;\n            margin-top: 20px;\n        }\n\n        .results h3 {\n            color: #00b894;\n            margin-bottom: 15px;\n            font-size: 1.3em;\n        }\n\n        .result-item {\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n            padding: 8px 0;\n            border-bottom: 1px solid #d1f2d1;\n        }\n\n        .result-item:last-child {\n            border-bottom: none;\n        }\n\n        .result-metric {\n            color: #2d3436;\n            font-weight: 500;\n        }\n\n        .result-value {\n            background: #00b894;\n            color: white;\n            padding: 5px 12px;\n            border-radius: 15px;\n            font-weight: bold;\n        }\n\n        .warning {\n            background: #fff3cd;\n            color: #856404;\n            padding: 15px;\n            border-radius: 10px;\n            margin-top: 15px;\n            border: 1px solid #ffeaa7;\n        }\n\n        .warning::before {\n            content: '⚠️ ';\n            font-size: 1.2em;\n        }\n\n        .success {\n            background: #d4edda;\n            color: #155724;\n            padding: 15px;\n            border-radius: 10px;\n            margin-top: 15px;\n            border: 1px solid #c3e6cb;\n        }\n\n        .success::before {\n            content: '✅ ';\n            font-size: 1.2em;\n        }\n\n        .emoji {\n            font-size: 1.5em;\n        }\n\n        .comparison {\n            background: white;\n            border-radius: 20px;\n            padding: 30px;\n            box-shadow: 0 10px 30px rgba(0,0,0,0.2);\n            margin-top: 30px;\n        }\n\n        .comparison h2 {\n            text-align: center;\n            color: #333;\n            margin-bottom: 30px;\n            font-size: 2em;\n        }\n\n        .comparison-grid {\n            display: grid;\n            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));\n            gap: 20px;\n        }\n\n        .comparison-item {\n            background: #f8f9fa;\n            padding: 20px;\n            border-radius: 15px;\n            text-align: center;\n        }\n\n        .comparison-title {\n            font-size: 1.3em;\n            color: #2d3436;\n            margin-bottom: 15px;\n        }\n\n        .comparison-value {\n            font-size: 2em;\n            font-weight: bold;\n            color: #74b9ff;\n            margin-bottom: 10px;\n        }\n\n        .comparison-desc {\n            color: #636e72;\n            font-size: 0.9em;\n        }\n\n        @media (max-width: 768px) {\n            .scenarios {\n                grid-template-columns: 1fr;\n            }\n            \n            .header h1 {\n                font-size: 2em;\n            }\n            \n            .budget-amount {\n                font-size: 2em;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>🎭 Estratégia de Mídia Paga</h1>\n            <p>André Di Castro</p>\n        </div>\n\n        <div class=\"scenarios\">\n            <!-- CENÁRIO 1: BÁSICO -->\n            <div class=\"scenario basic\">\n                <div class=\"scenario-title\">\n                    <span class=\"emoji\">🐣</span>\n                    CENÁRIO BÁSICO\n                </div>\n                \n                <div class=\"budget\">\n                    <div class=\"budget-amount\">R$ 1.550</div>\n                    <div class=\"budget-daily\">R$ 50 por dia</div>\n                    <div class=\"budget-note\">31 dias de campanha</div>\n                </div>\n\n                <div class=\"campaigns\">\n                    <div class=\"campaign\">\n                        <div class=\"campaign-info\">\n                            <div class=\"campaign-name\">🔥 Seguidores</div>\n                            <div class=\"campaign-desc\">Crescimento orgânico</div>\n                        </div>\n                        <div class=\"campaign-budget\">R$ 20/dia</div>\n                    </div>\n\n                    <div class=\"campaign\">\n                        <div class=\"campaign-info\">\n                            <div class=\"campaign-name\">📺 Visualizações</div>\n                            <div class=\"campaign-desc\">Vídeos educativos</div>\n                        </div>\n                        <div class=\"campaign-budget\">R$ 20/dia</div>\n                    </div>\n\n                    <div class=\"campaign\">\n                        <div class=\"campaign-info\">\n                            <div class=\"campaign-name\">💬 WhatsApp</div>\n                            <div class=\"campaign-desc\">Mensagens diretas</div>\n                        </div>\n                        <div class=\"campaign-budget\">R$ 10/dia</div>\n                    </div>\n                </div>\n\n                <div class=\"results\">\n                    <h3>🎯 O que esperar:</h3>\n                    <div class=\"result-item\">\n                        <span class=\"result-metric\">Novos seguidores</span>\n                        <span class=\"result-value\">200-400</span>\n                    </div>\n                    <div class=\"result-item\">\n                        <span class=\"result-metric\">Visualizações</span>\n                        <span class=\"result-value\">15k-25k</span>\n                    </div>\n                    <div class=\"result-item\">\n                        <span class=\"result-metric\">Mensagens WhatsApp</span>\n                        <span class=\"result-value\">30-50</span>\n                    </div>\n                    <div class=\"result-item\">\n                        <span class=\"result-metric\">Leads qualificados</span>\n                        <span class=\"result-value\">5-10</span>\n                    </div>\n                </div>\n\n                <div class=\"warning\">\n                    <strong>Realidade:</strong> Muitos leads curiosos, mas desqualificados. Serve para a máquina começar a entender quem estamos buscando.\n                </div>\n            </div>\n\n            <!-- CENÁRIO 2: MÉDIO -->\n            <div class=\"scenario medium\">\n                <div class=\"scenario-title\">\n                    <span class=\"emoji\">🚀</span>\n                    CENÁRIO MÉDIO\n                </div>\n                \n                <div class=\"budget\">\n                    <div class=\"budget-amount\">R$ 4.000</div>\n                    <div class=\"budget-daily\">R$ 129 por dia</div>\n                    <div class=\"budget-note\">Investimento equilibrado</div>\n                </div>\n\n                <div class=\"campaigns\">\n                    <div class=\"campaign\">\n                        <div class=\"campaign-info\">\n                            <div class=\"campaign-name\">🎯 LinkedIn B2B</div>\n                            <div class=\"campaign-desc\">Gestores e agências</div>\n                        </div>\n                        <div class=\"campaign-budget\">R$ 60/dia</div>\n                    </div>\n\n                    <div class=\"campaign\">\n                        <div class=\"campaign-info\">\n                            <div class=\"campaign-name\">📱 Instagram/Facebook</div>\n                            <div class=\"campaign-desc\">Awareness + conversão</div>\n                        </div>\n                        <div class=\"campaign-budget\">R$ 50/dia</div>\n                    </div>\n\n                    <div class=\"campaign\">\n                        <div class=\"campaign-info\">\n                            <div class=\"campaign-name\">🔄 Remarketing</div>\n                            <div class=\"campaign-desc\">Quem já conhece</div>\n                        </div>\n                        <div class=\"campaign-budget\">R$ 19/dia</div>\n                    </div>\n                </div>\n\n                <div class=\"results\">\n                    <h3>🎯 O que esperar:</h3>\n                    <div class=\"result-item\">\n                        <span class=\"result-metric\">Novos seguidores</span>\n                        <span class=\"result-value\">800-1.200</span>\n                    </div>\n                    <div class=\"result-item\">\n                        <span class=\"result-metric\">Leads qualificados</span>\n                        <span class=\"result-value\">40-80</span>\n                    </div>\n                    <div class=\"result-item\">\n                        <span class=\"result-metric\">Reuniões agendadas</span>\n                        <span class=\"result-value\">8-15</span>\n                    </div>\n                    <div class=\"result-item\">\n                        <span class=\"result-metric\">Alcance mensal</span>\n                        <span class=\"result-value\">35k-60k</span>\n                    </div>\n                </div>\n\n                <div class=\"success\">\n                    <strong>Ponto ideal:</strong> Qualidade dos leads melhora significativamente. Gestores de marketing começam a aparecer.\n                </div>\n            </div>\n\n            <!-- CENÁRIO 3: IDEAL -->\n            <div class=\"scenario ideal\">\n                <div class=\"scenario-title\">\n                    <span class=\"emoji\">👑</span>\n                    CENÁRIO IDEAL\n                </div>\n                \n                <div class=\"budget\">\n                    <div class=\"budget-amount\">R$ 8.000</div>\n                    <div class=\"budget-daily\">R$ 258 por dia</div>\n                    <div class=\"budget-note\">Máximo potencial</div>\n                </div>\n\n                <div class=\"campaigns\">\n                    <div class=\"campaign\">\n                        <div class=\"campaign-info\">\n                            <div class=\"campaign-name\">💼 LinkedIn Premium</div>\n                            <div class=\"campaign-desc\">CEOs e diretores</div>\n                        </div>\n                        <div class=\"campaign-budget\">R$ 80/dia</div>\n                    </div>\n\n                    <div class=\"campaign\">\n                        <div class=\"campaign-info\">\n                            <div class=\"campaign-name\">🎬 YouTube Strategy</div>\n                            <div class=\"campaign-desc\">Autoridade e educação</div>\n                        </div>\n                        <div class=\"campaign-budget\">R$ 60/dia</div>\n                    </div>\n\n                    <div class=\"campaign\">\n                        <div class=\"campaign-info\">\n                            <div class=\"campaign-name\">📱 Meta Completo</div>\n                            <div class=\"campaign-desc\">Instagram + Facebook</div>\n                        </div>\n                        <div class=\"campaign-budget\">R$ 70/dia</div>\n                    </div>\n\n                    <div class=\"campaign\">\n                        <div class=\"campaign-info\">\n                            <div class=\"campaign-name\">🔍 Google 360°</div>\n                            <div class=\"campaign-desc\">Busca + Display</div>\n                        </div>\n                        <div class=\"campaign-budget\">R$ 48/dia</div>\n                    </div>\n                </div>\n\n                <div class=\"results\">\n                    <h3>🎯 O que esperar:</h3>\n                    <div class=\"result-item\">\n                        <span class=\"result-metric\">Novos seguidores</span>\n                        <span class=\"result-value\">2k-3k</span>\n                    </div>\n                    <div class=\"result-item\">\n                        <span class=\"result-metric\">Leads qualificados</span>\n                        <span class=\"result-value\">120-200</span>\n                    </div>\n                    <div class=\"result-item\">\n                        <span class=\"result-metric\">Reuniões agendadas</span>\n                        <span class=\"result-value\">25-40</span>\n                    </div>\n                    <div class=\"result-item\">\n                        <span class=\"result-metric\">Alcance mensal</span>\n                        <span class=\"result-value\">80k-150k</span>\n                    </div>\n                </div>\n\n                <div class=\"success\">\n                    <strong>Resultado máximo:</strong> Leads premium! Grandes agências e empresas multinacionais começam a aparecer.\n                </div>\n            </div>\n        </div>\n\n        <div class=\"comparison\">\n            <h2>🔥 Comparação Visual</h2>\n            <div class=\"comparison-grid\">\n                <div class=\"comparison-item\">\n                    <div class=\"comparison-title\">💰 Investimento</div>\n                    <div class=\"comparison-value\">3x</div>\n                    <div class=\"comparison-desc\">Do básico para o ideal</div>\n                </div>\n                <div class=\"comparison-item\">\n                    <div class=\"comparison-title\">🎯 Leads</div>\n                    <div class=\"comparison-value\">20x</div>\n                    <div class=\"comparison-desc\">Mais leads qualificados</div>\n                </div>\n                <div class=\"comparison-item\">\n                    <div class=\"comparison-title\">📈 Alcance</div>\n                    <div class=\"comparison-value\">6x</div>\n                    <div class=\"comparison-desc\">Maior visibilidade</div>\n                </div>\n                <div class=\"comparison-item\">\n                    <div class=\"comparison-title\">🤝 Reuniões</div>\n                    <div class=\"comparison-value\">4x</div>\n                    <div class=\"comparison-desc\">Mais oportunidades</div>\n                </div>\n            </div>\n        </div>\n    </div>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[160,-40],"id":"dc6bce97-f38e-47e3-9e3a-96f6b0113d39","name":"HTML1"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[440,-40],"id":"42e273b0-0c71-47c5-938c-10b38d423a91","name":"Respond to Webhook1"},{"parameters":{"httpMethod":"POST","path":"andre","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-120,180],"id":"7010e344-f72c-447e-95cd-41612e0fea69","name":"webhook resposta briefing","webhookId":"b635630b-8063-4542-8c70-4f097cb2d2cc"}],"connections":{"Webhook1":{"main":[[{"node":"HTML1","type":"main","index":0}]]},"HTML1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e5dbd188-ccd6-4ed3-9506-bb7faf1f9dc4","triggerCount":2,"shared":[{"createdAt":"2025-07-16T19:54:06.246Z","updatedAt":"2025-07-16T19:54:06.246Z","role":"workflow:owner","workflowId":"fqsntZ58ovpIZsw3","projectId":"TZpK0B2uX65EVlPC"}],"tags":[]}