cria_estrategia-DXqIuRxqLlpg8wBY.json
{"createdAt":"2025-07-04T14:49:21.953Z","updatedAt":"2025-07-04T20:45:08.000Z","id":"DXqIuRxqLlpg8wBY","name":"cria_estrategia","active":false,"isArchived":false,"nodes":[{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>\n  <title>Briefing - NeuroSpark</title>\n  <link href=\"https://fonts.googleapis.com/icon?family=Material+Icons\" rel=\"stylesheet\">\n  <style>\n    body {\n      background: #111;\n      color: #fff;\n      font-family: Arial, sans-serif;\n      padding: 40px;\n    }\n\n    .container {\n      max-width: 700px;\n      margin: auto;\n      background: #1a1a1a;\n      border-radius: 10px;\n      padding: 30px;\n      box-shadow: 0 0 20px rgba(255, 215, 0, 0.1);\n    }\n\n    h1 {\n      text-align: center;\n      color: gold;\n      margin-bottom: 10px;\n    }\n\n    .subtitle {\n      text-align: center;\n      color: #ccc;\n      font-size: 14px;\n      margin-bottom: 30px;\n    }\n\n    .section {\n      margin-bottom: 25px;\n      border-top: 1px solid #333;\n      padding-top: 15px;\n    }\n\n    .section-title {\n      display: flex;\n      align-items: center;\n      font-weight: bold;\n      margin-bottom: 10px;\n      color: gold;\n      font-size: 16px;\n    }\n\n    .material-icons {\n      margin-right: 8px;\n      font-size: 20px;\n      color: gold;\n    }\n\n    label {\n      display: block;\n      margin-top: 10px;\n      font-weight: bold;\n      color: #f2f2f2;\n    }\n\n    input, textarea, select {\n      width: 100%;\n      padding: 10px;\n      margin-top: 5px;\n      border-radius: 5px;\n      border: none;\n      background: #2b2b2b;\n      color: white;\n    }\n\n    button {\n      width: 100%;\n      background-color: gold;\n      color: black;\n      padding: 12px;\n      border: none;\n      border-radius: 5px;\n      font-size: 16px;\n      font-weight: bold;\n      cursor: pointer;\n      margin-top: 20px;\n    }\n\n    button:hover {\n      background-color: #e0c200;\n    }\n\n    small {\n      display: block;\n      margin-top: 10px;\n      color: #aaa;\n      text-align: center;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>Briefing para Projeto com IA</h1>\n    <p class=\"subtitle\">Preencha o formulário abaixo para te ajudarmos a criar a melhor solução com inteligência artificial.</p>\n\n    <form id=\"briefingForm\">\n      <!-- INFORMAÇÕES DO CLIENTE -->\n      <div class=\"section\">\n        <div class=\"section-title\"><span class=\"material-icons\">person</span> Informações do Cliente</div>\n        <label>Nome do cliente*</label>\n        <input type=\"text\" name=\"nomeCliente\" required />\n\n        <label>Empresa / Negócio*</label>\n        <input type=\"text\" name=\"empresa\" required />\n\n        <label>E-mail de contato*</label>\n        <input type=\"email\" name=\"email\" required />\n\n        <label>Telefone / WhatsApp*</label>\n        <input type=\"text\" name=\"telefone\" required />\n      </div>\n\n      <!-- DETALHES DO PROJETO -->\n      <div class=\"section\">\n        <div class=\"section-title\"><span class=\"material-icons\">insights</span> Detalhes do Projeto</div>\n        <label>Qual o principal problema ou desafio que deseja resolver com IA?*</label>\n        <textarea name=\"problema\" required></textarea>\n\n        <label>Qual destes tipos de solução mais se aproxima da sua necessidade?*</label>\n        <select name=\"tipoSolucao\" required>\n          <option value=\"\">Selecione</option>\n          <option value=\"Automação de processos\">Automação de processos</option>\n          <option value=\"Atendimento com IA\">Atendimento com IA</option>\n          <option value=\"Análise preditiva\">Análise preditiva</option>\n          <option value=\"Outro\">Outro</option>\n        </select>\n\n        <label>Descreva em poucas palavras como você imagina essa solução funcionando no dia a dia*</label>\n        <textarea name=\"visao\" required></textarea>\n      </div>\n\n      <!-- INFORMAÇÕES ADICIONAIS -->\n      <div class=\"section\">\n        <div class=\"section-title\"><span class=\"material-icons\">apps</span> Informações Adicionais</div>\n        <label>Quais ferramentas você já utiliza hoje?*</label>\n        <input type=\"text\" name=\"ferramentas\" required />\n\n        <label>Qual o objetivo principal para sua empresa com essa aplicação?*</label>\n        <textarea name=\"objetivo\" required></textarea>\n\n        <label>Qual o nível de urgência do projeto?*</label>\n        <select name=\"urgencia\" required>\n          <option value=\"\">Selecione</option>\n          <option value=\"Imediato\">Imediato</option>\n          <option value=\"Nos próximos meses\">Nos próximos meses</option>\n          <option value=\"Sem urgência\">Sem urgência</option>\n        </select>\n      </div>\n\n      <!-- BOTÃO -->\n      <button type=\"submit\">Enviar Briefing para Análise</button>\n      <small>Ao enviar este formulário, você concorda com nossa política de privacidade.</small>\n    </form>\n  </div>\n\n  <script>\n    document.getElementById(\"briefingForm\").addEventListener(\"submit\", async function (e) {\n      e.preventDefault();\n      const formData = new FormData(e.target);\n      const data = {};\n      for (const [key, value] of formData.entries()) {\n        data[key] = value;\n      }\n\n      try {\n        await fetch(\"https://n8n.adabtech.com.br/webhook/chatgpt2\", {\n          method: \"POST\",\n          headers: {\n            \"Content-Type\": \"application/json\",\n          },\n          body: JSON.stringify(data),\n        });\n        alert(\"Briefing enviado com sucesso!\");\n        e.target.reset();\n      } catch (error) {\n        alert(\"Erro ao enviar briefing. Tente novamente.\");\n        console.error(error);\n      }\n    });\n  </script>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[260,500],"id":"19e8f296-4e27-40d5-b0f7-6946bfa8c175","name":"HTML"},{"parameters":{"path":"8d2bbdaa-1333-4a74-9280-fdac9cdc2361","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[40,500],"id":"1d008448-0361-4db7-897d-8a91b5704301","name":"CHATGPT","webhookId":"8d2bbdaa-1333-4a74-9280-fdac9cdc2361"},{"parameters":{"formTitle":"Briefing do Conteúdo para Estratégia Digital","formDescription":"Bem-vindo ao início da sua transformação digital!\nPara que o desenvolvimento da Estratégia de Posicionamento Digital seja o mais assertivo possível, precisamos conhecer um pouco mais sobre você, seu negócio, seus objetivos e expectativas.\nSuas respostas são muito importantes! Por favor responda com calma e de forma minuciosa.\nAo conhecer suas respostas, estamos entendendo e pensando em uma estratégia personalizada e com as melhores práticas de acordo com seu perfil.\n\nVamos lá?      ","formFields":{"values":[{"fieldLabel":"Data de Hoje","fieldType":"date","requiredField":true},{"fieldLabel":"Qual o seu nome?","placeholder":"Digite aqui seu nome","requiredField":true},{"fieldLabel":"Empresa / Negócio","placeholder":"Nome da empresa","requiredField":true},{"fieldLabel":"E-mail de contato *","placeholder":"Digite seu email","requiredField":true},{"fieldLabel":"Telefone / WhatsApp ","placeholder":"Digite seu telefone","requiredField":true}]},"options":{"customCss":":root {\n  --font-family: 'Open Sans', sans-serif;\n  --font-size-body: 14px;\n  --font-size-label: 14px;\n  --font-size-input: 14px;\n  --font-size-header: 22px;\n\n  --color-background: #0f0f0f;\n  --color-card-bg: #1b1b1b;\n  --color-card-border: #2e2e2e;\n  --color-card-shadow: rgba(0, 0, 0, 0.6);\n\n  --color-header: #f0c040;\n  --color-label: #ffffff;\n  --color-input-text: #000000; /* <- Texto dos inputs agora preto */\n  --color-input-border: #444444;\n  --color-focus-border: #f0c040;\n  --color-submit-btn-bg: #f0c040;\n  --color-submit-btn-text: #000000;\n  --color-error: #ff4d4d;\n  --color-html-text: #bbbbbb;\n  --color-html-link: #f0c040;\n  --color-required: #f0c040;\n\n  --border-radius-input: 8px;\n  --padding-form-input: 12px;\n\n  --submit-btn-height: 48px;\n  --box-shadow-card: 0 4px 20px rgba(0, 0, 0, 0.5);\n  --opacity-placeholder: 0.6;\n}\n"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-620,820],"id":"5d11aef6-308d-49ec-bf6a-5044414298f3","name":"N8N","webhookId":"fcf9b425-ffdc-449c-8c9c-383f6f45faf3"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[480,500],"id":"bbc6cb35-5255-4c1c-891d-2657d58df2f5","name":"Respond to Webhook"},{"parameters":{"defineForm":"json","jsonOutput":"[\n  {\n    \"fieldLabel\": \"Liste os produtos ou serviços da sua empresa que você deseja trabalhar:\",\n    \"fieldType\": \"textarea\",\n    \"placeholder\": \"Descreva seus produtos/serviços...\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Os preços praticados estão mais alinhados com ticket alto, médio ou baixo?\",\n    \"fieldType\": \"text\",\n    \"placeholder\": \"Digite: Alto, Médio ou Baixo\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Qual o principal diferencial da sua empresa em relação à concorrência?\",\n    \"fieldType\": \"textarea\",\n    \"placeholder\": \"Explique com suas palavras...\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Quais produtos ou serviços você já tem que podem gerar mais autoridade no digital?\",\n    \"fieldType\": \"textarea\",\n    \"placeholder\": \"Ex: Produtos exclusivos, com alto valor percebido...\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Quais são os objetivos do seu negócio a curto, médio e longo prazo?\",\n    \"fieldType\": \"textarea\",\n    \"placeholder\": \"Ex: Aumentar vendas, lançar um novo produto...\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Como você imagina que seria um dia ideal de funcionamento da sua empresa, com a estratégia digital rodando do jeito certo e atingindo os resultados esperados?\",\n    \"fieldType\": \"textarea\",\n    \"placeholder\": \"Descreva o que você gostaria de ver acontecendo no dia a dia: Vendas, atendimento, reconhecimento, rotina leve, etc.\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Quais são seus maiores desafios no digital atualmente?\",\n    \"fieldType\": \"textarea\",\n    \"placeholder\": \"Ex: Falta de visibilidade, pouco engajamento, dificuldade de produzir conteúdo...\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Liste no mínimo 5 perfis de pessoas que consomem (ou que você acredita que consumirão) seu produto ou serviço.\",\n    \"fieldType\": \"textarea\",\n    \"placeholder\": \"Descreva faixa etária, gênero, estilo de vida, localização...\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Sua empresa possui identidade visual definida (logo, cores, fontes...)?\",\n    \"fieldType\": \"text\",\n    \"placeholder\": \"Digite: Sim ou Não. Caso sim, informe detalhes ou links.\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Sua empresa possui site? Se sim, insira o link.\",\n    \"fieldType\": \"text\",\n    \"placeholder\": \"Ex: https://meusite.com.br\",\n    \"requiredField\": false\n  },\n  {\n    \"fieldLabel\": \"Sua empresa possui redes sociais? Se sim, cole os links (Instagram, Facebook, YouTube, TikTok etc.):\",\n    \"fieldType\": \"textarea\",\n    \"placeholder\": \"Cole os links aqui...\",\n    \"requiredField\": false\n  },\n  {\n    \"fieldLabel\": \"Como você gostaria que sua empresa fosse percebida nas redes sociais?\",\n    \"fieldType\": \"textarea\",\n    \"placeholder\": \"Ex: Moderna, confiável, acessível...\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"E como você NÃO gostaria de ser percebido nas redes sociais?\",\n    \"fieldType\": \"textarea\",\n    \"placeholder\": \"Ex: Amadora, confusa, genérica...\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Cite perfis do Instagram do seu nicho que você considera referência:\",\n    \"fieldType\": \"textarea\",\n    \"placeholder\": \"Cole os links ou nomes de usuários...\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Cite perfis do YouTube do seu nicho que você considera referência:\",\n    \"fieldType\": \"textarea\",\n    \"placeholder\": \"Cole os links ou nomes de canais...\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Cite profissionais (de qualquer área) que você admira pela atuação digital e diga por quê.\",\n    \"fieldType\": \"textarea\",\n    \"placeholder\": \"Explique sua inspiração...\",\n    \"requiredField\": false\n  },\n  {\n    \"fieldLabel\": \"Quais temas ou assuntos você considera importantes de serem abordados nas redes sociais da sua empresa?\",\n    \"fieldType\": \"textarea\",\n    \"placeholder\": \"Liste os principais tópicos...\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Liste fontes de conteúdo confiável para seu negócio (sites, livros, artigos, revistas, perfis):\",\n    \"fieldType\": \"textarea\",\n    \"placeholder\": \"Inclua links ou nomes...\",\n    \"requiredField\": false\n  },\n  {\n    \"fieldLabel\": \"Liste 10 palavras-chave importantes que representam seu negócio:\",\n    \"fieldType\": \"textarea\",\n    \"placeholder\": \"Palavras separadas por vírgula ou linha...\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Você pensa em criar infoprodutos? Se sim, descreva a ideia que já tem em mente.\",\n    \"fieldType\": \"textarea\",\n    \"placeholder\": \"Conte se já tem ideia estruturada...\",\n    \"requiredField\": false\n  },\n  {\n    \"fieldLabel\": \"Quais empresas você considera concorrentes diretos?\",\n    \"fieldType\": \"textarea\",\n    \"placeholder\": \"Liste nomes ou links...\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Cite empresas que você considera inspiração para a sua (em marca, conteúdo, atuação etc.):\",\n    \"fieldType\": \"textarea\",\n    \"placeholder\": \"Descreva ou cole links...\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Qual é o seu público-alvo ideal? Quem você mais deseja atrair com sua comunicação?\",\n    \"fieldType\": \"textarea\",\n    \"placeholder\": \"Descreva em detalhes esse público ideal...\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Como você pretende medir o sucesso da estratégia digital?\",\n    \"fieldType\": \"textarea\",\n    \"placeholder\": \"Ex: Vendas, aumento de seguidores, engajamento...\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Descreva qualquer informação importante sobre seu projeto que ainda não foi perguntada.\",\n    \"fieldType\": \"textarea\",\n    \"placeholder\": \"Conte tudo que julgar necessário para a construção da sua estratégia digital...\",\n    \"requiredField\": true\n  }\n]","options":{"customCss":":root {\n  --font-family: 'Open Sans', sans-serif;\n  --font-size-body: 14px;\n  --font-size-label: 14px;\n  --font-size-input: 14px;\n  --font-size-header: 22px;\n\n  --color-background: #0f0f0f;\n  --color-card-bg: #1b1b1b;\n  --color-card-border: #2e2e2e;\n  --color-card-shadow: rgba(0, 0, 0, 0.6);\n\n  --color-header: #f0c040;\n  --color-label: #ffffff;\n  --color-input-text: #000000; /* <- Texto dos inputs agora preto */\n  --color-input-border: #444444;\n  --color-focus-border: #f0c040;\n  --color-submit-btn-bg: #f0c040;\n  --color-submit-btn-text: #000000;\n  --color-error: #ff4d4d;\n  --color-html-text: #bbbbbb;\n  --color-html-link: #f0c040;\n  --color-required: #f0c040;\n\n  --border-radius-input: 8px;\n  --padding-form-input: 12px;\n\n  --submit-btn-height: 48px;\n  --box-shadow-card: 0 4px 20px rgba(0, 0, 0, 0.5);\n  --opacity-placeholder: 0.6;\n}\n"}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[-400,820],"id":"20f49651-e998-4e05-a654-6f84925af868","name":"Form","webhookId":"0bcf7b6b-ab1a-4d05-84e3-6002b1131a78"},{"parameters":{"operation":"completion","completionTitle":"Parabéns! Sua jornada estratégica começou com o pé direito.","completionMessage":"Você acaba de dar um passo que a maioria não dá: olhar com clareza para o próprio negócio e traçar um caminho com propósito.\n\nResponder esse briefing exige tempo, visão e coragem — e isso diz muito sobre você e sobre onde sua empresa vai chegar.\n\nAcredite: quem se posiciona com intenção, cresce com consistência.\n\nAgora é com a gente. Vamos transformar tudo isso em uma estratégia real, viva e que gera resultado.","options":{"customCss":":root {\n  --font-family: 'Open Sans', sans-serif;\n  --font-size-body: 14px;\n  --font-size-label: 14px;\n  --font-size-input: 14px;\n  --font-size-header: 22px;\n\n  --color-background: #0f0f0f;\n  --color-card-bg: #1b1b1b;\n  --color-card-border: #2e2e2e;\n  --color-card-shadow: rgba(0, 0, 0, 0.6);\n\n  --color-header: #f0c040;\n  --color-label: #ffffff;\n  --color-input-text: #000000; /* <- Texto dos inputs agora preto */\n  --color-input-border: #444444;\n  --color-focus-border: #f0c040;\n  --color-submit-btn-bg: #f0c040;\n  --color-submit-btn-text: #000000;\n  --color-error: #ff4d4d;\n  --color-html-text: #bbbbbb;\n  --color-html-link: #f0c040;\n  --color-required: #f0c040;\n\n  --border-radius-input: 8px;\n  --padding-form-input: 12px;\n\n  --submit-btn-height: 48px;\n  --box-shadow-card: 0 4px 20px rgba(0, 0, 0, 0.5);\n  --opacity-placeholder: 0.6;\n}\n"}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[-180,820],"id":"3866a589-e1c2-471b-997c-4fba8ccae61e","name":"Form1","webhookId":"2c74277b-a7b1-43d2-9b3b-6ea13366107a"},{"parameters":{"httpMethod":"POST","path":"0787f525-bec4-4a9f-b865-0fc522ab453d","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-500,1300],"id":"b78eb369-d9d7-4bcc-b386-185dee0676ac","name":"resposta bolt","webhookId":"0787f525-bec4-4a9f-b865-0fc522ab453d","disabled":true},{"parameters":{"httpMethod":"POST","path":"329159d4-57d2-4216-89e2-cf2f24840b95","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-420,1820],"id":"d10666b8-021d-4008-857d-6bc0d772b5f8","name":"resposta chatgpt","webhookId":"329159d4-57d2-4216-89e2-cf2f24840b95","disabled":true},{"parameters":{"content":"## cria o formulario do chat gpt\n\n","height":240,"width":960},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-120,440],"id":"393670aa-4f7a-4cc5-aedc-0d5dda7fb1d2","name":"Sticky Note"},{"parameters":{"content":"##  formulario do n8n\n\n","height":420,"width":2340},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-820,760],"id":"c025599c-ae68-42f0-895f-fcd9cb55e1f6","name":"Sticky Note1"},{"parameters":{"content":"## Recebe resposta formulario bolt\n","height":400,"width":2360,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-840,1220],"id":"dc3afdd9-c868-44b4-a274-44f991675724","name":"Sticky Note2"},{"parameters":{"content":"## recebe resposta formulario chartgpt\n\n","height":540,"width":2380,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-860,1640],"id":"61b06b7f-aa4b-4df7-840d-5f09b0350fca","name":"Sticky Note3"},{"parameters":{"promptType":"define","text":"=Nome do cliente: {{ $json.NOME_CLIENTE }}\nnome da empresa: {{ $json.NOME_EMPRESA }}\nemail da empresa: {{ $json.EMAIL_EMPRESA }}\ntelefone responsavel: {{ $json.TELEFONE_RESPONSAVEL }}\n\nObjetivo: \n{{ $json.OBJETIVOS }}\n\nServiço desejado: {{ $json.COMO_DESEJA_SER_PERCEBIDO }}\n\nComo não deseja ser visto: {{ $json.COMO_NAO_DESEJA_SER_PERCEBIDO }}\n\nideia do cliente para o projeto: {{ $json.DESAFIOS_DIGITAIS }},\n\nObjetivo final da proposta: {{ $json.OBJETIVOS }}\n\nDia Perfeito:\n{{ $json.DIA_PERFEITO }}\n","hasOutputParser":true,"options":{"systemMessage":"=Prompt para Geração de Proposta Comercial Personalizada:\n\nVocê é um consultor da Orca Mídias, uma empresa especializada em soluções de inteligência artificial, responsável por elaborar propostas comerciais personalizadas para empresas. Com base nas informações fornecidas pelo cliente, redija uma proposta clara, profissional e adaptada às necessidades específicas do cliente.\n\nInstruções:\n\nADICIONE A DATA DO DIA A PROPOSTA E INFORME QUE TERÁ VALIDADE DE 15 DIAS\n\nHORA E DATA ATUA: {{ $now }}\n\nUtilize uma linguagem formal e objetiva, adequada para documentos comerciais.\n\nEstruture a proposta com os seguintes tópicos:\n\nApresentação: Saudação e introdução breve.\n\nSEMPRE APRESENTE-SE E DIGA QUE É DA EMPRESA ORCA MÍDIAS\n\nContextualização: Descrição do problema ou desafio enfrentado pelo cliente.\n\nProposta de Solução: Detalhamento da solução de IA proposta, incluindo funcionalidades e benefícios.\n\nImplementação: Etapas previstas para a implementação da solução.\n\nResultados Esperados: Benefícios e melhorias esperadas com a adoção da solução.\n\nPróximos Passos: Orientações para continuidade, como agendamento de reunião ou assinatura de contrato.\n\nEvite o uso de formatações como asteriscos, colchetes ou markdown.\n\nO texto deve ser fluido, com parágrafos bem estruturados, pronto para ser inserido em um documento Word.\n\nDados do Cliente:\n\nNome do cliente: {{ $json.NOME_CLIENTE }}\nnome da empresa: {{ $json.NOME_EMPRESA }}\nemail da empresa: {{ $json.EMAIL_EMPRESA }}\ntelefone responsavel: {{ $json.TELEFONE_RESPONSAVEL }}\n\nObjetivo: \n{{ $json.OBJETIVOS }}\n\nServiço desejado: {{ $json.COMO_DESEJA_SER_PERCEBIDO }}\n\nComo não deseja ser visto: {{ $json.COMO_NAO_DESEJA_SER_PERCEBIDO }}\n\nideia do cliente para o projeto: {{ $json.DESAFIOS_DIGITAIS }},\n\nObjetivo final da proposta: {{ $json.OBJETIVOS }}\n\nDia Perfeito:\n{{ $json.DIA_PERFEITO }}\n\nInformações da Orca Mídias\n\nnome do responsavel pela proposta: Ritielle Souza\n\nNome da Empresa: Orca Mídias\n\nE-mail: orcamidias@gmail.com\n\nTelefone: (11) 99348-7167\n\nWebsite: https://orcamidias.com/\n\nCom base nessas informações, elabore a proposta conforme as instruções acima."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[260,820],"id":"8c1df9b2-11f9-40ef-b726-90a4b57e51a8","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[120,1020],"id":"0bdbf8f3-bf64-4d5a-b042-d6ecb802b5e0","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"MPteFaZDz7sxcJqL","name":"OpenRouter Orca Mídias"}}},{"parameters":{"assignments":{"assignments":[{"id":"3d8ef372-c67f-4cb2-be38-b9b516ec51e7","name":"NOME_CLIENTE","value":"={{ $json.body.nomeCliente }}","type":"string"},{"id":"f1141345-57bb-478e-b64a-79bc89ab469f","name":"NOME_EMPRESA","value":"={{ $json.body.empresa }}","type":"string"},{"id":"560f6419-9aad-4dbe-871b-828198e102c0","name":"EMAIL_EMPRESA","value":"={{ $json.body.email }}","type":"string"},{"id":"15422698-8180-4543-b392-eb5db969285a","name":"TELEFONE_RESPONSAVEL","value":"={{ $json.body.telefone }}","type":"string"},{"id":"9dd67621-55df-402c-912e-04bca4305c75","name":"PROBLEMA","value":"={{ $json.body.problema }}","type":"string"},{"id":"b0f6ebd9-c8ff-4ef1-a596-5ddc6cb8d4d0","name":"SERVIÇO","value":"={{ $json.body.tipoSolucao }}","type":"string"},{"id":"ed5de8ec-f916-4388-92de-d5f885f789b3","name":"IDEIA","value":"={{ $json.body.visao }}","type":"string"},{"id":"c00b89d7-15d5-4573-a76f-6f65e52b4fa9","name":"FERRAMENTAS_ADICIONAIS","value":"={{ $json.body.ferramentas }}","type":"string"},{"id":"89dfe43c-4c86-473f-b981-546b90810b47","name":"OBJETIVO PRINCIPAL","value":"={{ $json.body.objetivo }}","type":"string"},{"id":"12a2db94-63ca-4b3c-86c3-b7a887b254b6","name":"PRAZO","value":"={{ $json.body.urgencia }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-200,1820],"id":"a4fcbaa2-e7f0-487f-a142-4f8030a1cd81","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"3d8ef372-c67f-4cb2-be38-b9b516ec51e7","name":"NOME_CLIENTE","value":"={{ $json.body.client.name }}","type":"string"},{"id":"f1141345-57bb-478e-b64a-79bc89ab469f","name":"NOME_EMPRESA","value":"={{ $json.body.client.company }}","type":"string"},{"id":"560f6419-9aad-4dbe-871b-828198e102c0","name":"EMAIL_EMPRESA","value":"={{ $json.body.client.email }}","type":"string"},{"id":"15422698-8180-4543-b392-eb5db969285a","name":"TELEFONE_RESPONSAVEL","value":"={{ $json.body.client.phone }}","type":"string"},{"id":"9dd67621-55df-402c-912e-04bca4305c75","name":"PROBLEMA","value":"={{ $json.body.project.mainChallenge }}","type":"string"},{"id":"b0f6ebd9-c8ff-4ef1-a596-5ddc6cb8d4d0","name":"SERVIÇO","value":"={{ $json.body.project.solutionType }}","type":"string"},{"id":"ed5de8ec-f916-4388-92de-d5f885f789b3","name":"IDEIA","value":"={{ $json.body.project.solutionDescription }}","type":"string"},{"id":"c00b89d7-15d5-4573-a76f-6f65e52b4fa9","name":"FERRAMENTAS_ADICIONAIS","value":"={{ $json.body.business.currentTools }}","type":"string"},{"id":"89dfe43c-4c86-473f-b981-546b90810b47","name":"OBJETIVO PRINCIPAL","value":"={{ $json.body.business.targetAudience }}","type":"string"},{"id":"12a2db94-63ca-4b3c-86c3-b7a887b254b6","name":"PRAZO","value":"={{ $json.body.business.urgencyLevel }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-220,1300],"id":"df0938a3-4196-48bf-b062-8c8652db5ce2","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"11784a05-a425-4085-b552-1e831d246572","name":"NOME_CLIENTE","value":"={{ $('N8N').item.json['Qual o seu nome?'] }}","type":"string"},{"id":"404fb3ed-f175-422a-8a46-a3492590a4ad","name":"NOME_EMPRESA","value":"={{ $('N8N').item.json['Empresa / Negócio'] }}","type":"string"},{"id":"3db110da-b11c-44d8-8f51-c5e2c27938e3","name":"EMAIL_EMPRESA","value":"={{ $('N8N').item.json['E-mail de contato *'] }}","type":"string"},{"id":"692d3b78-11a4-4061-bd8a-7f6a4bfd1d27","name":"TELEFONE_RESPONSAVEL","value":"={{ $('N8N').item.json['Telefone / WhatsApp '] }}","type":"string"},{"id":"84555993-3a29-4d43-a136-5b70abcdd2f9","name":"PRODUTOS_SERVICOS","value":"={{ $('Form').item.json['Quais produtos ou serviços você já tem que podem gerar mais autoridade no digital?'] }}","type":"string"},{"id":"8dab53e2-2b50-41a5-988c-96e1c1e56763","name":"TICKET_MEDIO","value":"={{ $('Form').item.json['Os preços praticados estão mais alinhados com ticket alto, médio ou baixo?'] }}","type":"string"},{"id":"d46fdea3-7256-4e16-8fdf-8d6e47ffc217","name":"DIFERENCIA","value":"={{ $('Form').item.json['Qual o principal diferencial da sua empresa em relação à concorrência?'] }}","type":"string"},{"id":"16a8051c-e548-49a9-bf5a-9371252b4c24","name":"AUTORIDADE","value":"","type":"string"},{"id":"eb437334-4847-4a96-bd32-08f1c3781618","name":"OBJETIVOS","value":"={{ $('Form').item.json['Quais são seus maiores desafios no digital atualmente?'] }}","type":"string"},{"id":"f508dc13-7788-4f3b-9fb3-b86da019f304","name":"DIA_PERFEITO","value":"={{ $('Form').item.json['Como você imagina que seria um dia ideal de funcionamento da sua empresa, com a estratégia digital rodando do jeito certo e atingindo os resultados esperados?'] }}","type":"string"},{"id":"d2234f6b-68d4-4541-9e2c-af8f040246c5","name":"DESAFIOS_DIGITAIS","value":"={{ $('Form').item.json['Quais são seus maiores desafios no digital atualmente?'] }}","type":"string"},{"id":"27032d29-8630-4d71-9680-dbde9157cd8d","name":"PERFIS_PUBLICO","value":"={{ $('Form').item.json['Cite perfis do Instagram do seu nicho que você considera referência:'] }}","type":"string"},{"id":"99d0679d-6093-4560-9808-10b005a5bc64","name":"ID_VISUAL","value":"={{ $('Form').item.json['Sua empresa possui identidade visual definida (logo, cores, fontes...)?'] }}","type":"string"},{"id":"152e5fc1-0bfb-4a9e-9e14-d6fa35ea7141","name":"SITE","value":"={{ $('Form').item.json['Sua empresa possui site? Se sim, insira o link.'] }}","type":"string"},{"id":"4fe8039d-9f21-44a4-a90f-cc53988ae75d","name":"REDES_SOCIAIS","value":"={{ $('Form').item.json['Sua empresa possui redes sociais? Se sim, cole os links (Instagram, Facebook, YouTube, TikTok etc.):'] }}","type":"string"},{"id":"d1622e3a-b961-4c66-bbc5-97c7c772ceef","name":"COMO_DESEJA_SER_PERCEBIDO","value":"={{ $('Form').item.json['Como você gostaria que sua empresa fosse percebida nas redes sociais?'] }}","type":"string"},{"id":"848a9b9f-05f2-4b99-89a0-984ad698253a","name":"COMO_NAO_DESEJA_SER_PERCEBIDO","value":"={{ $('Form').item.json['E como você NÃO gostaria de ser percebido nas redes sociais?'] }}","type":"string"},{"id":"784c5043-17c6-4592-9c6b-64ea5403fc52","name":"REFERENCIAS_INSTAGRAM","value":"={{ $('Form').item.json['Cite perfis do Instagram do seu nicho que você considera referência:'] }}","type":"string"},{"id":"cd5031bd-5c4d-4c96-a63f-a8a8ae6d34f3","name":"REFERENCIAS_YOUTUBE","value":"={{ $('Form').item.json['Cite perfis do YouTube do seu nicho que você considera referência:'] }}","type":"string"},{"id":"2b46ac5b-9be7-4510-bef7-a396a38440a8","name":"ADMIRACOES_DIGITAIS","value":"={{ $('Form').item.json['Cite profissionais (de qualquer área) que você admira pela atuação digital e diga por quê.'] }}","type":"string"},{"id":"a0a58d3c-fc72-4561-967e-e9cd6f4e7d24","name":"TEMAS_REDES","value":"={{ $('Form').item.json['Quais temas ou assuntos você considera importantes de serem abordados nas redes sociais da sua empresa?'] }}","type":"string"},{"id":"c729de4e-bd7d-4c66-b33e-03ebcc267410","name":"FONTES_CONFIAVEIS","value":"={{ $('Form').item.json['Liste fontes de conteúdo confiável para seu negócio (sites, livros, artigos, revistas, perfis):'] }}","type":"string"},{"id":"3e7b77cf-7f66-487d-92f7-49b4a1e052ab","name":"PALAVRAS_CHAVE","value":"={{ $('Form').item.json['Liste 10 palavras-chave importantes que representam seu negócio:'] }}","type":"string"},{"id":"37dd4d1e-718b-4731-a484-b0de31119834","name":"INFOPRODUTO","value":"={{ $('Form').item.json['Você pensa em criar infoprodutos? Se sim, descreva a ideia que já tem em mente.'] }}","type":"string"},{"id":"5a470a46-0487-4864-8513-b1d1ed613b6a","name":"CONCORRENTES","value":"={{ $('Form').item.json['Quais empresas você considera concorrentes diretos?'] }}","type":"string"},{"id":"4df38226-0818-4195-ac15-1ab768175100","name":"INSPIRACOES","value":"={{ $('Form').item.json['Cite empresas que você considera inspiração para a sua (em marca, conteúdo, atuação etc.):'] }}","type":"string"},{"id":"3501f9f6-bc93-4d50-afd4-0363f7381874","name":"PUBLICO_IDEAL","value":"={{ $('Form').item.json['Qual é o seu público-alvo ideal? Quem você mais deseja atrair com sua comunicação?'] }}","type":"string"},{"id":"a3d5325f-b43c-48a4-ab3c-c15cd833b059","name":"COMO_MEDE_SUCESSO","value":"={{ $('Form').item.json['Como você pretende medir o sucesso da estratégia digital?'] }}","type":"string"},{"id":"31676abb-0f28-4e32-8d3c-5bb7d92e6904","name":"INFO_EXTRA","value":"={{ $('Form').item.json['Descreva qualquer informação importante sobre seu projeto que ainda não foi perguntada.'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[40,820],"id":"e7e5b977-3e1f-4c5d-8a24-3dde3bb2a400","name":"Edit Fields3"},{"parameters":{"promptType":"define","text":"=Nome do cliente: {{ $json.NOME_CLIENTE }}\nnome da empresa: {{ $json.NOME_EMPRESA }}\nemail da empresa: {{ $json.EMAIL_EMPRESA }}\ntelefone responsavel: {{ $json.TELEFONE_RESPONSAVEL }}\n\nproblema: {{ $json.PROBLEMA }}\n\nServiço desejado: {{ $json['SERVIÇO'] }}\nideia do cliente para o projeto:{{ $json.IDEIA }},\n\nFerramenta ja utilizada pelo cliente: {{ $json.FERRAMENTAS_ADICIONAIS }}\n\nObjetivo final da proposta: {{ $json['OBJETIVO PRINCIPAL'] }}\n\nprazo final: {{ $json.PRAZO }}\n\n","hasOutputParser":true,"options":{"systemMessage":"=Prompt para Geração de Proposta Comercial Personalizada:\n\nVocê é um consultor da NeuroSpark, uma empresa especializada em soluções de inteligência artificial, responsável por elaborar propostas comerciais personalizadas para empresas. Com base nas informações fornecidas pelo cliente, redija uma proposta clara, profissional e adaptada às necessidades específicas do cliente.\n\nInstruções:\n\nADICIONE A DATA DO DIA A PROPOSTA E INFROME QUE TERA VALIDADE DE 15 DIAS\n\nHORA E DATA ATUA: {{ $now }}\n\nUtilize uma linguagem formal e objetiva, adequada para documentos comerciais.\n\nEstruture a proposta com os seguintes tópicos:\n\nApresentação: Saudação e introdução breve.\n\nSEMPRE APRESENTE-SE E DIGA QUE E DA EMPRESA NEUROSPARK\n\nContextualização: Descrição do problema ou desafio enfrentado pelo cliente.\n\nProposta de Solução: Detalhamento da solução de IA proposta, incluindo funcionalidades e benefícios.\n\nImplementação: Etapas previstas para a implementação da solução.\n\nResultados Esperados: Benefícios e melhorias esperadas com a adoção da solução.\n\nPróximos Passos: Orientações para continuidade, como agendamento de reunião ou assinatura de contrato.\n\nEvite o uso de formatações como asteriscos, colchetes ou markdown.\n\nO texto deve ser fluido, com parágrafos bem estruturados, pronto para ser inserido em um documento Word.\n\nDados do Cliente:\n\nNome: {{nome}}\n\nEmpresa: {{empresa}}\n\nE-mail: {{email}}\n\nTelefone: {{telefone}}\n\nDesafio Principal: {{problema}}\n\nÁreas de Aplicação: {{aplicacao}}\n\nFuncionamento Esperado da Solução: {{ideia}}\n\nFerramentas Atuais: {{ferramentas}}\n\nObjetivo Final: {{objetivo}}\n\nStatus do Projeto: {{status}}\n\nInformações da NeuroSpark:\n\nnome do responsavel pela propsota: Albert Ainstein\n\nNome da Empresa: NeuroSpark\n\nE-mail: neurospark@gmail.com\n\nTelefone: (11) 3524-1150\n\nWebsite: https://neurosparklab.tech/\n\nCom base nessas informações, elabore a proposta conforme as instruções acima."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[0,1300],"id":"8657e0fe-1f43-490a-8ce5-c669414b2507","name":"AI Agent1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-120,1500],"id":"d687c3e7-4217-41c4-ad3b-722919c18710","name":"OpenRouter Chat Model1","disabled":true},{"parameters":{"promptType":"define","text":"=Nome do cliente: {{ $json.NOME_CLIENTE }}\nnome da empresa: {{ $json.NOME_EMPRESA }}\nemail da empresa: {{ $json.EMAIL_EMPRESA }}\ntelefone responsavel: {{ $json.TELEFONE_RESPONSAVEL }}\n\nproblema: {{ $json.PROBLEMA }}\n\nServiço desejado: {{ $json['SERVIÇO'] }}\nideia do cliente para o projeto:{{ $json.IDEIA }},\n\nFerramenta ja utilizada pelo cliente: {{ $json.FERRAMENTAS_ADICIONAIS }}\n\nObjetivo final da proposta: {{ $json['OBJETIVO PRINCIPAL'] }}\n\nprazo final: {{ $json.PRAZO }}\n\n","hasOutputParser":true,"options":{"systemMessage":"=Prompt para Geração de Proposta Comercial Personalizada:\n\nVocê é um consultor da NeuroSpark, uma empresa especializada em soluções de inteligência artificial, responsável por elaborar propostas comerciais personalizadas para empresas. Com base nas informações fornecidas pelo cliente, redija uma proposta clara, profissional e adaptada às necessidades específicas do cliente.\n\nInstruções:\n\nADICIONE A DATA DO DIA A PROPOSTA E INFROME QUE TERA VALIDADE DE 15 DIAS\n\nHORA E DATA ATUA: {{ $now }}\n\nUtilize uma linguagem formal e objetiva, adequada para documentos comerciais.\n\nEstruture a proposta com os seguintes tópicos:\n\nApresentação: Saudação e introdução breve.\n\nSEMPRE APRESENTE-SE E DIGA QUE E DA EMPRESA NEUROSPARK\n\nContextualização: Descrição do problema ou desafio enfrentado pelo cliente.\n\nProposta de Solução: Detalhamento da solução de IA proposta, incluindo funcionalidades e benefícios.\n\nImplementação: Etapas previstas para a implementação da solução.\n\nResultados Esperados: Benefícios e melhorias esperadas com a adoção da solução.\n\nPróximos Passos: Orientações para continuidade, como agendamento de reunião ou assinatura de contrato.\n\nEvite o uso de formatações como asteriscos, colchetes ou markdown.\n\nO texto deve ser fluido, com parágrafos bem estruturados, pronto para ser inserido em um documento Word.\n\nDados do Cliente:\n\nNome: {{nome}}\n\nEmpresa: {{empresa}}\n\nE-mail: {{email}}\n\nTelefone: {{telefone}}\n\nDesafio Principal: {{problema}}\n\nÁreas de Aplicação: {{aplicacao}}\n\nFuncionamento Esperado da Solução: {{ideia}}\n\nFerramentas Atuais: {{ferramentas}}\n\nObjetivo Final: {{objetivo}}\n\nStatus do Projeto: {{status}}\n\nInformações da NeuroSpark:\n\nnome do responsavel pela propsota: Albert Ainstein\n\nNome da Empresa: NeuroSpark\n\nE-mail: neurospark@gmail.com\n\nTelefone: (11) 3524-1150\n\nWebsite: https://neurosparklab.tech/\n\nCom base nessas informações, elabore a proposta conforme as instruções acima."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[40,1820],"id":"6f77aba6-2ada-4055-9deb-d779539373b3","name":"AI Agent2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-80,2020],"id":"2c583063-9c43-451d-ad73-4f3b5d8977d4","name":"OpenRouter Chat Model2","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"53728dc7-fd1a-4c1f-a853-1064e33ad541","name":"=prosposta_comercial","value":"={{ $json.output.replace(/\\n\\n/g, '<br><br>').replace(/\\n/g, '<br>') }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,1820],"id":"de3410bc-82cc-4ac8-aadf-8d216ab010d9","name":"Edit Fields5"},{"parameters":{"assignments":{"assignments":[{"id":"53728dc7-fd1a-4c1f-a853-1064e33ad541","name":"=prosposta_comercial","value":"={{ $json.output.replace(/\\n\\n/g, '<br><br>').replace(/\\n/g, '<br>') }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,1320],"id":"29879f69-1ae0-4f3b-8479-c2ce9664d8d4","name":"Edit Fields6"},{"parameters":{"url":"={{ $json.download_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,1320],"id":"e96df1c4-52b9-45c8-8cc2-717b5e426941","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"53728dc7-fd1a-4c1f-a853-1064e33ad541","name":"=prosposta_comercial","value":"={{ $json.output.replace(/\\n\\n/g, '<br><br>').replace(/\\n/g, '<br>') }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[620,820],"id":"4f59e0c0-13d0-47ec-b0b3-f44b520ea538","name":"Edit Fields7"},{"parameters":{"url":"={{ $json.download_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1060,820],"id":"f2efa1de-b305-4227-8a89-5b600ccbf76e","name":"HTTP Request2"},{"parameters":{"method":"POST","url":"=https://evolution.aulan8ntech.shop/message/sendText/Edu pedagogico","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=1E59175253F3-4EA1-ACAC-2939BF033940"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=5582996838800"},{"name":"presence","value":"composing"},{"name":"textMessage","value":"=Confirmação de agendamento para reuniao com base em proposta enviada por email:\n\ndata do envio da proposta: *{{ $today.format(\"dd-MM-yyyy\") }}*\n\nEmpresa: *{{ $('resposta chatgpt').item.json.body.empresa }}*\n\nNome do cliente: *{{ $('resposta chatgpt').item.json.body.nomeCliente }}*\n\nData de agendamento escolhido pelo cliente: *{{ $json.data['Qual a data voce deseja para a reunião?'] }}*\n\nObservações para a reuniao: *{{ $json.data['Alguma observação para a reunião?'] }}*\n\n\nProposta enviada para o cliente:\n\n\n{{ $('AI Agent2').item.json.output }}"},{"name":"text","value":"=Confirmação de agendamento para reuniao com base em proposta enviada por email:\n\ndata do envio da proposta: *{{ $today.format(\"dd-MM-yyyy\") }}*\n\nEmpresa: *{{ $('resposta chatgpt').item.json.body.empresa }}*\n\nNome do cliente: *{{ $('resposta chatgpt').item.json.body.nomeCliente }}*\n\nData de agendamento escolhido pelo cliente: *{{ $json.data['Qual a data voce deseja para a reunião?'] }}*\n\nObservações para a reuniao: *{{ $json.data['Alguma observação para a reunião?'] }}*\n\n\nProposta enviada para o cliente:\n\n\n{{ $('AI Agent2').item.json.output }}"}]},"options":{}},"id":"e4295a5f-0c4e-464d-b952-8559adbc26e8","name":"SEND TEXT1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,1820],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"httpMethod":"POST","path":"e7093020-8b21-4ab7-aa23-87b5c84b51c8","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"9c3d8c21-c257-4d83-a064-8ea56e548188","name":"Webhook","webhookId":"e7093020-8b21-4ab7-aa23-87b5c84b51c8"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Joguinho Educativo</title>\n  <style>\n    body {\n      font-family: 'Comic Sans MS', cursive;\n      background: url('https://cdn.pixabay.com/photo/2016/04/01/10/10/education-1308790_1280.png') no-repeat center top;\n      background-size: contain;\n      background-color: #fff8f0;\n      padding: 20px;\n      text-align: center;\n    }\n    .card, .resumo {\n      background: #ffffffd9;\n      padding: 20px;\n      margin: 20px auto;\n      border-radius: 15px;\n      box-shadow: 2px 2px 10px #aaa;\n      max-width: 450px;\n    }\n    button {\n      padding: 10px 20px;\n      background-color: #ff80ab;\n      color: white;\n      border: none;\n      border-radius: 10px;\n      font-size: 16px;\n      cursor: pointer;\n      margin: 5px;\n    }\n    input {\n      padding: 10px;\n      font-size: 16px;\n      margin: 10px;\n      border-radius: 8px;\n      border: 1px solid #ccc;\n    }\n  </style>\n</head>\n<body>\n  <h1>Joguinho Educativo 📚✏️</h1>\n  <div class=\"card\" id=\"menu\">\n    <p>Qual o seu nome?</p>\n    <input type=\"text\" id=\"nome\" placeholder=\"Digite seu nome\" />\n    <p>Escolha a matéria que quer jogar:</p>\n    <button onclick=\"iniciarJogo('matematica')\">Matemática</button>\n    <button onclick=\"iniciarJogo('geografia')\">Geografia</button>\n    <button onclick=\"iniciarJogo('historia')\">História</button>\n    <button onclick=\"iniciarJogo('aleatorio')\">Aleatório</button>\n  </div>\n\n  <div class=\"card\" id=\"jogo\" style=\"display:none;\">\n    <h3 id=\"tituloMateria\"></h3>\n    <p id=\"pergunta\"></p>\n    <div id=\"opcoes\"></div>\n  </div>\n\n  <div class=\"resumo\" id=\"resumo\" style=\"display:none;\">\n    <h3>Resumo:</h3>\n    <div id=\"resultadoFinal\"></div>\n    <button onclick=\"enviarDados()\">Enviar para Análise</button>\n  </div>\n\n  <script>\n    const todasPerguntas = {\n      matematica: () => {\n        let a = Math.floor(Math.random() * 10);\n        let b = Math.floor(Math.random() * 10);\n        let r = a + b;\n        let opcoes = [r, r + 2, r - 1, r + 3].sort(() => Math.random() - 0.5);\n        return { pergunta: `Quanto é ${a} + ${b}?`, correta: r, opcoes };\n      },\n      geografia: () => {\n        const q = [\n          { pergunta: 'Qual é o maior país do mundo?', correta: 'Rússia', opcoes: ['Rússia', 'Canadá', 'Brasil', 'China'] },\n          { pergunta: 'Qual continente tem mais países?', correta: 'África', opcoes: ['África', 'Europa', 'Ásia', 'América'] },\n          { pergunta: 'Qual é o oceano entre América e Europa?', correta: 'Atlântico', opcoes: ['Atlântico', 'Índico', 'Pacífico', 'Ártico'] }\n        ];\n        return q[Math.floor(Math.random() * q.length)];\n      },\n      historia: () => {\n        const q = [\n          { pergunta: 'Quem descobriu o Brasil?', correta: 'Pedro Álvares Cabral', opcoes: ['Pedro Álvares Cabral', 'Dom Pedro I', 'Tiradentes', 'Getúlio Vargas'] },\n          { pergunta: 'Qual país construiu as pirâmides?', correta: 'Egito', opcoes: ['Egito', 'Grécia', 'México', 'Índia'] },\n          { pergunta: 'Quem foi o primeiro presidente do Brasil?', correta: 'Deodoro da Fonseca', opcoes: ['Deodoro da Fonseca', 'Dom Pedro II', 'Lula', 'Juscelino'] }\n        ];\n        return q[Math.floor(Math.random() * q.length)];\n      }\n    };\n\n    let materia = '';\n    let perguntas = [];\n    let respostas = [];\n    let atual = 0;\n    let totais = { certas: 0, erradas: 0 };\n    let nome = '';\n\n    function iniciarJogo(m) {\n      nome = document.getElementById('nome').value;\n      if (!nome) return alert('Digite seu nome!');\n\n      materia = m;\n      perguntas = [];\n      respostas = [];\n      atual = 0;\n      totais = { certas: 0, erradas: 0 };\n\n      for (let i = 0; i < 5; i++) {\n        let tipo = m === 'aleatorio' ? randomMateria() : m;\n        let pergunta = todasPerguntas[tipo]();\n        pergunta.materia = tipo;\n        perguntas.push(pergunta);\n      }\n\n      document.getElementById('tituloMateria').innerText = m === 'aleatorio' ? 'Perguntas Aleatórias' : `Matéria: ${capitalize(m)}`;\n      document.getElementById('menu').style.display = 'none';\n      document.getElementById('jogo').style.display = 'block';\n      mostrarPergunta();\n    }\n\n    function mostrarPergunta() {\n      const q = perguntas[atual];\n      document.getElementById('pergunta').textContent = q.pergunta;\n      const opcoesDiv = document.getElementById('opcoes');\n      opcoesDiv.innerHTML = '';\n      q.opcoes.forEach(op => {\n        const btn = document.createElement('button');\n        btn.textContent = op;\n        btn.onclick = () => verificarResposta(op);\n        opcoesDiv.appendChild(btn);\n      });\n    }\n\n    function verificarResposta(resp) {\n      const q = perguntas[atual];\n      const correta = q.correta;\n\n      if (resp === correta) {\n        totais.certas++;\n        respostas.push({ pergunta: q.pergunta, resposta: resp, resultado: 'Correta', materia: q.materia });\n      } else {\n        totais.erradas++;\n        respostas.push({ pergunta: q.pergunta, resposta: resp, resultado: `Errada (certa: ${correta})`, materia: q.materia });\n      }\n\n      atual++;\n      if (atual < perguntas.length) {\n        mostrarPergunta();\n      } else {\n        mostrarResumo();\n      }\n    }\n\n    function mostrarResumo() {\n      document.getElementById('jogo').style.display = 'none';\n      const resultado = document.getElementById('resultadoFinal');\n      resultado.innerHTML = `<p><strong>Nome:</strong> ${nome}</p><p><strong>Acertos:</strong> ${totais.certas}<br><strong>Erros:</strong> ${totais.erradas}</p>`;\n      respostas.forEach(r => {\n        resultado.innerHTML += `<p><strong>[${capitalize(r.materia)}]</strong> ${r.pergunta} → ${r.resposta} (${r.resultado})</p>`;\n      });\n      document.getElementById('resumo').style.display = 'block';\n    }\n\n    function enviarDados() {\n      fetch('https://n8n.adabtech.com.br/webhook/9768e74c-b977-4e13-ab19-fd73da02921a', {\n        method: 'POST',\n        headers: { 'Content-Type': 'application/json' },\n        body: JSON.stringify({ nome, materia, respostas, totais })\n      })\n      .then(() => alert('Dados enviados com sucesso!'))\n      .catch(() => alert('Erro ao enviar os dados.'));\n    }\n\n    function capitalize(str) {\n      return str.charAt(0).toUpperCase() + str.slice(1);\n    }\n\n    function randomMateria() {\n      const keys = Object.keys(todasPerguntas);\n      return keys[Math.floor(Math.random() * keys.length)];\n    }\n  </script>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[340,220],"id":"7c4c4955-9fab-4449-8bb2-725839ec2d1d","name":"HTML1"},{"parameters":{"path":"dacc2ed4-9dc7-4f49-b3b2-96debb3d73a9","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[100,220],"id":"6d31ef2d-603c-4fe5-9b0e-13ca913c8e8b","name":"CHATGPT1","webhookId":"dacc2ed4-9dc7-4f49-b3b2-96debb3d73a9"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[600,220],"id":"2943169e-862b-41f3-860e-abb0a2714d6f","name":"Respond to Webhook1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[260,1020],"id":"3f5b7c1b-6d51-4cf3-b4bb-914ff25a1f2f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"eKt62GQzsAdBW3FR","name":"OpenAi Orca Mídias"}}},{"parameters":{"sendTo":"={{ $('Edit Fields3').item.json.EMAIL_EMPRESA }}","subject":"Proposta comercial","emailType":"text","message":"Segue em anexo a posposta comercial","options":{"attachmentsUi":{"attachmentsBinary":[{"property":"=Proposta_comercial"}]}}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1280,820],"id":"ef2dcd3b-1d81-4bcc-9299-e7331e10dc7b","name":"Send a message","webhookId":"99612d64-87fd-4e57-b114-994ddda4e33e","credentials":{"gmailOAuth2":{"id":"RquCrBssePDu3plD","name":"Gmail orcamidias"}}},{"parameters":{"resource":"pdf","pdfTemplateId":"d4677b236a5f9c72","download":true,"binaryProperty":"Proposta_comercial","propertiesUi":{"propertyValues":[{"key":"proposta_comercial","value":"={{ $json.proposta_comercial }}"}]},"options":{"fileName":"proposta comercial Orca Mídias"}},"type":"n8n-nodes-base.apiTemplateIo","typeVersion":1,"position":[840,820],"id":"9ae20786-cae9-4467-a6c6-81650a7f8b68","name":"Create a pdf","credentials":{"apiTemplateIoApi":{"id":"tOkaqTTMvaM4Up6D","name":"APITemplate.io orcamidias"}}},{"parameters":{"resource":"spreadsheet","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[280,0],"id":"2f5c6643-0b1e-47fc-82e3-4d2f33ed913d","name":"Create spreadsheet","credentials":{"googleSheetsOAuth2Api":{"id":"ekUi8cQCgpitM03R","name":"Google Sheets Orca Mídias"}}},{"parameters":{"resource":"pdf","pdfTemplateId":"d4677b236a5f9c72","download":true,"binaryProperty":"Proposta_comercial","propertiesUi":{"propertyValues":[{"key":"proposta_comercial","value":"={{ $json.prosposta_comercial }}"}]},"options":{"fileName":"proposta comercial NeuroSpark"}},"type":"n8n-nodes-base.apiTemplateIo","typeVersion":1,"position":[640,1320],"id":"b77c4643-8649-4960-9809-8d7d78c1b9b3","name":"Create a pdf1","credentials":{"apiTemplateIoApi":{"id":"tOkaqTTMvaM4Up6D","name":"APITemplate.io orcamidias"}}},{"parameters":{"sendTo":"={{ $('Edit Fields2').item.json.EMAIL_EMPRESA }}","subject":"Proposta comercial","message":"={{ $('Edit Fields6').item.json.prosposta_comercial }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1140,1320],"id":"4f5730a1-1be2-4e6e-94e5-b462d1b4ec86","name":"Send a message1","webhookId":"28f8779b-ec33-4733-85fd-9730d9a6b75e","credentials":{"gmailOAuth2":{"id":"RquCrBssePDu3plD","name":"Gmail orcamidias"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[0,1500],"id":"3b3976f9-7bd0-4d35-ada2-52cefb057b14","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"eKt62GQzsAdBW3FR","name":"OpenAi Orca Mídias"}}},{"parameters":{"operation":"sendAndWait","sendTo":"={{ $('resposta chatgpt').item.json.body.email }}","subject":"Proposta Comercial -  Neurospark","message":"={{ $json.prosposta_comercial }}","responseType":"customForm","formFields":{"values":[{"fieldLabel":"Qual a data voce deseja para a reunião?","placeholder":"24/06/2025","requiredField":true},{"fieldLabel":"Alguma observação para a reunião?"}]},"options":{"messageButtonLabel":"Responder","responseFormTitle":"Reunião de Fechamento","responseFormButtonLabel":"Enviar","limitWaitTime":{"values":{"resumeAmount":45,"resumeUnit":"minutes"}},"appendAttribution":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[700,1820],"id":"27682307-6113-4730-b6fb-e4386db4e2d8","name":"Send message and wait for response","webhookId":"3fb51267-1f9c-43a0-8cb1-837892bde475","credentials":{"gmailOAuth2":{"id":"RquCrBssePDu3plD","name":"Gmail orcamidias"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[40,2040],"id":"1c064d0a-c2c8-4408-aa3e-ca4f673c5072","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"eKt62GQzsAdBW3FR","name":"OpenAi Orca Mídias"}}}],"connections":{"CHATGPT":{"main":[[{"node":"HTML","type":"main","index":0}]]},"N8N":{"main":[[{"node":"Form","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Form":{"main":[[{"node":"Form1","type":"main","index":0}]]},"Form1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"resposta bolt":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"resposta chatgpt":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[]]},"Edit Fields":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[]]},"AI Agent2":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"OpenRouter Chat Model2":{"ai_languageModel":[[]]},"Edit Fields5":{"main":[[{"node":"Send message and wait for response","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Create a pdf1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Edit Fields7":{"main":[[]]},"HTTP Request2":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"HTML1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"CHATGPT1":{"main":[[{"node":"HTML1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Create spreadsheet","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Create a pdf":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Create a pdf1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Send message and wait for response":{"main":[[{"node":"SEND TEXT1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"resposta bolt":[{"json":{"headers":{"host":"n8n.adabtech.com.br","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36","content-length":"775","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"pt,en-US;q=0.9,en;q=0.8,pt-BR;q=0.7","content-type":"application/json","origin":"https://steady-axolotl-42995e.netlify.app","priority":"u=1, i","referer":"https://steady-axolotl-42995e.netlify.app/","sec-ch-ua":"\"Google Chrome\";v=\"137\", \"Chromium\";v=\"137\", \"Not/A)Brand\";v=\"24\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"138.0.199.173","x-forwarded-host":"n8n.adabtech.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"45ce1b233065","x-real-ip":"138.0.199.173"},"params":{},"query":{},"body":{"client":{"name":"camyla tittoni","company":"autoestima renovada","email":"adaviotittoni@gmail.com","phone":"82996838800"},"project":{"mainChallenge":"quero uma inteligencia artifical que faça analises de mercado de clinicas odontologicas para mim pois preciso fazer orçamentos para competir com outros consultorios odontologicos","solutionType":"automacao_processos","solutionDescription":"preciso de uma inteligencia aritifical que gera dados dos concorretes para eu conseguir gerar novos orçamento com base na minha concorrencia"},"business":{"currentTools":"sim whatsapp e planilhas do google ","targetAudience":"melhoras os orçamentos enviados","urgencyLevel":"curto_prazo"},"metadata":{"submittedAt":"2025-06-23T23:42:24.016Z","source":"NeuroSpark Briefing Form"}},"webhookUrl":"https://n8n.adabtech.com.br/webhook/BOLT","executionMode":"production"}}],"resposta chatgpt":[{"json":{"headers":{"host":"n8n.adabtech.com.br","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36","content-length":"572","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"pt,en-US;q=0.9,en;q=0.8,pt-BR;q=0.7","content-type":"application/json","cookie":"_ga=GA1.1.419946771.1718141795; rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2Bhqt%2BAyt%2FkkmddWhyFSW%2BiMAjQishTbCk%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2BxB4EvR75CKthVRDzwz1QNStDlrM47QsU%3D; _ga_MFB4YSV2D4=GS2.1.s1750248543$o31$g0$t1750248560$j43$l0$h0; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjdlZjk5YTE1LTNmMGUtNGE1My05YTUyLTI1M2MwZTBiNjk1YSIsImhhc2giOiJWT0Fub0xHa2J4IiwiYnJvd3NlcklkIjoiWWZCa0xxK3ZOSXpkRHl6N2NqUTUzc29TNEpWRVpYTm1UQzVvVHNIeXBtMD0iLCJpYXQiOjE3NTAzMzk0NTQsImV4cCI6MTc1MDk0NDI1NH0.QVMEUiSdvzGi9VlwG2i8Nu-NR8gTpIUErGL6RVD0AFM; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX18237pQQuAnTHf85X%2BGojPsrthYOiKSXTbHXBD%2F0%2B%2BHc4MKepGPKroZs%2BpkdwUSGhIYvYpWdw%2BakQ%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2FERjGbNpgiMO2Z9G1IzuL9CXP60C4nkUZd7t9rjm40%2FW0RCyRYkl%2Bo60yjaHCQjo9scbwpkcbIB2W2HvQavRTHLjhznybvoJViu2PhbbzD1BoOpS4EwGqSwJqND8jB2EWf7Tgx1NjjKnlhpkFT9cwWnxOm2kJv2Ik%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX19bqR9pxuQX6PCxkmG41LDEYUVc%2B0RwybasBeKW%2Be9tc4oldGsjJVm2hXjyGu3i92HGZhTL22RDNuyJyFpoSJpeDsHBTyGTBnHHPUFQA6x6i9LiVfFL3Kr8bKD1ZZoJruD7G0k6HTaoBg%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%223728f878330b99ae7ecf078d1ff75229794c048aabc3ee228198fa5196bb5eae%237ef99a15-3f0e-4a53-9a52-253c0e0b695a%22%2C%22%24sesid%22%3A%5B1750722697929%2C%2201979f1c-a650-78b4-af91-ab51b939bdbc%22%2C1750721144400%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n.adabtech.com.br%2Fsignout%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX19w6uvWQDqHGTRtcP2tYUdQQyIabJgK0ITnUd2htg%2FMWVhkfpTd5P7LzhC9ZqHAf5UGiI9%2FS9tTbWilr1a6R%2FMYCMZNg18g1MQ7ltd0vUxaZku9mfhBFP6mj5POF1rCFAKWKueIvbsRxg%3D%3D","origin":"https://n8n.adabtech.com.br","priority":"u=1, i","referer":"https://n8n.adabtech.com.br/webhook/teste","sec-ch-ua":"\"Google Chrome\";v=\"137\", \"Chromium\";v=\"137\", \"Not/A)Brand\";v=\"24\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"same-origin","x-forwarded-for":"138.0.199.173","x-forwarded-host":"n8n.adabtech.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"45ce1b233065","x-real-ip":"138.0.199.173"},"params":{},"query":{},"body":{"nomeCliente":"Adavio Luiz Costa Tittoni","empresa":"MELHOR LIVE DO MUNDO","email":"adaviotittoni@gmail.com","telefone":"82996838800","problema":"estou precisando fazer controle de estoque da minha clinica veterinaria preciso controlar as vacinas e gases dentro da clinica","tipoSolucao":"Análise preditiva","visao":"quero um painel de inteligencia artifical que me mostre quando a gase e as vacinas estiverem chegando ao fim","ferramentas":"erp controle de estoque e whatsapp","objetivo":"melhroar o controle de estoque e nao deixar faltar itens","urgencia":"Imediato"},"webhookUrl":"https://n8n.adabtech.com.br/webhook/chatgpt2","executionMode":"production"}}],"N8N":[{"json":{"Data de Hoje":"2025-07-04","Qual o seu nome?":"PC Vieira","Empresa / Negócio":"Gestor de Trafego","E-mail de contato *":"pc.vieira@icloud.com","Telefone / WhatsApp ":"11999575091","submittedAt":"2025-07-04T11:18:17.512-04:00","formMode":"test"}}],"Form":[{"json":{"Liste os produtos ou serviços da sua empresa que você deseja trabalhar:":"Produção de conteúdo, construção de agentes de IA, Dashboard para as campanhas de trafego pago","Os preços praticados estão mais alinhados com ticket alto, médio ou baixo?":"Médio","Qual o principal diferencial da sua empresa em relação à concorrência?":"nosso diferencial é que somos em 2 estrategistas e 3 editores de video na mesma equipe","Quais produtos ou serviços você já tem que podem gerar mais autoridade no digital?":"Serviços: produção de conteúdos + Gestão de Trafego Pago","Quais são os objetivos do seu negócio a curto, médio e longo prazo?":"Objetivo: Vender todos os dias","Como você imagina que seria um dia ideal de funcionamento da sua empresa, com a estratégia digital rodando do jeito certo e atingindo os resultados esperados?":"cliente novo recebe um anúncio\r\nAo clicar recebe uma proposta imediatamente\r\nAo responder a proposta, clicar no botão\r\nJá é atendido por um SDR agente\r\nem seguida por um closer agente\r\nAo decidir que quer o produto, fala com um humano e realiza a compra.\r\nNesse momento já dá início ao onboarding automatizado e os cards do crm se movem automaticamente","Quais são seus maiores desafios no digital atualmente?":"qualificar leads frios em leads quentes automaGicamente","Liste no mínimo 5 perfis de pessoas que consomem (ou que você acredita que consumirão) seu produto ou serviço.":"donos de negócios locais que precisam de visibilidade para aumentar suas vendas através da internet","Sua empresa possui identidade visual definida (logo, cores, fontes...)?":"sim já tenho identidade visual e logotipo definido","Sua empresa possui site? Se sim, insira o link.":"https://www.orcamidias.com/","Sua empresa possui redes sociais? Se sim, cole os links (Instagram, Facebook, YouTube, TikTok etc.):":"@orcamidias","Como você gostaria que sua empresa fosse percebida nas redes sociais?":"como uma empresa F#D@","E como você NÃO gostaria de ser percebido nas redes sociais?":"como uma empresa que NÃO gera resultados","Cite perfis do Instagram do seu nicho que você considera referência:":"@agenciakoko\r\n@agenciadebolso","Cite perfis do YouTube do seu nicho que você considera referência:":"@agenciakoko","Cite profissionais (de qualquer área) que você admira pela atuação digital e diga por quê.":"Rejane Toigo estrategista\r\nTay Dantas Posicionamento\r\nMarcelo Toledo Resiliência ","Quais temas ou assuntos você considera importantes de serem abordados nas redes sociais da sua empresa?":"marketing digital\r\ncriação de conteúdos\r\na importância da estratégia antes de começar a produzir","Liste fontes de conteúdo confiável para seu negócio (sites, livros, artigos, revistas, perfis):":"google","Liste 10 palavras-chave importantes que representam seu negócio:":"marketing digital\r\nvender mais\r\nmídia\r\nsocial media\r\nprodução audiovisual\r\nvideos para redes sociais","Você pensa em criar infoprodutos? Se sim, descreva a ideia que já tem em mente.":"a princípio não quero ter infoproduto.","Quais empresas você considera concorrentes diretos?":"social medias da cidade","Cite empresas que você considera inspiração para a sua (em marca, conteúdo, atuação etc.):":"V4 Company\r\nAcademia lendária\r\nN8N Labz","Qual é o seu público-alvo ideal? Quem você mais deseja atrair com sua comunicação?":"dono de negócios locais, empresários","Como você pretende medir o sucesso da estratégia digital?":"através das vendas diárias","Descreva qualquer informação importante sobre seu projeto que ainda não foi perguntada.":"meu sócio se chama Ritielle","submittedAt":"2025-07-04T12:50:13.322-04:00","formMode":"test"}}],"Edit Fields3":[{"json":{"NOME_CLIENTE":"PC Vieira","NOME_EMPRESA":"Gestor de Trafego","EMAIL_EMPRESA":"pc.vieira@icloud.com","TELEFONE_RESPONSAVEL":"11999575091","PRODUTOS_SERVICOS":"Serviços: produção de conteúdos + Gestão de Trafego Pago","TICKET_MEDIO":"Médio","DIFERENCIA":"nosso diferencial é que somos em 2 estrategistas e 3 editores de video na mesma equipe","AUTORIDADE":"","OBJETIVOS":"qualificar leads frios em leads quentes automaGicamente","DIA_PERFEITO":"cliente novo recebe um anúncio\r\nAo clicar recebe uma proposta imediatamente\r\nAo responder a proposta, clicar no botão\r\nJá é atendido por um SDR agente\r\nem seguida por um closer agente\r\nAo decidir que quer o produto, fala com um humano e realiza a compra.\r\nNesse momento já dá início ao onboarding automatizado e os cards do crm se movem automaticamente","DESAFIOS_DIGITAIS":"qualificar leads frios em leads quentes automaGicamente","PERFIS_PUBLICO":"@agenciakoko\r\n@agenciadebolso","ID_VISUAL":"sim já tenho identidade visual e logotipo definido","SITE":"https://www.orcamidias.com/","REDES_SOCIAIS":"@orcamidias","COMO_DESEJA_SER_PERCEBIDO":"como uma empresa F#D@","COMO_NAO_DESEJA_SER_PERCEBIDO":"como uma empresa que NÃO gera resultados","REFERENCIAS_INSTAGRAM":"@agenciakoko\r\n@agenciadebolso","REFERENCIAS_YOUTUBE":"@agenciakoko","ADMIRACOES_DIGITAIS":"Rejane Toigo estrategista\r\nTay Dantas Posicionamento\r\nMarcelo Toledo Resiliência ","TEMAS_REDES":"marketing digital\r\ncriação de conteúdos\r\na importância da estratégia antes de começar a produzir","FONTES_CONFIAVEIS":"google","PALAVRAS_CHAVE":"marketing digital\r\nvender mais\r\nmídia\r\nsocial media\r\nprodução audiovisual\r\nvideos para redes sociais","INFOPRODUTO":"a princípio não quero ter infoproduto.","CONCORRENTES":"social medias da cidade","INSPIRACOES":"V4 Company\r\nAcademia lendária\r\nN8N Labz","PUBLICO_IDEAL":"dono de negócios locais, empresários","COMO_MEDE_SUCESSO":"através das vendas diárias","INFO_EXTRA":"meu sócio se chama Ritielle"}}],"Edit Fields7":[{"json":{"prosposta_comercial":"São Paulo, 04 de julho de 2025<br><br>Prezado Sr. PC Vieira,<br><br>É com satisfação que me apresento, Ritielle Souza, consultora da Orca Mídias, empresa especializada em soluções de inteligência artificial. Agradeço pela oportunidade de apresentar esta proposta comercial, criada sob medida para as necessidades da Gestor de Tráfego.<br><br>Entendemos que sua empresa enfrenta o desafio de qualificar leads frios em leads quentes de forma automática, buscando maximizar a eficiência no processo de vendas e evitar ser percebida como uma organização que não gera resultados efetivos. Seu objetivo é transformar o início do contato com potenciais clientes num processo dinâmico, ágil e humanizado, conforme o \"Dia Perfeito\" idealizado, em que o cliente recebe uma proposta imediatamente após o clique no anúncio, passando por atendimento por agentes SDR e Closer, e finalizando a compra com suporte humano e onboarding automatizado.<br><br>Para atender a essa demanda, propomos a implementação de uma solução inteligente de qualificação automática de leads baseada em inteligência artificial. Este sistema integrará automações que dispararão propostas instantâneas aos leads que interagirem com seus anúncios, permitindo respostas rápidas com botões interativos que direcionarão os clientes para atendimento personalizado por meio de agentes SDR e Closer. Além disso, a plataforma automatizará o início do onboarding e a movimentação dos cards no CRM, garantindo fluidez e eficiência ao funil de vendas.<br><br>O processo de implementação será dividido nas seguintes etapas: levantamento detalhado dos fluxos de atendimento e integração com seu CRM atual; desenvolvimento e customização da plataforma de IA para automação do disparo de propostas e qualificação inteligente dos leads; treinamento dos agentes envolvidos no atendimento digital; testes e ajustes operacionais; e, finalmente, o monitoramento contínuo dos resultados para assegurar o alcance dos objetivos.<br><br>Com a adoção dessa solução, espera-se aumentar consideravelmente a conversão de leads frios em leads qualificados, proporcionando uma experiência mais rápida e efetiva para os potenciais clientes. Essa otimização refletirá diretamente em melhores índices de vendas, aumento da satisfação do cliente e fortalecimento da imagem da Gestor de Tráfego como uma empresa orientada a resultados concretos e inovação tecnológica.<br><br>Como próximos passos, sugerimos o agendamento de uma reunião para detalharmos as especificações técnicas, alinharmos expectativas e definir o cronograma de implementação. Estamos à disposição para esclarecimentos e prontos para formalizar nossa parceria por meio da assinatura do contrato.<br><br>Esta proposta tem validade de 15 dias a contar da data acima. Para contato, favor utilizar o e-mail orcamidias@gmail.com ou o telefone (11) 99348-7167.<br><br>Atenciosamente,<br><br>Ritielle Souza  <br>Consultora Comercial  <br>Orca Mídias  <br>orcamidias@gmail.com  <br>(11) 99348-7167  <br>https://orcamidias.com/\n"}}]},"versionId":"0633b626-6d5e-474a-9275-64e8d16120b9","triggerCount":4,"shared":[{"createdAt":"2025-07-04T14:49:21.959Z","updatedAt":"2025-07-04T14:49:21.959Z","role":"workflow:owner","workflowId":"DXqIuRxqLlpg8wBY","projectId":"TZpK0B2uX65EVlPC"}],"tags":[]}