cria_propostas-FeYoIR0hvZJsjYo6.json
{"createdAt":"2025-07-02T04:49:37.279Z","updatedAt":"2025-07-04T14:30:44.000Z","id":"FeYoIR0hvZJsjYo6","name":"cria_propostas","active":true,"isArchived":false,"nodes":[{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>\n  <title>Briefing - NeuroSpark</title>\n  <link href=\"https://fonts.googleapis.com/icon?family=Material+Icons\" rel=\"stylesheet\">\n  <style>\n    body {\n      background: #111;\n      color: #fff;\n      font-family: Arial, sans-serif;\n      padding: 40px;\n    }\n\n    .container {\n      max-width: 700px;\n      margin: auto;\n      background: #1a1a1a;\n      border-radius: 10px;\n      padding: 30px;\n      box-shadow: 0 0 20px rgba(255, 215, 0, 0.1);\n    }\n\n    h1 {\n      text-align: center;\n      color: gold;\n      margin-bottom: 10px;\n    }\n\n    .subtitle {\n      text-align: center;\n      color: #ccc;\n      font-size: 14px;\n      margin-bottom: 30px;\n    }\n\n    .section {\n      margin-bottom: 25px;\n      border-top: 1px solid #333;\n      padding-top: 15px;\n    }\n\n    .section-title {\n      display: flex;\n      align-items: center;\n      font-weight: bold;\n      margin-bottom: 10px;\n      color: gold;\n      font-size: 16px;\n    }\n\n    .material-icons {\n      margin-right: 8px;\n      font-size: 20px;\n      color: gold;\n    }\n\n    label {\n      display: block;\n      margin-top: 10px;\n      font-weight: bold;\n      color: #f2f2f2;\n    }\n\n    input, textarea, select {\n      width: 100%;\n      padding: 10px;\n      margin-top: 5px;\n      border-radius: 5px;\n      border: none;\n      background: #2b2b2b;\n      color: white;\n    }\n\n    button {\n      width: 100%;\n      background-color: gold;\n      color: black;\n      padding: 12px;\n      border: none;\n      border-radius: 5px;\n      font-size: 16px;\n      font-weight: bold;\n      cursor: pointer;\n      margin-top: 20px;\n    }\n\n    button:hover {\n      background-color: #e0c200;\n    }\n\n    small {\n      display: block;\n      margin-top: 10px;\n      color: #aaa;\n      text-align: center;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>Briefing para Projeto com IA</h1>\n    <p class=\"subtitle\">Preencha o formulário abaixo para te ajudarmos a criar a melhor solução com inteligência artificial.</p>\n\n    <form id=\"briefingForm\">\n      <!-- INFORMAÇÕES DO CLIENTE -->\n      <div class=\"section\">\n        <div class=\"section-title\"><span class=\"material-icons\">person</span> Informações do Cliente</div>\n        <label>Nome do cliente*</label>\n        <input type=\"text\" name=\"nomeCliente\" required />\n\n        <label>Empresa / Negócio*</label>\n        <input type=\"text\" name=\"empresa\" required />\n\n        <label>E-mail de contato*</label>\n        <input type=\"email\" name=\"email\" required />\n\n        <label>Telefone / WhatsApp*</label>\n        <input type=\"text\" name=\"telefone\" required />\n      </div>\n\n      <!-- DETALHES DO PROJETO -->\n      <div class=\"section\">\n        <div class=\"section-title\"><span class=\"material-icons\">insights</span> Detalhes do Projeto</div>\n        <label>Qual o principal problema ou desafio que deseja resolver com IA?*</label>\n        <textarea name=\"problema\" required></textarea>\n\n        <label>Qual destes tipos de solução mais se aproxima da sua necessidade?*</label>\n        <select name=\"tipoSolucao\" required>\n          <option value=\"\">Selecione</option>\n          <option value=\"Automação de processos\">Automação de processos</option>\n          <option value=\"Atendimento com IA\">Atendimento com IA</option>\n          <option value=\"Análise preditiva\">Análise preditiva</option>\n          <option value=\"Outro\">Outro</option>\n        </select>\n\n        <label>Descreva em poucas palavras como você imagina essa solução funcionando no dia a dia*</label>\n        <textarea name=\"visao\" required></textarea>\n      </div>\n\n      <!-- INFORMAÇÕES ADICIONAIS -->\n      <div class=\"section\">\n        <div class=\"section-title\"><span class=\"material-icons\">apps</span> Informações Adicionais</div>\n        <label>Quais ferramentas você já utiliza hoje?*</label>\n        <input type=\"text\" name=\"ferramentas\" required />\n\n        <label>Qual o objetivo principal para sua empresa com essa aplicação?*</label>\n        <textarea name=\"objetivo\" required></textarea>\n\n        <label>Qual o nível de urgência do projeto?*</label>\n        <select name=\"urgencia\" required>\n          <option value=\"\">Selecione</option>\n          <option value=\"Imediato\">Imediato</option>\n          <option value=\"Nos próximos meses\">Nos próximos meses</option>\n          <option value=\"Sem urgência\">Sem urgência</option>\n        </select>\n      </div>\n\n      <!-- BOTÃO -->\n      <button type=\"submit\">Enviar Briefing para Análise</button>\n      <small>Ao enviar este formulário, você concorda com nossa política de privacidade.</small>\n    </form>\n  </div>\n\n  <script>\n    document.getElementById(\"briefingForm\").addEventListener(\"submit\", async function (e) {\n      e.preventDefault();\n      const formData = new FormData(e.target);\n      const data = {};\n      for (const [key, value] of formData.entries()) {\n        data[key] = value;\n      }\n\n      try {\n        await fetch(\"https://n8n.adabtech.com.br/webhook/chatgpt2\", {\n          method: \"POST\",\n          headers: {\n            \"Content-Type\": \"application/json\",\n          },\n          body: JSON.stringify(data),\n        });\n        alert(\"Briefing enviado com sucesso!\");\n        e.target.reset();\n      } catch (error) {\n        alert(\"Erro ao enviar briefing. Tente novamente.\");\n        console.error(error);\n      }\n    });\n  </script>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[260,500],"id":"2c8b03d0-fb25-4eb9-930d-ba13b51223a4","name":"HTML"},{"parameters":{"path":"teste","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[40,500],"id":"841c6f8e-9d6c-4044-9995-fb678406fbdb","name":"CHATGPT","webhookId":"278a23bc-45eb-45d5-8f22-7ed2e14fbf0a"},{"parameters":{"formTitle":"Briefing para Projeto com IA","formDescription":"Preencha o formulário abaixo para nos ajudar a entender melhor suas necessidades e desenvolver uma solução de IA perfeita para o seu negócio.","formFields":{"values":[{"fieldLabel":"Nome do Cliente","placeholder":"Digite seu nome","requiredField":true},{"fieldLabel":"Empresa / Negócio","placeholder":"Nome da empresa","requiredField":true},{"fieldLabel":"E-mail de contato *","placeholder":"Digite seu email","requiredField":true},{"fieldLabel":"Telefone / WhatsApp ","placeholder":"Digite seu telefone","requiredField":true}]},"options":{"customCss":":root {\n  --font-family: 'Open Sans', sans-serif;\n  --font-size-body: 14px;\n  --font-size-label: 14px;\n  --font-size-input: 14px;\n  --font-size-header: 22px;\n\n  --color-background: #0f0f0f;\n  --color-card-bg: #1b1b1b;\n  --color-card-border: #2e2e2e;\n  --color-card-shadow: rgba(0, 0, 0, 0.6);\n\n  --color-header: #f0c040;\n  --color-label: #ffffff;\n  --color-input-text: #000000; /* <- Texto dos inputs agora preto */\n  --color-input-border: #444444;\n  --color-focus-border: #f0c040;\n  --color-submit-btn-bg: #f0c040;\n  --color-submit-btn-text: #000000;\n  --color-error: #ff4d4d;\n  --color-html-text: #bbbbbb;\n  --color-html-link: #f0c040;\n  --color-required: #f0c040;\n\n  --border-radius-input: 8px;\n  --padding-form-input: 12px;\n\n  --submit-btn-height: 48px;\n  --box-shadow-card: 0 4px 20px rgba(0, 0, 0, 0.5);\n  --opacity-placeholder: 0.6;\n}\n"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-620,820],"id":"76e730da-a259-4efd-8a2e-1886f7072c98","name":"N8N","webhookId":"e0b18b9a-be1d-4613-bcb7-7b839eed7acc"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[480,500],"id":"93a27fe5-9625-47ee-bae3-2dc49698e804","name":"Respond to Webhook"},{"parameters":{"defineForm":"json","jsonOutput":"[\n  {\n    \"fieldLabel\": \"Qual o principal problema ou desafio que deseja resolver com IA?\",\n    \"fieldType\": \"textarea\",\n    \"placeholder\": \"Descreva seu desafio...\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Quais áreas ou processos deseja aplicar a proposta da sua necessidade?\",\n    \"fieldType\": \"text\",\n    \"placeholder\": \"Ex: Atendimento com IA, Organização de dados, etc.\"\n  },\n  {\n    \"fieldLabel\": \"Descreva em poucas palavras como você imagina essa solução funcionando no dia a dia.\",\n    \"fieldType\": \"textarea\",\n    \"placeholder\": \"Conte sua ideia...\"\n  },\n  {\n    \"fieldLabel\": \"Quais ferramentas você já usa hoje (CRM, planilhas, WhatsApp, etc)?\",\n    \"fieldType\": \"textarea\",\n    \"placeholder\": \"Liste as ferramentas...\"\n  },\n  {\n    \"fieldLabel\": \"Qual o objetivo final da sua solução?\",\n    \"fieldType\": \"textarea\",\n    \"placeholder\": \"Descreva o objetivo...\"\n  },\n  {\n    \"fieldLabel\": \"Qual o status atual do projeto?\",\n    \"fieldType\": \"text\",\n    \"placeholder\": \"Digite: Ainda em ideia, Em andamento, Em testes, Já está funcionando\"\n  }\n]\n","options":{"customCss":":root {\n  --font-family: 'Open Sans', sans-serif;\n  --font-size-body: 14px;\n  --font-size-label: 14px;\n  --font-size-input: 14px;\n  --font-size-header: 22px;\n\n  --color-background: #0f0f0f;\n  --color-card-bg: #1b1b1b;\n  --color-card-border: #2e2e2e;\n  --color-card-shadow: rgba(0, 0, 0, 0.6);\n\n  --color-header: #f0c040;\n  --color-label: #ffffff;\n  --color-input-text: #000000; /* <- Texto dos inputs agora preto */\n  --color-input-border: #444444;\n  --color-focus-border: #f0c040;\n  --color-submit-btn-bg: #f0c040;\n  --color-submit-btn-text: #000000;\n  --color-error: #ff4d4d;\n  --color-html-text: #bbbbbb;\n  --color-html-link: #f0c040;\n  --color-required: #f0c040;\n\n  --border-radius-input: 8px;\n  --padding-form-input: 12px;\n\n  --submit-btn-height: 48px;\n  --box-shadow-card: 0 4px 20px rgba(0, 0, 0, 0.5);\n  --opacity-placeholder: 0.6;\n}\n"}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[-400,820],"id":"4d228132-603a-4659-a187-34bad8b64601","name":"Form","webhookId":"ce37f42e-8ac2-4270-916c-829f9034f0fd"},{"parameters":{"operation":"completion","completionTitle":"Obrigado por nos enviar sua resposta","options":{"customCss":":root {\n  --font-family: 'Open Sans', sans-serif;\n  --font-size-body: 14px;\n  --font-size-label: 14px;\n  --font-size-input: 14px;\n  --font-size-header: 22px;\n\n  --color-background: #0f0f0f;\n  --color-card-bg: #1b1b1b;\n  --color-card-border: #2e2e2e;\n  --color-card-shadow: rgba(0, 0, 0, 0.6);\n\n  --color-header: #f0c040;\n  --color-label: #ffffff;\n  --color-input-text: #000000; /* <- Texto dos inputs agora preto */\n  --color-input-border: #444444;\n  --color-focus-border: #f0c040;\n  --color-submit-btn-bg: #f0c040;\n  --color-submit-btn-text: #000000;\n  --color-error: #ff4d4d;\n  --color-html-text: #bbbbbb;\n  --color-html-link: #f0c040;\n  --color-required: #f0c040;\n\n  --border-radius-input: 8px;\n  --padding-form-input: 12px;\n\n  --submit-btn-height: 48px;\n  --box-shadow-card: 0 4px 20px rgba(0, 0, 0, 0.5);\n  --opacity-placeholder: 0.6;\n}\n"}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[-180,820],"id":"6a269b0e-b28d-4e42-a619-52166a65c73f","name":"Form1","webhookId":"5f9cb8d2-daae-44c7-89fe-09544536cdc6"},{"parameters":{"httpMethod":"POST","path":"BOLT","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-500,1300],"id":"37ee07c1-e697-4841-8d92-7726161c2090","name":"resposta bolt","webhookId":"f0ecc7dd-6c6c-4f23-9c0c-ce9b5dc822c4","disabled":true},{"parameters":{"httpMethod":"POST","path":"chatgpt2","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-420,1820],"id":"806cf399-7da5-4bd0-9de5-6053e45b5f5e","name":"resposta chatgpt","webhookId":"f0ecc7dd-6c6c-4f23-9c0c-ce9b5dc822c4","disabled":true},{"parameters":{"content":"## cria o formulario do chat gpt\n\n","height":240,"width":960},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-120,440],"id":"0892dd62-0493-4fa6-a88b-170b0e2bc8e7","name":"Sticky Note"},{"parameters":{"content":"##  formulario do n8n\n\n","height":420,"width":2340},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-820,760],"id":"c9902b03-118a-49f2-846e-25805dd22373","name":"Sticky Note1"},{"parameters":{"content":"## Recebe resposta formulario bolt\n","height":400,"width":2360,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-840,1220],"id":"bfb503e5-4823-4687-a616-6d8325dc27b8","name":"Sticky Note2"},{"parameters":{"content":"## recebe resposta formulario chartgpt\n\n","height":540,"width":2380,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-860,1640],"id":"4cfd3888-5ced-4a73-838d-d35370b5a42f","name":"Sticky Note3"},{"parameters":{"promptType":"define","text":"=Nome do cliente: {{ $json.NOME_CLIENTE }}\nnome da empresa: {{ $json.NOME_EMPRESA }}\nemail da empresa: {{ $json.EMAIL_EMPRESA }}\ntelefone responsavel: {{ $json.TELEFONE_RESPONSAVEL }}\n\nproblema: {{ $json.PROBLEMA }}\n\nServiço desejado: {{ $json['SERVIÇO'] }}\nideia do cliente para o projeto:{{ $json.IDEIA }},\n\nFerramenta ja utilizada pelo cliente: {{ $json.FERRAMENTAS_ADICIONAIS }}\n\nObjetivo final da proposta: {{ $json['OBJETIVO PRINCIPAL'] }}\n\nprazo final: {{ $json.PRAZO }}\n\n","hasOutputParser":true,"options":{"systemMessage":"=Prompt para Geração de Proposta Comercial Personalizada:\n\nVocê é um consultor da NeuroSpark, uma empresa especializada em soluções de inteligência artificial, responsável por elaborar propostas comerciais personalizadas para empresas. Com base nas informações fornecidas pelo cliente, redija uma proposta clara, profissional e adaptada às necessidades específicas do cliente.\n\nInstruções:\n\nADICIONE A DATA DO DIA A PROPOSTA E INFROME QUE TERA VALIDADE DE 15 DIAS\n\nHORA E DATA ATUA: {{ $now }}\n\nUtilize uma linguagem formal e objetiva, adequada para documentos comerciais.\n\nEstruture a proposta com os seguintes tópicos:\n\nApresentação: Saudação e introdução breve.\n\nSEMPRE APRESENTE-SE E DIGA QUE E DA EMPRESA NEUROSPARK\n\nContextualização: Descrição do problema ou desafio enfrentado pelo cliente.\n\nProposta de Solução: Detalhamento da solução de IA proposta, incluindo funcionalidades e benefícios.\n\nImplementação: Etapas previstas para a implementação da solução.\n\nResultados Esperados: Benefícios e melhorias esperadas com a adoção da solução.\n\nPróximos Passos: Orientações para continuidade, como agendamento de reunião ou assinatura de contrato.\n\nEvite o uso de formatações como asteriscos, colchetes ou markdown.\n\nO texto deve ser fluido, com parágrafos bem estruturados, pronto para ser inserido em um documento Word.\n\nDados do Cliente:\n\nNome do cliente: {{ $json.NOME_CLIENTE }}\n\nnome da empresa: {{ $json.NOME_EMPRESA }}\n\nemail da empresa: {{ $json.EMAIL_EMPRESA }}\n\ntelefone responsavel: {{ $json.TELEFONE_RESPONSAVEL }}\n\nproblema: {{ $json.PROBLEMA }}\n\nServiço desejado: {{ $json['SERVIÇO'] }}\n\nideia do cliente para o projeto:{{ $json.IDEIA }},\n\nFerramenta ja utilizada pelo cliente: {{ $json.FERRAMENTAS_ADICIONAIS }}\n\nObjetivo final da proposta: {{ $json['OBJETIVO PRINCIPAL'] }}\n\nprazo final: {{ $json.PRAZO }}\nInformações da NeuroSpark:\n\nnome do responsavel pela propsota: Albert Ainstein\n\nNome da Empresa: NeuroSpark\n\nE-mail: neurospark@gmail.com\n\nTelefone: (11) 3524-1150\n\nWebsite: https://neurosparklab.tech/\n\nCom base nessas informações, elabore a proposta conforme as instruções acima."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[260,820],"id":"da58eb79-59d6-489f-84c1-ae24e19a4ee8","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[120,1020],"id":"b1fe0cc7-c7f5-46c1-9955-b70da30bc050","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"MPteFaZDz7sxcJqL","name":"OpenRouter Orca Mídias"}}},{"parameters":{"assignments":{"assignments":[{"id":"3d8ef372-c67f-4cb2-be38-b9b516ec51e7","name":"NOME_CLIENTE","value":"={{ $json.body.nomeCliente }}","type":"string"},{"id":"f1141345-57bb-478e-b64a-79bc89ab469f","name":"NOME_EMPRESA","value":"={{ $json.body.empresa }}","type":"string"},{"id":"560f6419-9aad-4dbe-871b-828198e102c0","name":"EMAIL_EMPRESA","value":"={{ $json.body.email }}","type":"string"},{"id":"15422698-8180-4543-b392-eb5db969285a","name":"TELEFONE_RESPONSAVEL","value":"={{ $json.body.telefone }}","type":"string"},{"id":"9dd67621-55df-402c-912e-04bca4305c75","name":"PROBLEMA","value":"={{ $json.body.problema }}","type":"string"},{"id":"b0f6ebd9-c8ff-4ef1-a596-5ddc6cb8d4d0","name":"SERVIÇO","value":"={{ $json.body.tipoSolucao }}","type":"string"},{"id":"ed5de8ec-f916-4388-92de-d5f885f789b3","name":"IDEIA","value":"={{ $json.body.visao }}","type":"string"},{"id":"c00b89d7-15d5-4573-a76f-6f65e52b4fa9","name":"FERRAMENTAS_ADICIONAIS","value":"={{ $json.body.ferramentas }}","type":"string"},{"id":"89dfe43c-4c86-473f-b981-546b90810b47","name":"OBJETIVO PRINCIPAL","value":"={{ $json.body.objetivo }}","type":"string"},{"id":"12a2db94-63ca-4b3c-86c3-b7a887b254b6","name":"PRAZO","value":"={{ $json.body.urgencia }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-200,1820],"id":"c44ae689-59c8-4730-a384-db26ae716806","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"3d8ef372-c67f-4cb2-be38-b9b516ec51e7","name":"NOME_CLIENTE","value":"={{ $json.body.client.name }}","type":"string"},{"id":"f1141345-57bb-478e-b64a-79bc89ab469f","name":"NOME_EMPRESA","value":"={{ $json.body.client.company }}","type":"string"},{"id":"560f6419-9aad-4dbe-871b-828198e102c0","name":"EMAIL_EMPRESA","value":"={{ $json.body.client.email }}","type":"string"},{"id":"15422698-8180-4543-b392-eb5db969285a","name":"TELEFONE_RESPONSAVEL","value":"={{ $json.body.client.phone }}","type":"string"},{"id":"9dd67621-55df-402c-912e-04bca4305c75","name":"PROBLEMA","value":"={{ $json.body.project.mainChallenge }}","type":"string"},{"id":"b0f6ebd9-c8ff-4ef1-a596-5ddc6cb8d4d0","name":"SERVIÇO","value":"={{ $json.body.project.solutionType }}","type":"string"},{"id":"ed5de8ec-f916-4388-92de-d5f885f789b3","name":"IDEIA","value":"={{ $json.body.project.solutionDescription }}","type":"string"},{"id":"c00b89d7-15d5-4573-a76f-6f65e52b4fa9","name":"FERRAMENTAS_ADICIONAIS","value":"={{ $json.body.business.currentTools }}","type":"string"},{"id":"89dfe43c-4c86-473f-b981-546b90810b47","name":"OBJETIVO PRINCIPAL","value":"={{ $json.body.business.targetAudience }}","type":"string"},{"id":"12a2db94-63ca-4b3c-86c3-b7a887b254b6","name":"PRAZO","value":"={{ $json.body.business.urgencyLevel }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-220,1300],"id":"658eab4b-abdc-43a9-ab0e-6a8f6b10b2bb","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"3d8ef372-c67f-4cb2-be38-b9b516ec51e7","name":"NOME_CLIENTE","value":"={{ $('N8N').item.json['Nome do Cliente'] }}","type":"string"},{"id":"f1141345-57bb-478e-b64a-79bc89ab469f","name":"NOME_EMPRESA","value":"={{ $('N8N').item.json['Empresa / Negócio'] }}","type":"string"},{"id":"560f6419-9aad-4dbe-871b-828198e102c0","name":"EMAIL_EMPRESA","value":"={{ $('N8N').item.json['E-mail de contato *'] }}","type":"string"},{"id":"15422698-8180-4543-b392-eb5db969285a","name":"TELEFONE_RESPONSAVEL","value":"={{ $('N8N').item.json['Telefone / WhatsApp '] }}","type":"string"},{"id":"9dd67621-55df-402c-912e-04bca4305c75","name":"PROBLEMA","value":"={{ $json['Qual o principal problema ou desafio que deseja resolver com IA?'] }}","type":"string"},{"id":"b0f6ebd9-c8ff-4ef1-a596-5ddc6cb8d4d0","name":"SERVIÇO","value":"={{ $json['Quais áreas ou processos deseja aplicar a proposta da sua necessidade?'] }}","type":"string"},{"id":"ed5de8ec-f916-4388-92de-d5f885f789b3","name":"IDEIA","value":"={{ $json['Descreva em poucas palavras como você imagina essa solução funcionando no dia a dia.'] }}","type":"string"},{"id":"c00b89d7-15d5-4573-a76f-6f65e52b4fa9","name":"FERRAMENTAS_ADICIONAIS","value":"={{ $json['Quais ferramentas você já usa hoje (CRM, planilhas, WhatsApp, etc)?'] }}","type":"string"},{"id":"89dfe43c-4c86-473f-b981-546b90810b47","name":"OBJETIVO PRINCIPAL","value":"={{ $json['Qual o objetivo final da sua solução?'] }}","type":"string"},{"id":"12a2db94-63ca-4b3c-86c3-b7a887b254b6","name":"PRAZO","value":"={{ $json['Qual o status atual do projeto?'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[40,820],"id":"86319a38-7785-4e8d-929c-d9342dda47d2","name":"Edit Fields3"},{"parameters":{"promptType":"define","text":"=Nome do cliente: {{ $json.NOME_CLIENTE }}\nnome da empresa: {{ $json.NOME_EMPRESA }}\nemail da empresa: {{ $json.EMAIL_EMPRESA }}\ntelefone responsavel: {{ $json.TELEFONE_RESPONSAVEL }}\n\nproblema: {{ $json.PROBLEMA }}\n\nServiço desejado: {{ $json['SERVIÇO'] }}\nideia do cliente para o projeto:{{ $json.IDEIA }},\n\nFerramenta ja utilizada pelo cliente: {{ $json.FERRAMENTAS_ADICIONAIS }}\n\nObjetivo final da proposta: {{ $json['OBJETIVO PRINCIPAL'] }}\n\nprazo final: {{ $json.PRAZO }}\n\n","hasOutputParser":true,"options":{"systemMessage":"=Prompt para Geração de Proposta Comercial Personalizada:\n\nVocê é um consultor da NeuroSpark, uma empresa especializada em soluções de inteligência artificial, responsável por elaborar propostas comerciais personalizadas para empresas. Com base nas informações fornecidas pelo cliente, redija uma proposta clara, profissional e adaptada às necessidades específicas do cliente.\n\nInstruções:\n\nADICIONE A DATA DO DIA A PROPOSTA E INFROME QUE TERA VALIDADE DE 15 DIAS\n\nHORA E DATA ATUA: {{ $now }}\n\nUtilize uma linguagem formal e objetiva, adequada para documentos comerciais.\n\nEstruture a proposta com os seguintes tópicos:\n\nApresentação: Saudação e introdução breve.\n\nSEMPRE APRESENTE-SE E DIGA QUE E DA EMPRESA NEUROSPARK\n\nContextualização: Descrição do problema ou desafio enfrentado pelo cliente.\n\nProposta de Solução: Detalhamento da solução de IA proposta, incluindo funcionalidades e benefícios.\n\nImplementação: Etapas previstas para a implementação da solução.\n\nResultados Esperados: Benefícios e melhorias esperadas com a adoção da solução.\n\nPróximos Passos: Orientações para continuidade, como agendamento de reunião ou assinatura de contrato.\n\nEvite o uso de formatações como asteriscos, colchetes ou markdown.\n\nO texto deve ser fluido, com parágrafos bem estruturados, pronto para ser inserido em um documento Word.\n\nDados do Cliente:\n\nNome: {{nome}}\n\nEmpresa: {{empresa}}\n\nE-mail: {{email}}\n\nTelefone: {{telefone}}\n\nDesafio Principal: {{problema}}\n\nÁreas de Aplicação: {{aplicacao}}\n\nFuncionamento Esperado da Solução: {{ideia}}\n\nFerramentas Atuais: {{ferramentas}}\n\nObjetivo Final: {{objetivo}}\n\nStatus do Projeto: {{status}}\n\nInformações da NeuroSpark:\n\nnome do responsavel pela propsota: Albert Ainstein\n\nNome da Empresa: NeuroSpark\n\nE-mail: neurospark@gmail.com\n\nTelefone: (11) 3524-1150\n\nWebsite: https://neurosparklab.tech/\n\nCom base nessas informações, elabore a proposta conforme as instruções acima."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[0,1300],"id":"dc7616c2-a813-4dcd-960c-3ae6a889e0aa","name":"AI Agent1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-120,1500],"id":"11dd6ba7-f957-4c6b-8606-c815db02144e","name":"OpenRouter Chat Model1","disabled":true},{"parameters":{"promptType":"define","text":"=Nome do cliente: {{ $json.NOME_CLIENTE }}\nnome da empresa: {{ $json.NOME_EMPRESA }}\nemail da empresa: {{ $json.EMAIL_EMPRESA }}\ntelefone responsavel: {{ $json.TELEFONE_RESPONSAVEL }}\n\nproblema: {{ $json.PROBLEMA }}\n\nServiço desejado: {{ $json['SERVIÇO'] }}\nideia do cliente para o projeto:{{ $json.IDEIA }},\n\nFerramenta ja utilizada pelo cliente: {{ $json.FERRAMENTAS_ADICIONAIS }}\n\nObjetivo final da proposta: {{ $json['OBJETIVO PRINCIPAL'] }}\n\nprazo final: {{ $json.PRAZO }}\n\n","hasOutputParser":true,"options":{"systemMessage":"=Prompt para Geração de Proposta Comercial Personalizada:\n\nVocê é um consultor da NeuroSpark, uma empresa especializada em soluções de inteligência artificial, responsável por elaborar propostas comerciais personalizadas para empresas. Com base nas informações fornecidas pelo cliente, redija uma proposta clara, profissional e adaptada às necessidades específicas do cliente.\n\nInstruções:\n\nADICIONE A DATA DO DIA A PROPOSTA E INFROME QUE TERA VALIDADE DE 15 DIAS\n\nHORA E DATA ATUA: {{ $now }}\n\nUtilize uma linguagem formal e objetiva, adequada para documentos comerciais.\n\nEstruture a proposta com os seguintes tópicos:\n\nApresentação: Saudação e introdução breve.\n\nSEMPRE APRESENTE-SE E DIGA QUE E DA EMPRESA NEUROSPARK\n\nContextualização: Descrição do problema ou desafio enfrentado pelo cliente.\n\nProposta de Solução: Detalhamento da solução de IA proposta, incluindo funcionalidades e benefícios.\n\nImplementação: Etapas previstas para a implementação da solução.\n\nResultados Esperados: Benefícios e melhorias esperadas com a adoção da solução.\n\nPróximos Passos: Orientações para continuidade, como agendamento de reunião ou assinatura de contrato.\n\nEvite o uso de formatações como asteriscos, colchetes ou markdown.\n\nO texto deve ser fluido, com parágrafos bem estruturados, pronto para ser inserido em um documento Word.\n\nDados do Cliente:\n\nNome: {{nome}}\n\nEmpresa: {{empresa}}\n\nE-mail: {{email}}\n\nTelefone: {{telefone}}\n\nDesafio Principal: {{problema}}\n\nÁreas de Aplicação: {{aplicacao}}\n\nFuncionamento Esperado da Solução: {{ideia}}\n\nFerramentas Atuais: {{ferramentas}}\n\nObjetivo Final: {{objetivo}}\n\nStatus do Projeto: {{status}}\n\nInformações da NeuroSpark:\n\nnome do responsavel pela propsota: Albert Ainstein\n\nNome da Empresa: NeuroSpark\n\nE-mail: neurospark@gmail.com\n\nTelefone: (11) 3524-1150\n\nWebsite: https://neurosparklab.tech/\n\nCom base nessas informações, elabore a proposta conforme as instruções acima."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[40,1820],"id":"f43543b6-8abe-48c9-8367-21b00ba9dc6b","name":"AI Agent2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-80,2020],"id":"ba498f60-2663-47c6-8774-de84d1c51eef","name":"OpenRouter Chat Model2","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"53728dc7-fd1a-4c1f-a853-1064e33ad541","name":"=prosposta_comercial","value":"={{ $json.output.replace(/\\n\\n/g, '<br><br>').replace(/\\n/g, '<br>') }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,1820],"id":"463421cd-326c-4d76-92d6-f91179dbb57e","name":"Edit Fields5"},{"parameters":{"assignments":{"assignments":[{"id":"53728dc7-fd1a-4c1f-a853-1064e33ad541","name":"=prosposta_comercial","value":"={{ $json.output.replace(/\\n\\n/g, '<br><br>').replace(/\\n/g, '<br>') }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,1320],"id":"0b7c53fc-c42b-4f54-90ec-3cb4d39ec7a9","name":"Edit Fields6"},{"parameters":{"url":"={{ $json.download_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,1320],"id":"335df6a4-56c7-43aa-8569-9f45fcd39c07","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"53728dc7-fd1a-4c1f-a853-1064e33ad541","name":"=prosposta_comercial","value":"={{ $json.output.replace(/\\n\\n/g, '<br><br>').replace(/\\n/g, '<br>') }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[620,820],"id":"9533e1ef-306e-4cd6-81d7-102ea7d1cb13","name":"Edit Fields7"},{"parameters":{"url":"={{ $json.download_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1060,820],"id":"ff902711-707f-43c3-921b-6a20aecc0fd7","name":"HTTP Request2"},{"parameters":{"method":"POST","url":"=https://evolution.aulan8ntech.shop/message/sendText/Edu pedagogico","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=1E59175253F3-4EA1-ACAC-2939BF033940"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"=5582996838800"},{"name":"presence","value":"composing"},{"name":"textMessage","value":"=Confirmação de agendamento para reuniao com base em proposta enviada por email:\n\ndata do envio da proposta: *{{ $today.format(\"dd-MM-yyyy\") }}*\n\nEmpresa: *{{ $('resposta chatgpt').item.json.body.empresa }}*\n\nNome do cliente: *{{ $('resposta chatgpt').item.json.body.nomeCliente }}*\n\nData de agendamento escolhido pelo cliente: *{{ $json.data['Qual a data voce deseja para a reunião?'] }}*\n\nObservações para a reuniao: *{{ $json.data['Alguma observação para a reunião?'] }}*\n\n\nProposta enviada para o cliente:\n\n\n{{ $('AI Agent2').item.json.output }}"},{"name":"text","value":"=Confirmação de agendamento para reuniao com base em proposta enviada por email:\n\ndata do envio da proposta: *{{ $today.format(\"dd-MM-yyyy\") }}*\n\nEmpresa: *{{ $('resposta chatgpt').item.json.body.empresa }}*\n\nNome do cliente: *{{ $('resposta chatgpt').item.json.body.nomeCliente }}*\n\nData de agendamento escolhido pelo cliente: *{{ $json.data['Qual a data voce deseja para a reunião?'] }}*\n\nObservações para a reuniao: *{{ $json.data['Alguma observação para a reunião?'] }}*\n\n\nProposta enviada para o cliente:\n\n\n{{ $('AI Agent2').item.json.output }}"}]},"options":{}},"id":"59a12395-94d7-422d-a51a-ffc29cb25d8c","name":"SEND TEXT1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,1820],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"httpMethod":"POST","path":"9768e74c-b977-4e13-ab19-fd73da02921a","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"c672ac93-bb77-457f-8d59-bf5b4c092dfa","name":"Webhook","webhookId":"9768e74c-b977-4e13-ab19-fd73da02921a"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Joguinho Educativo</title>\n  <style>\n    body {\n      font-family: 'Comic Sans MS', cursive;\n      background: url('https://cdn.pixabay.com/photo/2016/04/01/10/10/education-1308790_1280.png') no-repeat center top;\n      background-size: contain;\n      background-color: #fff8f0;\n      padding: 20px;\n      text-align: center;\n    }\n    .card, .resumo {\n      background: #ffffffd9;\n      padding: 20px;\n      margin: 20px auto;\n      border-radius: 15px;\n      box-shadow: 2px 2px 10px #aaa;\n      max-width: 450px;\n    }\n    button {\n      padding: 10px 20px;\n      background-color: #ff80ab;\n      color: white;\n      border: none;\n      border-radius: 10px;\n      font-size: 16px;\n      cursor: pointer;\n      margin: 5px;\n    }\n    input {\n      padding: 10px;\n      font-size: 16px;\n      margin: 10px;\n      border-radius: 8px;\n      border: 1px solid #ccc;\n    }\n  </style>\n</head>\n<body>\n  <h1>Joguinho Educativo 📚✏️</h1>\n  <div class=\"card\" id=\"menu\">\n    <p>Qual o seu nome?</p>\n    <input type=\"text\" id=\"nome\" placeholder=\"Digite seu nome\" />\n    <p>Escolha a matéria que quer jogar:</p>\n    <button onclick=\"iniciarJogo('matematica')\">Matemática</button>\n    <button onclick=\"iniciarJogo('geografia')\">Geografia</button>\n    <button onclick=\"iniciarJogo('historia')\">História</button>\n    <button onclick=\"iniciarJogo('aleatorio')\">Aleatório</button>\n  </div>\n\n  <div class=\"card\" id=\"jogo\" style=\"display:none;\">\n    <h3 id=\"tituloMateria\"></h3>\n    <p id=\"pergunta\"></p>\n    <div id=\"opcoes\"></div>\n  </div>\n\n  <div class=\"resumo\" id=\"resumo\" style=\"display:none;\">\n    <h3>Resumo:</h3>\n    <div id=\"resultadoFinal\"></div>\n    <button onclick=\"enviarDados()\">Enviar para Análise</button>\n  </div>\n\n  <script>\n    const todasPerguntas = {\n      matematica: () => {\n        let a = Math.floor(Math.random() * 10);\n        let b = Math.floor(Math.random() * 10);\n        let r = a + b;\n        let opcoes = [r, r + 2, r - 1, r + 3].sort(() => Math.random() - 0.5);\n        return { pergunta: `Quanto é ${a} + ${b}?`, correta: r, opcoes };\n      },\n      geografia: () => {\n        const q = [\n          { pergunta: 'Qual é o maior país do mundo?', correta: 'Rússia', opcoes: ['Rússia', 'Canadá', 'Brasil', 'China'] },\n          { pergunta: 'Qual continente tem mais países?', correta: 'África', opcoes: ['África', 'Europa', 'Ásia', 'América'] },\n          { pergunta: 'Qual é o oceano entre América e Europa?', correta: 'Atlântico', opcoes: ['Atlântico', 'Índico', 'Pacífico', 'Ártico'] }\n        ];\n        return q[Math.floor(Math.random() * q.length)];\n      },\n      historia: () => {\n        const q = [\n          { pergunta: 'Quem descobriu o Brasil?', correta: 'Pedro Álvares Cabral', opcoes: ['Pedro Álvares Cabral', 'Dom Pedro I', 'Tiradentes', 'Getúlio Vargas'] },\n          { pergunta: 'Qual país construiu as pirâmides?', correta: 'Egito', opcoes: ['Egito', 'Grécia', 'México', 'Índia'] },\n          { pergunta: 'Quem foi o primeiro presidente do Brasil?', correta: 'Deodoro da Fonseca', opcoes: ['Deodoro da Fonseca', 'Dom Pedro II', 'Lula', 'Juscelino'] }\n        ];\n        return q[Math.floor(Math.random() * q.length)];\n      }\n    };\n\n    let materia = '';\n    let perguntas = [];\n    let respostas = [];\n    let atual = 0;\n    let totais = { certas: 0, erradas: 0 };\n    let nome = '';\n\n    function iniciarJogo(m) {\n      nome = document.getElementById('nome').value;\n      if (!nome) return alert('Digite seu nome!');\n\n      materia = m;\n      perguntas = [];\n      respostas = [];\n      atual = 0;\n      totais = { certas: 0, erradas: 0 };\n\n      for (let i = 0; i < 5; i++) {\n        let tipo = m === 'aleatorio' ? randomMateria() : m;\n        let pergunta = todasPerguntas[tipo]();\n        pergunta.materia = tipo;\n        perguntas.push(pergunta);\n      }\n\n      document.getElementById('tituloMateria').innerText = m === 'aleatorio' ? 'Perguntas Aleatórias' : `Matéria: ${capitalize(m)}`;\n      document.getElementById('menu').style.display = 'none';\n      document.getElementById('jogo').style.display = 'block';\n      mostrarPergunta();\n    }\n\n    function mostrarPergunta() {\n      const q = perguntas[atual];\n      document.getElementById('pergunta').textContent = q.pergunta;\n      const opcoesDiv = document.getElementById('opcoes');\n      opcoesDiv.innerHTML = '';\n      q.opcoes.forEach(op => {\n        const btn = document.createElement('button');\n        btn.textContent = op;\n        btn.onclick = () => verificarResposta(op);\n        opcoesDiv.appendChild(btn);\n      });\n    }\n\n    function verificarResposta(resp) {\n      const q = perguntas[atual];\n      const correta = q.correta;\n\n      if (resp === correta) {\n        totais.certas++;\n        respostas.push({ pergunta: q.pergunta, resposta: resp, resultado: 'Correta', materia: q.materia });\n      } else {\n        totais.erradas++;\n        respostas.push({ pergunta: q.pergunta, resposta: resp, resultado: `Errada (certa: ${correta})`, materia: q.materia });\n      }\n\n      atual++;\n      if (atual < perguntas.length) {\n        mostrarPergunta();\n      } else {\n        mostrarResumo();\n      }\n    }\n\n    function mostrarResumo() {\n      document.getElementById('jogo').style.display = 'none';\n      const resultado = document.getElementById('resultadoFinal');\n      resultado.innerHTML = `<p><strong>Nome:</strong> ${nome}</p><p><strong>Acertos:</strong> ${totais.certas}<br><strong>Erros:</strong> ${totais.erradas}</p>`;\n      respostas.forEach(r => {\n        resultado.innerHTML += `<p><strong>[${capitalize(r.materia)}]</strong> ${r.pergunta} → ${r.resposta} (${r.resultado})</p>`;\n      });\n      document.getElementById('resumo').style.display = 'block';\n    }\n\n    function enviarDados() {\n      fetch('https://n8n.adabtech.com.br/webhook/9768e74c-b977-4e13-ab19-fd73da02921a', {\n        method: 'POST',\n        headers: { 'Content-Type': 'application/json' },\n        body: JSON.stringify({ nome, materia, respostas, totais })\n      })\n      .then(() => alert('Dados enviados com sucesso!'))\n      .catch(() => alert('Erro ao enviar os dados.'));\n    }\n\n    function capitalize(str) {\n      return str.charAt(0).toUpperCase() + str.slice(1);\n    }\n\n    function randomMateria() {\n      const keys = Object.keys(todasPerguntas);\n      return keys[Math.floor(Math.random() * keys.length)];\n    }\n  </script>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[340,220],"id":"7dca38d1-797d-4b88-80f8-7949259043eb","name":"HTML1"},{"parameters":{"path":"teste","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[100,220],"id":"0ad5b7fe-7bee-4598-9dcd-d2b62824d973","name":"CHATGPT1","webhookId":"278a23bc-45eb-45d5-8f22-7ed2e14fbf0a"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[600,220],"id":"27619de1-1e13-487c-9bcb-8548c5c20fa3","name":"Respond to Webhook1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[260,1020],"id":"90e6fd9b-03cf-4f28-b8dc-8b9e839bd510","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"eKt62GQzsAdBW3FR","name":"OpenAi Orca Mídias"}}},{"parameters":{"sendTo":"={{ $('Edit Fields3').item.json.EMAIL_EMPRESA }}","subject":"Proposta comercial","emailType":"text","message":"Segue em anexo a posposta comercial","options":{"attachmentsUi":{"attachmentsBinary":[{"property":"=Proposta_comercial"}]}}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1280,820],"id":"e237b2c1-95df-4bb0-bd52-f56370efdac1","name":"Send a message","webhookId":"a36cb2b0-8ffc-4d3f-92f8-ed646d85332e","credentials":{"gmailOAuth2":{"id":"RquCrBssePDu3plD","name":"Gmail orcamidias"}}},{"parameters":{"resource":"pdf","pdfTemplateId":"d4677b236a5f9c72","download":true,"binaryProperty":"Proposta_comercial","propertiesUi":{"propertyValues":[{"key":"proposta_comercial","value":"={{ $json.prosposta_comercial }}"}]},"options":{"fileName":"proposta comercial Orca Mídias"}},"type":"n8n-nodes-base.apiTemplateIo","typeVersion":1,"position":[840,820],"id":"5d1dee88-0afb-4971-85f6-4f23411850c8","name":"Create a pdf","credentials":{"apiTemplateIoApi":{"id":"tOkaqTTMvaM4Up6D","name":"APITemplate.io orcamidias"}}},{"parameters":{"resource":"spreadsheet","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[280,0],"id":"f72d880b-70eb-4e4c-a1de-b29c56bae66e","name":"Create spreadsheet","credentials":{"googleSheetsOAuth2Api":{"id":"ekUi8cQCgpitM03R","name":"Google Sheets Orca Mídias"}}},{"parameters":{"resource":"pdf","pdfTemplateId":"d4677b236a5f9c72","download":true,"binaryProperty":"Proposta_comercial","propertiesUi":{"propertyValues":[{"key":"proposta_comercial","value":"={{ $json.prosposta_comercial }}"}]},"options":{"fileName":"proposta comercial NeuroSpark"}},"type":"n8n-nodes-base.apiTemplateIo","typeVersion":1,"position":[640,1320],"id":"8596645d-afcf-4ad3-ba3f-6e89e1b6a260","name":"Create a pdf1","credentials":{"apiTemplateIoApi":{"id":"tOkaqTTMvaM4Up6D","name":"APITemplate.io orcamidias"}}},{"parameters":{"sendTo":"={{ $('Edit Fields2').item.json.EMAIL_EMPRESA }}","subject":"Proposta comercial","message":"={{ $('Edit Fields6').item.json.prosposta_comercial }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1140,1320],"id":"3536c154-6a51-49fa-8d0c-f9e370dd54d1","name":"Send a message1","webhookId":"a36cb2b0-8ffc-4d3f-92f8-ed646d85332e","credentials":{"gmailOAuth2":{"id":"RquCrBssePDu3plD","name":"Gmail orcamidias"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[0,1500],"id":"105a5608-cda3-4f17-950f-95716a3f5d0e","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"eKt62GQzsAdBW3FR","name":"OpenAi Orca Mídias"}}},{"parameters":{"operation":"sendAndWait","sendTo":"={{ $('resposta chatgpt').item.json.body.email }}","subject":"Proposta Comercial -  Neurospark","message":"={{ $json.prosposta_comercial }}","responseType":"customForm","formFields":{"values":[{"fieldLabel":"Qual a data voce deseja para a reunião?","placeholder":"24/06/2025","requiredField":true},{"fieldLabel":"Alguma observação para a reunião?"}]},"options":{"messageButtonLabel":"Responder","responseFormTitle":"Reunião de Fechamento","responseFormButtonLabel":"Enviar","limitWaitTime":{"values":{"resumeAmount":45,"resumeUnit":"minutes"}},"appendAttribution":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[700,1820],"id":"443a243d-cf5b-44ca-a5a3-4c93b4419e5f","name":"Send message and wait for response","webhookId":"450a55d6-234a-4b25-b7f9-8c40160fb43b","credentials":{"gmailOAuth2":{"id":"RquCrBssePDu3plD","name":"Gmail orcamidias"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[40,2040],"id":"c83a9b38-0ee9-4238-9a61-e8f1b5d2b8cf","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"eKt62GQzsAdBW3FR","name":"OpenAi Orca Mídias"}}}],"connections":{"CHATGPT":{"main":[[{"node":"HTML","type":"main","index":0}]]},"N8N":{"main":[[{"node":"Form","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Form":{"main":[[{"node":"Form1","type":"main","index":0}]]},"Form1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"resposta bolt":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"resposta chatgpt":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[]]},"Edit Fields":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[]]},"AI Agent2":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"OpenRouter Chat Model2":{"ai_languageModel":[[]]},"Edit Fields5":{"main":[[{"node":"Send message and wait for response","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Create a pdf1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Create a pdf","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"HTML1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"CHATGPT1":{"main":[[{"node":"HTML1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Create spreadsheet","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Create a pdf":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Create a pdf1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Send message and wait for response":{"main":[[{"node":"SEND TEXT1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"resposta bolt":[{"json":{"headers":{"host":"n8n.adabtech.com.br","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36","content-length":"775","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"pt,en-US;q=0.9,en;q=0.8,pt-BR;q=0.7","content-type":"application/json","origin":"https://steady-axolotl-42995e.netlify.app","priority":"u=1, i","referer":"https://steady-axolotl-42995e.netlify.app/","sec-ch-ua":"\"Google Chrome\";v=\"137\", \"Chromium\";v=\"137\", \"Not/A)Brand\";v=\"24\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"138.0.199.173","x-forwarded-host":"n8n.adabtech.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"45ce1b233065","x-real-ip":"138.0.199.173"},"params":{},"query":{},"body":{"client":{"name":"camyla tittoni","company":"autoestima renovada","email":"adaviotittoni@gmail.com","phone":"82996838800"},"project":{"mainChallenge":"quero uma inteligencia artifical que faça analises de mercado de clinicas odontologicas para mim pois preciso fazer orçamentos para competir com outros consultorios odontologicos","solutionType":"automacao_processos","solutionDescription":"preciso de uma inteligencia aritifical que gera dados dos concorretes para eu conseguir gerar novos orçamento com base na minha concorrencia"},"business":{"currentTools":"sim whatsapp e planilhas do google ","targetAudience":"melhoras os orçamentos enviados","urgencyLevel":"curto_prazo"},"metadata":{"submittedAt":"2025-06-23T23:42:24.016Z","source":"NeuroSpark Briefing Form"}},"webhookUrl":"https://n8n.adabtech.com.br/webhook/BOLT","executionMode":"production"}}],"resposta chatgpt":[{"json":{"headers":{"host":"n8n.adabtech.com.br","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36","content-length":"572","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"pt,en-US;q=0.9,en;q=0.8,pt-BR;q=0.7","content-type":"application/json","cookie":"_ga=GA1.1.419946771.1718141795; rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2Bhqt%2BAyt%2FkkmddWhyFSW%2BiMAjQishTbCk%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2BxB4EvR75CKthVRDzwz1QNStDlrM47QsU%3D; _ga_MFB4YSV2D4=GS2.1.s1750248543$o31$g0$t1750248560$j43$l0$h0; n8n-auth=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjdlZjk5YTE1LTNmMGUtNGE1My05YTUyLTI1M2MwZTBiNjk1YSIsImhhc2giOiJWT0Fub0xHa2J4IiwiYnJvd3NlcklkIjoiWWZCa0xxK3ZOSXpkRHl6N2NqUTUzc29TNEpWRVpYTm1UQzVvVHNIeXBtMD0iLCJpYXQiOjE3NTAzMzk0NTQsImV4cCI6MTc1MDk0NDI1NH0.QVMEUiSdvzGi9VlwG2i8Nu-NR8gTpIUErGL6RVD0AFM; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX18237pQQuAnTHf85X%2BGojPsrthYOiKSXTbHXBD%2F0%2B%2BHc4MKepGPKroZs%2BpkdwUSGhIYvYpWdw%2BakQ%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX1%2FERjGbNpgiMO2Z9G1IzuL9CXP60C4nkUZd7t9rjm40%2FW0RCyRYkl%2Bo60yjaHCQjo9scbwpkcbIB2W2HvQavRTHLjhznybvoJViu2PhbbzD1BoOpS4EwGqSwJqND8jB2EWf7Tgx1NjjKnlhpkFT9cwWnxOm2kJv2Ik%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX19bqR9pxuQX6PCxkmG41LDEYUVc%2B0RwybasBeKW%2Be9tc4oldGsjJVm2hXjyGu3i92HGZhTL22RDNuyJyFpoSJpeDsHBTyGTBnHHPUFQA6x6i9LiVfFL3Kr8bKD1ZZoJruD7G0k6HTaoBg%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%223728f878330b99ae7ecf078d1ff75229794c048aabc3ee228198fa5196bb5eae%237ef99a15-3f0e-4a53-9a52-253c0e0b695a%22%2C%22%24sesid%22%3A%5B1750722697929%2C%2201979f1c-a650-78b4-af91-ab51b939bdbc%22%2C1750721144400%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fn8n.adabtech.com.br%2Fsignout%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX19w6uvWQDqHGTRtcP2tYUdQQyIabJgK0ITnUd2htg%2FMWVhkfpTd5P7LzhC9ZqHAf5UGiI9%2FS9tTbWilr1a6R%2FMYCMZNg18g1MQ7ltd0vUxaZku9mfhBFP6mj5POF1rCFAKWKueIvbsRxg%3D%3D","origin":"https://n8n.adabtech.com.br","priority":"u=1, i","referer":"https://n8n.adabtech.com.br/webhook/teste","sec-ch-ua":"\"Google Chrome\";v=\"137\", \"Chromium\";v=\"137\", \"Not/A)Brand\";v=\"24\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"same-origin","x-forwarded-for":"138.0.199.173","x-forwarded-host":"n8n.adabtech.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"45ce1b233065","x-real-ip":"138.0.199.173"},"params":{},"query":{},"body":{"nomeCliente":"Adavio Luiz Costa Tittoni","empresa":"MELHOR LIVE DO MUNDO","email":"adaviotittoni@gmail.com","telefone":"82996838800","problema":"estou precisando fazer controle de estoque da minha clinica veterinaria preciso controlar as vacinas e gases dentro da clinica","tipoSolucao":"Análise preditiva","visao":"quero um painel de inteligencia artifical que me mostre quando a gase e as vacinas estiverem chegando ao fim","ferramentas":"erp controle de estoque e whatsapp","objetivo":"melhroar o controle de estoque e nao deixar faltar itens","urgencia":"Imediato"},"webhookUrl":"https://n8n.adabtech.com.br/webhook/chatgpt2","executionMode":"production"}}]},"versionId":"64e32db3-6728-420b-8e75-7845db28970b","triggerCount":4,"shared":[{"createdAt":"2025-07-02T04:49:37.284Z","updatedAt":"2025-07-02T04:49:37.284Z","role":"workflow:owner","workflowId":"FeYoIR0hvZJsjYo6","projectId":"TZpK0B2uX65EVlPC"}],"tags":[{"createdAt":"2025-07-02T04:49:45.162Z","updatedAt":"2025-07-02T04:49:45.162Z","id":"rL7QoEmW9Q2mTSZH","name":"academia lendaria"}]}