criar-conteúdo-para-canal-youtube-OFftpPXGyTioxivK.json
{"createdAt":"2025-04-22T12:46:12.412Z","updatedAt":"2025-04-25T18:24:29.000Z","id":"OFftpPXGyTioxivK","name":"criar conteúdo para canal youtube","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"33b597c1-b596-422f-a41d-0688bbfc62f3","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-5100,300]},{"parameters":{"databaseId":211341,"tableId":507812,"additionalOptions":{}},"id":"6af1f7ff-c6eb-486c-bc11-963c933f2c03","name":"Capturar dados da tb Histórias","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-4880,300],"credentials":{"baserowApi":{"id":"WxTwsXEey71flvcH","name":"Odemilagres baserow"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"158c6a8c-841f-4c57-ae39-0004976bc674","leftValue":"={{ $json['História'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"2c454864-29ac-49ca-9453-df7b7d27be9d","name":"If História = vazio","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4660,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c0bd7c1-09a4-478d-8ee5-99fde15aef7d","leftValue":"={{ $json['Pronto para ir'] }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"9428cb30-bf25-4962-b878-4a432de9437e","name":"If Pronto para ir","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4340,240]},{"parameters":{"jsCode":"const data = items[0].json;\n\nconst fonte = data[\"Fonte\"];\nconst promptTipoHistoria = data[\"Prompt\"][0].value;\n\nreturn [\n  {\n    json: {\n      fonte: fonte,\n      prompt: promptTipoHistoria\n    }\n  }\n];"},"id":"e8b1a32d-a392-499b-b199-0188e31d752e","name":"preparar prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3960,40]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{ $json.prompt }}\n\n{{ $json.fonte }}"}]},"jsonOutput":true,"options":{}},"id":"41d07b09-7dc1-434d-b2d1-b3634ce1ebf9","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-3640,40],"credentials":{"openAiApi":{"id":"gMF7dEa6jYZL09Sh","name":"OpenAi odemilagres (saldo riti)"}}},{"parameters":{"jsCode":"const openaiData = items[0].json.message.content;\nconst baserowData = items[1].json;\n\nconst combineContentValues = (data) => {\n  return Object.values(data).flatMap(value => {\n    if (Array.isArray(value)) {\n      return value.join(\", \");\n    } else if (typeof value === 'object' && value !== null) {\n      return [];\n    } else {\n      return value;\n    }\n  }).join(\"\\n\");\n};\n\nconst combinedOutput = combineContentValues(openaiData);\n\nreturn [\n  {\n    json: {\n      id: baserowData.id,\n      combinedOutput: combinedOutput.trim()\n    }\n  }\n];"},"id":"3d6f1167-176b-41d0-88e8-70e949c4a97e","name":"organizar dados node","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2920,240]},{"parameters":{},"id":"d47cdf64-f0f7-4623-9995-941f2a79a5fe","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-3160,240]},{"parameters":{"operation":"update","databaseId":211341,"tableId":507812,"rowId":"={{ $json.id }}","fieldsUi":{"fieldValues":[{"fieldId":4018522,"fieldValue":"={{ $json.combinedOutput }}"}]}},"id":"86e0f663-7d2d-4e40-9b44-0cdf9ed3e943","name":"inserir história na tabela","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-2660,240],"credentials":{"baserowApi":{"id":"WxTwsXEey71flvcH","name":"Odemilagres baserow"}}},{"parameters":{"databaseId":211341,"tableId":507814,"additionalOptions":{}},"id":"c528cc81-7c5a-4db2-92b5-1007fd96febe","name":"Capturar dados tabela tipos de história","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-2380,80],"credentials":{"baserowApi":{"id":"WxTwsXEey71flvcH","name":"Odemilagres baserow"}}},{"parameters":{},"id":"6d41641c-381b-42cd-9c99-2a9ab4a5a69c","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-2080,220]},{"parameters":{"jsCode":"const mergedData = items;\n\nconst data1 = mergedData[0].json;\nconst data2 = mergedData.length > 1 ? mergedData[1].json : {};\n\nlet historiaCompleta = \"\";\n\nfor (const item of mergedData) {\n  if (item.json[\"História\"]) {\n    historiaCompleta = item.json[\"História\"];\n    break;\n  }\n}\n\nconst cenasPromptsJsonString = data1[\"Cenas Prompts JSON\"] || \"\";\nconst historiaArray = data1[\"Histórias\"] || [];\n\nconst cenasPromptsJson = cenasPromptsJsonString.split(\"\\n\").join(\"\\n\");\nconst historia = historiaArray.map(item => item.value).join(\"\\n\");\n\nconst prompt = `\n  ${cenasPromptsJson}\n\n  ${historiaCompleta}\n`;\n\nreturn [\n  {\n    json: {\n      prompt: prompt.trim()\n    }\n  }\n];"},"id":"dee7e0f6-d60a-4d4d-bcda-b52eeb05cfba","name":"preparar prompt 2","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1820,220]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{ $json.prompt }}"}]},"jsonOutput":true,"options":{}},"id":"871c28d5-7672-4bfd-9e3a-4381f6cd2681","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-1560,220],"credentials":{"openAiApi":{"id":"gMF7dEa6jYZL09Sh","name":"OpenAi odemilagres (saldo riti)"}}},{"parameters":{"jsCode":"const pairs = items[0].json.message.content.pairs;\nconst result = [];\n\nfor (const pair of pairs) {\n  for (const prompt of pair.aiImagePrompts) {\n    result.push({ json: { aiImagePrompt: prompt, original: pair.original } });\n  }\n}\n\nreturn result;"},"id":"b7efc386-ac4a-4ae9-b0e2-51267e023e16","name":"transformar array","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1200,220],"alwaysOutputData":false},{"parameters":{"databaseId":211341,"tableId":507813,"additionalOptions":{}},"id":"d7544351-7388-4d0b-8df8-524f5b6f21bc","name":"capturar dados tabela cenas","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-4200,520],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"WxTwsXEey71flvcH","name":"Odemilagres baserow"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ac135c8b-cd99-4989-81b3-ccef958a7d11","leftValue":"={{ $json.Imagem }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"2b8458f3-4495-41e0-a86d-d0b8e6402481","name":"if Imagem= vazio","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4020,520]},{"parameters":{"jsCode":"return items\n  .map(item => {\n    return {\n      json: {\n        \"prompt\": item.json['AI Image Prompts']\n      }\n    };\n  });"},"id":"f3d56d11-4250-4797-a49b-200e1ee38c46","name":"array para lista 2","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3740,600]},{"parameters":{"databaseId":211341,"tableId":507814,"additionalOptions":{}},"id":"961ef92a-41ff-4ab8-aa94-e050f3e6778c","name":"capturar dados tipos de história","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-3540,440],"credentials":{"baserowApi":{"id":"WxTwsXEey71flvcH","name":"Odemilagres baserow"}}},{"parameters":{"jsCode":"const inputData = items[0].json;\n\nconst outputData = {\n  width: inputData[\"Largura Imagem\"],\n  height: inputData[\"Altura Imagem\"],\n  modelId: inputData[\"Model ID\"],\n  \n};\n\nreturn [{ json: outputData }];"},"id":"cfa0eada-6e98-4c07-b2b2-b4a1cd105cc4","name":"extrair dimensão da miagem + model id","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3320,440]},{"parameters":{"jsCode":"const inputData = items[0].json;\n\nreturn items.slice(1).map(item => {\n  return {\n    json: {\n      prompt: inputData.prompt,\n      width: parseInt(inputData.width),\n      height: parseInt(inputData.height),\n      modelId: inputData.modelId\n    }\n  };\n});"},"id":"b007530d-bb3a-4dfc-b933-24c31a4c2358","name":"Mesclar outputs por delay do merge","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2900,580]},{"parameters":{},"id":"384969fb-9b94-4dce-bd50-45cff2e39b36","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-3160,580]},{"parameters":{"operation":"update","databaseId":211341,"tableId":507813,"rowId":"={{ $json.codigo }}","fieldsUi":{"fieldValues":[{"fieldId":4018469,"fieldValue":"={{ $('extrair url imagem').item.json.imagem }}"},{"fieldId":4018467,"fieldValue":"={{ $('extrair url imagem').item.json.id }}"}]}},"id":"e23fa8fd-3229-44bc-b006-71199b87ef2b","name":"inserir id geracao na tabela cenas","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-660,560],"credentials":{"baserowApi":{"id":"WxTwsXEey71flvcH","name":"Odemilagres baserow"}}},{"parameters":{"jsCode":"const inputData = items.map(item => item.json);\n\nconst uniqueIDs = new Set();\n\ninputData.forEach(item => {\n  uniqueIDs.add(item[\"ID Geração\"]);\n});\n\nconst uniqueIDArray = Array.from(uniqueIDs);\n\nreturn uniqueIDArray.map(id => ({ \"ID Geração\": id }));"},"id":"6d728a35-50f9-4e31-b60d-b9e9e45c025d","name":"filtrar id geracao","type":"n8n-nodes-base.code","typeVersion":2,"position":[-460,60]},{"parameters":{},"id":"c320ea11-06f9-488c-92d9-9b635586209d","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-260,60],"webhookId":"82003114-ca21-4d84-8549-5b7e80509fac"},{"parameters":{"operation":"create","databaseId":211341,"tableId":507813,"fieldsUi":{"fieldValues":[{"fieldId":4018443,"fieldValue":"={{ $json.original }}"},{"fieldId":4018444,"fieldValue":"={{ $json.aiImagePrompt }}"}]}},"id":"e3d1a23a-49ef-4309-8ae2-852ea973c5f4","name":"inserir cenas nas tabela","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-1000,220],"credentials":{"baserowApi":{"id":"WxTwsXEey71flvcH","name":"Odemilagres baserow"}}},{"parameters":{},"id":"0b4e33f4-e98a-4f62-ad78-d118827aefbe","name":"Merge4","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-2240,600]},{"parameters":{"jsCode":"const items = $input.all();\n\nconst prompts = items.filter(item => item.json.id !== undefined);\nconst properties = items.filter(item => item.json.width !== undefined);\n\nconst mergedResults = prompts.map((prompt, index) => {\n    const property = properties[index % properties.length];\n    return {\n        json: {\n            ...prompt.json,\n            width: property.json.width,\n            height: property.json.height,\n            modelId: property.json.modelId,\n        }\n    };\n});\n\nreturn mergedResults;"},"id":"58b953b0-5131-437e-8b8e-14d6664bd17b","name":"Mesclar outputs por delay do merge1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2020,560]},{"parameters":{"jsCode":"const items = $input.all();\n\nconst seenIds = new Set();\nconst uniquePrompts = [];\n\nfor (const item of items) {\n    const data = item.json;\n    if (!seenIds.has(data.id)) {\n        seenIds.add(data.id);\n        uniquePrompts.push({\n            id: data.id,\n            'AI Image Prompts': data['AI Image Prompts']\n        });\n    }\n}\n\nreturn uniquePrompts.map(prompt => ({ json: prompt }));"},"id":"9ffab2b9-484e-4891-bb3c-dc7484cbc65b","name":"extrair AI image prompts","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2460,480]},{"parameters":{"databaseId":211341,"tableId":507813,"additionalOptions":{}},"id":"b5f273f6-3e2f-4cce-adcf-431ce5dce5c8","name":"capturar dados cenas","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-2640,480],"credentials":{"baserowApi":{"id":"WxTwsXEey71flvcH","name":"Odemilagres baserow"}}},{"parameters":{"databaseId":211341,"tableId":507812,"additionalOptions":{}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[0,0],"id":"dbdd3e4c-3abb-4097-ad65-eb9a64c9709d","name":"Baserow","credentials":{"baserowApi":{"id":"WxTwsXEey71flvcH","name":"Odemilagres baserow"}}},{"parameters":{"jsCode":"const inputData = $input.all();\n\nif (inputData.length > 0) {\n  const firstItem = inputData[0].json;\n\n  const larguraOutput = firstItem[\"Largura Output\"] && firstItem[\"Largura Output\"].length > 0\n    ? firstItem[\"Largura Output\"][0].value\n    : null;\n\n  const alturaOutput = firstItem[\"Altura Output\"] && firstItem[\"Altura Output\"].length > 0\n    ? firstItem[\"Altura Output\"][0].value\n    : null;\n\n  return [\n    {\n      larguraOutput,\n      alturaOutput\n    }\n  ];\n} else {\n  return [\n    {\n      larguraOutput: null,\n      alturaOutput: null\n    }\n  ];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[180,0],"id":"5713f4f1-f29a-4e9b-9373-738ad55e0793","name":"extrair altura e largura output"},{"parameters":{"jsCode":"const inputData = $input.all();\n\nconst uniqueItems = [];\nconst seenIds = new Set();\n\nfor (const item of inputData) {\n  const id = item.json.id;\n  const imagem = item.json.Imagem;\n\n  if (!seenIds.has(id)) {\n    seenIds.add(id);\n    uniqueItems.push({ id, imagem });\n  }\n}\n\n\nreturn uniqueItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[100,220],"id":"c9e2d6db-ec9d-4886-a035-71f4f1477ff6","name":"extrair id linha + url imagem"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[540,60],"id":"03581a01-38a9-4f9e-b92b-42b40027d837","name":"Merge5"},{"parameters":{"jsCode":"let elementId = 1;\nconst processedLinks = new Set();\nlet elements = [];\n\nlet validLarguraOutput = null;\nlet validAlturaOutput = null;\n\nitems.forEach(item => {\n  const larguraOutput = 1920;\n  const alturaOutput = 1080;\n\n  if (larguraOutput && alturaOutput) {\n    validLarguraOutput = parseInt(larguraOutput, 10);\n    validAlturaOutput = parseInt(alturaOutput, 10);\n  }\n});\n\nitems.forEach(item => {\n  const id = item.json[\"id\"];\n  const imagem = item.json[\"Imagem\"];\n\n  if (id && imagem) {\n    let larguraOutput = validLarguraOutput;\n    let alturaOutput = validAlturaOutput;\n\n    if (!processedLinks.has(imagem) && larguraOutput && alturaOutput) {\n      processedLinks.add(imagem);\n      elements.push({\n        id: elementId++,\n        type: \"image\",\n        src: imagem,\n        duration: 5,\n        zoom: 2,\n        width: larguraOutput,\n        height: alturaOutput,\n        position: \"center-center\"\n      });\n    }\n  }\n});\n\nlet videos = [];\nfor (let i = 0; i < elements.length; i += 3) {\n  const scenes = [];\n  for (let j = 0; j < 3 && i + j < elements.length; j++) {\n    scenes.push({\n      comment: `Scene #${Math.floor(i / 3) + 1}`,\n      elements: [elements[i + j]]\n    });\n  }\n\n  if (scenes.length > 0) {\n    const videoJson = {\n      resolution: \"full-hd\",\n      quality: \"high\",\n      scenes: scenes\n    };\n    videos.push({ json: videoJson });\n  }\n}\n\nreturn videos;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-460,560],"id":"86affd1f-2dab-43fb-b80d-8b4e06883785","name":"preparar input para json2video"},{"parameters":{"method":"POST","url":"https://api.json2video.com/v2/movies","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"RadOb0fjPAFm2t39IS28CpEoRdEkfF8FFGySwhW5"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-280,560],"id":"7bb0d6be-6ff2-4324-9538-88345f846a6b","name":"gerar video"},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-120,560],"id":"95bad32c-6664-4e4c-a2f0-79399e790856","name":"Wait1","webhookId":"c775af81-9747-463a-868a-3d416ddbd141"},{"parameters":{"url":"https://api.json2video.com/v2/movies","sendQuery":true,"queryParameters":{"parameters":[{"name":"project","value":"={{ $json.project }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"RadOb0fjPAFm2t39IS28CpEoRdEkfF8FFGySwhW5"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,560],"id":"bd2b29ba-a4f5-4f95-81de-447b1136cc59","name":"buscar video"},{"parameters":{"operation":"create","databaseId":211341,"tableId":507815,"fieldsUi":{"fieldValues":[{"fieldId":4018449,"fieldValue":"={{ $json.movie.url }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[240,560],"id":"f8ec7ad3-ddd8-4907-ba5c-097ae631445c","name":"inserir video na tabela","credentials":{"baserowApi":{"id":"WxTwsXEey71flvcH","name":"Odemilagres baserow"}}},{"parameters":{"method":"POST","url":"https://api-inference.huggingface.co/models/black-forest-labs/FLUX.1-dev","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"inputs","value":"={{ $json['AI Image Prompts'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1520,640],"id":"6b50ce7c-911e-4348-996c-910b1164f521","name":"huggingface","credentials":{"httpHeaderAuth":{"id":"R6HhSf77Dm8nWkI0","name":"hugginface Odemilagres"}}},{"parameters":{"name":"=fg-{{ $json.id }}.jpg","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1gzLhOj9flNCieP4OYShi-R7Tq0mxyh2W","mode":"list","cachedResultName":"fotos geradas","cachedResultUrl":"https://drive.google.com/drive/folders/1gzLhOj9flNCieP4OYShi-R7Tq0mxyh2W"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1240,560],"id":"390dd66f-930e-4f15-8aca-ba30bf65fce8","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"grhcyjL0PnUbR552","name":"Drive OdeMilagres"}}},{"parameters":{"jsCode":"const inputData = $input.all();\n\nconst uniqueItems = [];\nconst seenIds = new Set();\n\nfor (const item of inputData) {\n  const id = item.json.id;\n  const imagem = item.json.webViewLink;\n\n\n  if (!seenIds.has(id)) {\n    seenIds.add(id);\n    uniqueItems.push({ id, imagem });\n  }\n}\n\n\nreturn uniqueItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1020,560],"id":"20ed7419-59be-4ca1-9ff8-ea487843ad97","name":"extrair url imagem"},{"parameters":{"databaseId":211341,"tableId":507813,"additionalOptions":{}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-3200,1060],"id":"37facebc-fd35-431f-9b83-086fca5d8a44","name":"capturar dados tabela cenas2","credentials":{"baserowApi":{"id":"WxTwsXEey71flvcH","name":"Odemilagres baserow"}}},{"parameters":{"jsCode":"const uniqueScenes = {};\nconst data = items;\n\ndata.forEach(item => {\n  const scene = item.json;\n  if (!uniqueScenes[scene.Cenas]) {\n    uniqueScenes[scene.Cenas] = scene.Cenas;\n  }\n});\n\nconst uniqueScenesArray = Object.values(uniqueScenes);\n\nreturn uniqueScenesArray.map(scene => ({ json: { Cena: scene } }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3020,1040],"id":"27baed6e-90e5-4a1a-9ce5-e7188a7d36cd","name":"Code1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2760,1040],"id":"6d489804-1001-4d6c-bc28-4e7861a4f1b8","name":"Loop Over Items"},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2160,900],"id":"3cf230b9-0270-49c8-9036-21c76369c269","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"grhcyjL0PnUbR552","name":"Drive OdeMilagres"}}},{"parameters":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1gzLhOj9flNCieP4OYShi-R7Tq0mxyh2W","mode":"list","cachedResultName":"fotos geradas","cachedResultUrl":"https://drive.google.com/drive/folders/1gzLhOj9flNCieP4OYShi-R7Tq0mxyh2W"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2360,1120],"id":"f8172b51-ffa5-4bb8-abb5-c269fccc2596","name":"upload audio","credentials":{"googleDriveOAuth2Api":{"id":"grhcyjL0PnUbR552","name":"Drive OdeMilagres"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nconst videoItems = items.filter(item => item.json.hasOwnProperty('ID Vídeo'));\nconst audioItem = items.find(item => item.json.mimeType === 'audio/mpeg');\n\nlet videoItemToUpdate = null;\n\nfor (let video of videoItems) {\n  if (!video.json.Áudio) {\n    if (videoItemToUpdate === null || video.json.id < videoItemToUpdate.json.id) {\n      videoItemToUpdate = video;\n    }\n  }\n}\n\nlet result = {};\n\nif (videoItemToUpdate) {\n  videoItemToUpdate.json.Áudio = audioItem.json.webContentLink;\n  result = {\n    id: videoItemToUpdate.json.id,\n    Áudio: videoItemToUpdate.json.Áudio\n  };\n}\n\nreturn [result];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1800,1100],"id":"b27c3a4c-955c-4b08-83ee-0b4206b208f1","name":"extrair id coluna url audio","alwaysOutputData":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0eccd8f-e897-443b-b9c6-e56e88404d7f","leftValue":"={{ $json[\"Vídeo + Áudio\"] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3140,1580],"id":"16ffce91-1c5c-41df-9341-9916ffa95ca9","name":"If1 video + audio vazio"},{"parameters":{"jsCode":"const inputData = items;\n\nlet filteredData = inputData.map(item => ({\n  id: item.json.id,\n  video: item.json.Vídeo,\n  audio: item.json.Áudio\n}));\n\nlet uniqueData = [];\nlet ids = new Set();\n\nfilteredData.forEach(item => {\n  if (!ids.has(item.id)) {\n    uniqueData.push(item);\n    ids.add(item.id);\n  }\n});\n\nreturn uniqueData.map(data => ({ json: data }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2860,1540],"id":"b3c3da59-435b-40da-a740-90b3086ee782","name":"extrair id link video e audio"},{"parameters":{"databaseId":211341,"tableId":507814,"additionalOptions":{}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-2600,1460],"id":"a064ede1-1bf1-42e0-bca5-3b9048f8a40e","name":"capturar tipos historia","credentials":{"baserowApi":{"id":"WxTwsXEey71flvcH","name":"Odemilagres baserow"}}},{"parameters":{"jsCode":"const inputData = items[0].json;\n\nconst outputData = {\n  width: inputData[\"Largura Output\"],\n  height: inputData[\"Altura Output\"]\n};\n\nreturn [{ json: outputData }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2360,1460],"id":"2b79cd48-7376-414f-8773-6e685dea5b6e","name":"extrair dimensao imagem"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-2080,1520],"id":"0b397122-d540-43c6-9464-630b258c3a53","name":"Merge7"},{"parameters":{"jsCode":"const items = $input.all();\n\nconst { width, height } = items[0].json;\n\nconst videoRequests = [];\n\nitems.slice(1).forEach((item, index) => {\n  const scenes = [\n    {\n      comment: `Scene #${index + 1}`,\n      elements: [\n        {\n          type: 'video',\n          src: item.json.video,\n          duration: -2\n        }\n      ],\n    }\n  ];\n\n  const audioElements = [\n    {\n      type: 'audio',\n      src: item.json.audio,\n      duration: -1\n    }\n  ];\n\n  const requestPayload = {\n    id: 'Vídeo + Áudio',\n    fps: 25,\n    cache: false,\n    draft: false,\n    width: parseInt(width, 10),\n    height: parseInt(height, 10),\n    scenes: scenes,\n    quality: 'high',\n    elements: audioElements,\n    settings: {},\n    resolution: 'custom'\n  };\n\n  videoRequests.push({ json: requestPayload });\n});\n\nreturn videoRequests;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1820,1620],"id":"ee25a32e-7c86-4353-a40c-abc433960f4f","name":"preparar input jsonvideo"},{"parameters":{"method":"POST","url":"https://api.json2video.com/v2/movies","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"RadOb0fjPAFm2t39IS28CpEoRdEkfF8FFGySwhW5"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1580,1640],"id":"155e58bb-c0d6-46df-a644-502ef6620c9f","name":"gerar video1"},{"parameters":{"amount":60},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1360,1640],"id":"30b2aae4-bdce-43f8-b19a-e6ef1962f913","name":"Wait2","webhookId":"c775af81-9747-463a-868a-3d416ddbd141"},{"parameters":{"url":"https://api.json2video.com/v2/movies","sendQuery":true,"queryParameters":{"parameters":[{"name":"project","value":"={{ $json.project }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"RadOb0fjPAFm2t39IS28CpEoRdEkfF8FFGySwhW5"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1160,1640],"id":"c2f27b2a-c5dd-4c1c-8554-d525c1f484df","name":"buscar video1"},{"parameters":{"databaseId":211341,"tableId":507815,"additionalOptions":{}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-900,1560],"id":"00f0d403-6181-4c62-ae84-87cdf333515a","name":"capturar videos","credentials":{"baserowApi":{"id":"WxTwsXEey71flvcH","name":"Odemilagres baserow"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nconst uniqueIds = new Set();\n\nitems.forEach((item) => {\n  if (item.json && typeof item.json === 'object' && item.json.id) {\n    uniqueIds.add(item.json.id);\n  }\n});\n\nconst uniqueIdsArray = Array.from(uniqueIds);\n\nreturn uniqueIdsArray.map(id => ({ json: { id } }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,1560],"id":"1b217cc9-effb-4e2c-9e81-515db82d35a6","name":"extrair id linha"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-500,1620],"id":"5a4b80e5-364e-4b90-9099-5b254f194b04","name":"Merge8"},{"parameters":{"jsCode":"function processInput(items) {\n  let seenIds = new Set();\n\n  let result = [];\n\n  if (Array.isArray(items)) {\n    items.forEach(item => {\n      let currentItem = item.json || {};\n\n      if (currentItem.id && currentItem[\"Vídeo + Áudio\"]) {\n        if (!seenIds.has(currentItem.id)) {\n          seenIds.add(currentItem.id);\n          result.push({ id: currentItem.id, \"Vídeo + Áudio\": currentItem[\"Vídeo + Áudio\"] });\n        }\n      }\n    });\n  }\n  return result;\n}\n\nlet items = $input.all();\n\nlet output = processInput(items);\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2860,1940],"id":"7e186f5d-bb24-496c-b120-538128a8b9e2","name":"Extrair id e audio + video"},{"parameters":{"databaseId":211341,"tableId":507812,"additionalOptions":{}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-2560,1780],"id":"e0c4124c-7170-47a2-912f-e6150d979e0e","name":"Baserow4","credentials":{"baserowApi":{"id":"WxTwsXEey71flvcH","name":"Odemilagres baserow"}}},{"parameters":{"jsCode":"const inputData = $input.all();\n\nif (inputData.length > 0) {\n  const firstItem = inputData[0].json;\n\n  const larguraOutput = firstItem[\"Largura Output\"] && firstItem[\"Largura Output\"].length > 0\n    ? firstItem[\"Largura Output\"][0].value\n    : null;\n\n  const alturaOutput = firstItem[\"Altura Output\"] && firstItem[\"Altura Output\"].length > 0\n    ? firstItem[\"Altura Output\"][0].value\n    : null;\n\n  return [\n    {\n      larguraOutput,\n      alturaOutput\n    }\n  ];\n} else {\n  return [\n    {\n      larguraOutput: null,\n      alturaOutput: null\n    }\n  ];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2320,1800],"id":"4118f12c-8b21-4f85-9214-dabcdfce06c8","name":"extrair largura e altura output"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-2040,1920],"id":"7fb32d73-2043-4134-acb3-eb7341051fca","name":"Merge9"},{"parameters":{"jsCode":"let elementId = 1;\nconst processedLinks = new Set();\nlet elements = [];\nlet validLarguraOutput = null;\nlet validAlturaOutput = null;\n\nitems.forEach(item => {\n  const larguraOutput = item.json[\"larguraOutput\"];\n  const alturaOutput = item.json[\"alturaOutput\"];\n\n  if (larguraOutput && alturaOutput) {\n    validLarguraOutput = parseInt(larguraOutput, 10);\n    validAlturaOutput = parseInt(alturaOutput, 10);\n  }\n});\n\nitems.forEach(item => {\n  const id = item.json[\"id\"];\n  const videoUrl = item.json[\"Vídeo + Áudio\"];\n\n  if (id && videoUrl) {\n    let larguraOutput = validLarguraOutput;\n    let alturaOutput = validAlturaOutput;\n\n    if (!processedLinks.has(videoUrl) && larguraOutput && alturaOutput) {\n      processedLinks.add(videoUrl);\n      elements.push({\n        id: elementId++,\n        type: \"video\",\n        src: videoUrl,\n        duration: -1,\n        zoom: 0,\n        width: larguraOutput,\n        height: alturaOutput,\n        position: \"center-center\"\n      });\n    }\n  }\n});\n\nlet scenes = [];\nelements.forEach(element => {\n  scenes.push({\n    elements: [element]\n  });\n});\n\nconst outputJson = {\n  id: \"Vídeo Completo\",\n  fps: 25,\n  cache: false,\n  draft: false,\n  width: validLarguraOutput,\n  height: validAlturaOutput,\n  scenes: scenes,\n  quality: \"high\",\n  elements: [\n    {\n      type: \"subtitles\",\n      language: \"pt-BR\",\n      settings: {\n        \"all-caps\": true,\n        position: \"mid-bottom-center\",\n        \"font-size\": 75,\n        \"font-family\": \"Luckiest Guy\",\n        \"outline-width\": 5\n      }\n    }\n  ],\n  settings: {},\n  resolution: \"custom\"\n};\n\nreturn [{ json: outputJson }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1800,2000],"id":"75fe191a-394b-49fa-a1ae-d3690abef476","name":"preparar input para jsonvideo"},{"parameters":{"method":"POST","url":"https://api.json2video.com/v2/movies","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"RadOb0fjPAFm2t39IS28CpEoRdEkfF8FFGySwhW5"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1560,2020],"id":"5239f003-0508-4e27-ac09-9e0574369dfd","name":"gerar video2"},{"parameters":{"amount":60},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1340,2020],"id":"30af8c9e-79da-4d86-b92a-63b968554fa6","name":"Wait3","webhookId":"c775af81-9747-463a-868a-3d416ddbd141"},{"parameters":{"url":"https://api.json2video.com/v2/movies","sendQuery":true,"queryParameters":{"parameters":[{"name":"project","value":"={{ $json.project }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"RadOb0fjPAFm2t39IS28CpEoRdEkfF8FFGySwhW5"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1140,2020],"id":"a2b6d878-5f94-49c4-a2bb-0b32f92d219b","name":"buscar video2"},{"parameters":{"jsCode":"const items = $input.all();\n\nconst ids = items.map(item => item.json.id);\n\nconst uniqueIds = [...new Set(ids)];\n\nreturn uniqueIds.map(id => ({ json: { id } }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-680,1860],"id":"79374e40-29d3-4cad-8ee5-291056e3ac2e","name":"extrair id linha1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-500,2000],"id":"50ade9c9-f67b-4e42-a634-ecfd6465fdbc","name":"Merge10"},{"parameters":{"jsCode":"function mergeOutputs(inputs) {\n    let mergedOutput = [];\n    let ids = inputs.filter(input => input.json.id !== undefined);\n    let movies = inputs.filter(input => input.json.movie !== undefined);\n\n    ids.forEach((id, index) => {\n        if (index < movies.length) {\n            mergedOutput.push({\n                ...id.json,\n                ...movies[index].json\n            });\n        } else {\n            mergedOutput.push(id.json);\n        }\n    });\n\n    movies.slice(ids.length).forEach(movie => {\n        mergedOutput.push(movie.json);\n    });\n\n    return mergedOutput;\n}\n\nlet inputs = $input.all();\n\nif (!inputs || inputs.length === 0) {\n    throw new Error(\"No inputs received.\");\n}\n\nlet output = mergeOutputs(inputs);\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-300,2000],"id":"0e6a8911-1a60-4123-8ab0-285b4319b3df","name":"Code3"},{"parameters":{"databaseId":211341,"tableId":507812,"additionalOptions":{}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-860,1860],"id":"6ecad77f-a7f0-4adb-9eca-c16afc571f4c","name":"capturar historias","credentials":{"baserowApi":{"id":"WxTwsXEey71flvcH","name":"Odemilagres baserow"}}},{"parameters":{"operation":"update","databaseId":211341,"tableId":507812,"rowId":"={{ $json.id }}","fieldsUi":{"fieldValues":[{"fieldId":4018458,"fieldValue":"={{ $json.movie.url }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-100,2000],"id":"036f6b2c-22a2-470c-bc26-fd3e7ea90da8","name":"inserir videos na tabela","credentials":{"baserowApi":{"id":"WxTwsXEey71flvcH","name":"Odemilagres baserow"}}},{"parameters":{"resource":"video","operation":"upload","title":"teste","regionCode":"BR","categoryId":"1","options":{"privacyStatus":"unlisted"}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[-840,2140],"id":"74ecf470-5947-4682-b9a8-781319a9498e","name":"YouTube","credentials":{"youTubeOAuth2Api":{"id":"CRTRvCTlbBMM7J0x","name":"Oracao milagres google "}}},{"parameters":{"content":"HISTÓRIA E CENAS\n**Gera a história, particiona em cenas e guarda no banco** ","height":420,"width":3740},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4380,-20],"id":"1c8b930d-c9b4-4258-b830-cb0ffb8a6bf6","name":"Sticky Note"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1700,560],"id":"c9262aca-e365-4ee1-845d-fa7f5084d098","name":"Loop Over Items1"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1380,680],"id":"dea5a73b-5cf1-4572-bd78-8b07fffdeb18","name":"Wait4","webhookId":"7f990408-f2f3-4c9e-afc7-b0965cc0f356"},{"parameters":{"assignments":{"assignments":[{"id":"f3dda1fd-4751-4901-9309-417b9f0b5c1e","name":"codigo","value":"={{ $('Google Drive').item.json.name.match(/\\d+/)[0] }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-840,560],"id":"31d5b6f7-cb86-43d3-9106-f4ef62b072a1","name":"Edit Fields"},{"parameters":{"content":"## Gerar imagens e gerar videos separados\n","height":440,"width":4900},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4400,420],"id":"3de24f92-1543-4dde-a540-b663d8df1bc3","name":"Sticky Note1"},{"parameters":{"databaseId":211341,"tableId":507815,"additionalOptions":{}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-3780,900],"id":"fb3347bb-fb72-484b-93f1-0cfd081af28b","name":"listar videos","credentials":{"baserowApi":{"id":"WxTwsXEey71flvcH","name":"Odemilagres baserow"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0731596d-c5f2-4875-9b8d-7c0a1a8799e7","leftValue":"={{ $json[\"Áudio\"] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3560,900],"id":"67eb81b3-d9ec-43c6-96be-518205a06f6a","name":"verifica se tem audio no video"},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/text-to-speech/5Q0t7uMcjvnagumLfvZi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xi-api-key","value":"sk_3da57f4972380d53a38eca28876fd84942ed6fed08e2c3f1"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.Cena }}"},{"name":"model_id","value":"eleven_multilingual_v2"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2540,1060],"id":"c8a1c145-7609-4848-8d8c-64b9cb548af1","name":"Eleven labs"},{"parameters":{"content":"## GERA AS VOZES\n","height":500,"width":1820},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3300,880],"id":"29f29735-3c9a-4925-9c22-2108f2e3582b","name":"Sticky Note2"},{"parameters":{"databaseId":211341,"tableId":507815,"additionalOptions":{}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-2160,1040],"id":"5a738f43-ad12-4963-a7a6-5189f02013d2","name":"capturar dados tabela video","credentials":{"baserowApi":{"id":"WxTwsXEey71flvcH","name":"Odemilagres baserow"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-1960,1100],"id":"27d1cadb-fa07-4266-9f28-05450bb969ac","name":"Merge3"},{"parameters":{"jsCode":"function mergeOutputs(inputs) {\n    let mergedOutput = [];\n    let ids = inputs.filter(input => input.json.id !== undefined);\n    let movies = inputs.filter(input => input.json.movie !== undefined);\n\n    ids.forEach((id, index) => {\n        if (index < movies.length) {\n            mergedOutput.push({\n                ...id.json,\n                ...movies[index].json\n            });\n        } else {\n            mergedOutput.push(id.json);\n        }\n    });\n\n    movies.slice(ids.length).forEach(movie => {\n        mergedOutput.push(movie.json);\n    });\n\n    return mergedOutput;\n}\n\nlet inputs = $input.all();\n\nif (!inputs || inputs.length === 0) {\n    throw new Error(\"No inputs received.\");\n}\n\nlet output = mergeOutputs(inputs);\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-280,1620],"id":"0f1fa456-7c3a-490e-8dc3-6ed2fa9bd253","name":"mesclar outputs por delay"},{"parameters":{"operation":"update","databaseId":211341,"tableId":507815,"rowId":"={{ $json.id }}","fieldsUi":{"fieldValues":[{"fieldId":4018495,"fieldValue":"={{ $json.movie.url }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-120,1620],"id":"86e9c545-e614-49de-be37-8595e13642cb","name":"inserir videos na coluna video + audo","credentials":{"baserowApi":{"id":"WxTwsXEey71flvcH","name":"Odemilagres baserow"}}},{"parameters":{"content":"## LEGENDAR VIDEO\n","height":520,"width":3180},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3020,1760],"id":"54ffa1e3-91f6-4977-9681-4bb328c1bc85","name":"Sticky Note3"},{"parameters":{"operation":"update","databaseId":211341,"tableId":507815,"rowId":"={{ $json.id }}","fieldsUi":{"fieldValues":[{"fieldId":4018450,"fieldValue":"={{ $json['Áudio'] }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-1660,1100],"id":"1f5e5015-8987-4204-812f-18cd2dd54d15","name":"Baserow1","alwaysOutputData":true,"credentials":{"baserowApi":{"id":"WxTwsXEey71flvcH","name":"Odemilagres baserow"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Capturar dados da tb Histórias","type":"main","index":0}]]},"Capturar dados da tb Histórias":{"main":[[{"node":"If História = vazio","type":"main","index":0}]]},"If História = vazio":{"main":[[{"node":"If Pronto para ir","type":"main","index":0}],[{"node":"capturar dados tabela cenas","type":"main","index":0}]]},"If Pronto para ir":{"main":[[{"node":"preparar prompt","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"preparar prompt":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Merge","type":"main","index":0}]]},"organizar dados node":{"main":[[{"node":"inserir história na tabela","type":"main","index":0}]]},"Merge":{"main":[[{"node":"organizar dados node","type":"main","index":0}]]},"inserir história na tabela":{"main":[[{"node":"Capturar dados tabela tipos de história","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Capturar dados tabela tipos de história":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"preparar prompt 2","type":"main","index":0}]]},"preparar prompt 2":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"transformar array","type":"main","index":0}]]},"transformar array":{"main":[[{"node":"inserir cenas nas tabela","type":"main","index":0}]]},"capturar dados tabela cenas":{"main":[[{"node":"if Imagem= vazio","type":"main","index":0}]]},"if Imagem= vazio":{"main":[[{"node":"array para lista 2","type":"main","index":0}],[{"node":"listar videos","type":"main","index":0}]]},"array para lista 2":{"main":[[{"node":"capturar dados tipos de história","type":"main","index":0},{"node":"Merge2","type":"main","index":1}]]},"capturar dados tipos de história":{"main":[[{"node":"extrair dimensão da miagem + model id","type":"main","index":0}]]},"extrair dimensão da miagem + model id":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Mesclar outputs por delay do merge":{"main":[[{"node":"capturar dados cenas","type":"main","index":0},{"node":"Merge4","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"Mesclar outputs por delay do merge","type":"main","index":0}]]},"inserir id geracao na tabela cenas":{"main":[[{"node":"preparar input para json2video","type":"main","index":0}]]},"filtrar id geracao":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Baserow","type":"main","index":0},{"node":"extrair id linha + url imagem","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"Mesclar outputs por delay do merge1","type":"main","index":0}]]},"Mesclar outputs por delay do merge1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"extrair AI image prompts":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"capturar dados cenas":{"main":[[{"node":"extrair AI image prompts","type":"main","index":0}]]},"Baserow":{"main":[[{"node":"extrair altura e largura output","type":"main","index":0}]]},"preparar input para json2video":{"main":[[{"node":"gerar video","type":"main","index":0}]]},"gerar video":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"buscar video","type":"main","index":0}]]},"buscar video":{"main":[[{"node":"inserir video na tabela","type":"main","index":0}]]},"huggingface":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"extrair url imagem","type":"main","index":0}]]},"extrair url imagem":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"capturar dados tabela cenas2":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Eleven labs","type":"main","index":0}]]},"upload audio":{"main":[[{"node":"Google Drive2","type":"main","index":0},{"node":"capturar dados tabela video","type":"main","index":0},{"node":"Merge3","type":"main","index":1}]]},"extrair id coluna url audio":{"main":[[{"node":"Baserow1","type":"main","index":0}]]},"If1 video + audio vazio":{"main":[[{"node":"extrair id link video e audio","type":"main","index":0}],[{"node":"Extrair id e audio + video","type":"main","index":0}]]},"extrair id link video e audio":{"main":[[{"node":"capturar tipos historia","type":"main","index":0},{"node":"Merge7","type":"main","index":1}]]},"capturar tipos historia":{"main":[[{"node":"extrair dimensao imagem","type":"main","index":0}]]},"preparar input jsonvideo":{"main":[[{"node":"gerar video1","type":"main","index":0}]]},"gerar video1":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"buscar video1","type":"main","index":0}]]},"buscar video1":{"main":[[{"node":"capturar videos","type":"main","index":0},{"node":"Merge8","type":"main","index":1}]]},"capturar videos":{"main":[[{"node":"extrair id linha","type":"main","index":0}]]},"Extrair id e audio + video":{"main":[[{"node":"Baserow4","type":"main","index":0},{"node":"Merge9","type":"main","index":1}]]},"Baserow4":{"main":[[{"node":"extrair largura e altura output","type":"main","index":0}]]},"gerar video2":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"buscar video2","type":"main","index":0}]]},"buscar video2":{"main":[[{"node":"capturar historias","type":"main","index":0},{"node":"Merge10","type":"main","index":1},{"node":"YouTube","type":"main","index":0}]]},"Code3":{"main":[[{"node":"inserir videos na tabela","type":"main","index":0}]]},"preparar input para jsonvideo":{"main":[[{"node":"gerar video2","type":"main","index":0}]]},"capturar historias":{"main":[[{"node":"extrair id linha1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Google Drive","type":"main","index":0}],[{"node":"huggingface","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"inserir id geracao na tabela cenas","type":"main","index":0}]]},"listar videos":{"main":[[{"node":"verifica se tem audio no video","type":"main","index":0}]]},"verifica se tem audio no video":{"main":[[{"node":"capturar dados tabela cenas2","type":"main","index":0}],[{"node":"If1 video + audio vazio","type":"main","index":0}]]},"Eleven labs":{"main":[[{"node":"upload audio","type":"main","index":0}]]},"capturar dados tabela video":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"extrair id coluna url audio","type":"main","index":0}]]},"extrair dimensao imagem":{"main":[[{"node":"Merge7","type":"main","index":0}]]},"Merge7":{"main":[[{"node":"preparar input jsonvideo","type":"main","index":0}]]},"extrair id linha":{"main":[[{"node":"Merge8","type":"main","index":0}]]},"mesclar outputs por delay":{"main":[[{"node":"inserir videos na coluna video + audo","type":"main","index":0}]]},"extrair largura e altura output":{"main":[[{"node":"Merge9","type":"main","index":0}]]},"Merge9":{"main":[[{"node":"preparar input para jsonvideo","type":"main","index":0}]]},"extrair id linha1":{"main":[[{"node":"Merge10","type":"main","index":0}]]},"Baserow1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Merge8":{"main":[[{"node":"mesclar outputs por delay","type":"main","index":0}]]},"inserir videos na tabela":{"main":[[]]},"Merge10":{"main":[[{"node":"Code3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"extrair url imagem":[{"json":{"id":"1pKUaFrN78s8SXZ8k50n9GGnNPdLtnOo8","imagem":"https://drive.google.com/file/d/1pKUaFrN78s8SXZ8k50n9GGnNPdLtnOo8/view?usp=drivesdk"}},{"json":{"id":"15VLBjqwvmOR-0Bti4K_ool9e8m9YUgeb","imagem":"https://drive.google.com/file/d/15VLBjqwvmOR-0Bti4K_ool9e8m9YUgeb/view?usp=drivesdk"}},{"json":{"id":"1lsMRv1gHZCQN1j4PmDJbIh0K_qwGgcJx","imagem":"https://drive.google.com/file/d/1lsMRv1gHZCQN1j4PmDJbIh0K_qwGgcJx/view?usp=drivesdk"}},{"json":{"id":"1K5bwpVu5ioi9_uHmvYghx8zzZydeYgQk","imagem":"https://drive.google.com/file/d/1K5bwpVu5ioi9_uHmvYghx8zzZydeYgQk/view?usp=drivesdk"}},{"json":{"id":"1wZ4Q9EDvkwKBAc7MqfAHfI0tYc-UX1wy","imagem":"https://drive.google.com/file/d/1wZ4Q9EDvkwKBAc7MqfAHfI0tYc-UX1wy/view?usp=drivesdk"}},{"json":{"id":"1BfVYTajJyQlcID4EPm4p1UEg457r3GGE","imagem":"https://drive.google.com/file/d/1BfVYTajJyQlcID4EPm4p1UEg457r3GGE/view?usp=drivesdk"}},{"json":{"id":"1e1wwNWu1izzfnltmxCW34O5U43FRFhjk","imagem":"https://drive.google.com/file/d/1e1wwNWu1izzfnltmxCW34O5U43FRFhjk/view?usp=drivesdk"}}],"Edit Fields":[{"json":{"id":"1pKUaFrN78s8SXZ8k50n9GGnNPdLtnOo8","imagem":"https://drive.google.com/file/d/1pKUaFrN78s8SXZ8k50n9GGnNPdLtnOo8/view?usp=drivesdk","codigo":"169"}},{"json":{"id":"15VLBjqwvmOR-0Bti4K_ool9e8m9YUgeb","imagem":"https://drive.google.com/file/d/15VLBjqwvmOR-0Bti4K_ool9e8m9YUgeb/view?usp=drivesdk","codigo":"170"}},{"json":{"id":"1lsMRv1gHZCQN1j4PmDJbIh0K_qwGgcJx","imagem":"https://drive.google.com/file/d/1lsMRv1gHZCQN1j4PmDJbIh0K_qwGgcJx/view?usp=drivesdk","codigo":"171"}},{"json":{"id":"1K5bwpVu5ioi9_uHmvYghx8zzZydeYgQk","imagem":"https://drive.google.com/file/d/1K5bwpVu5ioi9_uHmvYghx8zzZydeYgQk/view?usp=drivesdk","codigo":"172"}},{"json":{"id":"1wZ4Q9EDvkwKBAc7MqfAHfI0tYc-UX1wy","imagem":"https://drive.google.com/file/d/1wZ4Q9EDvkwKBAc7MqfAHfI0tYc-UX1wy/view?usp=drivesdk","codigo":"173"}},{"json":{"id":"1BfVYTajJyQlcID4EPm4p1UEg457r3GGE","imagem":"https://drive.google.com/file/d/1BfVYTajJyQlcID4EPm4p1UEg457r3GGE/view?usp=drivesdk","codigo":"174"}},{"json":{"id":"1e1wwNWu1izzfnltmxCW34O5U43FRFhjk","imagem":"https://drive.google.com/file/d/1e1wwNWu1izzfnltmxCW34O5U43FRFhjk/view?usp=drivesdk","codigo":"175"}}]},"versionId":"0774ebae-7132-4c31-a2e7-dbf1055df877","triggerCount":0,"shared":[{"createdAt":"2025-04-22T12:46:12.417Z","updatedAt":"2025-04-22T12:46:12.417Z","role":"workflow:owner","workflowId":"OFftpPXGyTioxivK","projectId":"TZpK0B2uX65EVlPC"}],"tags":[]}