display-project-data-on-a-smashing-dashboard-8Ocd3lUKgj01zleN.json
{"createdAt":"2025-07-07T21:04:59.962Z","updatedAt":"2025-07-07T21:04:59.962Z","id":"8Ocd3lUKgj01zleN","name":"Display project data on a smashing dashboard","active":false,"isArchived":false,"nodes":[{"name":"Cron","type":"n8n-nodes-base.cron","position":[380,240],"parameters":{"triggerTimes":{"item":[{"mode":"everyMinute"}]}},"typeVersion":1,"id":"f5ad2d43-2b50-479e-935b-6be13ee527f2"},{"name":"Dashboard Configuration","type":"n8n-nodes-base.set","color":"#FF0000","notes":"Update project settings","position":[660,240],"parameters":{"values":{"string":[{"name":"dashboardHostname","value":"http://192.168.0.14:8080"},{"name":"dashboardAuthToken","value":"n8n-rocks!"},{"name":"product_hunt_post_id","value":"170391"},{"name":"npm_package","value":"n8n"},{"name":"docker_name","value":"n8nio"},{"name":"docker_repository","value":"n8n"},{"name":"github_owner","value":"n8n-io"},{"name":"github_repo","value":"n8n"}]},"options":{}},"notesInFlow":true,"typeVersion":1,"id":"4bd01a96-f4e8-4696-bfc7-b65c532ddbbe"},{"name":"Retrieve Docker Data","type":"n8n-nodes-base.httpRequest","position":[930,360],"parameters":{"url":"=https://hub.docker.com/v2/repositories/{{$node[\"Dashboard Configuration\"].json[\"docker_name\"]}}/{{$node[\"Dashboard Configuration\"].json[\"docker_repository\"]}}","options":{},"queryParametersUi":{"parameter":[]},"headerParametersUi":{"parameter":[{"name":"User-Agent","value":"n8n"}]}},"typeVersion":1,"id":"7a8e7fe9-e6b7-4dba-bd27-d2be6f394875"},{"name":"Docker Pulls","type":"n8n-nodes-base.httpRequest","position":[1300,280],"parameters":{"url":"={{$node[\"Dashboard Configuration\"].json[\"dashboardHostname\"]}}/widgets/docker_pulls","options":{},"requestMethod":"POST","bodyParametersUi":{"parameter":[{"name":"auth_token","value":"={{$node[\"Dashboard Configuration\"].json[\"dashboardAuthToken\"]}}"},{"name":"current","value":"={{$node[\"Massage Docker Data\"].json[\"pull_count\"]}}"}]}},"typeVersion":1,"alwaysOutputData":true,"id":"7d1f42ad-d7fd-4691-ae8d-579653900714"},{"name":"Docker Stars","type":"n8n-nodes-base.httpRequest","position":[1300,460],"parameters":{"url":"={{$node[\"Dashboard Configuration\"].json[\"dashboardHostname\"]}}/widgets/docker_stars","options":{},"requestMethod":"POST","bodyParametersUi":{"parameter":[{"name":"auth_token","value":"={{$node[\"Dashboard Configuration\"].json[\"dashboardAuthToken\"]}}"},{"name":"current","value":"={{$node[\"Massage Docker Data\"].json[\"star_count\"]}}"}]}},"typeVersion":1,"alwaysOutputData":true,"id":"76ccae01-4f78-4eb8-99a1-4e8ff43393c8"},{"name":"Retrieve npm Data","type":"n8n-nodes-base.httpRequest","position":[920,110],"parameters":{"url":"=https://api.npms.io/v2/package/{{$node[\"Dashboard Configuration\"].json[\"npm_package\"]}}","options":{},"headerParametersUi":{"parameter":[{"name":"User-Agent","value":"n8n"}]}},"typeVersion":1,"id":"7b02ea75-030f-4e53-ad2f-6daff1a10e37"},{"name":"GitHub Watchers","type":"n8n-nodes-base.httpRequest","position":[1490,700],"parameters":{"url":"={{$node[\"Dashboard Configuration\"].json[\"dashboardHostname\"]}}/widgets/github_watchers","options":{},"requestMethod":"POST","bodyParametersUi":{"parameter":[{"name":"auth_token","value":"={{$node[\"Dashboard Configuration\"].json[\"dashboardAuthToken\"]}}"},{"name":"current","value":"={{$node[\"Massage GitHub Data\"].json[\"subscribers_count\"]}}"}]}},"typeVersion":1,"alwaysOutputData":true,"id":"b27e8fe2-69a0-403d-8235-a9214b0e921d"},{"name":"GitHub Forks","type":"n8n-nodes-base.httpRequest","position":[1490,860],"parameters":{"url":"={{$node[\"Dashboard Configuration\"].json[\"dashboardHostname\"]}}/widgets/github_forks","options":{},"requestMethod":"POST","bodyParametersUi":{"parameter":[{"name":"auth_token","value":"={{$node[\"Dashboard Configuration\"].json[\"dashboardAuthToken\"]}}"},{"name":"current","value":"={{$node[\"Massage GitHub Data\"].json[\"forks_count\"]}}"}]}},"typeVersion":1,"alwaysOutputData":true,"id":"9ea8f065-ca07-451e-919f-1fa610fd18b9"},{"name":"GitHub Open Issues ","type":"n8n-nodes-base.httpRequest","position":[1290,920],"parameters":{"url":"={{$node[\"Dashboard Configuration\"].json[\"dashboardHostname\"]}}/widgets/github_open_issues","options":{},"requestMethod":"POST","bodyParametersUi":{"parameter":[{"name":"auth_token","value":"={{$node[\"Dashboard Configuration\"].json[\"dashboardAuthToken\"]}}"},{"name":"current","value":"={{$node[\"Massage GitHub Data\"].json[\"open_issues_count\"]}}"}]}},"typeVersion":1,"alwaysOutputData":true,"id":"bd4e648a-1e9c-4267-a73a-7830061424e4"},{"name":"GitHub Stars","type":"n8n-nodes-base.httpRequest","position":[1290,620],"parameters":{"url":"={{$node[\"Dashboard Configuration\"].json[\"dashboardHostname\"]}}/widgets/github_stars","options":{},"requestMethod":"POST","bodyParametersUi":{"parameter":[{"name":"auth_token","value":"={{$node[\"Dashboard Configuration\"].json[\"dashboardAuthToken\"]}}"},{"name":"current","value":"={{$node[\"Massage GitHub Data\"].json[\"stargazers_count\"]}}"}]}},"typeVersion":1,"alwaysOutputData":true,"id":"8f9aaf05-d4e9-4485-a8fe-2ea6455b47de"},{"name":"npm Maintenance","type":"n8n-nodes-base.httpRequest","position":[1500,-30],"parameters":{"url":"={{$node[\"Dashboard Configuration\"].json[\"dashboardHostname\"]}}/widgets/npm_maintenance","options":{},"requestMethod":"POST","bodyParametersUi":{"parameter":[{"name":"auth_token","value":"={{$node[\"Dashboard Configuration\"].json[\"dashboardAuthToken\"]}}"},{"name":"value","value":"={{$node[\"Massage npm Data\"].json[\"score\"][\"detail\"][\"maintenance\"]}}"}]}},"typeVersion":1,"alwaysOutputData":true,"id":"df1e9034-c547-4515-ad9c-44c5b559cf4e"},{"name":"npm Popularity","type":"n8n-nodes-base.httpRequest","position":[1700,60],"parameters":{"url":"={{$node[\"Dashboard Configuration\"].json[\"dashboardHostname\"]}}/widgets/npm_popularity","options":{},"requestMethod":"POST","bodyParametersUi":{"parameter":[{"name":"auth_token","value":"={{$node[\"Dashboard Configuration\"].json[\"dashboardAuthToken\"]}}"},{"name":"value","value":"={{$node[\"Massage npm Data\"].json[\"score\"][\"detail\"][\"popularity\"]}}"}]}},"typeVersion":1,"alwaysOutputData":true,"id":"0ff9d17e-0113-4dcb-a63f-5161749ba9ab"},{"name":"npm Quality","type":"n8n-nodes-base.httpRequest","position":[1700,210],"parameters":{"url":"={{$node[\"Dashboard Configuration\"].json[\"dashboardHostname\"]}}/widgets/npm_quality","options":{},"requestMethod":"POST","bodyParametersUi":{"parameter":[{"name":"auth_token","value":"={{$node[\"Dashboard Configuration\"].json[\"dashboardAuthToken\"]}}"},{"name":"value","value":"={{$node[\"Massage npm Data\"].json[\"score\"][\"detail\"][\"quality\"]}}"}]}},"typeVersion":1,"alwaysOutputData":true,"id":"d8820daf-94d2-49a5-ae3a-248c6dc31484"},{"name":"npm Final","type":"n8n-nodes-base.httpRequest","position":[1500,250],"parameters":{"url":"={{$node[\"Dashboard Configuration\"].json[\"dashboardHostname\"]}}/widgets/npm_final","options":{},"requestMethod":"POST","bodyParametersUi":{"parameter":[{"name":"auth_token","value":"={{$node[\"Dashboard Configuration\"].json[\"dashboardAuthToken\"]}}"},{"name":"value","value":"={{$node[\"Massage npm Data\"].json[\"score\"][\"final\"]}}"}]}},"typeVersion":1,"alwaysOutputData":true,"id":"b95ba937-0ee3-4e9a-8cb4-40ca64cd96f1"},{"name":"Product Hunt Rating","type":"n8n-nodes-base.httpRequest","position":[1300,-450],"parameters":{"url":"={{$node[\"Dashboard Configuration\"].json[\"dashboardHostname\"]}}/widgets/prod_hunt_rating","options":{},"requestMethod":"POST","bodyParametersUi":{"parameter":[{"name":"auth_token","value":"={{$node[\"Dashboard Configuration\"].json[\"dashboardAuthToken\"]}}"},{"name":"value","value":"={{$node[\"Retrieve Product Hunt Data\"].json[\"data\"][\"post\"][\"reviewsRating\"]}}"}]}},"typeVersion":1,"alwaysOutputData":true,"id":"5794a20a-b88a-4ed9-8577-9f869f4bfa19"},{"name":"Product Hunt Reviews","type":"n8n-nodes-base.httpRequest","position":[1500,-350],"parameters":{"url":"={{$node[\"Dashboard Configuration\"].json[\"dashboardHostname\"]}}/widgets/prod_hunt_reviews","options":{},"requestMethod":"POST","bodyParametersUi":{"parameter":[{"name":"auth_token","value":"={{$node[\"Dashboard Configuration\"].json[\"dashboardAuthToken\"]}}"},{"name":"current","value":"={{$node[\"Massage Product Hunt Data\"].json[\"data\"][\"post\"][\"reviewsCount\"]}}"}]}},"typeVersion":1,"alwaysOutputData":true,"id":"70af06a7-44ad-4a19-8cbc-b6ea83842c1d"},{"name":"Product Hunt Votes","type":"n8n-nodes-base.httpRequest","position":[1500,-200],"parameters":{"url":"={{$node[\"Dashboard Configuration\"].json[\"dashboardHostname\"]}}/widgets/prod_hunt_votes","options":{},"requestMethod":"POST","bodyParametersUi":{"parameter":[{"name":"auth_token","value":"={{$node[\"Dashboard Configuration\"].json[\"dashboardAuthToken\"]}}"},{"name":"current","value":"={{$node[\"Massage Product Hunt Data\"].json[\"data\"][\"post\"][\"votesCount\"]}}"}]}},"typeVersion":1,"alwaysOutputData":true,"id":"39096baa-0189-4a1c-9f1e-9fa63c9d5068"},{"name":"Product Hunt Comments","type":"n8n-nodes-base.httpRequest","position":[1300,-150],"parameters":{"url":"={{$node[\"Dashboard Configuration\"].json[\"dashboardHostname\"]}}/widgets/prod_hunt_comments","options":{},"requestMethod":"POST","bodyParametersUi":{"parameter":[{"name":"auth_token","value":"={{$node[\"Dashboard Configuration\"].json[\"dashboardAuthToken\"]}}"},{"name":"current","value":"={{$node[\"Massage Product Hunt Data\"].json[\"data\"][\"post\"][\"commentsCount\"]}}"}]}},"typeVersion":1,"alwaysOutputData":true,"id":"be38eedc-d39a-43fb-9dae-efc2ee20110d"},{"name":"GitHub","type":"n8n-nodes-base.github","color":"#FF0000","position":[920,770],"parameters":{"owner":"={{$node[\"Dashboard Configuration\"].json[\"github_owner\"]}}","resource":"repository","operation":"get","repository":"={{$node[\"Dashboard Configuration\"].json[\"github_repo\"]}}"},"credentials":{"githubApi":{"id":"h80yR5X6AgLnL3He","name":"GitHub orcamidias"}},"typeVersion":1,"id":"b432ed50-e4c3-4a0d-b2b9-2f452fa77273"},{"name":"Retrieve Product Hunt Data","type":"n8n-nodes-base.httpRequest","color":"#FF0000","notes":"Update authorization token","position":[920,-300],"parameters":{"url":"https://api.producthunt.com/v2/api/graphql","options":{},"requestMethod":"POST","queryParametersUi":{"parameter":[{"name":"query","value":"={\n  post(id: {{$node[\"Dashboard Configuration\"].json[\"product_hunt_post_id\"]}}) {\n    commentsCount\n    votesCount\n    reviewsCount\n    reviewsRating\n    name\n  }\n}"}]},"headerParametersUi":{"parameter":[{"name":"User-Agent","value":"n8n"},{"name":"authorization","value":"Bearer <Enter Product Hunt token here>"}]}},"notesInFlow":true,"typeVersion":1,"id":"5a633651-27bd-4ebc-8b29-7753ee5b66e0"},{"name":"Massage npm Data","type":"n8n-nodes-base.function","position":[1110,110],"parameters":{"functionCode":"items[0].json.score.detail.maintenance = parseFloat(items[0].json.score.detail.maintenance.toFixed(2));\nitems[0].json.score.detail.popularity= parseFloat(items[0].json.score.detail.popularity.toFixed(2));\nitems[0].json.score.detail.quality= parseFloat(items[0].json.score.detail.quality.toFixed(2));\nitems[0].json.score.final= parseFloat(items[0].json.score.final.toFixed(2));\n\nreturn items;"},"typeVersion":1,"id":"cacb9019-fb2f-4160-b65f-b7d610da764e"},{"name":"Massage Product Hunt Data","type":"n8n-nodes-base.function","position":[1110,-300],"parameters":{"functionCode":"items[0].json.data.post.commentsCount = items[0].json.data.post.commentsCount.toString().replace(/\\B(?=(\\d{3})+(?!\\d))/g, \",\");\nitems[0].json.data.post.votesCount= items[0].json.data.post.votesCount.toString().replace(/\\B(?=(\\d{3})+(?!\\d))/g, \",\");\nitems[0].json.data.post.reviewsCount= items[0].json.data.post.reviewsCount.toString().replace(/\\B(?=(\\d{3})+(?!\\d))/g, \",\");\n\nreturn items;\n"},"typeVersion":1,"id":"1ffbfaca-8854-42fa-93e6-ef1b9d985ac8"},{"name":"Massage Docker Data","type":"n8n-nodes-base.function","position":[1130,360],"parameters":{"functionCode":"items[0].json.star_count = items[0].json.star_count.toString().replace(/\\B(?=(\\d{3})+(?!\\d))/g, \",\");\nitems[0].json.pull_count = items[0].json.pull_count.toString().replace(/\\B(?=(\\d{3})+(?!\\d))/g, \",\");\n\nreturn items;\n"},"typeVersion":1,"id":"0a203141-b1be-461a-86d8-5b2d03cb2277"},{"name":"Massage GitHub Data","type":"n8n-nodes-base.function","position":[1120,770],"parameters":{"functionCode":"items[0].json.stargazers_count = items[0].json.stargazers_count.toString().replace(/\\B(?=(\\d{3})+(?!\\d))/g, \",\");\nitems[0].json.subscribers_count = items[0].json.subscribers_count.toString().replace(/\\B(?=(\\d{3})+(?!\\d))/g, \",\");\nitems[0].json.forks_count = items[0].json.forks_count.toString().replace(/\\B(?=(\\d{3})+(?!\\d))/g, \",\");\nitems[0].json.open_issues_count = items[0].json.open_issues_count.toString().replace(/\\B(?=(\\d{3})+(?!\\d))/g, \",\");\n\nreturn items;"},"typeVersion":1,"id":"49aa0392-cf50-4df9-a051-b466587eb50c"}],"connections":{"Cron":{"main":[[{"node":"Dashboard Configuration","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"Massage GitHub Data","type":"main","index":0}]]},"Massage npm Data":{"main":[[{"node":"npm Maintenance","type":"main","index":0},{"node":"npm Quality","type":"main","index":0},{"node":"npm Popularity","type":"main","index":0},{"node":"npm Final","type":"main","index":0}]]},"Retrieve npm Data":{"main":[[{"node":"Massage npm Data","type":"main","index":0}]]},"Massage Docker Data":{"main":[[{"node":"Docker Stars","type":"main","index":0},{"node":"Docker Pulls","type":"main","index":0}]]},"Massage GitHub Data":{"main":[[{"node":"GitHub Stars","type":"main","index":0},{"node":"GitHub Watchers","type":"main","index":0},{"node":"GitHub Forks","type":"main","index":0},{"node":"GitHub Open Issues ","type":"main","index":0}]]},"Retrieve Docker Data":{"main":[[{"node":"Massage Docker Data","type":"main","index":0}]]},"Dashboard Configuration":{"main":[[{"node":"Retrieve Product Hunt Data","type":"main","index":0},{"node":"Retrieve npm Data","type":"main","index":0},{"node":"Retrieve Docker Data","type":"main","index":0},{"node":"GitHub","type":"main","index":0}]]},"Massage Product Hunt Data":{"main":[[{"node":"Product Hunt Rating","type":"main","index":0},{"node":"Product Hunt Reviews","type":"main","index":0},{"node":"Product Hunt Votes","type":"main","index":0},{"node":"Product Hunt Comments","type":"main","index":0}]]},"Retrieve Product Hunt Data":{"main":[[{"node":"Massage Product Hunt Data","type":"main","index":0}]]}},"settings":null,"staticData":null,"meta":{"templateId":"693"},"pinData":null,"versionId":"e1882eda-a55d-45a0-84fc-cd4c7f983049","triggerCount":0,"shared":[{"createdAt":"2025-07-07T21:04:59.965Z","updatedAt":"2025-07-07T21:04:59.965Z","role":"workflow:owner","workflowId":"8Ocd3lUKgj01zleN","projectId":"TZpK0B2uX65EVlPC"}],"tags":[]}