link-da-bio-orca-mídias-MCJzGFnyeNraqqoX.json
{"createdAt":"2025-07-16T02:52:13.819Z","updatedAt":"2025-08-28T10:23:37.000Z","id":"MCJzGFnyeNraqqoX","name":"Link da Bio Orca Mídias","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"bio","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-60,0],"id":"e4c173e0-0327-4395-8636-e790653ada69","name":"Webhook1","webhookId":"3d80e2fb-a959-45ee-bebd-905eea045568"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>\n  <title>Pé na Água | Orca Mídias</title>\n  <style>\n    body {\n      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n      background-color: #ffffff;\n      margin: 0;\n      padding: 0;\n      color: #002f3d;\n    }\n    .container {\n      max-width: 600px;\n      margin: 40px auto;\n      padding: 40px;\n      background: #f9fbfc;\n      border-radius: 12px;\n      box-shadow: 0 4px 10px rgba(0,0,0,0.1);\n    }\n    .logo-wrapper {\n      background-color: #000;\n      padding: 20px;\n      border-radius: 8px;\n      margin-bottom: 30px;\n      text-align: center;\n    }\n    .logo {\n      max-width: 180px;\n    }\n    h1 {\n      text-align: center;\n      font-size: 26px;\n      margin-bottom: 10px;\n      color: #002f3d;\n    }\n    .subtitulo {\n      text-align: center;\n      font-size: 16px;\n      color: #555;\n      margin-bottom: 30px;\n    }\n    label {\n      font-weight: 600;\n      display: block;\n      margin-top: 20px;\n      margin-bottom: 6px;\n    }\n    input, select {\n      width: 100%;\n      padding: 10px;\n      border-radius: 6px;\n      border: 1px solid #ccc;\n      font-size: 15px;\n    }\n    button {\n      margin-top: 30px;\n      width: 100%;\n      padding: 12px;\n      font-size: 16px;\n      font-weight: bold;\n      color: white;\n      background-color: #004d66;\n      border: none;\n      border-radius: 8px;\n      cursor: pointer;\n    }\n    button:hover {\n      background-color: #00738a;\n    }\n    .agradecimento {\n      display: none;\n      text-align: center;\n      font-size: 18px;\n      margin-top: 30px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"logo-wrapper\">\n      <img src=\"https://orcamidias.com/wp-content/uploads/2021/05/logooficial_Prancheta-1-copia-3.png\" alt=\"Orca Mídias\" class=\"logo\" />\n    </div>\n    <h1>Pé na Água</h1>\n    <div class=\"subtitulo\">\n      Parabéns! Você acaba de dar o primeiro passo na sua jornada digital.<br>\n      Em instantes, nossa inteligência estratégica vai conduzir você nessa travessia.\n    </div>\n\n    <form id=\"formOrca\" action=\"https://n8n-n8n.uw3mer.easypanel.host/webhook/bio\" method=\"POST\" onsubmit=\"mostrarMensagem(event)\">\n      <label for=\"nome\">Qual o seu nome?</label>\n      <input type=\"text\" id=\"nome\" name=\"nome\" required>\n\n      <label for=\"empresa\">Nome da sua empresa:</label>\n      <input type=\"text\" id=\"empresa\" name=\"empresa\" required>\n\n      <label for=\"oferta\">O que você vende ou oferece?</label>\n      <input type=\"text\" id=\"oferta\" name=\"oferta\" required>\n\n      <label for=\"trafego\">Você já investe em tráfego pago?</label>\n      <select id=\"trafego\" name=\"trafego\">\n        <option value=\"Sim\">Sim</option>\n        <option value=\"Não\">Não</option>\n        <option value=\"Já investi, mas parei\">Já investi, mas parei</option>\n      </select>\n\n      <label for=\"desafio\">Maior desafio digital hoje:</label>\n      <select id=\"desafio\" name=\"desafio\">\n        <option value=\"Atrair mais clientes\">Atrair mais clientes</option>\n        <option value=\"Aparecer nas redes sociais\">Aparecer nas redes sociais</option>\n        <option value=\"Montar uma estratégia de vendas\">Montar uma estratégia de vendas</option>\n        <option value=\"Vender todos os dias\">Vender todos os dias</option>\n        <option value=\"Outro\">Outro</option>\n      </select>\n\n      <label for=\"investimento\">Você está disposto a investir em marketing mensalmente?</label>\n      <select id=\"investimento\" name=\"investimento\">\n        <option value=\"Sim, quero algo profissional\">Sim, quero algo profissional</option>\n        <option value=\"Tenho interesse, mas estou entendendo\">Tenho interesse, mas estou entendendo</option>\n        <option value=\"Não tenho verba agora\">Não tenho verba agora</option>\n      </select>\n\n      <label for=\"whatsapp\">WhatsApp com DDD:</label>\n<input type=\"text\" id=\"whatsapp\" name=\"whatsapp\" required placeholder=\"Ex: 11999575091\">\n\n\n      <button type=\"submit\">Enviar e seguir com a jornada</button>\n    </form>\n\n    <div class=\"agradecimento\" id=\"agradecimento\">\n      <p>✅ Obrigado por responder!<br>Verifique seu WhatsApp e e-mail — a jornada já começou!</p>\n    </div>\n  </div>\n\n  <script>\n    function mostrarMensagem(event) {\n      event.preventDefault();\n      const form = document.getElementById(\"formOrca\");\n      const agradecimento = document.getElementById(\"agradecimento\");\n\n      fetch(form.action, {\n        method: \"POST\",\n        body: new FormData(form)\n      }).then(() => {\n        form.style.display = \"none\";\n        agradecimento.style.display = \"block\";\n      }).catch(() => {\n        form.style.display = \"none\";\n        agradecimento.innerHTML = \"<p>❌ Algo deu errado. Tente novamente em instantes.</p>\";\n        agradecimento.style.display = \"block\";\n      });\n    }\n  </script>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[260,0],"id":"644f2468-3d4e-4f9c-bebb-a0df6956903f","name":"HTML1"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[540,0],"id":"de87ca43-e87f-4a2f-ad2f-d092648d41e6","name":"Respond to Webhook1"},{"parameters":{"httpMethod":"POST","path":"bio","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-20,220],"id":"e707c023-36ec-4c73-85ae-9ff6a79a45a1","name":"webhook resposta briefing","webhookId":"b635630b-8063-4542-8c70-4f097cb2d2cc"},{"parameters":{"resource":"messages-api","instanceName":"agente Orca","remoteJid":"=+55{{ $json.body.whatsapp }}","messageText":"=🐋 Lead novo no radar!\n\n🏢 Empresa: *{{ $json.body.empresa }}*\n📦 Vende: *{{ $json.body.oferta }}*\n📈 Tráfego: *{{ $json.body.trafego }}*\n🎯 Desafio: *{{ $json.body.desafio }}*\n💰 Momento: *{{ $json.body.investimento }}*\n📲 Contato: *{{ $json.body.whatsapp }}*","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[200,220],"id":"0922ba67-5c18-48b3-9ba3-bfc75faf950e","name":"Enviar texto","credentials":{"evolutionApi":{"id":"0WmxV3NimW8nHU6F","name":"orca api"}}}],"connections":{"Webhook1":{"main":[[{"node":"HTML1","type":"main","index":0}]]},"HTML1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"webhook resposta briefing":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1d96e8dc-9eaf-42fb-b969-f89d41a11e29","triggerCount":2,"shared":[{"createdAt":"2025-07-16T02:52:13.823Z","updatedAt":"2025-07-16T02:52:13.823Z","role":"workflow:owner","workflowId":"MCJzGFnyeNraqqoX","projectId":"TZpK0B2uX65EVlPC"}],"tags":[]}