manus-workflow-RIKUQkEB5kGq391v.json
{"createdAt":"2025-04-19T04:11:48.549Z","updatedAt":"2025-04-20T21:17:24.000Z","id":"RIKUQkEB5kGq391v","name":"Manus Workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[0,0],"id":"1118e61e-942d-4064-8567-87fd18787804"},{"parameters":{"documentId":{"__rl":true,"value":"1qHHQzYF96KdepjIorH-9jM_BteiqN-Jg0LvizNGS3V0","mode":"list","cachedResultName":"Balanço G3","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qHHQzYF96KdepjIorH-9jM_BteiqN-Jg0LvizNGS3V0/edit?usp=drivesdk"},"sheetName":"Orações","options":{}},"name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[200,0],"id":"4090093e-e722-41b3-8361-a4a908de8e58","credentials":{"googleSheetsOAuth2Api":{"id":"0ngEkS7Vgnvx3Axf","name":"Google Sheets G3midiaoficial"}}},{"parameters":{"functionCode":"// Seleciona uma oração aleatória da planilha\nconst rows = $input.all()[0].json.values;\nconst headers = rows.shift();\n\n// Filtra apenas orações que ainda não foram usadas\nconst oracoesDisponiveis = rows.filter(row => !row[3]);\n\nif (oracoesDisponiveis.length === 0) {\n  throw new Error('Todas as orações já foram usadas!');\n}\n\n// Seleciona uma oração aleatória\nconst indiceAleatorio = Math.floor(Math.random() * oracoesDisponiveis.length);\nconst oracaoSelecionada = oracoesDisponiveis[indiceAleatorio];\n\n// Cria um objeto com os dados da oração\nconst dados = {\n  id: oracaoSelecionada[0],\n  titulo: oracaoSelecionada[1],\n  texto: oracaoSelecionada[2],\n  status: oracaoSelecionada[3] || '',\n  dataAtual: new Date().toLocaleDateString('pt-BR'),\n  nomeArquivo: `oracao_${oracaoSelecionada[0]}_${Date.now()}.mp4`\n};\n\nreturn [dados];"},"name":"Selecionar Oração","type":"n8n-nodes-base.function","typeVersion":1,"position":[400,0],"id":"46f8f7ec-1650-4420-a9e9-663b73c45b3a"},{"parameters":{"functionCode":"// Prepara o texto da oração para exibição no vídeo\nconst dados = $input.all()[0].json;\n\n// Divide o texto em linhas para melhor visualização\nconst textoOriginal = dados.texto;\nconst palavras = textoOriginal.split(' ');\nlet linhas = [];\nlet linhaAtual = '';\n\n// Limita cada linha a aproximadamente 30 caracteres\nfor (const palavra of palavras) {\n  if ((linhaAtual + ' ' + palavra).length <= 30) {\n    linhaAtual = linhaAtual ? linhaAtual + ' ' + palavra : palavra;\n  } else {\n    linhas.push(linhaAtual);\n    linhaAtual = palavra;\n  }\n}\n\n// Adiciona a última linha\nif (linhaAtual) {\n  linhas.push(linhaAtual);\n}\n\n// Formata o texto para o comando FFmpeg\nconst textoFormatado = linhas.join('\\\\n');\n\n// Adiciona o título no final\nconst textoCompleto = textoFormatado + '\\\\n\\\\n' + dados.titulo;\n\n// Atualiza os dados\ndados.textoFormatado = textoCompleto;\n\nreturn [dados];"},"name":"Formatar Texto","type":"n8n-nodes-base.function","typeVersion":1,"position":[600,0],"id":"338f9c91-1804-4cef-9ac6-6849b4fc90ae"},{"parameters":{"command":"mkdir -p ~/videos_oracao"},"name":"Criar Diretório","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[800,0],"id":"1609fb52-80a6-4a0a-b91c-63b0ca000925"},{"parameters":{"command":"ffmpeg -f lavfi -i color=c=black:s=1080x1920:d=60 -vf \"drawtext=fontfile=/usr/share/fonts/truetype/dejavu/DejaVuSans-Bold.ttf:text='{{$node[\"Formatar Texto\"].json[\"textoFormatado\"]}}':fontcolor=white:fontsize=60:x=(w-text_w)/2:y=(h-text_h)/2:line_spacing=20:box=0\" -c:v libx264 -tune stillimage -pix_fmt yuv420p -shortest ~/videos_oracao/{{$node[\"Selecionar Oração\"].json[\"nomeArquivo\"]}}"},"name":"Gerar Vídeo","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1000,0],"id":"3875ae84-1a12-4440-944c-861a600a46a9"},{"parameters":{"resource":"video","filters":{},"options":{}},"name":"YouTube Upload","type":"n8n-nodes-base.youTube","typeVersion":1,"position":[1200,0],"id":"c1eaa259-080a-47fe-a8f6-422a1c39c8bb","credentials":{"youTubeOAuth2Api":{"id":"42OWQaBG4s6hF5dG","name":"YouTube account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":""},"sheetName":"Orações","options":{}},"name":"Atualizar Status","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[1400,0],"id":"a0a31a05-bbcc-4d37-9a61-7481241438fb","credentials":{"googleSheetsOAuth2Api":{"id":"ekUi8cQCgpitM03R","name":"Google Sheets Orca Mídias"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Selecionar Oração","type":"main","index":0}]]},"Selecionar Oração":{"main":[[{"node":"Formatar Texto","type":"main","index":0}]]},"Formatar Texto":{"main":[[{"node":"Criar Diretório","type":"main","index":0}]]},"Criar Diretório":{"main":[[{"node":"Gerar Vídeo","type":"main","index":0}]]},"Gerar Vídeo":{"main":[[{"node":"YouTube Upload","type":"main","index":0}]]},"YouTube Upload":{"main":[[{"node":"Atualizar Status","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"95153414-14f3-472a-a739-4decf7a83201","triggerCount":0,"shared":[{"createdAt":"2025-04-19T04:11:48.554Z","updatedAt":"2025-04-19T04:11:48.554Z","role":"workflow:owner","workflowId":"RIKUQkEB5kGq391v","projectId":"TZpK0B2uX65EVlPC"}],"tags":[]}