receber-respostas-do-google-forms-i3CyZn5sKsHEODZL.json
{"createdAt":"2025-07-08T02:34:01.202Z","updatedAt":"2025-07-09T15:08:16.000Z","id":"i3CyZn5sKsHEODZL","name":"Receber Respostas do Google Forms","active":false,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"10GJg6qDLN27-8zxb90Wk1sHT56a1ea-5pOyVdIkoWmM","mode":"id"},"sheetName":{"__rl":true,"value":888790787,"mode":"list","cachedResultName":"Respostas ao formulário 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10GJg6qDLN27-8zxb90Wk1sHT56a1ea-5pOyVdIkoWmM/edit#gid=888790787"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1220,200],"id":"61255090-640e-4979-b945-858e9ce44bfb","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"ekUi8cQCgpitM03R","name":"Google Sheets Orca Mídias"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.index }}","rightValue":"={{ $json['Nome do Expert ou Projeto?'] }}","operator":{"type":"string","operation":"equals"},"id":"53a51493-2e9b-4b65-9383-839828c72ca6"}],"combinator":"and"},"renameOutput":true,"outputKey":"={{ $json['Nome do Expert ou Projeto?'] }}"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9ae28b15-cd56-455d-a47e-a269782a5bb0","leftValue":"={{ $json.index }}","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1060,-240],"id":"0f326332-da11-4f5a-9f8a-78cb2f1f5e2f","name":"Switch"},{"parameters":{"jsCode":"return items.map((item, index) => {\n  item.json.index = index + 1;  // começa em 1\n  return item;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-920,200],"id":"d47217e2-1a72-43ca-b431-70b7812f58e1","name":"Code"},{"parameters":{"fieldToSplitOut":"index","include":"selectedOtherFields","fieldsToInclude":"['Nome do Expert ou Projeto?']","options":{"destinationFieldName":"['Nome do Expert ou Projeto?']"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-620,200],"id":"5295bae7-f421-4c80-b4d3-e8dabe80e36b","name":"Split Out"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json[\"['Nome do Expert ou Projeto?']\"] }}","rightValue":"André, Karina, Valdinar, Cibele","operator":{"type":"string","operation":"equals"},"id":"f6ecf340-1b82-4d88-bf5b-3239a9d17ccc"}],"combinator":"and"},"renameOutput":true,"outputKey":"Projeto Liberdade"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"87497d46-f47d-43d4-86b3-8676e45a15b0","leftValue":"={{ $json[\"['Nome do Expert ou Projeto?']\"] }}","rightValue":"ANDRÉ CASTRO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"André Di Castro"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ee7a0d78-bc0a-4d60-a37a-49e181313485","leftValue":"={{ $json[\"['Nome do Expert ou Projeto?']\"] }}","rightValue":"Roberta Martins Lima - Advogada de Recomeços","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Adv Roberta Martins"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c6c2f254-2a15-43b3-93e2-864db4b56881","leftValue":"={{ $json[\"['Nome do Expert ou Projeto?']\"] }}","rightValue":"Agro e Aves Fonseca","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Agro e Aves Fonseca"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-180,20],"id":"5dbff9f8-964f-481e-b55a-fb52e87a4a20","name":"Switch1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-400,200],"id":"38e71dd7-086d-45d2-b99c-b1c6a3bed0d4","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-180,260],"id":"b85c5f13-6f48-4e1e-bab4-7374d3f5f27e","name":"Wait","webhookId":"e31d1006-bd14-434e-a278-0e8eaee364e3"},{"parameters":{"assignments":{"assignments":[{"id":"dd763b74-4317-47bc-9409-01d5c8fc688d","name":"Liste os produtos/serviços da sua empresa que você deseja trabalhar: ","value":"={{ $('Get row(s) in sheet').item.json['Liste os produtos/serviços da sua empresa que você deseja trabalhar: '] }}","type":"string"},{"id":"38116a68-36ab-4d91-a8e8-028c2370c9fa","name":"Dentro do seu nicho de atuação, os valores praticados por seus produtos/serviços enquadram-se no ticket alto, médio ou baixo: ","value":"={{ $('Get row(s) in sheet').item.json['Dentro do seu nicho de atuação, os valores praticados por seus produtos/serviços enquadram-se no ticket alto, médio ou baixo: '] }}","type":"string"},{"id":"69b6b52b-7a39-44dc-aa4a-03cc6224e90b","name":"O que você considera que seja seu principal diferencial em relação a seus concorrentes?","value":"={{ $('Get row(s) in sheet').item.json['O que você considera que seja seu principal diferencial em relação a seus concorrentes?'] }}","type":"string"},{"id":"ecd55fcd-685d-4fb2-9481-31fd1009fcc1","name":"Quais os produtos/serviços que você já possui que podem gerar maior autoridade? ","value":"={{ $('Get row(s) in sheet').item.json['Quais os produtos/serviços que você já possui que podem gerar maior autoridade? '] }}","type":"string"},{"id":"d5ed0894-a4cd-4e89-be9a-d73987e4afd8","name":"Quais os objetivos do seu negócio a curto, médio e longo prazo? ","value":"={{ $('Get row(s) in sheet').item.json['Quais os objetivos do seu negócio a curto, médio e longo prazo? '] }}","type":"string"},{"id":"d90f4cd6-d7cb-4caf-9936-06c0dcc9b163","name":"Quais seus principais desafios no digital?","value":"={{ $('Get row(s) in sheet').item.json['Quais seus principais desafios no digital?'] }}","type":"string"},{"id":"335deb26-927c-4d79-b479-4ab9e1de9f5f","name":"Descreva, no mínimo, 5 perfis de pessoas que consomem (ou que você acredita * que vão consumir) o seu produto.","value":"={{ $('Get row(s) in sheet').item.json['Descreva, no mínimo, 5 perfis de pessoas que consomem (ou que você acredita * que vão consumir) o seu produto.'] }}","type":"string"},{"id":"ba095861-8958-4681-b998-1fc0981b36de","name":"Você já possui uma identidade visual definida (logo, paleta de cores, ícones, * fontes...)?","value":"={{ $('Get row(s) in sheet').item.json['Você já possui uma identidade visual definida (logo, paleta de cores, ícones, * fontes...)?'] }}","type":"string"},{"id":"9747b1fa-eaf5-45d6-ae59-e646d8a994e5","name":"Sua empresa já possui site? Se sim, qual? ","value":"={{ $('Get row(s) in sheet').item.json['Sua empresa já possui site? Se sim, qual? '] }}","type":"string"},{"id":"89e59c6d-c65b-4621-bb0a-a8bf058696ec","name":"Sua empresa já possui redes sociais? Se sim, copie e cole aqui o endereço das * redes sociais do seu negócio (Facebook, Instagram, Youtube, TikTok...): ","value":"={{ $('Get row(s) in sheet').item.json['Sua empresa já possui redes sociais? Se sim, copie e cole aqui o endereço das * redes sociais do seu negócio (Facebook, Instagram, Youtube, TikTok...): '] }}","type":"string"},{"id":"b4e0aab0-27c1-4bdd-99ec-9f0dabcf0132","name":"Como a sua empresa gostaria de ser reconhecida nas redes sociais?","value":"={{ $('Get row(s) in sheet').item.json['Como a sua empresa gostaria de ser reconhecida nas redes sociais?'] }}","type":"string"},{"id":"1f7bf1ee-288c-4de1-96bb-b393b8fd861d","name":"Como a sua empresa NÃO gostaria de ser reconhecida nas redes sociais? ","value":"={{ $('Get row(s) in sheet').item.json['Como a sua empresa NÃO gostaria de ser reconhecida nas redes sociais? '] }}","type":"string"},{"id":"0d330a87-81a2-4be1-89f6-f49767c65acf","name":"Por favor, cite perfis que são referências do seu nicho que atuam no Instagram * da forma como você gostaria de atuar:","value":"={{ $('Get row(s) in sheet').item.json['Por favor, cite perfis que são referências do seu nicho que atuam no Instagram * da forma como você gostaria de atuar:'] }}","type":"string"},{"id":"31e5762b-9d2f-44aa-86a3-d917e92a0225","name":"Por favor, cite perfis que são referências do seu nicho que atuam no Youtube * da forma como você gostaria de atuar:","value":"={{ $('Get row(s) in sheet').item.json['Por favor, cite perfis que são referências do seu nicho que atuam no Youtube * da forma como você gostaria de atuar:'] }}","type":"string"},{"id":"d9276ecc-1824-4751-9fb0-30275210900e","name":"Por favor, cite profissionais (de qualquer nicho) que você considera sua forma de atuar no digital uma referência e comente sobre cada um.","value":"={{ $('Get row(s) in sheet').item.json['Por favor, cite profissionais (de qualquer nicho) que você considera sua forma de atuar no digital uma referência e comente sobre cada um.'] }}","type":"string"},{"id":"890a909b-e3e3-4e77-96b5-36b0381edcce","name":"Liste temas e/ou assuntos que você acha importante trabalhar nas redes sociais do seu negócio","value":"={{ $('Get row(s) in sheet').item.json['Liste temas e/ou assuntos que você acha importante trabalhar nas redes sociais do seu negócio'] }}","type":"string"},{"id":"65b6dd40-f78f-428c-bb0d-6f908bf7e104","name":"Liste referências de conteúdo confiável para o seu negócio (sites, livros, artigos, revistas ou perfis nas redes sociais): ","value":"={{ $('Get row(s) in sheet').item.json['Liste referências de conteúdo confiável para o seu negócio (sites, livros, artigos, revistas ou perfis nas redes sociais): '] }}","type":"string"},{"id":"988dd187-ad0c-4ac3-b061-21321ce1b51a","name":"Liste 10 palavras-chave que você acredita que sejam relevantes e tenham relação com o seu negócio (em ordem de prioridade): ","value":"={{ $('Get row(s) in sheet').item.json['Liste 10 palavras-chave que você acredita que sejam relevantes e tenham relação com o seu negócio (em ordem de prioridade): '] }}","type":"string"},{"id":"6ad34bcd-eeb9-41e9-af37-faafc944085d","name":"Você pensa no desenvolvimento de infoprodutos? Se sim, já tem ideia estruturada? ","value":"={{ $('Get row(s) in sheet').item.json['Você pensa no desenvolvimento de infoprodutos? Se sim, já tem ideia estruturada? '] }}","type":"string"},{"id":"c0c4a809-c3b9-4722-bf3c-baf988dbb6db","name":"Cite nomes de empresas que você considera como concorrentes diretos do seu produto/serviço:","value":"={{ $('Get row(s) in sheet').item.json['Cite nomes de empresas que você considera como concorrentes diretos do seu produto/serviço:'] }}","type":"string"},{"id":"9294ea08-7a18-4148-a0f7-af2c2509a060","name":"Cite empresas que você considera inspiração para a sua, inclusive em relação as redes sociais: ","value":"={{ $('Get row(s) in sheet').item.json['Cite empresas que você considera inspiração para a sua, inclusive em relação as redes sociais: '] }}","type":"string"},{"id":"fabc7588-a256-48e9-9596-69a50bfab3a1","name":"Para finalizar, descreva informações importantes sobre o seu projeto que não foram questionadas anteriormente.\nComente sobre seu projeto, objetivos, funcionalidades pretendidas e tudo que julgue necessário para a construção da sua Estratégia de Posicionamento Digital. ","value":"={{ $('Get row(s) in sheet').item.json['Para finalizar, descreva informações importantes sobre o seu projeto que não foram questionadas anteriormente.\nComente sobre seu projeto, objetivos, funcionalidades pretendidas e tudo que julgue necessário para a construção da sua Estratégia de Posicionamento Digital. '] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[360,-300],"id":"1ba836af-8695-4e08-b661-c3d696037a3e","name":"Edit Fields"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      NOME_CLIENTE: ,$input.first().json['[\\'Nome do Expert ou Projeto?\\']']\n      INFO_EXTRA: $json[\"Para finalizar, descreva...\"],\n      // adicione os demais campos aqui\n    }\n  }\n]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[180,-20],"id":"5f1ac293-f50a-44f3-985b-9af75d65f2c2","name":"Code1"},{"parameters":{"path":"webhook","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1800,160],"id":"0328ca29-bcd9-44bf-b125-cad1777fbf57","name":"Webhook","webhookId":"a66f373d-3d48-49b9-be13-41092c106386"},{"parameters":{"jsCode":"        function sendToN8n() {\n          var form = FormApp.getActiveForm();\n          var formResponses = form.getResponses();\n          var lastResponse = formResponses[formResponses.length - 1];\n          var itemResponses = lastResponse.getItemResponses();\n          var data = {};\n          for (var j = 0; j < itemResponses.length; j++) {\n            var itemResponse = itemResponses[j];\n            var question = itemResponse.getItem().getTitle();\n            var answer = itemResponse.getResponse();\n            data[question] = answer;\n          }\n\n          var options = {\n            'method' : 'post',\n            'contentType': 'application/json',\n            'payload' : JSON.stringify(data)\n          };\n\n          var url = 'https://n8n-n8n.uw3mer.easypanel.host/webhook/webhook'; // Substitua pela URL do seu webhook\n          UrlFetchApp.fetch(url, options);\n        }\n\n        function onFormSubmit(e) {\n          sendToN8n();\n        }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1580,160],"id":"9a3ce3e2-33f0-4aff-8f48-ae67fce92777","name":"Code2"},{"parameters":{"url":"https://sheets.googleapis.com/v4/spreadsheets/10GJg6qDLN27-8zxb90Wk1sHT56a1ea-5pOyVdIkoWmM/values/Sheet1!A1:Z1000?key=AIzaSyBbav3VD58c6w7CtbOWfLJT2PsZFgm_Vbk\n","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1460,300],"id":"636c43d1-3658-4ce6-a1d9-c2ca58009e0a","name":"HTTP Request","credentials":{"googleDriveOAuth2Api":{"id":"ofxG05FmwXUynHgV","name":"Google Drive Orca Mídias"},"googleSheetsOAuth2Api":{"id":"ekUi8cQCgpitM03R","name":"Google Sheets Orca Mídias"}}}],"connections":{"Get row(s) in sheet":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Switch1","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Code1","type":"main","index":0}],[]]},"Webhook":{"main":[[{"node":"Code2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cd438cb4-0ade-4721-a773-5dba4eae515e","triggerCount":0,"shared":[{"createdAt":"2025-07-08T02:34:01.204Z","updatedAt":"2025-07-08T02:34:01.204Z","role":"workflow:owner","workflowId":"i3CyZn5sKsHEODZL","projectId":"TZpK0B2uX65EVlPC"}],"tags":[]}